---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bae74364-d886-06eb-79be-a23f0424a8e8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - fd323b8a-b68c-4cc3-4540-4e9e09a51535
        status: 504 Gateway Timeout
        code: 504
        duration: 20.906972759s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bae74364-d886-06eb-79be-a23f0424a8e8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f12b39fa-b4bd-4c3d-6298-2b616f1f22e3
        status: 200 OK
        code: 200
        duration: 14.485922922s
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"addMeAsAdmin":"true","globalAccount":"terraformintcanary","subaccount":"00000000-0000-0000-0000-000000000000"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2e817c46-0c0e-382e-e8bf-aa927c3d51c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?update
        method: POST
      response:
        body: '{"error":"Subaccount 00000000-0000-0000-0000-000000000000 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - d1838ff2-0e71-4a22-77fc-2683ec69e2be
        status: 200 OK
        code: 200
        duration: 377.912459ms
[...]
