---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d11fa0c1-a317-2253-07af-be04fb902dca
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a3fb808e-72bd-4542-53b8-36a68c4eb9e4
        status: 200 OK
        code: 200
        duration: 797.990542ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"addMeAsAdmin":"true","globalAccount":"terraformintcanary","subaccount":"519ece7b-aaee-4ae0-8bfd-68414ec9f520"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 77e9eaad-a29c-d4b7-2f70-3dbb5b9dbd82
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?update
        method: POST
      response:
        body: Your current user is now assigned as an administrator to the subaccount 519ece7b-aaee-4ae0-8bfd-68414ec9f520
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f371ecb9-c489-4926-7223-208f675be70a
        status: 200 OK
        code: 200
        duration: 781.215709ms
[...]
