---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d2e9b80f-a1b3-1514-ca8b-71a19d03f2e8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 6fa9d97b-f75d-466a-7081-e52823b647b7
        status: 200 OK
        code: 200
        duration: 2.973526168s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"00000000-0000-0000-0000-000000000000"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3ea83cca-4d93-1076-0074-e9be9dc3032d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount 00000000-0000-0000-0000-000000000000 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - ba52986f-cc3a-4cf3-7645-8a14d36f30f3
        status: 200 OK
        code: 200
        duration: 304.634625ms
[...]
