---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ad0a2b1f-337d-c40e-16f7-a141d105a87e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ba1278e4-3563-435e-4d13-5caa9dc884a9
        status: 200 OK
        code: 200
        duration: 1.039944375s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 41dc7562-e6db-8a2e-4969-6e8424f70125
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/available-idp?list
        method: POST
      response:
        body: '[{"tenantType":"trial","displayName":null,"commonHost":"a2dynbhnd.accounts400.cloud.sap","description":"Cloud Foundry subscription","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"a2dynbhnd.accounts400.ondemand.com","customerId":null,"tenantId":"a2dynbhnd","region":"Germany (Frankfurt)","status":"ACTIVE"},{"tenantType":"trial","displayName":null,"commonHost":"apievents.accounts400.cloud.sap","description":"for API Caller Identification workstream PoC. INTERNAL. Created with Tenant Requests Self-Service: https://tenants.ias.only.sap/SCISVC-2604.","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"apievents.accounts400.ondemand.com","customerId":null,"tenantId":"apievents","region":"Germany (Frankfurt)","status":"A[...]
[...]
