---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e913ff8-7f5a-d04f-b71f-623d4fc0716e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1ddd7c3e-ad3f-4fed-7f16-64cd6658453d
        status: 200 OK
        code: 200
        duration: 1.395245709s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 77b8a89a-eb53-2325-928b-bde93dff1a21
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 12, 2024, 6:10:18 AM"},{"guid":"bcbefbb2-3365-428b-9d39-cab13197cf43","technicalName":"bcbefbb2-3365-428b-9d39-cab13197cf43","displayName":"test_prajin","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu10-canary","subdomain":"test-prajin-sgomvyh6","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 21, 2024, 6:32:04 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Nov 21, 2024, 6:32:27 AM"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"49e59eaa-65e4-4ffb-8186-74979e1f47c4","technicalName":"49e59eaa-65e4-4ffb-8186-74979e1f47c4","displayName":"dcmcanary_20241108084819","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"btp-gp43a2b332-be5b-e3f8-50fb-77c947700e54"[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 17ac870e-0125-6f32-5d58-10b87bf4970b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key-849316750","keyIds":["default-jwt-key-849316750"],"keys":{"default-jwt-key-849316750":{"created":"Mon Jul 03 11:34:43 UTC 2023","lastModifiedAt":"Mon Apr 14 10:12:32 UTC 2025","nextRotationDate":null,"fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-4ie3yr1a.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-1430075255","keys":{"default-saml-key-1430075255":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"}],"useIdpUserNameInTokens":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4f0ec39e-19b8-4566-541a-b75aa70ab194
        status: 200 OK
        code: 200
        duration: 696.058208ms
[...]
