---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d912672f-06ff-cdcc-1d18-0b8056f9c8b9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 785309a8-0ffd-4ab8-4498-226602a24e76
        status: 200 OK
        code: 200
        duration: 3.806452085s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"Global Account Administrator"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2574ee32-ca88-7e3a-7536-2420519df699
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"name":"Global Account Administrator","description":"Administrative access to the global account","roleReferences":[{"roleTemplateAppId":"auditlog-management!b3034","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"Read access to audit logs"},{"roleTemplateAppId":"auditlog-viewer-initial-content!t3034","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"View audit logs"},{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Admin","name":"Global Account Admin","description":"Role for global account members with read-write authorizations for core commercialization operations, such as updating global accounts, setting entitlements, and creating, updating, and deleting subaccounts."},{"roleTemplateAppId":"uas!b10418","roleTemplateName":"GlobalAccount_Usage_Reporting_Viewer","name":"Global Account Usage Reporting Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global account usage information."},{"roleTemplateAppId":"cmp!b17875","roleTemplateName":"GlobalAccount_System_Landscape_Administrator","name":"System Landscape Administrator","description":"Administrative access to systems and scenario-related resources."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_admin","name":"User and Role Administrator","description":"Manage authorizations, trusted identity providers, and users."}],"isReadOnly":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1f084048-6c0a-4af2-7b12-1ca825242ee5
        status: 200 OK
        code: 200
        duration: 386.691833ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","page":"1","roleCollectionName":"Global Account Administrator","showUserAssignments":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d0b615f1-8bb2-8fb6-c292-303e089c487d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"count":14,"totalPages":1,"items":[{"id":"1c32df41-749b-457c-9366-89a3660add24","username":"redacted","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","email":"john.doe+2@int.test","givenName":"Anugrah","familyName":"Gupta","origin":"sap.default"},{"id":"1e4889e8-dd16-4fac-bdb7-6eb5eb8e1d8c","username":"redacted","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","email":"john.doe+4@int.test","givenName":"Diya","familyName":"Dhandapani Shanmugam","origin":"sap.default"},{"id":"2bba6cb1-53f9-4528-b319-0cf80eb90e7c","username":"redacted","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","email":"john.doe@test.com","givenName":null,"familyName":null,"origin":"terraformint-platform"},{"id":"57471f42-1284-4043-9e7d-6e1512c07d58","use[...]
[...]
