---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2858e152-3c84-56df-9780-edff38773bf1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 78775b1d-43fa-4f3b-57a6-7bf744d03646
        status: 200 OK
        code: 200
        duration: 1.322222625s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 06333c61-9410-709c-2200-6d6d89bc6d26
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM"},{"guid":"c78f8017-009c-40a6-ae7c-7178b4b9a424","technicalName":"c78f8017-009c-40a6-ae7c-7178b4b9a424","displayName":"test_sg","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-sg-ssalzt0w","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount moved.","createdDate":"Nov 21, 2024, 6:09:30 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 28, 2024, 9:27:36 AM"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Oct 10, 2025, 10:57:18 AM"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a"[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"namesOnly":false,"subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0b3d9dff-d59a-c8be-4a42-b218376a17d2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination?list
        method: POST
      response:
        body: '[{"systemMetadata":{"creation_time":"1764764056302","spii_metadata":null,"encryption":"CMK_V2","etag":"ed1a838a73ddff6e3bb80b4306bbb59a391087e89ffcdd4a33f0a525a7840cfa","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764764056301"},"propertiesMetadata":[{"propertyName":"Authentication","editable":true,"sensitive":false,"permittedValues":["OAuth2JWTBearer","OAuth2ClientCredentials","OAuth2UserTokenExchange"]},{"propertyName":"clientSecret","editable":false,"sensitive":true},{"propertyName":"Type","editable":false,"sensitive":false},{"propertyName":"ProxyType","editable":false,"sensitive":false},{"propertyName":"tokenServiceURLType","editable":false,"sensitive":false},{"propertyName":"clientId","editable":false,"sensitive":false},{"propertyName":"URL","editable":false,"sensitive":false},{"propertyName":"tokenServiceURL","editable":false,"sensitive":false},{"propertyName":"Name","editable":true,"sensitive":false}],"destinationConfiguration":{"tokenServiceURLType":"Dedicated","Type":"HTTP","clientId":"sb-clone499614ab4e0948369cf8889f0a39b4b3!b1548980|destination-xsappname!b9","Authentication":"OAuth2ClientCredentials","clientSecret":null,"tokenServiceURL":"https://integration-test-destination-ds8oaxcf.authentication.eu12.hana.ondemand.com/oauth/token","ProxyType":"Internet","URL":"https://destination-configuration.cfapps.eu12.hana.ondemand.com","Name":"destination-resource-with-si"}},{"systemMetadata":{"creation_time":"1764571459794","spii_metadata":null,"encryption":"CMK_V2","etag":"f9f945e89325290815ca0c79b7ace1a01f104d7491fe7aefc09ab123daee03fd","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764571459793"},"propertiesMetadata":[{"propertyName":"clientId","editable":false,"sensitive":false},{"propertyName":"Description","editable":true,"sensitive":false},{"propertyName":"ProxyType","editable":false,"sensitive":false},{"propertyName":"Authentication","editable":true,"sensitive":false,"permittedValues":["OAuth2JWTBearer","OAuth2ClientCredentials","OAuth2UserTokenExchange"]},{"propertyName":"URL","editable":false,"sensitive":false},{"propertyName":"Type","editable":false,"sensitive":false},{"propertyName":"tokenServiceURLType","editable":false,"sensitive":false},{"propertyName":"tokenServiceURL","editable":false,"sensitive":false},{"propertyName":"Name","editable":true,"sensitive":false},{"propertyName":"clientSecret","editable":false,"sensitive":true}],"destinationConfiguration":{"tokenServiceURLType":"Dedicated","Type":"HTTP","Description":"testing resource for destination update","clientId":"sb-clone499614ab4e0948369cf8889f0a39b4b3!b1548980|destination-xsappname!b9","Authentication":"OAuth2ClientCredentials","clientSecret":null,"tokenServiceURL":"https://integration-test-destination-ds8oaxcf.authentication.eu12.hana.ondemand.com/oauth/token","ProxyType":"Internet","URL":"https://destination-configuration.cfapps.eu12.hana.ondemand.com","Name":"destination-resource-with-service-instance"}},{"systemMetadata":{"creation_time":"1764571363105","spii_metadata":null,"encryption":"CMK_V2","etag":"2bb718b36005a1c85369fbc17230471fd1b80fefe336dba867fdbc5c443d9264","userAgent":"COCKPIT","modification_time":"1764571363104"},"propertiesMetadata":[],"destinationConfiguration":{"Name":"destination-resource","Type":"HTTP","Description":"testing resource for destination update","URL":"https://myservice.example.com","ProxyType":"Internet","Authentication":"NoAuthentication","abc":"good"}}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 736cccc1-7c7e-493d-62d2-3c0e9475ee97
        status: 200 OK
        code: 200
        duration: 791.489584ms
[...]
