---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a30d3df7-2e3a-3ee3-a279-7fd91d48612e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0512bcec-955f-4bb0-4c8a-28689a27df6b
        status: 200 OK
        code: 200
        duration: 412.997417ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"fuh"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5e41fdf5-e140-0ce9-4c75-b08565276d3a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?get
        method: POST
      response:
        body: '{"error":"No entity found with values = [[03760ecf-9d89-4189-a92a-1c7efed09298, fuh, 03760ecf-9d89-4189-a92a-1c7efed09298]]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 71f088ce-f49c-4522-50ad-13ae731583bc
        status: 200 OK
        code: 200
        duration: 436.671042ms
