---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 09e47c63-3412-49b9-b54d-c6ee150e7588
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - bd5f68e1-e6fd-499c-6b83-307ad8fdff32
        status: 200 OK
        code: 200
        duration: 1.350408208s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d962f32a-244f-6712-6501-c574870c929f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 15, 2024, 3:55:46 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 15, 2024, 3:56:07 PM"},{"guid":"bcbefbb2-3365-428b-9d39-cab13197cf43","technicalName":"bcbefbb2-3365-428b-9d39-cab13197cf43","displayName":"test_prajin","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu10-canary","subdomain":"test-prajin-sgomvyh6","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 21, 2024, 6:32:04 [...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 49fc6c76-cb0f-68cd-9d25-d31d07dc2232
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?list
        method: POST
      response:
        body: '[{"id":"f535fdfe-3225-437e-a2d3-457532c5abb1","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker-quick-koala-wl.cfapps.eu12.hana.ondemand.com","created_at":"2025-01-28T10:07:57.340814Z","updated_at":"2025-01-28T10:07:57.74779Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9e079a91-58ce-4712-5858-aa8f68ef73c1
        status: 200 OK
        code: 200
        duration: 1.109177458s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"f535fdfe-3225-437e-a2d3-457532c5abb1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eb1592f9-d17a-33d9-eb76-d2abb7ecea23
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?get
        method: POST
      response:
        body: '{"id":"f535fdfe-3225-437e-a2d3-457532c5abb1","ready":true,"last_operation":{"id":"47e4d098-c0f3-44bc-a1b3-f5d012771a88","ready":true,"type":"create","state":"succeeded","resource_id":"f535fdfe-3225-437e-a2d3-457532c5abb1","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"1be53095-4971-4a67-90f0-7cd5a32f70bb","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-01-28T10:07:57.340816Z","updated_at":"2025-01-28T10:08:02.230486Z"},"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker-quick-koala-wl.cfapps.eu12.hana.ondemand.com","created_at":"2025-01-28T10:07:57.340814Z","updated_at":"2025-01-28T10:07:57.74779Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7b92d8f0-a0a0-432c-4962-433a1349316c
        status: 200 OK
        code: 200
        duration: 600.783041ms
[...]
