---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c11225a7-5ec7-7ee6-055e-0f790ce72b68
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cda299fd-6e40-4412-4f76-b1988501dbf9
        status: 200 OK
        code: 200
        duration: 3.74388096s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ce101c8a-c037-3d20-d775-f3ffda162c6a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"16c59127-2e48-47cf-88d6-9a283b4f2275","technicalName":"16c59127-2e48-47cf-88d6-9a283b4f2275","displayName":"test-cf-anugrah","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu23-canary","subdomain":"test-cf-anugrah-j06b2fx7","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount is pending deletion","createdDate":"May 15, 2026, 8:04:24 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2026, 8:05:37 AM","contractStatus":"PENDING_FORCED_DELETION","forceDeleteRequestTime":"Jul 7, 2026, 8:05:34 AM","forceDeleteTargetTime":"Jul 14, 2026, 8:05:34 AM","lastModifiedBy":"john.doe+2@int.test"},{"guid":"b8b66419-797f-441b-8ae9-07570a902421","technicalName":"b8b66419-797f-441b-8ae9-07570a902421","displayName":"beta-test-account","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"beta-test-account-ep1sauhx","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"b8b66419-797f-441b-8ae9-07570a902421","key":"redacted","value":"true"}],"labels":{"beta-test":["true"]},"createdDate":"May 28, 2026, 8:24:11 AM","createdBy":"john.doe+3@int.test","modifiedDate":"May 28, 2026, 8:24:50 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","technicalName":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","displayName":"integration-test-ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-ias-408hsvn1","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test bundled applications on the SAP Cloud Identity Services Provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Feb 27, 2026, 8:47:42 AM","createdBy":"john.doe+5@int.test","modifiedDate":"Feb 27, 2026, 8:48:09 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+6@int.test"},{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"Subaccount Viewer","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2eb54819-7183-a546-8aa5-c1e9741a9064
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"Subaccount Viewer","description":"Read-only access to the subaccount","roleReferences":[{"roleTemplateAppId":"auditlog-management!b49","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"Read access to audit logs"},{"roleTemplateAppId":"auditlog-viewer-initial-content!t49","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"View audit logs"},{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Auditor","name":"Cloud Connector Auditor","description":"View the data transmission tunnels and client certificates used by the Cloud connector to communicate with back-end systems[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"page":"1","roleCollectionName":"Subaccount Viewer","showUserAssignments":"true","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a2649f61-e013-e6a3-c8a7-a580211f2827
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?get
        method: POST
      response:
        body: '{"count":1,"totalPages":1,"items":[{"id":"20455df0-4b9b-46e7-ac89-ff8b7af79065","username":"redacted","zoneId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","email":"jenny.doe@test.com","givenName":null,"familyName":null,"origin":"sap.default"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - caebb713-44e4-4d6e-689c-69a162b0b34b
        status: 200 OK
        code: 200
        duration: 610.067959ms
[...]
