---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b75f5e1e-6f7a-52e9-0d1e-ea819d9eaadc
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 90b258c5-aec2-45ef-5261-5b2c8bf40052
        status: 200 OK
        code: 200
        duration: 4.06673721s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"Global Account Administrator"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 38ea0e13-2c2d-f42e-6729-d7822d7cd091
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"name":"Global Account Administrator","description":"Administrative access to the global account","roleReferences":[{"roleTemplateAppId":"auditlog-management!b3034","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"Read access to audit logs"},{"roleTemplateAppId":"auditlog-viewer-initial-content!t3034","roleTemplateName":"Auditlog_Auditor","name":"Auditlog_Auditor","description":"View audit logs"},{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Admin","name":"Global Account Admin","description":"Role for global account members with read-write authorizations for core commercialization operations, such as updating global accounts, setting entitlements, and creating, updating, and deleting subaccounts."},{"roleTemplateAppId":"uas!b10418","roleTemplateName":"GlobalAccount_Usage_Reporting_Viewer","name":"Global Account Usage Reporting Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global account usage information."},{"roleTemplateAppId":"cmp!b17875","roleTemplateName":"GlobalAccount_System_Landscape_Administrator","name":"System Landscape Administrator","description":"Administrative access to systems and scenario-related resources."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_admin","name":"User and Role Administrator","description":"Manage authorizations, trusted identity providers, and users."}],"isReadOnly":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 512c7271-5f77-4d21-526c-cf9e23cbffac
        status: 200 OK
        code: 200
        duration: 389.568751ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"Global Account Administrator","showAttributeMappings":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a23bfb0b-a5ae-38a6-8956-4fd0d3c41550
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security[...]
[...]
