---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fea96bbf-47ae-ab46-649a-cc222b458d07
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d2e00826-314d-49c4-61e1-1641daae5ade
        status: 200 OK
        code: 200
        duration: 1.492959875s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e2fc4d56-714d-dac2-ca4c-5af48477a07b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/available-region?list
        method: POST
      response:
        body: '{"datacenters":[{"name":"neo-eu2-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu2-canary","environment":"neo","iaasProvider":"SAP","supportsTrial":false,"provisioningServiceUrl":"https://cisservices.int.sap.eu2.hana.ondemand.com/com.sap.core.commercial.service.web","domain":"int.sap.eu2.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS","restricted":false},{"name":"cf-eu01-canary","displayName":"Europe (Frankfurt) SAP Canary","region":"eu01-canary","environment":"cloudfoundry","iaasProvider":"ccee","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu01-canary.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu01-canary.hana.ondemand.com","domain":"eu01-canary.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD","restricted":false},{"name":"cf-us31","displayName":"US Central (IA) GCP Canary","region":"us31","environment":"cloudfoundry","iaasProvider":"GCP","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.us31.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.us31.hana.ondemand.com","domain":"us31.hana[...]
[...]
