---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ce440a0f-9d47-0937-b418-0ef34f1f7b19
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3abacef7-9886-4728-52f5-aab55df706d0
        status: 200 OK
        code: 200
        duration: 2.085249333s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 940263d7-8a0f-f09e-5811-3fa03d0c2934
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe+3@int.test","john.doe+4@int.test","john.doe+5@int.test","john.doe+6@int.test","john.doe+7@int.test","john.doe+8@int.test","john.doe+9@int.test","john.doe+10@int.test","dl_5731d5595f99b74a3c000020@exchange.sap.corp","DL_65DDA8EBA97EAA0134EEB5DC@global.corp.sap","john.doe+11@int.test","john.doe+12@int.test","john.doe+13@int.test","jenny.doe@test.com","john.doe+14@int.test","john.doe+15@int.test","john.doe+16@int.test","john.doe+17@int.test","john.doe+18@int.test","john.doe+19@int.test","john.doe+20@int.test","john.doe+21@int.test","john.doe@int.test","john.doe+22@int.test","john.doe+23@int.test","john.doe+24@int.test","john.doe+25@int.test","john.doe+26@int.test","john.doe+27@int.test","john.doe+28@int.test","john.doe+29@int.test","john.doe+30@int.test","john.doe+31@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 817cc5ca-79e5-49d3-55a0-2146767e4b93
        status: 200 OK
        code: 200
        duration: 314.93825ms
[...]
