---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ba02460f-9e0d-3e11-3d1a-845809b940f3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e341669f-3478-4847-64c2-20be4aa9e1ce
        status: 200 OK
        code: 200
        duration: 1.968655791s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"sap.default","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b42383b5-a9a5-240b-b3a6-bfb20fe8d304
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/user?get
        method: POST
      response:
        body: '{"id":"86535387-54aa-4282-af13-67dd50cdd13c","username":"redacted","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","created":"2023-05-26T12:58:05.576+00:00","modified":"2025-01-17T07:05:43.860+00:00","origin":"sap.default","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":206,"active":true,"roleCollections":["Global Account Administrator"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ad0f0cc0-d312-4bef-47ba-4fd2c59b9535
        status: 200 OK
        code: 200
        duration: 403.244833ms
[...]
