---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1cc67d4a-7821-c4f5-e4b4-c0c541952db3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b28422fb-f03c-4b65-7418-82ab3838acdd
        status: 200 OK
        code: 200
        duration: 1.718932334s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 69e60cfb-b9f2-3013-c80a-c47472ab26c1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROO[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"C4C4387E-6CBC-4ABF-B2D3-97997BB22207","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5c9ee9ad-fa96-7277-c74b-edae8f26a80f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/environment-instance?get
        method: POST
      response:
        body: '{"id":"C4C4387E-6CBC-4ABF-B2D3-97997BB22207","name":"integration-test-services-4ie3yr1a_integration-test-services-static","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"status\":\"ACTIVE\"}","labels":"{\"API Endpoint\":\"https://api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"Org ID\":\"aafd584c-623a-427c-83ea-182115b5f854\",\"Org Memory Limit\":\"1,024MB\"}","customLabels":{},"type":"Provision","status":"Processed","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","platformId":"aafd584c-623a-427c-83ea-182115b5f854","createdDate":"May 15, 2026, 9:28:45 AM","modifiedDate":"May 15, 2026, 9:29:08 AM","state":"OK","stateMessage":"Environment instance created.","serviceName":"cloudfoundry","planName":"standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f2ff9932-b1f4-49dc-519b-fa853a1e2964
        status: 200 OK
        code: 200
        duration: 1.086336334s
[...]
