---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 81e99212-4ce5-54f7-e6aa-0e6de2943b16
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 932dac9e-76ab-4fa2-681a-980234ef6806
        status: 200 OK
        code: 200
        duration: 1.149753626s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dffa3117-8b20-658e-82d3-354a9c834be1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/available-idp?list
        method: POST
      response:
        body: '[{"tenantType":"trial","displayName":null,"commonHost":"apieventsmt.accounts400.cloud.sap","description":"INTERNAL. Created with Tenant Requests Self-Service: https://tenants.ias.only.sap/SCISVC-3289.","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU1_QA","host":"apieventsmt.accounts400.ondemand.com","customerId":null,"tenantId":"apieventsmt","region":"Europe (Frankfurt / Amsterdam)","status":"ACTIVE"},{"tenantType":"trial","displayName":"","commonHost":"btpterraform.accounts400.cloud.sap","description":"Need a IAS Tenant for testing the BTP Terraform Provider. INTERNAL. Created with Tenant Requests Self-Service: https://tenants.ias.only.sap/SCISVC-3339.--From CC 101010541 to CC 0101000297 via SNOW: DINC0735177","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"btpterraform.accounts400.ondemand.com[...]
[...]
