---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 73aab809-78db-3cf5-e505-e25d8558c176
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 964e2a6e-67cd-4b27-6da8-2d8eef29311e
        status: 200 OK
        code: 200
        duration: 2.517651376s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"a2dynbhnd.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c09aad07-39d2-9215-305a-301c967dd0ca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/available-idp?get
        method: POST
      response:
        body: '{"tenantType":"trial","displayName":null,"commonHost":"a2dynbhnd.accounts400.cloud.sap","description":"Cloud Foundry subscription","customHost":null,"customerName":null,"neoAuthnWithOidc":true,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"a2dynbhnd.accounts400.ondemand.com","customerId":null,"tenantId":"a2dynbhnd","region":"Germany (Frankfurt)","status":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 54d11cda-2e91-4fdd-6dd7-b7f2c9dc34f4
        status: 200 OK
        code: 200
        duration: 1.326103s
[...]
