---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5e1da438-e2d9-fed9-3865-e1cbd10e7a55
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 27dc2069-f048-4898-740d-013adac0c4c2
        status: 200 OK
        code: 200
        duration: 1.230073167s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f045ed42-4615-5ecb-8ab9-63c0317ebdd2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 10, 2025, 10:57:18 AM","contractStatus":"ACTIVE"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1170adf-dede-ad87-00f2-16723d2cf10c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?list
        method: POST
      response:
        body: '[{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"5dc9a1d6-5f0a-4749-9699-82f6ebb9028d","ready":true,"name":"my-dummy-test-broker-with-mtls-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-11T05:50:04.474358Z","updated_at":"2026-02-11T05:50:04.840869Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6795e113-5b29-45c1-63ce-fda79befdade
        status: 200 OK
        code: 200
        duration: 846.683917ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c21301a5-5770-f3a3-2014-ab1d30fceae0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?get
        method: POST
      response:
        body: '{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"last_operation":{"id":"f2406c1e-612c-42a3-a27d-6dd9a839f56e","ready":true,"type":"create","state":"succeeded","resource_id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"0ccbaa49-374e-482a-a0ec-172b4225c16c","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-02-10T10:09:26.672934Z","updated_at":"2026-02-10T10:09:31.600434Z"},"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4e31e44f-f453-4139-440b-f6014ee56d45
        status: 200 OK
        code: 200
        duration: 1.074660375s
[...]
