---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 162a150f-bc78-5a12-d73f-269cf8d1ead1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 45e5a932-dbee-446f-6fc3-d05dea61cd35
        status: 200 OK
        code: 200
        duration: 222.589541ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6e42e507-b6af-02c0-adac-a16f2b087053
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 15,[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"fieldsFilter":"name eq 'standard'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 02ce4c9c-476c-760b-94cc-16271ce18f16
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"d3ec8aed-4ec5-4b91-a3ec-17cae30a1dfc","catalog_name":"standard","created_at":"2020-08-17T09:00:26.04656Z","data_center":"","description":"Feature Flags service standard plan","free":true,"id":"ea585bd1-2503-4f55-822c-501519879ab9","labels":"commercial_name = standard","metadata":{"bullets":["Enterprise-ready plan with support for different flag types, adds constraints to and keeps track on flags lifecycle."],"displayName":"standard","supportedMaxOSBVersion":2.14,"supportedMinOSBVersion":2.13,"supportedPlatforms":["cloudfoundry","kubernetes","sapcp"],"supportsInstanceSharing":true},"name":"standard","ready":true,"service_offering_id":"8d5d96d0-fa2d-40c9-951f-c9ed571ba5da","service_offering_name":"feature-flags","updated_at":"2026-02-10T12:46:24.521845Z"},{"catalog_id":"760987b6-6277-4e0f-91e9-543a02d1631c","catalog_name":"standard","created_at":"2020-09-18T12:00:42.126327Z","data_center":"","description":"Allows consumption of SAP Alert Notification service events as well as posting custom events","free":false,"id":"129854b4-4928-4879-9bb1-421047d4fa69","labels":"commercial_name = standard","metadata":{"auto_subscription":{"app_name":"ans-technical"},"bullets":["100 registered actions","500 registered conditions","100 registered subscriptions","100 registered technical clients (service keys)","200 stored events of type ''matched events''","200 stored events of type ''undelivered events''","300 calls to Alert Notification configuration APIs per minute","200 calls to Alert Notification consumer APIs per minute","500 events ingested through Alert Notification producer APIs per minute"],"displayName":"standard","supportedMinOSBVersion":"2.11","supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":false},"name":"standard","ready":true,"service_offering_id":"fadc3168-639f-46b4-a71b-08e06809fb74","service_offering_name":"alert-notification","updated_at":"2025-12-16T11:19:10.932834Z"},{"catalog_id":"d4d715e6-694f-47f1-8319-9581acc509a3","catalog_name":"standard","created_at":"2021-04-20T16:13:33.2282Z","data_center":"","description":"Standard Plan","free":true,"id":"9aa317cb-87aa-49a5-8711-9c4c479e2774","labels":"commercial_name = standard","metadata":{"auto_subscription":{"app_name":"cas-saas-registry-prod"}},"name":"standard","ready":true,"schemas":{"service_instance":{"create":{"parameters":{"$schema":"http://json-schema.org/draft-04/schema#","_show_form_view":true,"additionalProperties":false,"properties":{"roles":{"default":["Assemble"],"description":"List of Roles for Current Instance","items":{"enum":["Assemble"]},"minItems":1,"title":"roles","type":"array"}},"type":"object"}},"update":{"parameters":{"$schema":"http://json-schema.org/draft-04/schema#","_show_form_view":true,"additionalProperties":false,"properties":{"roles":{"default":["Assemble"],"description":"List of Roles for Current Instance","items":{"enum":["Assemble"]},"minItems":1,"title":"roles","type":"array"}},"type":"object"}}}},"service_offering_id":"4a36ec67-fe2d-48f6-a544-ca931ca2cb29","service_offering_name":"content-agent","updated_at":"2025-12-16T11:21:45.218036Z"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7a8ee0f4-7e3c-421c-56f2-8f74afa4f396
        status: 200 OK
        code: 200
        duration: 464.452458ms
[...]
