---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 32ac1ff1-90ee-6d1b-e779-79d9ead346a9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 55b4fb9c-5ba2-418f-610a-9dc5ed3f574a
        status: 200 OK
        code: 200
        duration: 440.02475ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6b697c1b-4143-1b0d-7630-8ca8dfdfa8dc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 15, 2024, 3:55:46 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 15, 2024, 3:56:07 PM"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdB[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environment":"cloudfoundry","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 16d7f724-e47a-d47b-0ca4-b955a24dd50d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2025-01-22T17:36:27.274808Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2025-01-22T17:36:27.2899Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2025-01-22T17:36:27.310233Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2025-01-22T17:37:21.833151Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31c098","labels":"commercial_name = service","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"service","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2025-01-22T17:37:21.844307Z"},{"bindable":true,"catalog_id":"saasApplication","catalog_name":"application","created_at":"2020-08-10T07:35:37.447784Z","data_center":"","description":"Service plan for SaaS application owners to manage the lifecycle of SaaS applications with SAP SaaS Provisioning APIs.","free":true,"id":"c5d7a86e-176b-4ee8-8286-7910970f7dc3","labels":"commercial_name = application","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":true},"name":"application","ready":true,"serv[...]
[...]
