---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0f1762a4-0824-0924-c303-e32cdfbfe067
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 6a0df57c-29b0-4e61-6971-3ca8529c1e56
        status: 200 OK
        code: 200
        duration: 1.492810918s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b3539330-8b83-e2eb-5ffe-d59301e8d343
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"6abfbbf5-3e21-48d9-93ee-4d3ab9ee9a4c","technicalName":"6abfbbf5-3e21-48d9-93ee-4d3ab9ee9a4c","displayName":"ias_import_test","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"ias-import-test-bujtjv8f","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Oct 10, 2025, 7:15:01 [...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"namesOnly":false,"subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e2f5839-ddb1-8fe2-df5e-070bbc6d9d50
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination?list
        method: POST
      response:
        body: '[{"systemMetadata":{"creation_time":"1764571459794","spii_metadata":null,"encryption":"CMK_V2","etag":"f9f945e89325290815ca0c79b7ace1a01f104d7491fe7aefc09ab123daee03fd","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764571459793"},"propertiesMetadata":[{"propertyName":"Type","editable":false,"sensitive":false},{"propertyName":"tokenServiceURLType","editable":false,"sensitive":false},{"propertyName":"tokenServiceURL","editable":false,"sensitive":false},{"propertyName":"Name","editable":true,"sensitive":false},{"propertyName":"clientSecret","editable":false,"sensitive":true},{"propertyName":"clientId","editable":false,"sensitive":false},{"propertyName":"Description","editable":true,"sensitive":false},{"propertyName":"ProxyType","editable":false,"sensitive":false},{"propertyName":"Authentication","editable":true,"sensitive":false,"permittedValues":["OAuth2JWTBearer","OAuth2ClientCredentials","OAuth2UserTokenExchange"]},{"propertyName":"URL","editable":false,"sensitive":false}],"destinationConfiguration":{"tokenServiceURLType":"Dedicated","Type":"HTTP","Description":"testing resource for destination update","clientId":"sb-clone499614ab4e0948369cf8889f0a39b4b3!b1548980|destination-xsappname!b9","Authentication":"OAuth2ClientCredentials","clientSecret":null,"tokenServiceURL":"https://integration-test-destination-ds8oaxcf.authentication.eu12.hana.ondemand.com/oauth/token","ProxyType":"Internet","URL":"https://destination-configuration.cfapps.eu12.hana.ondemand.com","Name":"destination-resource-with-service-instance"}},{"systemMetadata":{"creation_time":"1764571363105","spii_metadata":null,"encryption":"CMK_V2","etag":"2bb718b36005a1c85369fbc17230471fd1b80fefe336dba867fdbc5c443d9264","userAgent":"COCKPIT","modification_time":"1764571363104"},"propertiesMetadata":[],"destinationConfiguration":{"Name":"destination-resource","Type":"HTTP","Description":"testing resource for destination update","URL":"https://myservice.example.com","ProxyType":"Internet","Authentication":"NoAuthentication","abc":"good"}},{"systemMetadata":{"creation_time":"1764764056302","spii_metadata":null,"encryption":"CMK_V2","etag":"ed1a838a73ddff6e3bb80b4306bbb59a391087e89ffcdd4a33f0a525a7840cfa","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764764056301"},"propertiesMetadata":[{"propertyName":"tokenServiceURLType","editable":false,"sensitive":false},{"propertyName":"clientId","editable":false,"sensitive":false},{"propertyName":"URL","editable":false,"sensitive":false},{"propertyName"[...]
[...]
