---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 25601220-0f30-7cf0-4fd7-ee392eac926d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 00d00967-c603-437f-5fb1-8fe11a05ac3b
        status: 200 OK
        code: 200
        duration: 913.716667ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e9f8bbe2-68c8-3ffc-ec80-5ac018bdd889
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - fc0e5af8-71f7-482c-4c18-9c9994ccee21
        status: 200 OK
        code: 200
        duration: 383.611166ms
