---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a5062277-f590-c549-d88b-034fee174be0
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8264e211-acae-4e68-44cd-cf8ea2b4d279
        status: 200 OK
        code: 200
        duration: 406.409792ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"00000000-0000-0000-0000-000000000000"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d581390a-c652-fdfc-db7e-9581914c3d90
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/disaster-recovery/subaccount-pair?get
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Subaccount '00000000-0000-0000-0000-000000000000' does not exist and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - aff8b90a-596f-4617-4fa5-acd78e35c617
        status: 403 Forbidden
        code: 403
        duration: 302.102959ms
