---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fde4d352-52c6-423a-3d40-77e3a4e8fe91
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 553d7115-5f2d-4919-49ea-634c23791ef4
        status: 200 OK
        code: 200
        duration: 1.087631876s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0a752918-5916-7980-b69e-d85efb18e1e9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"0e206f1f-cf3f-4288-89a3-c75a469343fc","technicalName":"0e206f1f-cf3f-4288-89a3-c75a469343fc","displayName":"test-cloudidentity-azure","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu23-canary","subdomain":"test-cloudidentity-azure-mnurqbzl","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"DELETING","stateMessage":"Deleting subaccount.","createdDate":"Feb 10, 2026, 5:27:06 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 10, 2026, 5:32:58 AM","contractStatus":"ACTIVE"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 15,[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eb45e028-8a22-4aee-e8a9-16a9c66f6cac
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/available-idp?list
        method: POST
      response:
        body: '[{"tenantType":"trial","displayName":null,"commonHost":"a2dynbhnd.accounts400.cloud.sap","description":"Cloud Foundry subscription","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"a2dynbhnd.accounts400.ondemand.com","customerId":null,"tenantId":"a2dynbhnd","region":"Germany (Frankfurt)","status":"ACTIVE"},{"tenantType":"trial","displayName":null,"commonHost":"apievents.accounts400.cloud.sap","description":"for API Caller Identification workstream PoC. INTERNAL. Created with Tenant Requests Self-Service: https://tenants.ias.only.sap/SCISVC-2604.","customHost":null,"customerName":null,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"apievents.accounts400.ondemand.com","customerId":null,"tenantId":"apievents","region":"Germany (Fr[...]
[...]
