---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3350f8f7-8570-a063-ca15-d6c8fa0cad50
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 29c036a1-f413-48d4-4a5f-b36a0527a4cd
        status: 200 OK
        code: 200
        duration: 2.867573668s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"a2dynbhnd.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eaa619f9-61fb-6978-924b-f9ad040edb7c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/available-idp?get
        method: POST
      response:
        body: '{"tenantType":"trial","displayName":null,"commonHost":"a2dynbhnd.accounts400.cloud.sap","description":"Cloud Foundry subscription","customHost":null,"customerName":null,"neoAuthnWithOidc":true,"costCenterId":101000297,"dataCenterId":"EU2_QA","host":"a2dynbhnd.accounts400.ondemand.com","customerId":null,"tenantId":"a2dynbhnd","region":"Germany (Frankfurt)","status":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f87ed315-b3d1-4c98-7c86-d117aa954756
        status: 200 OK
        code: 200
        duration: 1.379445792s
[...]
