---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 56b0cd4a-043e-08ca-2104-70b2063acaae
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9f467aa5-ea10-4d6d-6a30-417335fde839
        status: 200 OK
        code: 200
        duration: 592.734917ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bbc99c79-cfac-095a-23b7-5b240f5fffcc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"247420c3-99c8-4e8c-9790-bea9c4f1cff6","technicalName":"247420c3-99c8-4e8c-9790-bea9c4f1cff6","displayName":"integration-test-pending-deletion","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu10-canary","subdomain":"integration-test-pending-deletion-yv4w0zzk","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount pending deletion cancelled","createdDate":"Apr 15, 2026, 1:48:00 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2026, 9:31:26 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"},{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+3@int.test"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider. DO NOT DELETE.","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+4@int.test","modifiedDate":"Jul 7, 2026, 6:19:21 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+5@int.test"},{"guid":"b8b66419-797f-441b-8ae9-07570a902421","technicalName":"b8b66419-797f-441b-8ae9-07570a902421","displayName":"beta-test-account","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"beta-test-account-ep1sauhx","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"b8b66419-797f-441b-8ae9-07570a902421","key":"redacted","value":"true"}],"labels":{"beta-test":["true"]},"createdDate":"May 28, 2026, 8:24:11 AM","createdBy":"john.doe+6@int.test","modifiedDate":"May 28, 2026, 8:24:50 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+7@int.test"},{"guid":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","technicalName":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","displayName":"integration-test-ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integrat[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"fieldsFilter":"name eq 'standard'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f6e27fb-cfd8-0984-4560-49a6b6cef817
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"d3ec8aed-4ec5-4b91-a3ec-17cae30a1dfc","catalog_name":"standard","created_at":"2020-08-17T09:00:26.04656Z","data_center":"","description":"Feature Flags service standard plan","free":true,"id":"ea585bd1-2503-4f55-822c-501519879ab9","labels":"commercial_name = standard","metadata":{"bullets":["Enterprise-ready plan with support for different flag types, adds constraints to and keeps track on flags lifecycle."],"displayName":"standard","supportedMaxOSBVersion":2.14,"supportedMinOSBVersion":2.13,"supportedPlatforms":["cloudfoundry","kubernetes","sapcp"],"supportsInstanceSharing":true},"name":"standard","ready":true,"service_offering_id":"8d5d96d0-fa2d-40c9-951f-c9ed571ba5da","service_offering_name":"feature-flags","updated_at":"2026-07-14T11:18:00.172176Z"},{"catalog_id":"760987b6-6277-4e0f-91e9-543a02d1631c","catalog_name":"standard","created_at":"2020-09-18T12:00:42.126327Z","data_center":"","description":"Allows consumption of SAP Alert Notification service events as well as posting custom events","free":false,"id":"129854b4-4928-4879-9bb1-421047d4fa69","labels":"commercial_name = standard","metadata":{"auto_subscription":{"app_name":"ans-technical"},"bullets":["100 registered actions","500 registered conditions","100 registered subscriptions","100 registered technical clients (service keys)","200 stored events of type ''matched events''","200 stored events of type ''undelivered events''","300 calls to Alert Notification configuration APIs per minute","200 calls to Alert Notification consumer APIs per minute","500 events ingested through Alert Notification producer APIs per minute"],"displayName":"standard","supportedMinOSBVersion":"2.11","supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":false},"name":"standard","ready":true,"service_offering_id":"fadc3168-639f-46b4-a71b-08e06809fb74","service_offering_name":"alert-notification","updated_at":"2025-12-16T11:19:10.932834Z"},{"catalog_id":"securestore-standard-plan","catalog_name":"standard","created_at":"2020-12-13T11:15:35.017481Z","data_center":"","description":"Credential Store service standard","free":false,"id":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","labels":"commercial_name = standard","metadata":{"bullets":["100 000 credentials","100 MB total size","25 API calls per second","100 service bindings","10 proxy service instances"],"costs":[{"amount":{"eur":0.5},"unit":"1 credential"}]},"name":"standard","ready":true,"service_offering_id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","service_offering_name":"credstore","updated_at":"2025-12-16T11:19:57.660101Z"},{"catalog_id":"d4d715e6-694f-47f1-8319-9581acc509a3","catalog_name":"standard","created_at":"2021-04-20T16:13:33.2282Z","data_center":"","description":"Standard Plan","free":true,"id":"9aa317cb-87aa-49a5-8711-9c4c479e2774","labels":"commercial_name = standard","metadata":{"auto_subscription":{"app_name":"cas-saas-registry-prod"}},"name":"standard","ready":true,"schemas":{"service_instance":{"create":{"parameters":{"$schema":"http://json-schema.org/draft-04/schema#","_show_form_view":true,"additionalProperties":false,"properties":{"roles":{"default":["Assemble"],"description":"List of Roles for Current Instance","items":{"enum":["Assemble"]},"minItems":1,"title":"roles","type":"array"}},"type":"object"}},"update":{"parameters":{"$schema":"http://json-schema.org/draft-04/schema#","_show_form_view":true,"additionalProperties":false,"properties":{"roles":{"default":["Assemble"],"description":"List of Roles for Current Instance","items":{"enum":["Assemble"]},"minItems":1,"title":"roles","type":"array"}},"type":"object"}}}},"service_offering_id":"4a36ec67-fe2d-48f6-a544-ca931ca2cb29","service_offering_name":"content-agent","updated_at":"2025-12-16T11:21:45.218036Z"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 475727b6-4cee-442f-5574-49771eba7b2f
        status: 200 OK
        code: 200
        duration: 618.499292ms
[...]
