---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1600a076-c174-04ec-6013-c812abfb7f5e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a5fdfe29-6feb-47e3-5c98-e9ab6708e5c6
        status: 200 OK
        code: 200
        duration: 1.171523917s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1202fe08-5189-4962-36ea-78c4bf688ee1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe+3@int.test","john.doe+4@int.test","john.doe+5@int.test","john.doe+6@int.test","john.doe+7@int.test","dl_5731d5595f99b74a3c000020@exchange.sap.corp","john.doe+8@int.test","john.doe+9@int.test","jenny.doe@test.com","john.doe+10@int.test","john.doe+11@int.test","john.doe+12@int.test","john.doe+13@int.test","john.doe+14@int.test","john.doe+15@int.test","john.doe@int.test","john.doe+16@int.test","john.doe+17@int.test","john.doe+18@int.test","john.doe+19@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f5544302-2de6-4ab0-49ba-7b86a0af260b
        status: 200 OK
        code: 200
        duration: 402.228167ms
[...]
