---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9d397d8c-95c8-6adc-222c-51f30f7d051e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3947be0c-dcf6-4f47-6ad8-f61e53844c07
        status: 200 OK
        code: 200
        duration: 1.127266126s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 207500a3-5e33-185c-d3ff-a14ce3e696de
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Auditlog_Auditor","roleTemplateAppId":"auditlog-management!b3034","name":"Auditlog_Auditor","attributeList":[],"description":"Read access to audit logs","scopes":[{"description":"View audit logs","name":"auditlog-management!b3034.ReadAuditLogs"}],"isReadOnly":true,"appName":"auditlog-management"},{"roleTemplateName":"Auditlog_Auditor","roleTemplateAppId":"auditlog-viewer-initial-content!t3034","name":"Auditlog_Auditor","attributeList":[],"description":"View audit logs","scopes":[{"description":"View audit logs","name":"auditlog-viewer-initial-content!t3034.ReadAuditLogs"},{"description":"Default scope for user","name":"uaa.user","granted-apps":["*","xs_user"]}],"isReadOnly":true,"appName":"auditlog-viewer-initial-content"},{"roleTemplateName":"Directory_Admin","roleTemplateAppId":"cis-central!b13","name":"Directory Admin","attributeList":[],"description":"Role for directory members with read-write authorizations for core commercialization operations, such as updating directories, setting entitlements, and creating, updating, and deleting subaccounts.","scopes":[{"description":"Get Cloud Automation requests in a global account","name":[...]
[...]
