---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 59e2a1f0-7c65-be61-3ad0-2ee543aa9df3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c4f66333-e707-4d9e-5ec5-d2b8872891ee
        status: 200 OK
        code: 200
        duration: 3.103900002s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4b20a914-ecfd-caf9-5837-7213a1416edf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?list
        method: POST
      response:
        body: '[{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3b9c7597-bccc-47b2-7cdc-e0efe09baf86
        status: 200 OK
        code: 200
        duration: 453.794ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"fieldsFilter":"ready eq 'true'","labelsFilter":"cred_revision eq '0'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0be3307-0930-a6c2-74e9-cc0887646dbd
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?list
        method: POST
      response:
        body: '[{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - cee075b6-6846-41eb-61f5-ae3843634604
        status: 200 OK
        code: 200
        duration: 605.764667ms
[...]
