---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 46df005f-d3d3-201f-9cde-348788b0c976
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a2f1e08e-ae41-40ea-57f4-4b08c6d5e98f
        status: 200 OK
        code: 200
        duration: 3.721396169s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ffcf04dc-0b48-5123-7123-58dabbf5af07
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/resource-provider?list
        method: POST
      response:
        body: '[{"technicalName":"integration_test_fixture_resource_provider","displayName":"Integration Test Fixture Resource Provider","description":"Resource Provider for Integration Tests Fixture Recording. DO NOT DELETE!!!","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a65ca370-548b-43cd-5a11-62cc50deffba
        status: 200 OK
        code: 200
        duration: 472.347459ms
[...]
