---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c25354e8-541d-6a9a-8453-04a57fc40967
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e19013fa-15e7-41a3-64dc-c925be5cd743
        status: 200 OK
        code: 200
        duration: 3.643276127s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1dcec1e-1721-39f4-bf38-c75c8c31c2b0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/environment-instance?list
        method: POST
      response:
        body: '{"environmentInstances":[{"id":"C4C4387E-6CBC-4ABF-B2D3-97997BB22207","name":"integration-test-services-4ie3yr1a_integration-test-services-static","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"status\":\"ACTIVE\"}","labels":"{\"API Endpoint\":\"https://api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"Org ID\":\"aafd584c-623a-427c-83ea-182115b5f854\",\"Org Memory Limit\":\"1,024MB\"}","customLabels":{},"type":"Provision","status":"Processed","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","platformId":"aafd584c-623a-427c-83ea-182115b5f854","createdDate":"May 15, 2026, 9:28:45 AM","modifiedDate":"May 15, 2026, 9:29:08 AM","state":"OK","stateMessage":"Environment instance created.","serviceName":"cloudfoundry","planName":"standard"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ecec182a-775b-43c4-4086-0fe4a0670b93
        status: 200 OK
        code: 200
        duration: 865.356167ms
[...]
