---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f9d01ff3-ad5d-4070-5206-37258a5f433d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4eeffcea-45d3-4c27-64a6-639b6646143d
        status: 200 OK
        code: 200
        duration: 1.999126334s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 96141ad1-99de-e699-6685-8959c7a94fb1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key-849316750","keyIds":["default-jwt-key-849316750"],"keys":{"default-jwt-key-849316750":{"created":"Mon Jul 03 11:34:43 UTC 2023","lastModifiedAt":"Thu Dec 11 07:03:54 UTC 2025","nextRotationDate":null,"fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-4ie3yr1a.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-1430075255","keys":{"default-saml-key-1430075255":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"}],"treatUsersWithSameEmailAsSameUser":false,"useIdpUserNameInTokens":true,"customEmailDomains":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2ac7d5d9-1f6a-42e7-5f82-5c1317a43210
        status: 200 OK
        code: 200
        duration: 605.469083ms
[...]
