---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e277aef9-99bc-db03-4af4-057073ccf580
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 66e945cd-5bb6-4ff2-46e5-4aeb5abef650
        status: 200 OK
        code: 200
        duration: 2.199022376s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 37c68b0c-20de-5736-851c-d1d1c81252b6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?list
        method: POST
      response:
        body: '[{"name":"sap.default","originKey":"sap.default","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":null,"identityProvider":null,"domain":null,"linkTextForUserLogon":"Default Identity Provider","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false,"defaultIdp":true,"idpType":"SAP IAS"},{"name":"iasprovidertestblr.accounts400.ondemand.com (business users)","originKey":"sap.custom","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":"Identity Authentication tenant iasprovidertestblr.accounts400.ondemand.com used for business users","identityProvider":"iasprovidertestblr.accounts400.ondemand.com","domain":"iasprovidertestblr.accounts400.ondemand.com","linkTextForUserLogon":"iasprovidertestblr.accounts400.ondemand.com","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":"iasprovidertestblr","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"},{"name":"iasprovidertestblr.accounts400.ondemand.com (platform users)","originKey":"iasprovidertestblr-platform","originKeyCfuaa":"iasprovidertestblr-platform","typeOfTrust":"Platform","status":"active","description":"Identity Authentication tenant iasprovidertestblr.accounts400.ondemand.com used for platform users","identityProvider":"iasprovidertestblr.accounts400.ondemand.com","domain":"iasprovidertestblr.accounts400.ondemand.com","linkTextForUserLogon":"iasprovidertestblr-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"iasprovidertestblr","protocol":"OpenID Connect","readOnly":true,"defaultIdp":false,"idpType":"SAP IAS"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e980e8ef-4f1f-42e3-4314-c3dfcc7c7a0f
        status: 200 OK
        code: 200
        duration: 840.204042ms
[...]
