---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eecb229e-848a-a93f-658d-c2ccbcd0a29d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4642b129-85fa-444f-4cb3-3fc73475490a
        status: 200 OK
        code: 200
        duration: 3.870683459s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4680ff5b-b747-95f1-3934-8b8371a72ac3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?list
        method: POST
      response:
        body: '[{"id":"df532d07-57a7-415e-a261-23a398ef068a","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-alertnotification-instance","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-07-07T11:52:51.049151Z","updated_at":"2023-07-07T11:52:51.588882Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"4fd7e5e1-3205-4ff7-a5ef-9ec01d9af62e","ready":true,"name":"tf-testacc-malwarescanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-malwarescanner","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe+1@int.test","updated_by":"john.doe+2@int.test","created_at":"2024-11-19T08:08:45.020632Z","updated_at":"2024-11-19T08:09:50.508238Z","labels":"org = testvalue; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"44c37801-d057-4393-9f2f-d4dfd3ad2780","ready":true,"name":"tf-test-malware-scanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-test-malware-scanner","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe+3@int.test","created_at":"2025-06-06T13:01:03.980483Z","updated_at":"2025-06-06T13:01:04.075572Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 23dc2676-10ac-4288-49c5-d0baa1af8b67
        status: 200 OK
        code: 200
        duration: 645.86525ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"fieldsFilter":"ready eq 'true'","labelsFilter":"org eq 'testvalue'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bb7e0013-cb68-9a32-6d9e-0a7d1a5c80f6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
   [...]
[...]
