---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c860df84-2511-18f3-c750-b3cf86abc6d0
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d8d551b5-00ce-4351-50a3-3b36ee33706b
        status: 200 OK
        code: 200
        duration: 613.295626ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e5706515-21f4-411c-c6dd-74f04e72a024
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 1ef4225b-9896-4ed4-5dd9-24163e602f27
        status: 400 Bad Request
        code: 400
        duration: 213.388958ms
