---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 217fb05a-fb69-9170-55d7-ef68dc99ff65
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4b9615bb-9e56-4eca-420a-2cbf6bf61042
        status: 200 OK
        code: 200
        duration: 2.581798668s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6ce7bf29-4f1c-be7a-63ac-9a2f85ea9741
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 093ff4de-a0db-44eb-7dae-e2a0a2a2e22f
        status: 400 Bad Request
        code: 400
        duration: 277.921292ms
