---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6e6fe92e-d1ab-cff1-71dc-6ad915800750
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 093a6578-1f21-43bb-793f-123a52ab823a
        status: 200 OK
        code: 200
        duration: 958.884459ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c707afe8-3b69-c72c-21d4-8a2cefba09f5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?list
        method: POST
      response:
        body: '[{"name":"iasproviderdevblr.accounts400.ondemand.com (platform users)","originKey":"iasproviderdevblr-platform","originKeyCfuaa":"iasproviderdevblr-platform","typeOfTrust":"Platform","status":"active","description":"Identity Authentication tenant iasproviderdevblr.accounts400.ondemand.com used for platform users","identityProvider":"iasproviderdevblr.accounts400.ondemand.com","domain":"iasproviderdevblr.accounts400.ondemand.com","linkTextForUserLogon":"iasproviderdevblr-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"iasproviderdevblr","protocol":"OpenID Connect","readOnly":true,"defaultIdp":false,"idpType":"SAP IAS"},{"name":"iasprovidertestblr.accounts400.ondemand.com (business users)","originKey":"sap.custom","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":"Identity Authentication tenant iasprovidertestblr.accounts400.ondemand.com used for business users","identityProvider":"iasprovidertestblr.accounts400.ondemand.com","domain":"iasprovidertestblr.accounts400.ondemand.com","linkTextForUserLogon":"iasprovidertestblr.accounts400.ondemand.com","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":"iasprovidertestblr","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"},{"name":"sap.default","originKey":"sap.default","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":null,"identityProvider":null,"domain":null,"linkTextForUserLogon":"Default Identity Provider","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false,"defaultIdp":true,"idpType":"SAP IAS"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b3b5c477-9211-4bb9-5cb0-4dd5b1c96a54
        status: 200 OK
        code: 200
        duration: 600.961125ms
[...]
