---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 86c86956-41c8-46b1-2423-11f913a3ea40
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7f2d0322-111f-410b-70e3-a31e1cf9aee1
        status: 200 OK
        code: 200
        duration: 5.246439169s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","labelsFilter":"a"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2af36308-f564-369a-0b07-4de32f161ee4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"error":"Invalid labelSelector format. Each label condition must consist of a URL-encoded key-value pair with either an equals or not equals operator: <label-key><=/!=><label-value> [Error: 12003/400]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - db81b786-3b14-44a7-61ba-ff95ac5d7db7
        status: 200 OK
        code: 200
        duration: 467.093166ms
