---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a43a18e0-21eb-93c3-0fe9-cab5fac806e6
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a443c7f3-3c7d-4760-6add-af5223ee87af
        status: 200 OK
        code: 200
        duration: 3.312031168s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","labelsFilter":"a"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d772c33-5336-b463-2596-3c800cddb6ca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"error":"Invalid labelSelector format. Each label condition must consist of a URL-encoded key-value pair with either an equals or not equals operator: <label-key><=/!=><label-value> [Error: 12003/400]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 22af1f57-c4c2-4452-5431-c1b5871f1f18
        status: 200 OK
        code: 200
        duration: 410.347542ms
