---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c10d93e-8903-114e-20e9-19f1e9f74a24
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 17e40195-90e0-4cf5-46de-ab6a7e451633
        status: 200 OK
        code: 200
        duration: 2.926322918s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - afc12ff3-b3f1-5b5f-8d9f-2e239534682c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - f1c4a542-9440-4893-5de1-4e5c0fe132c0
        status: 400 Bad Request
        code: 400
        duration: 401.095917ms
