---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3d3342e8-16e3-29aa-af67-0057c9269f30
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 13f7470f-e14a-40b6-451f-2678400f553f
        status: 200 OK
        code: 200
        duration: 2.171470209s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ee8f1d3b-7420-642c-4622-df7799b4b190
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?list
        method: POST
      response:
        body: '[{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 09098591-9032-4404-4b10-d4fd326b6b44
        status: 200 OK
        code: 200
        duration: 915.811709ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"fieldsFilter":"ready eq 'true'","labelsFilter":"cred_revision eq '0'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7a38f5e4-c969-38dd-1262-3dfed02851fb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?list
        method: POST
      response:
        body: '[{"id":"d88f8a5b-1a7f-4aca-8279-fa0b2eabec7d","ready":true,"name":"integration-test-static-service-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://integration-test-static-service-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-10T10:09:26.672932Z","updated_at":"2026-02-10T10:09:27.085075Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - af73738e-229d-4fd2-7c01-a4160f78fcdb
        status: 200 OK
        code: 200
        duration: 670.008501ms
[...]
