---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7656d54b-996b-7f65-718a-b16a8746a140
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 71bcc559-75e6-4dfd-6d18-df346bb63fad
        status: 200 OK
        code: 200
        duration: 3.426412084s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 91f16d3d-1527-d4fe-140a-8c270c8dca6f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - cc5d6d47-c626-4c2f-7d94-0697a8d97f42
        status: 400 Bad Request
        code: 400
        duration: 245.674ms
