---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1a8a4268-e615-531f-a2b5-70034b760c2b
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e205e13d-adf9-40e9-4911-cce3f565889c
        status: 200 OK
        code: 200
        duration: 1.201801167s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"namesOnly":false,"subaccount":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 95bd4863-33bc-fe30-ef62-a61564392e19
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 53713318-cb7e-4dfa-5d39-27d9fd776645
        status: 400 Bad Request
        code: 400
        duration: 512.053875ms
