---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 08db7c22-e8f1-1fe0-f2c8-74d20aa729a7
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - bfe49277-f5f7-4ab1-4cd4-ab448e046be1
        status: 200 OK
        code: 200
        duration: 1.270673667s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d5a3de9b-038a-97aa-0284-c4a552cd681a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?list
        method: POST
      response:
        body: '[{"name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels and client certificates used by the Cloud connector"}],"isReadOnly":true},{"name":"Connectivity and Destination Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector and manage the destination configurations, certificates and subaccount trust.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels and client certificates used by the Cloud connector"},{"roleTemplateAppId":"dest[...]
[...]
