---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6afa8426-f58c-d3fa-5403-6ec1e9083b3e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cc7a2b5c-e333-4498-7130-271e87e4c0e4
        status: 200 OK
        code: 200
        duration: 791.186375ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 34a411f6-1c36-5e79-a97d-9d880f434192
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 8377b516-9b8e-4753-5db2-445692e2e044
        status: 400 Bad Request
        code: 400
        duration: 518.793251ms
