---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f8eceeb8-b517-19db-4910-1a71b61c3e91
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 52bbcb3e-f55d-4abb-6727-ae1df51b06f3
        status: 200 OK
        code: 200
        duration: 1.439035084s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - da70b661-6011-4561-a445-2a9c0fafa4f8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"analytics_admin","roleTemplateAppId":"das-application!b136973","name":"analytics_admin","attributeList":[],"description":"Joule analytics admin can access the Joule analytics dashboard","scopes":[{"description":"Scope for analytics service to access the joule analytics dashboard","name":"das-application!b136973.das_analytics"}],"isReadOnly":true,"appName":"das-application","appDescription":"SAP Digital Assistant"},{"roleTemplateName":"Application_Destination_Administrator","roleTemplateAppId":"destination-xsappname!b9","name":"Application Destination Administrator","attributeList":[],"description":"Manage destination configurations, certificates and signing keys for SAML assertions issued by the Destination service","scopes":[{"description":"Manage subaccount trust","name":"destination-xsappname!b9.manageSubaccountTrust"},{"description":"Read subaccount trust","name":"destination-[...]
[...]
