---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4847f760-a61c-192b-dcbb-fbcb5c0cf271
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f2edd13c-2fcd-4764-7450-cedc6c365e18
        status: 200 OK
        code: 200
        duration: 2.878168876s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 37b27a56-dbf5-a7f2-1719-9d0d2f7d0088
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 15249523-aae3-4a82-76b7-437f3d09580e
        status: 400 Bad Request
        code: 400
        duration: 254.566625ms
