---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ce120ab-9545-788c-884b-e2272407a392
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - df35a7a9-4ae4-4081-6c3e-973506dc58c4
        status: 200 OK
        code: 200
        duration: 3.59883871s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"namesOnly":false,"subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c2b7f4a4-2544-bf2c-d270-cdd7a1f1d26e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/connectivity/destination?list
        method: POST
      response:
        body: '[{"systemMetadata":{"creation_time":"1770107616194","spii_metadata":null,"encryption":"CMK_V2","etag":"fd0195e341d93c9d5f1ce5dfd49ce723c5dd6e7b0ed197addd3f438e5e58c84a","userAgent":"COCKPIT","modification_time":"1770107616194"},"propertiesMetadata":[],"destinationConfiguration":{"Name":"testhttp","Type":"HTTP","Description":"","URL":"https://test.com","ProxyType":"Internet","Authentication":"BasicAuthentication","User":"user123","Password":"<redacted>"}},{"systemMetadata":{"creation_time":"1767698400872","spii_metadata":null,"encryption":"CMK_V2","etag":"4cec59a99a12067a948b32b5763198ddcf42ed8ab63e374453b31a5e282aee6c","userAgent":"COCKPIT","modification_time":"1767698434660"},"propertiesMetadata":[],"destinationConfiguration":{"Name":"sachin","Type":"HTTP","ProxyType":"Internet","URL":"https://sachin.com","Authentication":"NoAuthentication"}},{"systemMetadata":{"creation_time":"1764764056302","spii_metadata":null,"encryption":"CMK_V2","etag":"ed1a838a73ddff6e3bb80b4306bbb59a391087e89ffcdd4a33f0a525a7840cfa","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764764056301"},"propertiesMetadata":[{"propertyName":"clientId","editable":false,"sensitive":false},{"propertyName":"tokenServiceURLType","editable":false,"sensitive":false},{"propertyName":"ProxyType","editable":false,"sensitive":false},{"propertyName":"Type","editable":false,"sensitive":false},{"propertyName":"clientSecret","editable":false,"sensitive":true},{"propertyName":"Authentication","editable":true,"sensitive":false,"permittedValues":["OAuth2JWTBearer","OAuth2ClientCredentials","OAuth2UserTokenExchange"]},{"propertyName":"Name","editable":true,"sensitive":false},{"propertyName":"tokenServiceURL","editable":false,"sensitive":false},{"propertyName":"URL","editable":false,"sensitive":false}],"destinationConfiguration":{"tokenServiceURLType":"Dedicated","Type":"HTTP","clientId":"sb-clone499614ab4e0948369cf8889f0a39b4b3!b1548980|destination-xsappname!b9","Authentication":"OAuth2ClientCredentials","clientSecret":"<redacted>","tokenServiceURL":"https://integration-test-destination-ds8oaxcf.authentication.eu12.hana.ondemand.com/oauth/token","ProxyType":"Internet","URL":"https://destination-configuration.cfapps.eu12.hana.ondemand.com","Name":"destination-resource-with-si"}},{"systemMetadata":{"creation_time":"1764571459794","spii_metadata":null,"encryption":"CMK_V2","etag":"f9f945e89325290815ca0c79b7ace1a01f104d7491fe7aefc09ab123daee03fd","userAgent":"COCKPIT","templateId":"SERVICE_INSTANCE","modification_time":"1764571459793"},"propert[...]
[...]
