---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 15947d35-9336-6b94-9321-4aa49383e35d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d727d43c-3424-45e4-5089-32198f899ce5
        status: 200 OK
        code: 200
        duration: 2.920553418s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5c44e698-45f4-42de-4cbf-eb0b3d3a7557
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369","default-jwt-key-9515ea752f"],"keys":{"default-jwt-key-9515ea752f":{"created":"Tue Jun 02 10:58:41 UTC 2026","lastModifiedAt":"Tue Jun 02 10:58:41 UTC 2026","nextRotationDate":null,"fipsCompliant":true},"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","lastModifiedAt":"Thu Dec 11 07:03:54 UTC 2025","nextRotationDate":null,"fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"b30613c1-0579-4039-a429-d9463114ccf7","appId":"full-access!a129991","credentialType":"binding-secret","bindingId":"with-secret-new"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"b30613c1-0579-4039-a429-d9463114ccf7","appId":"full-access!a129991","credentialType":"binding-secret","bindingId":"with-secret-new"}],"treatUsersWithSameEmailAsSameUser":false,"useIdpUserNameInTokens":false,"customEmailDomains":[],"rotateSigningKeyAutomatically":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 10c72d5b-abea-4626-51e5-3c4c8e20869e
        status: 200 OK
        code: 200
        duration: 410.076208ms
[...]
