---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0a4956e7-6762-ffb5-0620-2dd952a0787d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5eed6553-e212-4290-6917-01bad09c81a7
        status: 200 OK
        code: 200
        duration: 1.373947334s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 924852f2-f763-516d-8f8b-7ff0ab40ce00
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/environment-instance?list
        method: POST
      response:
        body: '{"environmentInstances":[{"id":"28EE0D05-966B-4218-8286-14D15B71B610","name":"integration-test-services-4ie3yr1a_integration-test-services-static","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"status\":\"ACTIVE\"}","labels":"{\"API Endpoint\":\"https://api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"terraform-integration-canary_integration-test-services-4ie3yr1a\",\"Org ID\":\"75ea0dc6-45ae-4cbf-a8b0-29e5a567989c\",\"Org Memory Limit\":\"204,800MB\"}","customLabels":{},"type":"Provision","status":"Processed","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","platformId":"75ea0dc6-45ae-4cbf-a8b0-29e5a567989c","createdDate":"Jan 10, 2025, 9:38:37 AM","modifiedDate":"Jan 10, 2025, 9:38:43 AM","state":"OK","stateMessage":"Environment instance created.","serviceName":"cloudfoundry","planName":"standard"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2f113986-3860-4483-7347-68815cb09ce3
        status: 200 OK
        code: 200
        duration: 826.073376ms
[...]
