---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 08c7c64f-4777-eb0a-9825-26ac9d8606f5
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7b8ca2f0-b8bd-4a41-6275-74053d0b9408
        status: 200 OK
        code: 200
        duration: 2.962426918s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 70ce9619-5fbf-6a55-26c9-da2d416c4e85
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?list
        method: POST
      response:
        body: '[{"name":"iasproviderdevblr.accounts400.ondemand.com (platform users)","originKey":"iasproviderdevblr-platform","originKeyCfuaa":"iasproviderdevblr-platform","typeOfTrust":"Platform","status":"active","description":"Identity Authentication tenant iasproviderdevblr.accounts400.ondemand.com used for platform users","identityProvider":"iasproviderdevblr.accounts400.ondemand.com","domain":"iasproviderdevblr.accounts400.ondemand.com","linkTextForUserLogon":"iasproviderdevblr-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"iasproviderdevblr","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"},{"name":"sap.default","originKey":"sap.default","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":null,"identityProvider":null,"domain":null,"linkTextForUserLogon":"Default Identity Provider","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false,"defaultIdp":true,"idpType":"SAP IAS"},{"name":"terraformint-platform","originKey":"terraformint-platform","originKeyCfuaa":null,"type[...]
[...]
