---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bb90139a-8491-3ce0-7d34-75a4d4ad2a55
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 363be6e0-8bb5-4009-5ae5-d1b25d1c6bba
        status: 200 OK
        code: 200
        duration: 2.588963458s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d8bf836a-2d29-0222-a12c-262c0466d387
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"03760ecf-9d89-4189-a92a-1c7efed09298","credential-type":"secret","clientid":"redacted","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"read-only!a129991","clientsecret":"redacted","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","url":"https://terraformintcanary.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"terraformintcanary","identityzoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","tenantid":"03760ecf-9d89-4189-a92a-1c7efed09298","name":"globalaccount-api-credential-read-only","zoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 15d80d08-ed44-44dd-4af7-5492f2608b18
        status: 200 OK
        code: 200
        duration: 483.15475ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 896a4449-4088-3add-dea7-c7522a3f4f29
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-read-only!a129991","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"globalaccount-api-credential-read-only","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0a6424c8-62ef-48bd-5e56-620c074fd3b7
        status: 200 OK
        code: 200
        duration: 340.074459ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2ff7baec-b355-5dda-39e8-a423da301996
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8ba92a4a-a694-4559-4b09-7dfbc606abe0
        status: 200 OK
        code: 200
        duration: 329.600792ms
