---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 94a2f939-0c0b-a421-1b1f-cc4bf75e9738
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 52d23c4a-5663-47be-4193-d20bb4cf8ea6
        status: 200 OK
        code: 200
        duration: 923.323125ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","skipAutoAssignPlans":"false","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 309bb550-0f65-0d03-5a13-463c7d5f5ec6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"dae0918f-73c3-4c41-9d8a-f10b6829b22f","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Mar 3, 2026, 2:17:18 PM","createdBy":"john.doe@int.test","modifiedDate":"Mar 3, 2026, 2:17:18 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test","jobId":"24061108"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c229c3ed-bd44-43c9-61c9-1fd0c39de474
        status: 200 OK
        code: 200
        duration: 407.214792ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"dae0918f-73c3-4c41-9d8a-f10b6829b22f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cbbf772b-35e1-60af-396b-09b619e71077
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"dae0918f-73c3-4c41-9d8a-f10b6829b22f","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","closestEntitlementManagedParentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Mar 3, 2026, 2:17:18 PM","createdBy":"john.doe@int.test","modifiedDate":"Mar 3, 2026, 2:17:19 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - fceb6bca-a53d-4e8e-579c-9973a02d3a3e
        status: 200 OK
        code: 200
        duration: 140.045583ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 063240b3-f655-ca76-8ea7-c1bb72dc8fc9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Feb 10, 2026, 4:55:39 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 18, 2024, [...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"false","globalAccount":"terraformintcanary","subaccount":"dae0918f-73c3-4c41-9d8a-f10b6829b22f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 24780328-5071-cf21-ecad-719b6982250b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"dae0918f-73c3-4c41-9d8a-f10b6829b22f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 35706416-7793-1891-1033-dbfa1d1f1e4d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount dae0918f-73c3-4c41-9d8a-f10b6829b22f not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 7056057f-73a9-4a38-68d0-9767718c07fd
        status: 200 OK
        code: 200
        duration: 130.262083ms
