---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a1c25f30-f783-0f37-5504-32098cd6e90e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0ff6b137-b6da-4854-7287-c75e50ee1aeb
        status: 200 OK
        code: 200
        duration: 3.238019918s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0fb4a365-e949-ca44-7b1e-aa360b1822ae
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROO[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"destinationConfiguration":"{\"Name\":\"res_ldap\",\"Type\":\"LDAP\",\"ldap.authentication\":\"BasicAuthentication\",\"ldap.description\":\"LDAP destination test\",\"ldap.password\":\"abc\",\"ldap.proxyType\":\"Internet\",\"ldap.url\":\"ldap://ldap.example.com:389\",\"ldap.user\":\"abc\"}","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e8b51f7-73fe-747b-3843-a8e5f90bd0d2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/connectivity/destination?create
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 2653f827-8ea9-4ea7-4dfb-b72891dc066e
        status: 200 OK
        code: 200
        duration: 517.446834ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"res_ldap","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d4770775-3ba9-254f-a972-105f3e621eea
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/connectivity/destination?get
        method: POST
      response:
        body: |-
            {
              "systemMetadata" : {
                "creation_time" : "1784114458762",
                "etag" : "c3251954b1d516c0c2215ac7bf84bea30707ce62e3854ec82b25468031a34d0f",
                "userAgent" : "COCKPIT",
                "modification_time" : "1784114458762"
              },
              "destinationConfiguration" : {
                "Name" : "res_ldap",
                "Type" : "LDAP",
                "ldap.authentication" : "BasicAuthentication",
                "ldap.description" : "LDAP destination test",
                "ldap.password" : "<redacted>",
                "ldap.proxyType" : "Internet",
                "ldap.url" : "ldap://ldap.example.com:389",
                "ldap.user" : "abc"
              },
              "propertiesMetadata" : [ ]
            }
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - fe5023b9-87a5-4733-70cd-71793a8ab4fa
        status: 200 OK
        code: 200
        duration: 360.050958ms
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"res_ldap","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6c936161-5590-226a-b800-6f712e34d7e2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/connectivity/destination?delete
        method: POST
      response:
        body: |-
            {
              "Count" : 1
            }
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6bfbd67f-5e51-4653-5b5d-9c7413eb1187
        status: 200 OK
        code: 200
        duration: 537.927208ms
