---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1b698515-a53e-7a07-baa8-a41b92d47120
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 58370c1b-95f2-4745-7fe0-1ac23563272d
        status: 200 OK
        code: 200
        duration: 2.794550375s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"createUserIfMissing":"true","globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6cb8c36c-96d5-47a7-b23f-3e72cc6ac953
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"2bba6cb1-53f9-4528-b319-0cf80eb90e7c","username":"redacted","email":"john.doe@test.com","created":"2023-08-01T07:33:49.621+00:00","modified":"2025-01-27T09:39:34.759+00:00","origin":"terraformint-platform","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":61,"active":true,"roleCollections":["Global Account Viewer","Global Account Administrator"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 53289fd6-c115-4d9c-42c1-c41d3623622e
        status: 200 OK
        code: 200
        duration: 354.240625ms
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7c11e4ea-c051-00ce-3973-f9c4082403ba
            X-Cpcli-Customidp:
                - identityProvider[...]
