---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 287ab0f7-cd29-37a2-ca0b-3747d3766241
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8a6beca0-7f8d-4bd9-5b40-023309c910b4
        status: 200 OK
        code: 200
        duration: 1.081728458s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","skipAutoAssignPlans":"false","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c3b543f5-be81-de67-d8a5-757f5843fff3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"cb40d992-8efb-4070-8ce1-d201d534ce32","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Mar 3, 2026, 2:22:48 PM","createdBy":"john.doe@int.test","modifiedDate":"Mar 3, 2026, 2:22:48 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test","jobId":"24061180"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d6644330-699f-481d-6cee-440603ab34b2
        status: 200 OK
        code: 200
        duration: 472.942167ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"cb40d992-8efb-4070-8ce1-d201d534ce32"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b49e98b2-a88f-f2cd-b28e-caa2b87b1360
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"cb40d992-8efb-4070-8ce1-d201d534ce32","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","closestEntitlementManagedParentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Mar 3, 2026, 2:22:48 PM","createdBy":"john.doe@int.test","modifiedDate":"Mar 3, 2026, 2:22:49 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 17556e0a-b0f7-4011-45bb-01e6d32d9c17
        status: 200 OK
        code: 200
        duration: 103.592334ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1471846f-5e9e-ad99-0475-57ca4ba28fc3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - 0203cbb2-6a13-4032-59d1-ac88bbd1aaac
        status: 504 Gateway Timeout
        code: 504
        duration: 20.048458302s
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"cb40d992-8efb-4070-8ce1-d201d534ce32","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a465a43-21e0-b3ae-7e21-fb01b4f75313
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?update
        method: POST
      response:
        body: '{"guid":"cb40d992-8efb-4070-8ce1-d201d534ce32","technicalName":"cb40d992-8efb-4070-8ce1-d201d534ce32","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","description":null,"state":"OK","stateMessage":"Subaccount created.","contentAutomationState":null,"contentAutomationStateDetails":null,"createdDate":1772547768649,"createdBy":"john.doe@int.test","modifiedDate":1772547833331,"contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - abe79c2f-a65e-4b4c-7dda-b341ae96f602
        status: 200 OK
        code: 200
        duration: 458.855791ms
[...]
    - id: 24
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ffee49e0-e6c4-966a-fdc5-e5b439e86c3d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Feb 10, 2026, 4:55:39 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 18, 2024, [...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"false","globalAccount":"terraformintcanary","subaccount":"cb40d992-8efb-4070-8ce1-d201d534ce32"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63a37e8a-d0a9-5e76-6143-833a63400239
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                [...]
[...]
    - id: 29
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"cb40d992-8efb-4070-8ce1-d201d534ce32"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fcffe474-3b5e-b61a-7d93-f5449c1d2a83
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount cb40d992-8efb-4070-8ce1-d201d534ce32 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - f0b74678-2797-4738-7d1f-413a21e86163
        status: 200 OK
        code: 200
        duration: 113.31575ms
