---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5c6174bd-9980-c4a0-84c3-9a6b01382269
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 91d3ebcf-118a-460b-47b0-760de4c8dcea
        status: 200 OK
        code: 200
        duration: 1.219867043s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"true","name":"my-dummy-broker-with-mtls-and-basic-auth","password":"admin","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 095ca13c-2688-5e02-a033-b7e8053d8920
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?register
        method: POST
      response:
        body: '{"id":"1503cea4-6dc7-4715-8a5e-fd50f7bad91a","ready":true,"last_operation":{"id":"88cf1f5c-bff1-4a77-a5a2-72936851dd5d","ready":true,"type":"create","state":"succeeded","resource_id":"1503cea4-6dc7-4715-8a5e-fd50f7bad91a","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"095ca13c-2688-5e02-a033-b7e8053d8920","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T11:28:28.581227Z","updated_at":"2026-07-20T11:28:34.132995Z"},"name":"my-dummy-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","created_at":"2026-07-20T11:28:28.581225Z","updated_at":"2026-07-20T11:28:29.518042553Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 32c83100-023a-44f0-7b3c-dc735ec85d0e
        status: 200 OK
        code: 200
        duration: 6.395368253s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"1503cea4-6dc7-4715-8a5e-fd50f7bad91a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 94ef6cd7-f8af-e875-8479-eff3a05e794f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"1503cea4-6dc7-4715-8a5e-fd50f7bad91a","mtls":"true","newName":"my-dummy-broker-with-mtls-and-basic-auth","password":"admin","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - adebb255-2036-6943-e859-13e6c8e39a20
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
     [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"1503cea4-6dc7-4715-8a5e-fd50f7bad91a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a9fdc2ff-d528-7dc0-eeb6-6f33d3a85bfe
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ad82711c-ab3d-4ce1-752f-70b8299de67f
        status: 200 OK
        code: 200
        duration: 4.940441377s
