---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c546155f-c0cb-50a4-2092-69c1f266b00b
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c72c4306-4268-4a49-434b-b849757bbe5e
        status: 200 OK
        code: 200
        duration: 1.268873584s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4e66529e-13ac-03af-e2e1-014f6a8fb08b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 10, 2025, 10:57:18 AM"},{"guid":"c78f8017-009c-40a6-ae7c-7178b4b9a424","technicalName":"c78f8017-009c-40a6-ae7c-7178b4b9a424","displayName":"test_sg","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-sg-ssalzt0w","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount moved.","createdDate":"Nov 21, 2024, 6:09:30 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 28, 2024, 9:27:36 AM"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a"[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"passive":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9ee5cf79-109c-3564-a440-c35aff4a0a40
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-trust?create
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 593aad10-f3ae-4316-46a4-7094497e9851
        status: 200 OK
        code: 200
        duration: 3.725316418s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"passive":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a33d29bf-8712-9933-4faf-c88883b37d0e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-trust?get
        method: POST
      response:
        body: '{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","baseURL":"cfapps.eu12.hana.ondemand.com","active":false,"expirationTimestamp":1827047889000,"Owner":{"SubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","InstanceId":null},"Name":"keypair","metadata":{"encryption":"CMK_V2"},"propertiesMetadata":[],"generatedOn":"2025-11-24T09:18:09.508560Z","PublicKeyBase64":"MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAwl6m8+7+OfUt25hhiMNYudD0pXGtidEdO3Z+NHxzRp8dc6Vvv/ZniRJtiI2Egd3G6vI80KTyannpXDgGr58Xr4swHiCF8WNbMDdEP3uPvIr5XBfpyTkC0ubd7V5dZocsqP4barFr3UfxkjHWpOmhgh8dulCPQD6geF8S2JTj7x2l1mretV3ZZxaLbVDdggKkUDJi+18am/6/N2Wpwk/11fRA1fpKvggO93aHUf2EYiLgDNPYgiE1KDiklvV6mqut6VPKJWUEWe70LuS2cAW3FRIQtzLGKR021gvawVoUa3WGdR6TBp8UPmj7C0JTOK3o5nmvRLtCLXV6eRIJ8Y9U8AH3HRZk8ghAinwJd56S8zAIShwVAqgKq9/ImesrkRjHkYSRW6YXGJYvdY+Z2OvdK+plwdICLzegA8llNSwPDUDcSEXDFmMOQbFzSF+2CZsqD8eWtaG4UBpKdMYCVKZSLE/LXLs0xfwYsFGxSK5gY/ORMIuP1dckWppYghoCTctwqBndc2mJXaIduhC9HHW3qbz5HVQ7+WcXqCogo8eljfBHkHnPb4mYN+pKKrSNcPZocS6bp66iEbuwTLXDzQbYYCtJWxHQLe+kSVFbjcNP+3Q8H9MGTuQ/XbOtJzkSHZ6/0TPMJSgp9EyUVNpYMpxGt4UBeUgxJuDT3qbTSFJIzPcCAwEAAQ==","x509PublicKeyBase64":"-----BEGIN CERTIFICATE-----\nMIIFiDCCA3CgAwIBAgIKaGcVFESR7HZ6aTANBgkqhkiG9w0BAQ0FADCBgjFLMEkG\nA1UEAwxCY2ZhcHBzLmV1MTIuaGFuYS5vbmRlbWFuZC5jb20vNTljZDQ1OGUtZTY2\nZS00YjYwLWI2ZDgtOGYyMTkzNzlmOWE1MQwwCgYDVQQKDANTQVAxJTAjBgNVBAsM\nHENQIERlc3RpbmF0aW9uIENvbmZpZ3VyYXRpb24wHhcNMjUxMTI0MDkxODA5WhcN\nMjcxMTI0MDkxODA5WjCBgjFLMEkGA1UEAwxCY2ZhcHBzLmV1MTIuaGFuYS5vbmRl\nbWFuZC5jb20vNTljZDQ1OGUtZTY2ZS00YjYwLWI2ZDgtOGYyMTkzNzlmOWE1MQww\nCgYDVQQKDANTQVAxJTAjBgNVBAsMHENQIERlc3RpbmF0aW9uIENvbmZpZ3VyYXRp\nb24wggIi[...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"passive":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3092adad-ef9f-168a-c4dd-6993a7b7f547
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-trust?delete
        method: POST
      response:
        body: |-
            {
              "Count" : 1
            }
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c526c096-12fb-495e-784f-646393268712
        status: 200 OK
        code: 200
        duration: 503.553501ms
