---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 26bf3618-29b4-bff3-6ede-2dc9c34624de
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 67b20aa5-8cd9-49a2-436c-ae38a82f1843
        status: 200 OK
        code: 200
        duration: 1.755427376s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"true","name":"my-dummy-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eb2f18ef-57cd-4463-0c8e-8368f4d703bc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?register
        method: POST
      response:
        body: '{"id":"2173d137-3c08-4098-a18a-0d0a4e56920f","ready":true,"last_operation":{"id":"c1a1ea21-12a9-4682-9cbd-acb973884d6d","ready":true,"type":"create","state":"succeeded","resource_id":"2173d137-3c08-4098-a18a-0d0a4e56920f","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"eb2f18ef-57cd-4463-0c8e-8368f4d703bc","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T11:27:29.927499Z","updated_at":"2026-07-20T11:27:35.392476Z"},"name":"my-dummy-broker-with-mtls-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","created_at":"2026-07-20T11:27:29.927497Z","updated_at":"2026-07-20T11:27:30.843022747Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 9d5f456d-cad0-4e5a-421c-3ce1ed0a04e2
        status: 200 OK
        code: 200
        duration: 6.181621628s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"2173d137-3c08-4098-a18a-0d0a4e56920f","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 17cf7d92-ee65-3404-fd66-cf66038b6fe2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"2173d137-3c08-4098-a18a-0d0a4e56920f","mtls":"true","newName":"my-dummy-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c279d3cf-3bcf-ba6c-3815-f93b23be6f1a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redac[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"2173d137-3c08-4098-a18a-0d0a4e56920f","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d1ae7214-e57d-f432-38d8-1cb829ed4c11
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e410e751-377d-4753-42e1-932ba283a9aa
        status: 200 OK
        code: 200
        duration: 5.013278585s
