---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b52871b0-5399-f7bc-ad6e-ac8ea30818e8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e35e4471-2c15-466e-5531-8813c959f43f
        status: 200 OK
        code: 200
        duration: 2.453849876s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9","withSubaccount":"badbcbf8-eca7-4472-9f66-cb9887ba7c3d"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 89cc1bd3-13b0-d0d6-683d-8a0cdbeacadc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/disaster-recovery/subaccount-pair?create
        method: POST
      response:
        body: '{"error_code":"INVALID_INPUT","error_message":"subaccount badbcbf8-eca7-4472-9f66-cb9887ba7c3d is already paired in subaccount pair f0f43ad4-4c3e-477a-a655-770d5cc38cad","request_id":"32210b01-b64c-4115-ae09-2a49eeca1e19"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 9623f66c-bd3d-45a7-7db5-37fc009458c3
        status: 200 OK
        code: 200
        duration: 324.620125ms
