---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 813e7ba4-f4bd-5b80-ff45-7ead8bbe4b99
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 523581dc-42aa-4a7c-7cbd-1b91dbd4d6f1
        status: 200 OK
        code: 200
        duration: 506.261375ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"btpterraform.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c8b23e5e-756f-ca16-4a1b-78279d97e1d1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"btpterraform-platform","iasTenantUrl":"https://btpterraform.accounts400.ondemand.com","iasAppId":"/Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","iasAdminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications//Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","originXsuaa":"btpterraform-platform","version":0,"iasWellKnownMetadata":null,"ipsIntegrationSetupStatus":null,"neoAuthnWithOidc":false,"domain":"btpterraform.accounts400.ondemand.com","name":null,"aliasZid":null,"iasTenantUrlWithoutProtocol":"btpterraform.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d6342379-fb29-4bf9-6250-f0e29aba4557
        status: 200 OK
        code: 200
        duration: 1.45864475s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b80c32af-7f22-8a90-c56f-4bf7620ea4ba
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?get
        method: POST
      response:
        body: '{"name":"btpterraform-platform","originKey":"btpterraform-platform","originKeyCfuaa":"btpterraform-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"btpterraform-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0af0ee90-f51e-45ab-7ac1-c1780a9abdee
        status: 200 OK
        code: 200
        duration: 129.917084ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ccc53e95-94ff-76af-9d61-4bf3c1e21798
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcan[...]
