---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fc5428a6-763c-1e55-c8a4-7abbc0ed29b0
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4f177b90-2794-4240-570a-8ebcfacdc8e8
        status: 200 OK
        code: 200
        duration: 1.664335918s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 53754405-a6e8-aa78-2550-f2c3c1b6ded2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Jul 15, 2026, 10:18:47 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2026, 10:18:47 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9b4e1d3c-f52a-4888-4ab5-2440b719aa4d
        status: 200 OK
        code: 200
        duration: 587.7005ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 439744d3-6908-6ff0-b730-e2c760c8c1b4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
[...]
[...]
    - id: 6
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a1b52a33-0efe-b4a5-8f6b-d3489135adb0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Jun 22, 2026, 10:36:27 AM","children":[{"guid":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Jul 15, 2026, 10:18:47 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2026, 10:18:47 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"},{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","ENTITLEMENTS","DEFAULT"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 18, 2024, [...]
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","displayName":"my-updated-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 30cb7408-e8a0-e59d-8031-a5bd6e3544f1
            X-Cpcli-Custo[...]
[...]
    - id: 24
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - af7008f1-394b-401b-2944-658e60ec2f4d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?delete
        method: POST
      response:
        body: '{"guid":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-updated-directory","description":"This is a updated directory","createdDate":"Jul 15, 2026, 10:18:47 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2026, 10:19:35 AM","entityState":"DELETING","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE","jobId":"29056911"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ffcacd95-b4ff-44ad-7ec7-09b21c83f051
        status: 200 OK
        code: 200
        duration: 319.892834ms
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e231814d-fdba-93a6-1d18-5c3df2549a41
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 6eb7bbd6-83a6-40a1-a887-9cad95e7c2d2 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 3e369642-142c-46dc-5327-0e5825a66905
        status: 200 OK
        code: 200
        duration: 330.82475ms
