---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d5e1b4d-033b-ec65-fa39-2ada329fdb98
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9e9235e9-993b-4522-56dc-032ccb64045c
        status: 200 OK
        code: 200
        duration: 3.191020418s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a3062407-cfb8-e50b-129c-5ed6c16345ea
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"03760ecf-9d89-4189-a92a-1c7efed09298","credential-type":"secret","clientid":"redacted","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"read-only!a129991","clientsecret":"redacted","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","url":"https://terraformintcanary.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"terraformintcanary","identityzoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","tenantid":"03760ecf-9d89-4189-a92a-1c7efed09298","name":"globalaccount-api-credential-read-only","zoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 679bddeb-3321-4347-57f9-bb9719e8b4bf
        status: 200 OK
        code: 200
        duration: 838.962001ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1afd8d22-1e05-04b0-f8ae-5bbe0cbb7943
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-read-only!a129991","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"globalaccount-api-credential-read-only","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 747c19c9-f1e8-4797-74c1-b4318b3a1365
        status: 200 OK
        code: 200
        duration: 415.039208ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 15fbe677-3508-0d65-5f0e-dad854a22bc2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a844911e-244f-4eda-407c-5ed126dfe6f2
        status: 200 OK
        code: 200
        duration: 405.420292ms
