---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 26babefb-7775-db13-ae8b-1ae243cb2594
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ac10ea4d-072a-4777-4dac-0160fcf6b301
        status: 200 OK
        code: 200
        duration: 1.261834209s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bbb94a8a-7b26-087c-3592-11cdc8d519e4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"c78f8017-009c-40a6-ae7c-7178b4b9a424","technicalName":"c78f8017-009c-40a6-ae7c-7178b4b9a424","displayName":"test_sg","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-sg-ssalzt0w","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount moved.","createdDate":"Nov 21, 2024, 6:09:30 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 28, 2024, 9:27:36 AM"},{"guid":"ffbf1ae9-d9a6-4c65-a2f1-4b39b8896ccc","technicalName":"ffbf1ae9-d9a6-4c65-a2f1-4b39b8896ccc","displayName":"test-cred","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-cred-8633u6tv","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Dec 2, 2025, 7:45:48 AM","created[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a6ea6ac9-9e3f-8cb1-ad73-e29685e25b5e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?list
        method: POST
      response:
        body: '[{"id":"df532d07-57a7-415e-a261-23a398ef068a","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-alertnotification-instance","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-07-07T11:52:51.049151Z","updated_at":"2023-07-07T11:52:51.588882Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"4fd7e5e1-3205-4ff7-a5ef-9ec01d9af62e","ready":true,"name":"tf-testacc-malwarescanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-malwarescanner","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe+1@int.test","updated_by":"john.doe+2@int.test","created_at":"2024-11-19T08:08:45.020632Z","updated_at":"2024-11-19T08:09:50.508238Z","labels":"org = testvalue; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"44c37801-d057-4393-9f2f-d4dfd3ad2780","ready":true,"name":"tf-test-malware-scanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-test-malware-scanner","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe+3@int.test","created_at":"2025-06-06T13:01:03.980483Z","updated_at":"2025-06-06T13:01:04.075572Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8394e67d-201d-4f7b-5677-e2faf2fc96cf
        status: 200 OK
        code: 200
        duration: 868.206584ms
[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"df532d07-57a7-415e-a261-23a398ef068a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f31c2466-e41c-bd38-4e5b-f0d2f7f00cec
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/binding?create
        method: POST
      response:
        body: '{"id":"840e8aeb-e96c-48b3-a204-08e2ecba5881","ready":true,"last_operation":{"id":"17890ca6-19c4-4302-b6c1-de63d897c07b","ready":true,"type":"create","state":"succeeded","resource_id":"840e8aeb-e96c-48b3-a204-08e2ecba5881","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"f31c2466-e41c-bd38-4e5b-f0d2f7f00cec","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-01-30T05:18:42.668143Z","updated_at":"2026-01-30T05:18:43.168173Z"},"name":"tfint-test-alert-sb","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-alertnotification-instance","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a"},"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","created_by":"john.doe@int.test","created_at":"2026-01-30T05:18:42.668109Z","updated_at":"2026-01-30T05:18:43.162941377Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 1fd1e6a5-618f-4b46-62d1-5b6ccc6d3ca6
        status: 200 OK
        code: 200
        duration: 1.219508459s
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"840e8aeb-e96c-48b3-a204-08e2ecba5881","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 87facc47-e963-df06-b68d-cee46cf3ecc8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3c77a7f8-055b-3c04-0b94-2f67d9584b94
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"6abfbbf5-3e21-48d9-93ee-4d3ab9ee9a4c","technicalName":"6abfbbf5-3e21-48d9-93ee-4d3ab9ee9a4c","displayName":"ias_import_test","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","p[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"840e8aeb-e96c-48b3-a204-08e2ecba5881","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 866bc652-2b1d-ab8b-66fa-d266d64336b9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/binding?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 457cf05d-b635-4f23-6678-714b50314832
        status: 200 OK
        code: 200
        duration: 858.415583ms
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"840e8aeb-e96c-48b3-a204-08e2ecba5881","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6b0a7e9-ff1b-3c78-15ab-cd6f376bb5d6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/binding?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_bindings"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 75342211-e7f4-4d81-759c-0e3266f58cef
        status: 200 OK
        code: 200
        duration: 459.371958ms
