---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e36a21ad-0b3a-6296-4208-a97504ab3edc
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0da50756-87d6-434e-69ec-9ee326f2307f
        status: 200 OK
        code: 200
        duration: 1.059614375s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d82e120-b3b8-5ebf-af44-0b3f9ac1ac7b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 10, 2025, 10:57:18 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Servi[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"accessTokenValidity":"3601","customEmailDomains":"[\"domain1.test\",\"domain2.test\"]","defaultIdp":"terraformint-platform","homeRedirect":"https://www.sap.com","iFrameDomain":"https://iframedomain.test","refreshTokenValidity":"3602","rotateSigningKeyAutomatically":"true","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","treatUsersWithSameEmailAsSameUser":"true","useIdpUserNameInTokens":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1a6bd1a0-c85f-394b-ef22-dcb498313cf1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/settings?update
        method: POST
      response:
        body: '{"iframeDomains":"https://iframedomain.test","tokenPolicySettings":{"accessTokenValidity":3601,"refreshTokenValidity":3602,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--1105547201","keyIds":["default-jwt-key--1105547201","default-jwt-key-029cf322d5"],"keys":{"default-jwt-key--1105547201":{"created":"Tue Nov 14 15:04:50 UTC 2023","lastModifiedAt":"Thu Dec 11 07:03:55 UTC 2025","nextRotationDate":"Tue Jun 02 11:08:28 UTC 2026","fipsCompliant":true},"default-jwt-key-029cf322d5":{"created":"Tue Jun 02 11:08:28 UTC 2026","lastModifiedAt":"Tue Jun 02 11:08:28 UTC 2026","nextRotationDate":"Mon Aug 31 11:08:28 UTC 2026","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-1741086741","keys":{"default-saml-key-1741086741":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{"homeRedirect":"https://www.sap.com"},"defaultIdp":"terraformint-platform","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","serviceInstanceId":"930dd55c-d3e5-40f6-b65b-266d2b05d622","appId":"full-access!a549338","credentialType":"binding-secret","bindingId":"test1"}],"treatUsersWithSameEmailAsSameUser":true,"useIdpUserNameInTokens":true,"customEmailDomains":["domain1.test","domain2.test"],"rotateSigningKeyAutomatically":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1f7e3cbd-a893-4e85-6a60-5768b020e66c
        status: 200 OK
        code: 200
        duration: 1.686924666s
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b54eebc0-875d-7558-dea9-13b5f3264696
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
           [...]
[...]
