---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 83a19349-fc68-c435-06eb-5396271a1811
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3388e1e6-2c0b-4e58-4b30-d01d68ee9c95
        status: 200 OK
        code: 200
        duration: 2.007166s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dfaaad60-47f5-e36a-2fdf-af415c48c760
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"b8b66419-797f-441b-8ae9-07570a902421","technicalName":"b8b66419-797f-441b-8ae9-07570a902421","displayName":"beta-test-account","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"beta-test-account-ep1sauhx","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"b8b66419-797f-441b-8ae9-07570a902421","key":"redacted","value":"true"}],"labels":{"beta-test":["true"]},"createdDate":"May 28, 2026, 8:24:11 AM","createdBy":"john.doe+1@int.test","modifiedDate":"May 28, 2026, 8:24:50 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","technicalName":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","displayName":"integration-test-ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-ias-408hsvn1","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test bundled applications on the SAP Cloud Identity Services Provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Feb 27, 2026, 8:47:42 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Feb 27, 2026, 8:48:09 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"247420c3-99c8-4e8c-9790-bea9c4f1cff6","technicalName":"247420c3-99c8-4e8c-9790-bea9c4f1cff6","displayName":"integration-test-pending-deletion","globalAccountGUID":"03760ecf[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"free","offeringName":"credstore","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4d2a7986-a291-ef75-65b7-b58b2fad3f38
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/plan?get
        method: POST
      response:
        body: '{"id":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","ready":true,"name":"free","description":"Credential Store service free","catalog_id":"securestore-free-plan","catalog_name":"free","free":true,"metadata":{"bullets":["10 credentials","0.1 MB total size","3 API calls per second","3 service bindings","1 proxy service instances"]},"service_offering_id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","created_at":"2021-06-23T19:57:57.077654Z","updated_at":"2025-12-16T11:19:57.52132Z","labels":"commercial_name = free"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 70f3fa85-02b6-43bd-66cc-80753e12fd3f
        status: 200 OK
        code: 200
        duration: 749.035208ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tf-test-credstore","plan":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 23f0cfc3-84bf-9de6-52f1-66b6c09f69ed
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?create
        method: POST
      response:
        body: '{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","ready":true,"last_operation":{"id":"acb9126a-68e8-49c3-9bd4-0924e00c4bf3","ready":true,"type":"create","state":"succeeded","resource_id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"23f0cfc3-84bf-9de6-52f1-66b6c09f69ed","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T09:24:51.042739Z","updated_at":"2026-07-20T09:24:51.396573Z"},"name":"tf-test-credstore","service_plan_id":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-test-credstore","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe@int.test","created_at":"2026-07-20T09:24:51.042703Z","updated_at":"2026-07-20T09:24:51.386045375Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 05c8537b-78ab-4f8e-6da7-5d53e16f8dd1
        status: 200 OK
        code: 200
        duration: 999.985959ms
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fb69543e-6cab-f286-0ab4-e2a7c82af422
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: htt[...]
    - id: 6
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d1e524f7-8e2c-b180-5608-c8f605620741
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?get
        method: POST
      response:
        body: '{"access_policy":{"creds_api":"public","encryption_api":"public","kms_api":null,"token_api":"public"},"authentication":{"credentials-validity":60,"type":"mtls"},"data-recovery":{"undelete":"enabled"},"encryption":{"key":{"size":3072},"payload":"enabled"},"primaryServiceInstanceId":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 914b62f0-aa8c-4b30-7390-5f61dbe27079
        status: 200 OK
        code: 200
        duration: 596.805458ms
[...]
    - id: 21
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"standard","offeringName":"credstore","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dc35c942-1619-0593-bab1-9a8ba7b9724c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/plan?get
        method: POST
      response:
        body: '{"id":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","ready":true,"name":"standard","description":"Credential Store service standard","catalog_id":"securestore-standard-plan","catalog_name":"standard","free":false,"metadata":{"costs":[{"amount":{"eur":0.5},"unit":"1 credential"}],"bullets":["100 000 credentials","100 MB total size","25 API calls per second","100 service bindings","10 proxy service instances"]},"service_offering_id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","created_at":"2020-12-13T11:15:35.017481Z","updated_at":"2025-12-16T11:19:57.660101Z","labels":"commercial_name = standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9f76acbc-cb8b-4d13-40bd-45320a075654
        status: 200 OK
        code: 200
        duration: 701.974667ms
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","newName":"tf-test-credstore","plan":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 794e8d54-9738-d9ce-56f7-8135c84503aa
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?update
        method: POST
      response:
        body: '{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","command":"btp get services/instance 0b5f5332-ffda-4cc6-8135-5e9dce348e1f --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Vcap-Request-Id:
                - 60fa94f1-8d08-48af-6bf3-8a504ffc0500
        status: 200 OK
        code: 200
        duration: 517.361584ms
[...]
    - id: 38
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fe7e6724-87dc-a240-f8c1-7fc7dcdd695e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b7778433-3f72-4282-52f7-e5b0fbe6d6a2
        status: 200 OK
        code: 200
        duration: 828.806376ms
    - id: 39
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"0b5f5332-ffda-4cc6-8135-5e9dce348e1f","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c024fb4d-ddce-377a-e9a9-b41778bc44c7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 29ff5d5e-2f59-43ea-782d-b2e3c41251e9
        status: 200 OK
        code: 200
        duration: 503.335417ms
