---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ab48151a-d68d-5ef7-948c-ca8a19a67b02
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c0a88d43-29e2-4369-65a8-0f2e9bc89a0a
        status: 200 OK
        code: 200
        duration: 1.754511875s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"cert":"-----BEGIN CERTIFICATE-----\nMIIFazCCA1OgAwIBAgIUOYCo4GLDaOj9NPGZ51hw6s6FU8AwDQYJKoZIhvcNAQEL\nBQAwXjELMAkGA1UEBhMCREUxEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAoM\nBFRlc3QxDTALBgNVBAsMBFRlc3QxHDAaBgkqhkiG9w0BCQEWDXRlc3RAdGVzdC5j\nb20wHhcNMjUxMjA5MTA1NTQxWhcNMjYxMjA5MTA1NTQxWjBeMQswCQYDVQQGEwJE\nRTETMBEGA1UECAwKU29tZS1TdGF0ZTENMAsGA1UECgwEVGVzdDENMAsGA1UECwwE\nVGVzdDEcMBoGCSqGSIb3DQEJARYNdGVzdEB0ZXN0LmNvbTCCAiIwDQYJKoZIhvcN\nAQEBBQADggIPADCCAgoCggIBAKc7zXzLAgNlWDGm4lAw757WiGgdOAObkWZaYU25\n/TXXIGnb[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"e758ddde-0475-4654-87d8-e2061202538f","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f3beda42-b8de-7cf4-5bd7-ff2a604ba635
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?get
        method: POST
      response:
        body: '{"id":"e758ddde-0475-4654-87d8-e2061202538f","ready":true,"last_operation":{"id":"243d3151-7b08-4074-a5af-4b79520bbd8d","ready":true,"type":"create","state":"succeeded","resource_id":"e758ddde-0475-4654-87d8-e2061202538f","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"48a67b40-f327-32e2-1f7e-f68f26a1422e","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-02-13T11:14:53.630591Z","updated_at":"2026-02-13T11:14:58.554973Z"},"name":"my-dummy-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-13T11:14:53.630588Z","updated_at":"2026-02-13T11:14:54.122536Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 66b7cb04-2fcc-4d9f-4de4-029c725eed5b
        status: 200 OK
        code: 200
        duration: 647.428667ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"e758ddde-0475-4654-87d8-e2061202538f","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5cc72317-b08c-256e-8e1a-638156114f25
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f537ace0-f98c-425f-558b-ce7c594e723a
        status: 200 OK
        code: 200
        duration: 4.780634044s
