---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fea7352a-2e4a-2a59-8e9e-484bc0171d9a
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9dc83cb5-1880-4d8f-7e98-9e40f52225bb
        status: 200 OK
        code: 200
        duration: 2.731704793s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"configurationInfo":"{\"access_key_id\":\"AWSACCESSKEY\",\"secret_access_key\":\"AWSSECRETKEY\",\"vpc_id\":\"vpc-test\",\"region\":\"eu-central-1\"}","description":"My description","displayName":"My AWS Resource Provider","globalAccount":"terraformintcanary","provider":"AWS","technicalName":"my_aws_resource_provider"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 994ac380-e587-52fc-cfee-12ea7a4d2f7d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/resource-provider?create
        method: POST
      response:
        body: '{"technicalName":"my_aws_resource_provider","displayName":"My AWS Resource Provider","description":"My description","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS","additionalInfo":{"access_key_id":"AWSACCESSKEY","secret_access_key":"AWSSECRETKEY","vpc_id":"vpc-test","region":"eu-central-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 14f21481-e91b-4c78-5f76-a0c3dd45a7c9
        status: 200 OK
        code: 200
        duration: 417.279501ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","provider":"AWS","technicalName":"my_aws_resource_provider"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2b1b4669-5f5e-48b2-5ce7-bf746c03b5f6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/resource-provider?get
        method: POST
      response:
        body: '{"technicalName":"my_aws_resource_provider","displayName":"My AWS Resource Provider","description":"My description","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS","additionalInfo":{"access_key_id":"AWSACCESSKEY","secret_access_key":"AWSSECRETKEY","vpc_id":"vpc-test","region":"eu-central-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - fd4db0d6-885b-41c9-4759-d3b02ea70ca2
        status: 200 OK
        code: 200
        duration: 483.897667ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"configurationInfo":"{\"access_key_id\":\"AWSACCESSKEY\",\"secret_access_key\":\"AWSSECRETKEY\",\"vpc_id\":\"vpc-test\",\"region\":\"us-east-1\"}","description":"My description","displayName":"My New Display Name","globalAccount":"terraformintcanary","provider":"AWS","technicalName":"my_aws_resource_provider"}}
        form: {}
        headers:
            Content-Type:
                - a[...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","provider":"AWS","technicalName":"my_aws_resource_provider"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2de8c25a-7f66-4631-17f7-7d9caa29f2a4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/resource-provider?delete
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0bb2ee82-09d2-4184-7d35-4dcb739c8f2f
        status: 200 OK
        code: 200
        duration: 541.964667ms
