---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 87191191-e4df-0d66-a0ad-aa3b6a341789
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9ad46efe-9f3a-4fea-6d86-97f611a4c6c3
        status: 200 OK
        code: 200
        duration: 4.220479669s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"false","name":"my-dummy-broker","password":"admin","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d0fc93c6-7886-a686-5ee4-a1e405742530
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?register
        method: POST
      response:
        body: '{"id":"c4032483-18cf-4f8f-9247-f07e9c1a3544","ready":true,"last_operation":{"id":"0cedce14-f9b0-4b6c-84ae-5a1e16d22afb","ready":true,"type":"create","state":"succeeded","resource_id":"c4032483-18cf-4f8f-9247-f07e9c1a3544","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"d0fc93c6-7886-a686-5ee4-a1e405742530","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T11:24:06.387076Z","updated_at":"2026-07-20T11:24:11.608964Z"},"name":"my-dummy-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","created_at":"2026-07-20T11:24:06.387074Z","updated_at":"2026-07-20T11:24:07.148835513Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 7c684c2e-ca30-4901-50cf-28ab139116f9
        status: 200 OK
        code: 200
        duration: 6.170452586s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"c4032483-18cf-4f8f-9247-f07e9c1a3544","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 921b76df-06a3-7212-1373-7f9ecb2e0400
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"c4032483-18cf-4f8f-9247-f07e9c1a3544","mtls":"false","newName":"my-dummy-broker-new-name","password":"admin","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 65fce70b-4f29-616d-4e83-4c9a51a1e523
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-S[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"c4032483-18cf-4f8f-9247-f07e9c1a3544","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5bfc7067-e925-d591-cc1f-013787e8c674
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e89b9fcf-b42c-4f49-720b-df70e8de817b
        status: 200 OK
        code: 200
        duration: 5.269604002s
