---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b11f7caf-f7d9-ce96-d734-8e99607776b3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 17571800-4711-4cd4-54de-0a03c2b8c4f6
        status: 200 OK
        code: 200
        duration: 952.470572ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 38630fee-6def-d010-9038-435c4c258c1b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 38d4ef5e-216c-40e3-49be-464d6e48d639
        status: 200 OK
        code: 200
        duration: 811.630426ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"file":"{\"filename\":\"cert.p12\",\"value\":\"redacted\"}","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f2cf7daf-161b-1593-da06-7f3050b21738
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-certificate?create
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 0bd38f52-a4fe-420b-51f6-29b35791cf17
        status: 200 OK
        code: 200
        duration: 613.256718ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"certName":"cert.p12","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 76b8d1f6-9a66-79b3-b5f0-64e8923bd436
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-certificate?get
        method: POST
      response:
        body: '{"name":"cert.p12","nodes":[{"type":"private_key","format":"PKCS#8","algorithm":"RSA","alias":"1"},{"type":"x509_certificate","subject":"O=My Company","issuer":"O=My Company","common_name":null,"not_before":"2025-12-02T10:29:46Z","not_after":"2035-12-02T10:29:46Z","certificate":"redacted"}],"creation":{"generation_method":"import"}}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6ea67a92-83cc-4d99-55a7-b8e3cf51cc57
        status: 200 OK
        code: 200
        duration: 440.118343ms
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"certName":"cert.p12","subaccount":"ba268910-81e6-4ac1-9016-cae7ed196889"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b3fbbf9e-378e-b95c-a9da-ee0c269b5402
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/connectivity/destination-certificate?delete
        method: POST
      response:
        body: |-
            {
              "Count" : 1
            }
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 310fbc6d-9e7b-4a7b-4e85-4ec2cd18d398
        status: 200 OK
        code: 200
        duration: 626.344491ms
