---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c12bad67-20ce-d07b-27aa-b8f504018c41
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 03beda00-277c-48d1-7d99-bbf6fb06d522
        status: 200 OK
        code: 200
        duration: 3.469498877s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"cert":"-----BEGIN CERTIFICATE-----\nMIIFazCCA1OgAwIBAgIUOYCo4GLDaOj9NPGZ51hw6s6FU8AwDQYJKoZIhvcNAQEL\nBQAwXjELMAkGA1UEBhMCREUxEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAoM\nBFRlc3QxDTALBgNVBAsMBFRlc3QxHDAaBgkqhkiG9w0BCQEWDXRlc3RAdGVzdC5j\nb20wHhcNMjUxMjA5MTA1NTQxWhcNMjYxMjA5MTA1NTQxWjBeMQswCQYDVQQGEwJE\nRTETMBEGA1UECAwKU29tZS1TdGF0ZTENMAsGA1UECgwEVGVzdDENMAsGA1UECwwE\nVGVzdDEcMBoGCSqGSIb3DQEJARYNdGVzdEB0ZXN0LmNvbTCCAiIwDQYJKoZIhvcN\nAQEBBQADggIPADCCAgoCggIBAKc7zXzLAgNlWDGm4lAw757WiGgdOAObkWZaYU25\n/TXXIGnb[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"8188c67d-8036-4087-bfb5-e940aa9a699a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 35528304-8590-978f-0f18-428d68b45899
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?get
        method: POST
      response:
        body: '{"id":"8188c67d-8036-4087-bfb5-e940aa9a699a","ready":true,"last_operation":{"id":"3b418c49-3014-4d90-84f5-f17969109074","ready":true,"type":"create","state":"succeeded","resource_id":"8188c67d-8036-4087-bfb5-e940aa9a699a","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"e9edbf1f-843f-7714-36c5-1f71de5e3785","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T11:29:31.75774Z","updated_at":"2026-07-20T11:29:37.230442Z"},"name":"my-dummy-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","created_at":"2026-07-20T11:29:31.757738Z","updated_at":"2026-07-20T11:29:32.674968Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 11a4058b-7749-49db-67df-dc08d5783bd3
        status: 200 OK
        code: 200
        duration: 510.907125ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"8188c67d-8036-4087-bfb5-e940aa9a699a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 29ad67e1-6c6d-fb9f-f163-f8f6b121ce23
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bbf38a67-5d17-4345-683f-a8db06d0a77a
        status: 200 OK
        code: 200
        duration: 7.468133087s
