---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5e76cc35-1b8e-0eaa-5940-31daa96fa4c9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 34e4e7de-977d-4fba-4932-67f5422091dc
        status: 200 OK
        code: 200
        duration: 1.256896917s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"createUserIfMissing":"true","globalAccount":"terraformintcanary","origin":"ldap","roleCollectionName":"Global Account Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e4424e20-f866-f31e-b9bb-cf464f9c9b20
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"86535387-54aa-4282-af13-67dd50cdd13c","username":"redacted","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","created":"2023-05-26T12:58:05.576+00:00","modified":"2026-09-30T05:50:13.271+00:00","origin":"sap.default","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":1044,"active":true,"roleCollections":["Global Account Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8e713f33-0732-4e70-7227-58fc13b90e00
        status: 200 OK
        code: 200
        duration: 474.403542ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","page":"1","roleCollectionName":"Global Account Viewer","showUserAssignments":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bb79d7d5-9cc6-b04e-7fae-f676cc8841cd
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"count":1,"totalPages":1,"items":[{"id":"86535387-54aa-4282-af13-67dd50cdd13c","username":"redacted","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","origin":"sap.default"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3a0d106a-a133-4108-56fc-fa43e2bfbb12
        status: 200 OK
        code: 200
        duration: 455.495167ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap","roleCollectionName":"Global Account Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1272b3a-188a-c945-b668-f495329ac276
            X-Cpcli-Customidp:
                - identityProvider
            X-[...]
