---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0df0ed7c-1b0c-cc1e-9b27-0f0c9ef7467a
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 51b43f17-127f-46d0-6652-5f4a258f4c68
        status: 200 OK
        code: 200
        duration: 1.760121418s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","skipAutoAssignPlans":"false","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1beef03-716b-ac10-bc3a-1d441acf7fa5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"965353b1-1892-4502-bd00-55c0b88e5332","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Nov 10, 2025, 6:03:52 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 10, 2025, 6:03:52 AM","jobId":"22409595"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d407e279-a1b8-40d0-6940-a13828c14d92
        status: 200 OK
        code: 200
        duration: 768.443417ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"965353b1-1892-4502-bd00-55c0b88e5332"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2d799f4c-9f17-66c3-cb67-6d60ff29f1bf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"965353b1-1892-4502-bd00-55c0b88e5332","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","closestEntitlementManagedParentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Nov 10, 2025, 6:03:52 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 10, 2025, 6:03:53 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9ccd2061-fe3a-475f-5ed3-ae75edf97672
        status: 200 OK
        code: 200
        duration: 570.914083ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"965353b1-1892-4502-bd00-55c0b88e5332"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 572a52ef-3e5b-75e5-6a0c-61f58dc16865
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?update
        method: POST
      response:
        body: '{"guid":"965353b1-1892-4502-bd00-55c0b88e5332","technicalName":"965353b1-1892-4502-bd00-55c0b88e5332","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","description":null,"state":"OK","stateMessage":"Subaccount created.","contentAutomationState":null,"contentAutomationStateDetails":null,"createdDate":1762754632433,"createdBy":"john.doe@int.test","modifiedDate":1762754670203}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9b920dda-4521-49cf-7b48-8467fd840696
        status: 200 OK
        code: 200
        duration: 717.103209ms
[...]
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9b309887-02bd-6df7-700e-ae0b5c2d3370
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101006540","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Sep 29, 2025, 8:41:51 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","DEFAULT","ENTITLEMENTS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 18, 2024, 7:49:40 AM","entityState":"OK","sta[...]
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"965353b1-1892-4502-bd00-55c0b88e5332"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f2fec10f-b4ed-479f-707e-0d23f3cdb656
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                -[...]
[...]
    - id: 29
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"965353b1-1892-4502-bd00-55c0b88e5332"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6e484c5f-3620-5c87-9ed4-c4eccfcfebb1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount 965353b1-1892-4502-bd00-55c0b88e5332 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 78836faa-d5dc-4c83-66f3-0df62fa6f407
        status: 200 OK
        code: 200
        duration: 481.278542ms
