---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aa147b88-4615-2422-6a03-8c75faa80112
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d16674e3-03c4-4541-7c15-3cb16b2bbb1c
        status: 200 OK
        code: 200
        duration: 316.719ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"true","name":"my-dummy-test-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f8de8cf-ef81-b173-ea36-323311b2c979
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?register
        method: POST
      response:
        body: '{"id":"f5360e0e-9d63-47a6-bb24-cc7083759583","ready":true,"last_operation":{"id":"17144f79-e5d5-49fb-9389-f51865ddac3c","ready":true,"type":"create","state":"succeeded","resource_id":"f5360e0e-9d63-47a6-bb24-cc7083759583","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"8f8de8cf-ef81-b173-ea36-323311b2c979","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-12-09T11:41:13.09362Z","updated_at":"2025-12-09T11:41:17.932239Z"},"name":"my-dummy-test-broker-with-mtls-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2025-12-09T11:41:13.093617Z","updated_at":"2025-12-09T11:41:13.545708519Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 240cfbc5-17da-4994-45ea-73120a5ea097
        status: 200 OK
        code: 200
        duration: 5.319176128s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"f5360e0e-9d63-47a6-bb24-cc7083759583","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 12b826e0-59df-cd53-1caf-4fb84f7e5d8b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"f5360e0e-9d63-47a6-bb24-cc7083759583","mtls":"true","newName":"my-dummy-test-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f2389bf1-89e1-3921-df22-5f62fb9d22b0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redact[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"f5360e0e-9d63-47a6-bb24-cc7083759583","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8d041257-a565-bc18-e1ce-3cf068902174
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 07241e5e-2547-48c5-40b5-90fd4587bdba
        status: 200 OK
        code: 200
        duration: 4.554098835s
