---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2e171910-46b2-0dea-3cd7-6c9934118fd8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - bc9fbe18-d64b-49ec-552c-fffb45a616a4
        status: 200 OK
        code: 200
        duration: 426.843667ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory with features","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory-feat","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9565ea3f-d8eb-21c0-fdc5-169943c8e1b2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"15922cb4-85b2-4e41-a887-1970b7c5416d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 7, 2026, 3:06:48 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 7, 2026, 3:06:48 PM","entityState":"STARTED","subdomain":"15922cb4-85b2-4e41-a887-1970b7c5416d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"contractStatus":"ACTIVE","jobId":"33694296"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a0c75488-e4a8-4195-697e-2e69438de5ab
        status: 200 OK
        code: 200
        duration: 400.009083ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"15922cb4-85b2-4e41-a887-1970b7c5416d","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ac7c3e4d-4ef8-6a85-efe7-b3fca6ed2a97
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"15922cb4-85b2-4e41-a887-1970b7c5416d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 7, 2026, 3:06:48 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 7, 2026, 3:06:49 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"15922cb4-85b2-4e41-a887-1970b7c5416d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 59e6c332-e8b7-4cac-74a6-cc7b1a393a71
        status: 200 OK
        code: 200
        duration: 100.608083ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 369bd4af-9317-e645-1c6c-a7542a94096c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":true,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","costObjectType":"COST_CENTER","costObjectId":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for running tests of Terraform Provider for SAP BTP","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Sep 22, 2026, 10:56:00 AM","entityState":"OK","stateMessage":"Global account updated.","subdomain":"terraformintcanary","contractStatus":"ACTIVE","enableSubaccountForceDeletion":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 809d368c-98ed-4e3d-4330-ac2293e6e8ed
        status: 200 OK
        code: 200
        duration: 252.999084ms
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory with features","directoryID":"15922cb4-85b2-4e41-a887-1970b7c5416d","displayName":"my-updated-directory-feat","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 85e1e789-519f-0d86-1d8c-6f0ac8010949
      [...]
[...]
    - id: 26
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"15922cb4-85b2-4e41-a887-1970b7c5416d","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 68ee31f3-2895-0563-3e3d-4382805fe0fc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 29
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"15922cb4-85b2-4e41-a887-1970b7c5416d","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a63bec5f-f412-a73a-aafc-198832b0ff9d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 15922cb4-85b2-4e41-a887-1970b7c5416d [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 529db479-bf34-4091-743a-05bcbd8d3501
        status: 200 OK
        code: 200
        duration: 142.85075ms
