---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 989cdba7-7333-afc6-0836-749f1a54b5e3
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7c1d81e4-6917-4cc0-7ce1-717ffc6cc8e8
        status: 200 OK
        code: 200
        duration: 598.764209ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5b8ef026-31fa-d3bc-9c0e-936b549c8a12
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ffbf1ae9-d9a6-4c65-a2f1-4b39b8896ccc","technicalName":"ffbf1ae9-d9a6-4c65-a2f1-4b39b8896ccc","displayName":"test-cred","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-cred-8633u6tv","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"test for cloud foundry","state":"OK","stateMessage":"Subaccount created.","createdDate":"Dec 2, 2025, 7:45:48 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2026, 6:19:47 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"b3f80de4-d72f-419a-9473-e841019391b0","technicalName":"b3f80de4-d72f-419a-9473-e841019391b0","displayName":"test-code-snippets","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu1[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"credstore","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7bf6061e-033a-78ab-54b2-aa8a8cbd957b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/offering?get
        method: POST
      response:
        body: '{"id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","ready":true,"name":"credstore","description":"Secure repository for credentials, cryptographic keys and certificates.","bindable":true,"instances_retrievable":true,"bindings_retrievable":false,"plan_updateable":true,"allow_context_updates":false,"tags":["credstore","securestore","keystore","credentials"],"metadata":{"longDescription":"Provides a secure repository for passwords and keys to the applications running on the SAP Cloud Platform, enabling the applications to retrieve them easily and use them for authentication to external services or for performing various cryptographic operations such as signing and verifying of digital signatures, encrypting of and decrypting of messages, and for performing TLS communication. The Credential Store service is exposed to applications via a RESTful API.","documentationUrl":"https://help.sap.com/viewer/601525c6e5604e4192451d5e7328fa3c/Cloud/en-US/ad63368e8e6f44a1b3ac336e8d1c32b8.html","providerDisplayName":"SAP SE","serviceInventoryId":"SERVICE-302","displayName":"Credential Store","imageUrl":"data:image/svg+xml;base64,PHN2ZyBpZD0iY3JlZGVudGlhbC1zdG9yZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTYgNTYiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDA5MmQxO30uY2xzLTJ7ZmlsbDojNWE3YTk0O308L3N0eWxlPjwvZGVmcz48dGl0bGU+Y3JlZGVudGlhbC1zdG9yZTwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDkuMDA4LDM0SDE4Ljk5MkEyLjk5MywyLjk5MywwLDAsMCwxNiwzNi45OTJWNDkuMDA4QTIuOTkzLDIuOTkzLDAsMCwwLDE4Ljk5Miw1Mkg0OS4wMDhBMi45OTMsMi45OTMsMCwwLDAsNTIsNDkuMDA4VjM2Ljk5MkEyLjk5MywyLjk5MywwLDAsMCw0OS4wMDgsM[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 681bbcbf-812d-881c-96bd-1e429066da6a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2026-07-16T12:25:47.07768Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2026-07-16T12:25:47.090875Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","plan_updateable":true,"ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2026-07-16T12:25:47.11176Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2026-07-16T12:01:34.833744Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31[...]
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aa6397cf-f108-47f7-d001-eb2ffd537a8f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/plan?get
        method: POST
      response:
        body: '{"id":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","ready":true,"name":"free","description":"Credential Store service free","catalog_id":"securestore-free-plan","catalog_name":"free","free":true,"metadata":{"bullets":["10 credentials","0.1 MB total size","3 API calls per second","3 service bindings","1 proxy service instances"]},"service_offering_id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","created_at":"2021-06-23T19:57:57.077654Z","updated_at":"2025-12-16T11:19:57.52132Z","labels":"commercial_name = free"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e270bc48-9884-4060-4417-ae840e68439c
        status: 200 OK
        code: 200
        duration: 541.864833ms
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tf-test-credstore","plan":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6df228dc-f12f-09fa-f8df-2a6e3cb8a9b2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?create
        method: POST
      response:
        body: '{"id":"6480fe73-f623-406e-833e-0765a32caa03","ready":true,"last_operation":{"id":"a4a48238-3749-46f1-8985-d806da392d74","ready":true,"type":"create","state":"succeeded","resource_id":"6480fe73-f623-406e-833e-0765a32caa03","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"6df228dc-f12f-09fa-f8df-2a6e3cb8a9b2","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-16T12:40:44.927377Z","updated_at":"2026-07-16T12:40:45.270262Z"},"name":"tf-test-credstore","service_plan_id":"2f9bd23c-7af4-4153-8b17-c85fbb8524e1","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-test-credstore","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe@int.test","created_at":"2026-07-16T12:40:44.927321Z","updated_at":"2026-07-16T12:40:45.260405934Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - d6ebd2d0-b631-4a60-61cb-2bf263e90239
        status: 200 OK
        code: 200
        duration: 954.905792ms
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"6480fe73-f623-406e-833e-0765a32caa03","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - be4d33f9-e722-252c-859d-043e3d4f6d34
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: htt[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"6480fe73-f623-406e-833e-0765a32caa03","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 332a541a-563d-8d46-1476-6974ef6c0c6c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?get
        method: POST
      response:
        body: '{"access_policy":{"creds_api":"public","encryption_api":"public","kms_api":null,"token_api":"public"},"authentication":{"credentials-validity":60,"type":"mtls"},"data-recovery":{"undelete":"enabled"},"encryption":{"key":{"size":3072},"payload":"enabled"},"primaryServiceInstanceId":"6480fe73-f623-406e-833e-0765a32caa03"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 432240f6-5aca-4375-7ac9-480b5a68e250
        status: 200 OK
        code: 200
        duration: 389.359626ms
[...]
    - id: 30
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b19ff38d-1a9c-158d-9d84-8e646e464b9b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/plan?get
        method: POST
      response:
        body: '{"id":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","ready":true,"name":"standard","description":"Credential Store service standard","catalog_id":"securestore-standard-plan","catalog_name":"standard","free":false,"metadata":{"costs":[{"amount":{"eur":0.5},"unit":"1 credential"}],"bullets":["100 000 credentials","100 MB total size","25 API calls per second","100 service bindings","10 proxy service instances"]},"service_offering_id":"b2fa7e75-1a3b-414c-9062-363f0ba0f1cd","created_at":"2020-12-13T11:15:35.017481Z","updated_at":"2025-12-16T11:19:57.660101Z","labels":"commercial_name = standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e11a1457-cf3f-4f57-7c72-f60583b0fb69
        status: 200 OK
        code: 200
        duration: 336.802625ms
[...]
    - id: 32
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"6480fe73-f623-406e-833e-0765a32caa03","newName":"tf-test-credstore","plan":"7a1f6c77-9e18-4d1e-b292-06cc77c62633","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9d9d885e-e9ad-dd34-8397-4418aac57c93
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?update
        method: POST
      response:
        body: '{"id":"6480fe73-f623-406e-833e-0765a32caa03","command":"btp get services/instance 6480fe73-f623-406e-833e-0765a32caa03 --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Vcap-Request-Id:
                - 48ab00fa-f5b1-4f04-5c86-8cc99c7cb5c2
        status: 200 OK
        code: 200
        duration: 946.343375ms
[...]
    - id: 52
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"6480fe73-f623-406e-833e-0765a32caa03","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 69e73e96-b3f3-467f-6c33-9918a5905eb1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 43214f06-8704-49f3-67d3-7fc608396739
        status: 200 OK
        code: 200
        duration: 576.292208ms
    - id: 53
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"6480fe73-f623-406e-833e-0765a32caa03","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0482bda9-c907-6f1f-84e4-2ab7afbae952
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 5d8a3519-e003-467f-5e76-09b57661f9fc
        status: 200 OK
        code: 200
        duration: 208.559917ms
