---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c61e24b0-e741-5f76-297d-4bc4b4a2023e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0cf04e3e-650b-46f2-5538-172873c54e95
        status: 200 OK
        code: 200
        duration: 406.353833ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"true","name":"my-dummy-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ac128317-c7aa-b52e-1bba-ea8f7df76f7e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?register
        method: POST
      response:
        body: '{"id":"b49f12ce-d896-4a2e-925e-e2ea841b5b63","ready":true,"last_operation":{"id":"7842597d-157a-4343-a1a1-34a38e34f204","ready":true,"type":"create","state":"succeeded","resource_id":"b49f12ce-d896-4a2e-925e-e2ea841b5b63","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"ac128317-c7aa-b52e-1bba-ea8f7df76f7e","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-02-13T11:13:27.480286Z","updated_at":"2026-02-13T11:13:32.319904Z"},"name":"my-dummy-broker-with-mtls-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-13T11:13:27.480284Z","updated_at":"2026-02-13T11:13:27.898794196Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - b279b219-1888-4bbc-4693-705475481926
        status: 200 OK
        code: 200
        duration: 5.335222586s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"b49f12ce-d896-4a2e-925e-e2ea841b5b63","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d441cb66-6fb1-b1c6-7e38-d3358e2f2300
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"b49f12ce-d896-4a2e-925e-e2ea841b5b63","mtls":"true","newName":"my-dummy-broker-with-mtls","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 03939973-2597-f4f9-671c-450cceb92d0d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
  [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"b49f12ce-d896-4a2e-925e-e2ea841b5b63","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - acd3a0ba-d5e8-e0d9-6333-646ec69ea62f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e581adac-6a25-452e-759f-987cfe5444a8
        status: 200 OK
        code: 200
        duration: 4.666988585s
