---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a0c3c19-e17a-4b31-f406-1c2f2912c41d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 415aa105-9da3-48bd-57ae-8234ca7681b5
        status: 200 OK
        code: 200
        duration: 1.228494376s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"btpterraform.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 980c7485-38cd-e3c8-d411-e52061b828d4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?create
        method: POST
      response:
        body: '{"originKey":"btpterraform-platform","iasTenantUrl":"https://btpterraform.accounts400.ondemand.com","iasAppId":"/Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","iasAdminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications//Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","originXsuaa":"btpterraform-platform","version":0,"iasWellKnownMetadata":null,"ipsIntegrationSetupStatus":null,"neoAuthnWithOidc":false,"domain":"btpterraform.accounts400.ondemand.com","name":null,"aliasZid":null,"iasTenantUrlWithoutProtocol":"btpterraform.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 297e653b-a749-4821-48b8-b5e8f1542af8
        status: 200 OK
        code: 200
        duration: 1.619343918s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8ace4c7d-b500-e05d-4710-06004f7e6b6f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?get
        method: POST
      response:
        body: '{"name":"btpterraform-platform","originKey":"btpterraform-platform","originKeyCfuaa":"btpterraform-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"btpterraform-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 518b63cb-03f0-47c6-4740-606a13620b60
        status: 200 OK
        code: 200
        duration: 282.337291ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","globalAccount":"terraformintcanary","name":"Custom platform IAS tenant","originKey":"btpterraform-platform","shadowUsers":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 07420b84-0655-c3a1-38ed-2c384a4d5da6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"btpterraform-platform","originKeyCfuaa":null,"typeOfTrust":"Platform","status":"active","description":"Description for btpterraform.accounts400.ondemand.com","identityProvider":"https://btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 21bd0843-17f3-456a-52c7-57a76e0ee6ae
        status: 200 OK
        code: 200
        duration: 1.187007584s
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 48b1b80f-a084-4c08-51d3-6a98cd27bfbe
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcan[...]
