---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fb9c3ccf-cbf6-0760-61a5-2124799bf924
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8fc5a734-a74f-4760-4dfa-5ad374868232
        status: 200 OK
        code: 200
        duration: 2.012774376s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Custom Platform Identity Provider","domain":"btpterraform.accounts400.ondemand.com","globalAccount":"terraformintcanary","iasTenantUrl":"btpterraform.accounts400.ondemand.com","name":"Custom Platform Identity Provider","origin":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4597c586-ef9a-bf5b-aa4c-60db806314c5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?create
        method: POST
      response:
        body: '{"originKey":"btpterraform-platform","iasTenantUrl":"https://btpterraform.accounts400.ondemand.com","iasAppId":"/Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","iasAdminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications//Applications/v1/9f87b077-5c75-43bb-9626-990a9376621c","active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","originXsuaa":"btpterraform-platform","version":0,"iasWellKnownMetadata":null,"ipsIntegrationSetupStatus":null,"neoAuthnWithOidc":false,"domain":"btpterraform.accounts400.ondemand.com","name":null,"aliasZid":null,"iasTenantUrlWithoutProtocol":"btpterraform.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 45c56769-efc8-4212-5d79-f70079a25e89
        status: 200 OK
        code: 200
        duration: 2.123108793s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c9a19943-0fba-1ddd-e8f9-1de83112e182
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/trust?get
        method: POST
      response:
        body: '{"name":"Custom Platform Identity Provider","originKey":"btpterraform-platform","originKeyCfuaa":"btpterraform-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"btpterraform-platform","availableForUserLogon":"false","createShadowUsersDuringLogon":"true","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 972ba2dc-396c-41da-6e4c-b00a3d403ead
        status: 200 OK
        code: 200
        duration: 276.151916ms
[...]
    - id: 17
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ea01fb99-f365-2cee-5596-aadee2561e82
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcan[...]
