---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 242afefe-451a-000a-eb65-fdc0ce245a0d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0f57df0c-b37d-46e7-443b-b03f7a2dad20
        status: 200 OK
        code: 200
        duration: 3.629477336s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"false","name":"my-dummy-test-broker","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8d011639-d7e2-3acc-3eda-b43e9ddfaf55
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?register
        method: POST
      response:
        body: '{"id":"72d90acd-8b22-44ec-9d06-a9c6285fb4e0","ready":true,"last_operation":{"id":"7b4321ae-4ec3-496f-a045-f072568aaabe","ready":true,"type":"create","state":"succeeded","resource_id":"72d90acd-8b22-44ec-9d06-a9c6285fb4e0","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"8d011639-d7e2-3acc-3eda-b43e9ddfaf55","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-12-05T07:31:49.720288Z","updated_at":"2025-12-05T07:31:56.135379Z"},"name":"my-dummy-test-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2025-12-05T07:31:49.720286Z","updated_at":"2025-12-05T07:31:51.534809418Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 7e2a6af2-e8bb-4aac-74ee-2cfc4e602431
        status: 200 OK
        code: 200
        duration: 7.012694378s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"72d90acd-8b22-44ec-9d06-a9c6285fb4e0","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cd8e2a7a-2fc5-bba4-cdab-ef0cf7fa202a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"72d90acd-8b22-44ec-9d06-a9c6285fb4e0","mtls":"false","newName":"my-dummy-test-broker-new-name","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 754267ee-3d75-7753-1a06-b564600087bb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
       [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"72d90acd-8b22-44ec-9d06-a9c6285fb4e0","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d1c43d88-f0c0-42a2-0921-2d56125f7114
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - def100dd-9902-4b38-6a6d-a4ecebfba61b
        status: 200 OK
        code: 200
        duration: 4.792533044s
