---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c89023af-85fc-c8a6-11b8-471c7b0c82d1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 623b91dc-e943-4475-501b-c2025bb2f449
        status: 200 OK
        code: 200
        duration: 2.846479834s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description of my new role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ac7e53ca-50c6-1ff0-11dc-e1f9b3310dd5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 84977fac-e0ca-47b1-562b-de4258b86088
        status: 200 OK
        code: 200
        duration: 469.520625ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection","roleName":"Global Account Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1113728a-8109-969f-4292-6183e12e3879
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ec453077-917a-4222-5106-92b15c40e915
        status: 200 OK
        code: 200
        duration: 304.947291ms
[...]
    - id: 6
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9d721017-866c-f807-a61d-5fbf7b5c6f4e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer","name":"Global Account Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global accounts, subaccounts, entitlements, and regions."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0da2c1a7-5feb-4319-5b52-911c8ac767c5
        status: 200 OK
        code: 200
        duration: 421.775375ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 99cc8967-0e0d-0c0e-3bb3-301c5d6ce739
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - 5d87cde8-2b56-460d-62fd-5c55f65db34a
        status: 504 Gateway Timeout
        code: 504
        duration: 20.252082968s
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd4326a6-82b5-d599-501c-6cfdd63009db
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8a56d029-bbf4-4f54-483e-6f0680afa931
        status: 200 OK
        code: 200
        duration: 407.460084ms
