---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ee9a4f06-cd92-11e7-5709-007e447915b9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - 67a12b5d-1658-4bcd-7804-1eeb311bc533
        status: 504 Gateway Timeout
        code: 504
        duration: 20.584925467s
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ee9a4f06-cd92-11e7-5709-007e447915b9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 611db521-422b-449c-4327-6ca9566832a1
        status: 200 OK
        code: 200
        duration: 2.254163293s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 79e37b91-30e8-b9d4-4868-024636393279
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","technicalName":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","displayName":"integration-test-ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-ias-408hsvn1","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test bundled applications on the SAP Cloud Identity [...]
[...]
    - id: 6
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12-001","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 66e55e1b-8b5c-f8c6-d6b5-5ceb9c187058
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/environment-instance?create
        method: POST
      response:
        body: '{"id":"A12A41D2-E084-4965-A4D6-277E411A87C4","name":"cloudFoundry-from-terraform","brokerId":"ACCB9B9A-AC3E-4DC4-9496-78172D28DEC6","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","tenantId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","labels":"{\"API Endpoint\":\"https:\/\/api.cf.eu12-001.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"73441010-bf6c-44bd-9db2-5db5b34484d8\"}","customLabels":{},"type":"Provision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12-001","createdDate":"Jul 15, 2026, 1:26:13 PM","modifiedDate":"Jul 15, 2026, 1:26:13 PM","state":"CREATING","stateMessage":"Creating environment instance.","serviceName":"cloudfoundry","planName":"standard","jobId":"40041234"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e2b28a6c-362a-4c4f-6381-f59e3f599056
        status: 200 OK
        code: 200
        duration: 823.829375ms
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"A12A41D2-E084-4965-A4D6-277E411A87C4","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c7a35e26-bf22-4335-67e0-41040621ef8d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terr[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","environmentID":"A12A41D2-E084-4965-A4D6-277E411A87C4","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d8dc8fd-7f05-180f-b27f-45559fa28587
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:[...]
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"A12A41D2-E084-4965-A4D6-277E411A87C4","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 87f9f2db-e86b-5ca0-7451-bb9a30a7d986
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/environment-instance?get
        method: POST
      response:
        body: '{"id":"A12A41D2-E084-4965-A4D6-277E411A87C4","name":"cloudFoundry-from-terraform","brokerId":"ACCB9B9A-AC3E-4DC4-9496-78172D28DEC6","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","tenantId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"deprovision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}],\"status\":\"ACTIVE\",\"purge\":false}","labels":"{\"API Endpoint\":\"https://api.cf.eu12-001.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"73441010-bf6c-44bd-9db2-5db5b34484d8\",\"Org Memory Limit\":\"204,800MB\"}","customLabels":{},"type":"Deprovision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12-001","platformId":"73441010-bf6c-44bd-9db2-5db5b34484d8","createdDate":"Jul 15, 2026, 1:26:13 PM","modifiedDate":"Jul 15, 2026, 1:26:44 PM","state":"DELETING","stateMessage":"Deleting org ID:[73441010-bf6c-44bd-9db2-5db5b34484d8]. Instance ID:[A12A41D2-E084-4965-A4D6-277E411A87C4].","serviceName":"cloudfoundry","planName":"standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 23c53986-866e-4f96-61cf-6fafa696b574
        status: 200 OK
        code: 200
        duration: 419.459791ms
[...]
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"A12A41D2-E084-4965-A4D6-277E411A87C4","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 986299dd-2e5a-297b-ed4b-25ff84d82a6c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/environment-instance?get
        method: POST
      response:
        body: '{"error":"Environment instance not found [Error: 41000/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - d335a0c5-d1f1-4479-5e3a-b93fdf0858c0
        status: 200 OK
        code: 200
        duration: 377.425792ms
