---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 80c08ec0-d5c0-92ac-96f8-f957603f8025
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c7262681-78c8-4ee5-7845-079d0bf40ea7
        status: 200 OK
        code: 200
        duration: 2.407089334s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9","withSubaccount":"2dc1ecf1-786c-4f92-91f2-26650ab3ad28"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4d7a070a-2a93-9e66-f84b-2563b615065b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/disaster-recovery/subaccount-pair?create
        method: POST
      response:
        body: '{"message":"Subaccounts are paired successfully"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 8360f126-fd8c-4ab7-6d7f-441de1f35cb6
        status: 200 OK
        code: 200
        duration: 2.073380167s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f6281e14-5ccb-f856-46ab-77467a927107
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/disaster-recovery/subaccount-pair?get
        method: POST
      response:
        body: '{"created_at":1784111623,"created_by":"john.doe@int.test","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","id":"23978a67-fec8-49a4-a68d-deee8b6ab106","subaccounts":[{"id":"f59b5902-d24c-446c-b245-92c814faa0d9","region":"eu10-canary","subdomain":"integration-test-dr-to-be-paired-eu10-canacry-hqhkrthv"},{"id":"2dc1ecf1-786c-4f92-91f2-26650ab3ad28","region":"eu12","subdomain":"integration-test-dr-to-be-paired-eu12-8tu9lgxa"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4426cbf5-0742-40a4-573d-c63e8b615fc0
        status: 200 OK
        code: 200
        duration: 672.300209ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 06b26d86-3748-1ba0-5a16-2eb3047fbafb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/disaster-recovery/subaccount-pair?delete
        method: POST
      response:
        body: '{"message":"Subaccounts are unpaired successfully"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1f3373f0-08b9-419d-4a42-7a9109737930
        status: 200 OK
        code: 200
        duration: 1.024710959s
