---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3eb37804-0389-d491-c3ee-25ca3066a8d7
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c0510241-09d3-4022-48f7-1576eb009123
        status: 200 OK
        code: 200
        duration: 1.642449543s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - caf79687-e519-6c6b-1a93-ce743b79ea93
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings-8ptbr820","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","cr[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description of my new role collection base","roleCollectionName":"My new role collection base","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5255740f-1a93-94f5-7d22-f6e4a6dab7d5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection base","description":"Description of my new role collection base","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - eb092df5-28a3-4a39-4af7-3c841bc3d290
        status: 200 OK
        code: 200
        duration: 294.389917ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection base","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0e372af-9081-914b-daa0-bc87a46c68c4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection base","description":"Description of my new role collection base","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7195ee0c-6c06-4bf8-7387-eba6f3a9a8f7
        status: 200 OK
        code: 200
        duration: 666.717751ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection base","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c20e99d5-d334-2eb4-2900-0beb03048c6d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b37c4ae9-ba6f-43fb-5ffa-de8f0ae1b2c0
        status: 200 OK
        code: 200
        duration: 583.645541ms
