---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2dc46095-91d1-2223-eb7b-32f7f8aded3f
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4e709a32-0a9a-4267-5690-103a09432862
        status: 200 OK
        code: 200
        duration: 3.618535377s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","skipAutoAssignPlans":"false","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ab635429-e10f-e01c-8d54-4c04af53b70f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"627b0a0d-9965-4299-a18e-be647c8820a7","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Jul 20, 2026, 6:39:46 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 20, 2026, 6:39:46 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test","jobId":"29259801"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 50c46732-de75-4d59-7ed9-f91d60117ae7
        status: 200 OK
        code: 200
        duration: 781.597209ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"627b0a0d-9965-4299-a18e-be647c8820a7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ada8d688-c2d4-aedf-d496-2491635ad7bc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"627b0a0d-9965-4299-a18e-be647c8820a7","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","closestEntitlementManagedParentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Jul 20, 2026, 6:39:46 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 20, 2026, 6:39:47 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dffa6d56-352e-470f-6392-f97f80da78f8
        status: 200 OK
        code: 200
        duration: 300.286792ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 568b55b5-2f21-aad1-393c-66c4a14c00b8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - 01791951-ff5a-4607-7167-e9dd261ebe10
        status: 504 Gateway Timeout
        code: 504
        duration: 20.250020593s
[...]
    - id: 16
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"627b0a0d-9965-4299-a18e-be647c8820a7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 77e43f6a-e58d-9e2d-84dc-b435a0f37c1f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?update
        method: POST
      response:
        body: '{"guid":"627b0a0d-9965-4299-a18e-be647c8820a7","technicalName":"627b0a0d-9965-4299-a18e-be647c8820a7","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","description":null,"state":"OK","stateMessage":"Subaccount created.","contentAutomationState":null,"contentAutomationStateDetails":null,"createdDate":1784529586255,"createdBy":"john.doe@int.test","modifiedDate":1784529698066,"contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c8e66d51-a7ce-4522-434a-168c223bc7d1
        status: 200 OK
        code: 200
        duration: 532.782125ms
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 95ce7045-9da4-6406-b59e-433f83bc2b8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Jun 22, 2026, 10:36:27 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["DEFAULT","AUTHORIZATIONS","ENTITLEMENTS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 18, 2024, [...]
    - id: 26
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"false","globalAccount":"terraformintcanary","subaccount":"627b0a0d-9965-4299-a18e-be647c8820a7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 656134f1-e0dd-1f3c-8c16-66e877f07614
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                [...]
[...]
    - id: 31
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"627b0a0d-9965-4299-a18e-be647c8820a7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6bad91e0-9a90-60fa-6000-5d562ffafc20
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount 627b0a0d-9965-4299-a18e-be647c8820a7 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 5ed86fb6-f6fc-4a7a-42e5-ddb922b6d97a
        status: 200 OK
        code: 200
        duration: 328.028791ms
