---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 778bdbf9-6af3-50cd-065f-2b06bb5badf7
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - dbd7eba0-1578-4c16-4f56-4130c2c07b45
        status: 200 OK
        code: 200
        duration: 3.083209126s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"createUserIfMissing":"true","globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 450f2e2b-63b8-60fb-b2bd-dc82bfd4c701
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"2bba6cb1-53f9-4528-b319-0cf80eb90e7c","username":"redacted","email":"john.doe@test.com","created":"2023-08-01T07:33:49.621+00:00","modified":"2026-07-15T10:38:25.321+00:00","origin":"terraformint-platform","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":63,"active":true,"roleCollections":["Global Account Administrator","Global Account Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2be811bb-2251-4f1d-7cd1-572d9ef417d4
        status: 200 OK
        code: 200
        duration: 463.735084ms
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e12bed1a-1501-6a7d-b566-6cf69fb0a9f9
            X-Cpcli-Customidp:
                - identityProvider[...]
