---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ae341d10-cb3e-1053-5d24-a580b645e1cb
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 35915390-c994-4ba8-6f2f-791a5fa4f149
        status: 200 OK
        code: 200
        duration: 2.29345025s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"false","name":"my-dummy-broker","password":"secret","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 11ed7e2c-c996-cf6d-35ba-f2e761ee9493
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?register
        method: POST
      response:
        body: '{"id":"420e7384-8e56-40eb-998a-5947449d2506","ready":true,"last_operation":{"id":"90dd6404-2fb1-4c81-a301-e50d397faf45","ready":true,"type":"create","state":"succeeded","resource_id":"420e7384-8e56-40eb-998a-5947449d2506","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"11ed7e2c-c996-cf6d-35ba-f2e761ee9493","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-02-13T11:12:46.138786Z","updated_at":"2026-02-13T11:12:51.184465Z"},"name":"my-dummy-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2026-02-13T11:12:46.138783Z","updated_at":"2026-02-13T11:12:46.734117595Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 8180d656-7aa8-4f8f-543c-2a8f86fda38d
        status: 200 OK
        code: 200
        duration: 5.558953211s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"420e7384-8e56-40eb-998a-5947449d2506","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a9d6edfe-8e41-aa47-8f3d-8523aabb01a6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"420e7384-8e56-40eb-998a-5947449d2506","mtls":"false","newName":"my-dummy-broker-new-name","password":"secret","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"admin"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ba27bdec-4953-1725-937c-eb8958515187
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessio[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"420e7384-8e56-40eb-998a-5947449d2506","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9ee41b4e-f68c-affa-9f30-58e59874e018
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dd89205d-5abe-4e43-6f10-75549383b27e
        status: 200 OK
        code: 200
        duration: 4.992058711s
