---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dbe5824d-2994-2059-0045-b85d3bd19565
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 49e0e5a7-7d28-4786-4eb1-f3bd278e36aa
        status: 200 OK
        code: 200
        duration: 2.722802918s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 340bcaee-fedd-06de-75ea-c04838294678
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2025, 10:06:02 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Nov 24, 2025, 10:06:26 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+4@int.test"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider. DO NOT DELETE.","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+5@int.test","modifiedDate":"Jul 7, 2026, 6:19:21 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+6@int.test"},{"guid":"b8b66419-797f-441b-8ae9-07570a902421","technicalName":"b8b66419-797f-441b-8ae9-07570a902421","displayName":"beta-test-account","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"beta-test-account-ep1sauhx","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"b8b66419-797f-441b-8ae9-07570a902421","key":"redacted","value":"true"}],"labels":{"beta-test":["true"]},"createdDate":"May 28, 2026, 8:24:11 AM","createdBy":"john.doe+7@int.test","modifiedDate":"May 28, 2026, 8:24:50 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+8@int.test"},{"guid":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","technicalName":"b7ed3f66-5b6d-4290-856c-099e9e3cbb1b","displayName":"integration-test-ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integrat[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 78d49d1d-836b-ff1d-0ddd-a750afff7385
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/instance?list
        method: POST
      response:
        body: '[{"id":"df532d07-57a7-415e-a261-23a398ef068a","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-alertnotification-instance","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-07-07T11:52:51.049151Z","updated_at":"2023-07-07T11:52:51.588882Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"},{"id":"4fd7e5e1-3205-4ff7-a5ef-9ec01d9af62e","ready":true,"name":"tf-testacc-malwarescanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-malwarescanner","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_by":"john.doe@int.test","updated_by":"john.doe@int.test","created_at":"2024-11-19T08:08:45.020632Z","updated_at":"2024-11-19T08:09:50.508238Z","labels":"org = testvalue; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 970311e4-0b80-42e1-44f7-f49b6fff33d2
        status: 200 OK
        code: 200
        duration: 1.139787418s
[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"df532d07-57a7-415e-a261-23a398ef068a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - acf0a631-1393-b921-0a1b-d9d54354ac6e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/binding?create
        method: POST
      response:
        body: '{"id":"66ed96a9-6d80-452c-8420-eb853245a72b","ready":true,"last_operation":{"id":"c8c43230-2981-4f3a-b881-3a5aef97a898","ready":true,"type":"create","state":"succeeded","resource_id":"66ed96a9-6d80-452c-8420-eb853245a72b","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"acf0a631-1393-b921-0a1b-d9d54354ac6e","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-15T14:02:25.478451Z","updated_at":"2026-07-15T14:02:26.055608Z"},"name":"tfint-test-alert-sb","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a","context":{"origin":"sapcp","region":"cf-eu12","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","platform":"sapcp","subdomain":"integration-test-services-4ie3yr1a","license_type":"SAPDEV","instance_name":"tf-testacc-alertnotification-instance","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a"},"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","created_by":"john.doe@int.test","created_at":"2026-07-15T14:02:25.47839Z","updated_at":"2026-07-15T14:02:26.046264071Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 62da3e6e-41f0-4224-40b6-817034879bf1
        status: 200 OK
        code: 200
        duration: 1.179965251s
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"66ed96a9-6d80-452c-8420-eb853245a72b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d9e82d5e-9914-0afd-0e53-0048685b1aeb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"66ed96a9-6d80-452c-8420-eb853245a72b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bb54e9c3-87b8-6841-1ed9-707dfb374aa7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/binding?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1554015c-4979-4499-5b10-d5b32940d2b5
        status: 200 OK
        code: 200
        duration: 678.817334ms
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"66ed96a9-6d80-452c-8420-eb853245a72b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 648ae304-db1e-f6ab-5ecd-b360bffb0eb9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/binding?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_bindings"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - dc9b0907-0652-4ce8-4713-5c4b53a11e08
        status: 200 OK
        code: 200
        duration: 498.66325ms
