---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 031e05b2-41b4-5bbf-dcb3-84c20460a2db
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8dc0426f-a461-4ab3-4fad-46df2f63ff3d
        status: 200 OK
        code: 200
        duration: 2.595897s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"this.is.not.a.valid.idp.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2d328a9f-4327-7d2e-3a39-634657b47a67
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?create
        method: POST
      response:
        body: https://this.is.not.a.valid.idp.accounts400.ondemand.com is not a valid URL
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 75b5cec1-0e95-4cd4-7bb4-db53f154df23
        status: 200 OK
        code: 200
        duration: 511.481125ms
