---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6b46def5-2448-c805-0b29-2daaf1cea206
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 89cfcddc-e5f4-4ead-4c9b-399f931d15e4
        status: 200 OK
        code: 200
        duration: 2.633668501s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","region":"eu12","skipAutoAssignPlans":"false","subdomain":"integration-test-acc-dyn","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b79f54f7-3c1d-0b92-8c9c-0a2f09610557
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"d5d16d54-48a0-4623-a70b-1f040615d063","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"STARTED","customProperties":[{"accountGUID":"d5d16d54-48a0-4623-a70b-1f040615d063","key":"redacted","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Feb 24, 2026, 2:56:54 PM","createdBy":"john.doe@int.test","modifiedDate":"Feb 24, 2026, 2:56:54 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test","jobId":"23961970"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e580fd32-0287-4c1c-6b98-57c56ac53808
        status: 200 OK
        code: 200
        duration: 526.22025ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"d5d16d54-48a0-4623-a70b-1f040615d063"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 87787bf2-db7f-0c9c-0ddb-881e4843695d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"d5d16d54-48a0-4623-a70b-1f040615d063","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","closestEntitlementManagedParentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"CREATING","stateMessage":"Creating subaccount tenant.","customProperties":[{"accountGUID":"d5d16d54-48a0-4623-a70b-1f040615d063","key":"redacted","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Feb 24, 2026, 2:56:54 PM","createdBy":"john.doe@int.test","modifiedDate":"Feb 24, 2026, 2:56:55 PM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e97fcd33-b401-4ea9-4e44-2eb45ee4b01c
        status: 200 OK
        code: 200
        duration: 74.913375ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"d5d16d54-48a0-4623-a70b-1f040615d063","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e88900df-037f-d95c-be62-99847cbfc404
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?update
        method: POST
      response:
        body: '{"guid":"d5d16d54-48a0-4623-a70b-1f040615d063","technicalName":"d5d16d54-48a0-4623-a70b-1f040615d063","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"OK","stateMessage":"Subaccount created.","contentAutomationState":null,"contentAutomationStateDetails":null,"createdDate":1771945014041,"createdBy":"john.doe@int.test","modifiedDate":1771945062209,"contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6948b75f-eecd-45da-5a9a-317911cfb1cd
        status: 200 OK
        code: 200
        duration: 557.986583ms
[...]
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2192e209-e71b-21ca-7cea-ba5ff7ac5953
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101000297","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Feb 10, 2026, 4:55:39 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 18, 2024, [...]
    - id: 24
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"d5d16d54-48a0-4623-a70b-1f040615d063"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0a3c9243-e582-e0ef-bcc5-1f22d0682fc9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                -[...]
[...]
    - id: 28
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"d5d16d54-48a0-4623-a70b-1f040615d063"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c5c2bde-070a-f052-aa38-f77f542d5ea5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"Subaccount d5d16d54-48a0-4623-a70b-1f040615d063 not found [Error: 20004/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - ef92ac2d-a6bc-42bd-5475-380bac6f16ab
        status: 200 OK
        code: 200
        duration: 131.569709ms
