---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6073eaeb-2c2a-721e-2d1c-37b11deca75a
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3298cda1-0af6-4d09-6f4a-97a61746daa4
        status: 200 OK
        code: 200
        duration: 3.954899001s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"cert":"-----BEGIN CERTIFICATE-----\nMIIFazCCA1OgAwIBAgIUOYCo4GLDaOj9NPGZ51hw6s6FU8AwDQYJKoZIhvcNAQEL\nBQAwXjELMAkGA1UEBhMCREUxEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAoM\nBFRlc3QxDTALBgNVBAsMBFRlc3QxHDAaBgkqhkiG9w0BCQEWDXRlc3RAdGVzdC5j\nb20wHhcNMjUxMjA5MTA1NTQxWhcNMjYxMjA5MTA1NTQxWjBeMQswCQYDVQQGEwJE\nRTETMBEGA1UECAwKU29tZS1TdGF0ZTENMAsGA1UECgwEVGVzdDENMAsGA1UECwwE\nVGVzdDEcMBoGCSqGSIb3DQEJARYNdGVzdEB0ZXN0LmNvbTCCAiIwDQYJKoZIhvcN\nAQEBBQADggIPADCCAgoCggIBAKc7zXzLAgNlWDGm4lAw757WiGgdOAObkWZaYU25\n/TXXIGnb[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"bb226ad2-3b51-4b52-9c2b-2665ad1ba401","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d7cf102-6d5a-bd91-672c-76308df802ee
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?get
        method: POST
      response:
        body: '{"id":"bb226ad2-3b51-4b52-9c2b-2665ad1ba401","ready":true,"last_operation":{"id":"b85b1c48-9749-4d04-ad0c-70f89cb4ceb9","ready":true,"type":"create","state":"succeeded","resource_id":"bb226ad2-3b51-4b52-9c2b-2665ad1ba401","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"1f7a8886-bb9a-211c-04f0-e8d0cd7d9f7f","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2026-07-20T11:25:25.339891Z","updated_at":"2026-07-20T11:25:32.948805Z"},"name":"my-dummy-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://go-service-broker.cfapps.us10-003.hana.ondemand.com","created_at":"2026-07-20T11:25:25.33989Z","updated_at":"2026-07-20T11:25:27.579772Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c16d1cfd-5cb9-4b3f-6358-93310e60e983
        status: 200 OK
        code: 200
        duration: 647.275625ms
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45b4afe3-9223-6d10-91d2-4fb5d1923fcc
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - A timeout was reached while preparing the command execution. The command execution request was not sent to the backend.
            X-Vcap-Request-Id:
                - 7f9d4027-623f-49d2-6534-2598a73f033e
        status: 504 Gateway Timeout
        code: 504
        duration: 20.745718426s
[...]
    - id: 21
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"bb226ad2-3b51-4b52-9c2b-2665ad1ba401","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f20f1e87-7f27-de58-8ecc-d0f6eb504458
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 23c35777-0b1c-4d73-79a7-eee088504186
        status: 200 OK
        code: 200
        duration: 5.211995002s
