---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0ad24c4b-865c-77db-49ad-6f520443fb36
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 31fa4fe7-7030-4fd9-788d-f28dc9aaa1b1
        status: 200 OK
        code: 200
        duration: 1.426461543s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0889ffa0-4daf-0656-e941-9c11c6d15c28
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"22aea11d-1125-40b8-9d41-2c7b169b1e9e","technicalName":"22aea11d-1125-40b8-9d41-2c7b169b1e9e","displayName":"test-ci-cd","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ci-cd-l646hcu6","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is for testing CI/CD API. [DO NOT DELETE]","state":"OK","stateMessage":"Subaccount created.","createdDate":"Mar 16, 2026, 3:03:49 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 7, 2026, 6:18:55 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe@int.test"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider. DO NOT DELETE.","state":"O[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"createUserIfMissing":"true","origin":"sap.custom","roleCollectionName":"Destination Administrator","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ffbc0d23-76ce-1c28-f9a1-32b033f395d5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"cb221e23-a138-4379-8cff-2346f17b7743","username":"redacted","email":"jenny.doe@test.com","created":"2024-07-15T14:35:59.328+00:00","modified":"2026-10-01T08:38:30.414+00:00","origin":"sap.custom","zoneId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":4,"active":true,"roleCollections":["Destination Administrator"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ad6d62ba-74b2-4a71-56c3-1cbad8f9228c
        status: 200 OK
        code: 200
        duration: 605.594334ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"page":"1","roleCollectionName":"Destination Administrator","showUserAssignments":"true","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c6a9ace-fbd6-d21f-2043-0310f9fd5dbe
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/role-collection?get
        method: POST
      response:
        body: '{"count":3,"totalPages":1,"items":[{"id":"067dca58-9a3f-45a1-a9ca-89988e96095a","username":"redacted","zoneId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","email":"john.doe+2@int.test","givenName":"Christian","familyName":"Lechner","origin":"iasprovidertestblr-platform"},{"id":"cb221e23-a138-4379-8cff-2346f17b7743","username":"redacted","zoneId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","email":"jenny.doe@test.com","givenName":null,"familyName":null,"origin":"sap.custom"},{"id":"f5d22824-8c54-49ab-93ec-6d0f23866ee7","username":"redacted","zoneId":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","email":"john.doe@int.test","givenName":"John","familyName":"Yadav","origin":"sap.default"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 96c12482-2efd-41d9-772a-b32fee068d62
        status: 200 OK
        code: 200
        duration: 674.527375ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.custom","roleCollectionName":"Destination Administrator","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f534da44-0c6e-2f20-d2b5-6e72417bab5c
            X-Cpcli-Customidp:
                - identi[...]
