---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a10c924f-83cc-dfe4-16f6-c6d468e2dbdc
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0a88af36-f607-4030-4c1b-cb9904f4050a
        status: 200 OK
        code: 200
        duration: 501.896417ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","mtls":"true","name":"my-dummy-test-broker-with-mtls-and-basic-auth","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0b4f2eae-fab4-3cc0-0da3-c6ad1088fa68
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?register
        method: POST
      response:
        body: '{"id":"25802611-2005-43b5-8b29-4809069c561e","ready":true,"last_operation":{"id":"129d5768-30f6-4a4c-8519-903690894d37","ready":true,"type":"create","state":"succeeded","resource_id":"25802611-2005-43b5-8b29-4809069c561e","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"0b4f2eae-fab4-3cc0-0da3-c6ad1088fa68","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-12-09T11:41:59.616513Z","updated_at":"2025-12-09T11:42:04.819521Z"},"name":"my-dummy-test-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2025-12-09T11:41:59.616511Z","updated_at":"2025-12-09T11:42:00.196191124Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 0127b888-39e2-4ae1-7caa-12bddc970ade
        status: 200 OK
        code: 200
        duration: 5.485538795s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"25802611-2005-43b5-8b29-4809069c561e","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ffcfd07-7984-9192-0169-7ce8121f09ca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"25802611-2005-43b5-8b29-4809069c561e","mtls":"true","newName":"my-dummy-test-broker-with-mtls-and-basic-auth","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e3eb4e25-faeb-d4c5-7bac-5d4781d22f58
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
              [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"25802611-2005-43b5-8b29-4809069c561e","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b7bc66ac-21cb-a544-a9b0-0601c32a8e22
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 379d84b2-a10c-4ede-7e8f-b720a1ae39ca
        status: 200 OK
        code: 200
        duration: 5.032586669s
