---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b9eb8fb0-824e-3930-95e4-b6b3a2ee3546
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 86730e3a-b7a1-405f-6a3f-ad97d813efbb
        status: 200 OK
        code: 200
        duration: 1.164336459s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b867597e-ff9e-217a-1f87-0a176ca3f2e1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"22aea11d-1125-40b8-9d41-2c7b169b1e9e","technicalName":"22aea11d-1125-40b8-9d41-2c7b169b1e9e","displayName":"test-ci-cd","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ci-cd-l646hcu6","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is for testing CI/CD API.","state":"OK","stateMessage":"Subaccount created.","createdDate":"Mar 16, 2026, 3:03:49 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 16, 2026, 3:04:19 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"ba268910-81e6-4ac1-9016-cae7ed196889","technicalName":"ba268910-81e6-4ac1-9016-cae7ed196889","displayName":"integration-test-destination","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-destination-ds8oaxcf","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","iasTenantUrl":"btpterraform.accounts400.ondemand.com","linkText":"custom link text","name":"Custom IAS tenant for apps","shadowUsers":"false","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3d482e67-a229-786d-7d46-0b1cc24d412f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":{"domain":"btpterraform.accounts400.ondemand.com"},"providerDescription":"Description for btpterraform.accounts400.ondemand.com","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":false,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"tokenKey":null,"userInfoUrl":null,"logoutUrl":null,"linkText":"custom link text","showLinkText":false,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"6b9b98dd-dc0d-426b-aa63-65cc49d182d3","scopes":["openid","email","profile"],"issuer":"https://btpterraform.accounts400.ondemand.com","responseType":"code","userPropagationParameter":null,"pkce":true,"performRpInitiatedLogout":true,"cacheJwks":true,"discoveryUrl":"https://btpterraform.accounts400.ondemand.com/.well-known/openid-configuration","passwordGrantEnabled":true,"setForwardHeader":true,"tokenExchangeEnabled":false,"jwtClientAuthentication":true,"platformIdp":false,"applicationIdp":true,"originKeyCfuaa":null,"defaultIdp":false,"iasTenant":{"host":"btpterraform.accounts400.ondemand.com","adminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications/fbce65f1-4a34-4862-93b2-8db136062e94"},"neoAuthnWithOidc":false,"idpType":"SAP IAS"},"id":"b1c86580-e66f-4fef-9332-b7bf09926102","originKey":"sap.custom","name":"Custom IAS tenant for apps","version":0,"created":1782280299695,"last_modified":1782280299695,"active":true,"identityZoneId":"31db5972-22fd-45b7-b923-6a91926cc598","aliasId":null,"aliasZid":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - e91df917-b450-4156-5d30-76375889d60d
        status: 200 OK
        code: 200
        duration: 1.864597042s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","iasTenantUrl":"btpterraform.accounts400.ondemand.com","linkText":"custom link text","name":"Custom IAS tenant for apps","originKey":"sap.custom","shadowUsers":"false","status":"inactive","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63c3ca60-9b92-9276-88a9-c95c857535e0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant for apps","originKey":"sap.custom","originKeyCfuaa":null,"typeOfTrust":"Application","status":"inactive","description":"Description for btpterraform.accounts400.ondemand.com","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"custom link text","availableForUserLogon":"false","createShadowUsersDuringLogon":"false","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bcd64e1f-63aa-490b-55de-920a89fcdaad
        status: 200 OK
        code: 200
        duration: 1.057110834s
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 27d093b8-208c-d762-1a7d-b4d46cb49ed2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url[...]
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a3c5cdb4-9215-3149-de10-83bf7ff5c436
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformin[...]
