---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c70881ae-e333-0db3-cd65-9d4c5c623dd9
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b466e96c-3eb3-4ef4-7580-4d3bc7612a9c
        status: 200 OK
        code: 200
        duration: 350.242334ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 68458d7a-b6c8-6701-6d67-2c0ed229e5a1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101014160","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Apr 14, 2025, 9:47:22 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 18, 2024, 7:49:40 AM","entityState":"OK","sta[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"2","autoAssign":"false","autoDistributeAmount":"0","directory":"14870944-4832-4e76-83f7-d2913661cf6d","distribute":"false","globalAccount":"terraformintcanary","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2c70a054-b0d5-f054-c8cf-fc0d115b2c4e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8449600a-0c03-4fcd-69dd-7b29083cc79c
        status: 200 OK
        code: 200
        duration: 710.0355ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"14870944-4832-4e76-83f7-d2913661cf6d","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2e9586f7-b8f6-dd23-eac2-f798dd771855
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"alert-notification","displayName":"Alert Notification","description":"SAP Cloud Platform Alert Notification offers a common API for providers to publish alerts and for consumers to subscribe to these alerts. It is designed to send automatically real-time notifications and alerts about SAP Cloud events that may be of interest to the business and operations.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"lite","displayName":"lite","description":"Allows production & consumption of custom events","uniqueIdentifier":"alert-notification-lite","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"ELASTIC_SERVICE","sourceEntitlements":[{"entitlementName":"alert-notification-lite-SYSTEM","productDisplayName":"Alert Notification - Alert Notification","licensedQuantity":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":1.0}],"dataCenters":[{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu21","displayName":"Europe (Netherlands) Az[...]
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"2","autoAssign":"true","autoDistributeAmount":"1","directory":"14870944-4832-4e76-83f7-d2913661cf6d","distribute":"false","globalAccount":"terraformintcanary","planUniqueIdentifier":"data-privacy-integration-service-standard","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8176ed57-af57-bd74-416c-ace64f9b8b53
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d401095c-d96e-4584-5fec-c5835d9736f8
        status: 200 OK
        code: 200
        duration: 631.558334ms
[...]
