---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6a8e212d-6259-c5fb-64d8-84a0f63dd62e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e75a81c2-fb31-418b-40fd-b53b944a78ad
        status: 200 OK
        code: 200
        duration: 2.266624709s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"accessTokenValidity":"4500","customEmailDomains":"[\"domain1.test\",\"domain2.test\"]","defaultIdp":"terraformint-platform","globalAccount":"terraformintcanary","iFrameDomain":"https://iframedomain.test","refreshTokenValidity":"4500","rotateSigningKeyAutomatically":"true","treatUsersWithSameEmailAsSameUser":"true","useIdpUserNameInTokens":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a586d77c-cd0e-83dd-c42a-d5a48e97569c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/security/settings?update
        method: POST
      response:
        body: '{"iframeDomains":"https://iframedomain.test","tokenPolicySettings":{"accessTokenValidity":4500,"refreshTokenValidity":4500,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369","default-jwt-key-9515ea752f"],"keys":{"default-jwt-key-9515ea752f":{"created":"Tue Jun 02 10:58:41 UTC 2026","lastModifiedAt":"Tue Jun 02 10:58:41 UTC 2026","nextRotationDate":"Tue Oct 13 11:00:47 UTC 2026","fipsCompliant":true},"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","lastModifiedAt":"Thu Dec 11 07:03:54 UTC 2025","nextRotationDate":"Wed Jul 15 11:00:47 UTC 2026","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"terraformint-platform","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"b30613c1-0579-4039-a429-d9463114ccf7","appId":"full-access!a129991","credentialType":"binding-secret","bindingId":"with-secret-new"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"b30613c1-0579-4039-a429-d9463114ccf7","appId":"full-access!a129991","credentialType":"binding-secret","bindingId":"with-secret-new"}],"treatUsersWithSameEmailAsSameUser":true,"useIdpUserNameInTokens":true,"customEmailDomains":["domain1.test","domain2.test"],"rotateSigningKeyAutomatically":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3ec9b0c7-c85d-4d0f-772e-7c3379f1256d
        status: 200 OK
        code: 200
        duration: 666.768667ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2a29ec19-8a0f-a108-2150-dc88583c6152
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted[...]
[...]
