---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 80feec83-b078-6506-5e89-a51c14467fb6
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 28563478-0654-414f-4d18-3df23c87f3a4
        status: 200 OK
        code: 200
        duration: 2.334539291s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"certificate":"redacted","globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-certificate","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cdb94b53-2de3-5623-1327-1dee71294a0e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"03760ecf-9d89-4189-a92a-1c7efed09298","clientid":"redacted","credential-type":"client certificate","tokenurl":"https://terraformintcanary.authentication.cert.sap.hana.ondemand.com/oauth/token","clientx509enabled":false,"xsappname":"full-access!a129991","certificate":"redacted","serviceInstanceId":"b30613c1-0579-4039-a429-d9463114ccf7","url":"https://terraformintcanary.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","certurl":"https://terraformintcanary.authentication.cert.sap.hana.ondemand.com","identityzone":"terraformintcanary","identityzoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","tenantid":"03760ecf-9d89-4189-a92a-1c7efed09298","name":"globalaccount-api-credential-with-certificate","zoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","certificate-pinning":false,"read-only":false,"key":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2033b123-4ad3-45f5-7fb3-aea78de183d7
        status: 200 OK
        code: 200
        duration: 1.043978375s
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-certificate","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a2c259fa-8c07-634f-becd-978bab7df4d5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"client certificate","tokenurl":"https://terraformintcanary.authentication.cert.sap.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a129991","apiurl":"https://api.authentication.sap.hana.ondemand.com","certificate":"redacted","name":"globalaccount-api-credential-with-certificate","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4d53538a-1cfb-44bd-5b2f-24f79ede9632
        status: 200 OK
        code: 200
        duration: 339.657208ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-certificate","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 05ee609a-5459-9aa5-39c4-f4ac0a097130
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - afbbfcc0-a9b2-4af7-4e9e-b64bb330d902
        status: 200 OK
        code: 200
        duration: 377.065083ms
