---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4c7286ba-e38a-c1ce-6c01-661882552464
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.106.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ba55e03b-2313-4c0e-7c00-eefb34885629
        status: 200 OK
        code: 200
        duration: 2.340792376s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9","withSubaccount":"badbcbf8-eca7-4472-9f66-cb9887ba7c3d"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f15c9659-b8b9-1e0d-0353-91ec00b4f460
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.106.1/disaster-recovery/subaccount-pair?create
        method: POST
      response:
        body: '{"error_code":"INVALID_INPUT","error_message":"subaccount badbcbf8-eca7-4472-9f66-cb9887ba7c3d is already paired in subaccount pair f0f43ad4-4c3e-477a-a655-770d5cc38cad","request_id":"e15e3264-b641-445f-ad84-fd43f0af4fdf"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 7e039a13-51da-4d00-4ab3-8071df893ef5
        status: 200 OK
        code: 200
        duration: 1.158811417s
