---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 940c4f81-2324-f482-5a04-bf1084c5ab34
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4a78187c-e48a-499b-7bd0-862d2d2cbb88
        status: 200 OK
        code: 200
        duration: 818.21375ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"cert":"-----BEGIN CERTIFICATE-----\nMIIFazCCA1OgAwIBAgIUOYCo4GLDaOj9NPGZ51hw6s6FU8AwDQYJKoZIhvcNAQEL\nBQAwXjELMAkGA1UEBhMCREUxEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAoM\nBFRlc3QxDTALBgNVBAsMBFRlc3QxHDAaBgkqhkiG9w0BCQEWDXRlc3RAdGVzdC5j\nb20wHhcNMjUxMjA5MTA1NTQxWhcNMjYxMjA5MTA1NTQxWjBeMQswCQYDVQQGEwJE\nRTETMBEGA1UECAwKU29tZS1TdGF0ZTENMAsGA1UECgwEVGVzdDENMAsGA1UECwwE\nVGVzdDEcMBoGCSqGSIb3DQEJARYNdGVzdEB0ZXN0LmNvbTCCAiIwDQYJKoZIhvcN\nAQEBBQADggIPADCCAgoCggIBAKc7zXzLAgNlWDGm4lAw757WiGgdOAObkWZaYU25\n/TXXIGnb[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"2d59594f-6318-494a-b88e-b557396bdc65","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 385db3af-11fb-cc85-2838-1e35951a4b63
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?get
        method: POST
      response:
        body: '{"id":"2d59594f-6318-494a-b88e-b557396bdc65","ready":true,"last_operation":{"id":"c16c637a-3c75-4a06-8575-68c094651c64","ready":true,"type":"create","state":"succeeded","resource_id":"2d59594f-6318-494a-b88e-b557396bdc65","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"ee7bc4e2-8dc3-c945-0dab-6a705c48acf8","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-12-09T11:42:41.984167Z","updated_at":"2025-12-09T11:42:46.721628Z"},"name":"my-dummy-test-broker-with-mtls-and-basic-auth-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-dummy-broker.cfapps.eu12.hana.ondemand.com","created_at":"2025-12-09T11:42:41.984165Z","updated_at":"2025-12-09T11:42:42.380347Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dc497781-c55c-4fa3-5370-8bd8ddea64ce
        status: 200 OK
        code: 200
        duration: 381.429416ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"2d59594f-6318-494a-b88e-b557396bdc65","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 539ab128-c9fb-210b-356a-bc69211b07f6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1e2baaab-0f2e-4074-6a41-20d37125dacd
        status: 200 OK
        code: 200
        duration: 4.850848294s
