---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3fb9b8ec-e6b6-441e-1062-ac8f838986f4
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cf630898-dadc-4f21-4ebf-69e7179200c9
        status: 200 OK
        code: 200
        duration: 220.605584ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 007c6d8d-ddfa-996f-88d3-c34af22d9357
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"This subaccount is being used for unit tests on the SCI provider","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 10, 2025, 10:57:18 AM","contractStatus":"ACTIVE","lastModifiedBy":"john.doe+2@int.test"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Servi[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"iasTenantUrl":"btpterraform.accounts400.ondemand.com","shadowUsers":"true","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598","userLogon":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f6bc6e24-1e7b-031c-33e5-3aa20b82270d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":null,"providerDescription":"IAS tenant btpterraform.accounts400.ondemand.com (OpenID Connect)","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"tokenKey":null,"userInfoUrl":null,"logoutUrl":null,"linkText":"btpterraform.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"6358b20a-26b6-4cbb-81c8-f072813d9d78","scopes":["openid","email","profile"],"issuer":"https://btpterraform.accounts400.ondemand.com","responseType":"code","userPropagationParameter":null,"pkce":true,"performRpInitiatedLogout":true,"cacheJwks":true,"discoveryUrl":"https://btpterraform.accounts400.ondemand.com/.well-known/openid-configuration","passwordGrantEnabled":true,"setForwardHeader":true,"tokenExchangeEnabled":false,"jwtClientAuthentication":true,"platformIdp":false,"applicationIdp":true,"originKeyCfuaa":null,"defaultIdp":false,"iasTenant":{"host":"btpterraform.accounts400.ondemand.com","adminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications/ef1af7eb-39d1-4152-8bbf-217162649570"},"neoAuthnWithOidc":false,"idpType":"SAP IAS"},"id":"efb10461-3e08-4e61-96a4-5cdfec05c1e7","originKey":"sap.custom","name":"Custom IAS tenant","version":0,"created":1782280313365,"last_modified":1782280313365,"active":true,"identityZoneId":"31db5972-22fd-45b7-b923-6a91926cc598","aliasId":null,"aliasZid":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 93fe31cf-ca95-4a37-6588-7aee7110c066
        status: 200 OK
        code: 200
        duration: 1.418661834s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"iasTenantUrl":"btpterraform.accounts400.ondemand.com","originKey":"sap.custom","shadowUsers":"true","status":"active","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598","userLogon":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9b4a56f2-f864-e9d7-6823-adb96272e0ba
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant","originKey":"sap.custom","originKeyCfuaa":null,"typeOfTrust":"Application","status":"active","description":"IAS tenant btpterraform.accounts400.ondemand.com (OpenID Connect)","identityProvider":"btpterraform.accounts400.ondemand.com","domain":null,"linkTextForUserLogon":"btpterraform.accounts400.ondemand.com","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false,"defaultIdp":false,"idpType":"SAP IAS"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4f1ed0f8-f39c-4738-4f6e-5d94131c1338
        status: 200 OK
        code: 200
        duration: 741.837834ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 06037994-d1d9-2657-8858-8584e4d801ce
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url[...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ebe8a923-1796-2194-d13d-f264cf93f9c1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformin[...]
