---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 253125a8-cbe1-b40f-e9a3-e72ad1644fed
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.97.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","mail":"john.doe@int.test","refreshToken":null}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2105ee0b-ba24-4ebf-5e18-810694333c71
        status: 200 OK
        code: 200
        duration: 515.462708ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9","withSubaccount":"2dc1ecf1-786c-4f92-91f2-26650ab3ad28"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 89c3a142-d30f-e66b-68f9-0f37343353d9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/disaster-recovery/subaccount-pair?create
        method: POST
      response:
        body: '{"message":"Subaccounts are paired successfully"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - a7456352-a880-4a13-77b2-bc370bfabed2
        status: 200 OK
        code: 200
        duration: 1.528234334s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aae5be90-335a-d0b8-cc83-8d45a62f7544
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/disaster-recovery/subaccount-pair?get
        method: POST
      response:
        body: '{"created_at":1772202605,"created_by":"john.doe@int.test","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","id":"f1b1a249-70bc-48e0-b9e2-1423e5e9584c","subaccounts":[{"id":"f59b5902-d24c-446c-b245-92c814faa0d9","region":"eu10-canary","subdomain":"integration-test-dr-to-be-paired-eu10-canacry-hqhkrthv"},{"id":"2dc1ecf1-786c-4f92-91f2-26650ab3ad28","region":"eu12","subdomain":"integration-test-dr-to-be-paired-eu12-8tu9lgxa"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6d846687-8032-43f3-5e15-448644293f81
        status: 200 OK
        code: 200
        duration: 441.459584ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"f59b5902-d24c-446c-b245-92c814faa0d9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8391a892-2c50-f483-0bdd-fbb136b559e0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.97.0/disaster-recovery/subaccount-pair?delete
        method: POST
      response:
        body: '{"message":"Subaccounts are unpaired successfully"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c82bb035-5faf-4b69-770d-5d55ab925f74
        status: 200 OK
        code: 200
        duration: 818.567208ms
