---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cf10d89f-7e9d-f35e-3e3f-80462ee8befa
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ebb742c6-9225-4707-646f-c3f460854e49
        status: 200 OK
        code: 200
        duration: 727.681703ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3e83b207-1af3-0dbd-dc19-32fb8b5c6d76
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:59 AM"},{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:52 AM"},{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bb0f31eb-1a08-4995-48e1-7576d32ea209
        status: 200 OK
        code: 200
        duration: 281.107876ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b7c1cf21-d599-b21e-2209-a553d7e007a6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?list
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 9f147ee5-ebc9-48e6-7e02-a17174866363
        status: 307 Temporary Redirect
        code: 307
        duration: 201.8101ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b7c1cf21-d599-b21e-2209-a553d7e007a6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?list
        method: POST
      response:
        body: '[{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"region":"cf-eu12","env_type":"sapcp","platform":"sapcp","origin":"sapcp","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","subdomain":"integration-test-services-static","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","crm_customer_id":"","instance_name":"tf-testacc-alertnotification-instance"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:22.248091Z","updated_at":"2023-11-24T10:33:22.807519Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"},{"id":"34df641a-5435-4a0e-8f1c-aaf58301163c","ready":true,"name":"tf-testacc-malware-scanner-sample","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"env_type":"sapcp","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","region":"cf-eu12","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","subdomain":"integration-test-services-static","crm_customer_id":"","platform":"sapcp","origin":"sapcp","instance_name":"tf-testacc-malware-scanner-sample"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:23.661008Z","updated_at":"2023-11-24T10:33:23.737011Z","labels":"org = testvalue; subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5e92c8a3-dd6b-45be-7ad6-fa145c4e1ed6
        status: 200 OK
        code: 200
        duration: 301.858263ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","parameters":"false","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 032dacad-6bfa-02a7-8f32-25ee0ff24db6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 88db6279-729d-4ed5-5bc0-589fd3280668
        status: 307 Temporary Redirect
        code: 307
        duration: 161.00087ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","parameters":"false","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 032dacad-6bfa-02a7-8f32-25ee0ff24db6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: '{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","ready":true,"last_operation":{"id":"48e4344d-ea39-412b-964e-cdabfd11c922","ready":true,"type":"create","state":"succeeded","resource_id":"22cce73c-c478-4b9f-b527-a625adbd9fda","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"1558acb5-77b1-9f5e-e516-76178f34ac81","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-11-24T10:33:22.248094Z","updated_at":"2023-11-24T10:33:22.810733Z"},"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"region":"cf-eu12","env_type":"sapcp","platform":"sapcp","origin":"sapcp","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","subdomain":"integration-test-services-static","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","crm_customer_id":"","instance_name":"tf-testacc-alertnotification-instance"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:22.248091Z","updated_at":"2023-11-24T10:33:22.807519Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 06febab5-416f-494e-5e49-68ae21df5c09
        status: 200 OK
        code: 200
        duration: 210.585804ms
[...]
