---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f29b906b-0150-74ec-d693-0b9af99f3bef
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7af0e282-9365-4dc0-4a70-d8e4171cdb7a
        status: 200 OK
        code: 200
        duration: 211.213916ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 26bea104-332e-b774-8280-e163173b164d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","technicalName":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label2","value":""},{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label1","value":"label value 1"}],"labels":{"label1":["label value 1"],"label2":[]},"createdDate":"May 15, 2023, 11:50:47 AM","createdBy":"john.doe+1@int.test","modifiedDate":"May 15, 2023, 11:51:15 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f66c0c80-e131-4598-7faa-9252e43beb4b
        status: 200 OK
        code: 200
        duration: 136.183292ms
    - id: 2
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a682bd2d-7f03-7213-45be-1d7c6a30525d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"502 Bad Gateway: \"{\"error\":{\"code\":20029,\"message\":\"Failed to communicate with XSUAA\",\"target\":\"/accounts/v1/directories/03760ecf-9d89-4189-a92a-1c7efed09298\",\"correlationID\":\"a682bd2d-7f03-7213-45be-1d7c6a30525d\"}}\" [Error: 400]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 1ca0146f-3078-4445-4756-b4dcbf7e1296
        status: 200 OK
        code: 200
        duration: 709.268666ms
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccountFilter":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3aca5d38-0b49-a03d-678b-72bc97ce3abf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"dummy","displayName":"dummy","businessCategory":{"id":"dummy","displayName":"dummy"},"servicePlans":[{"name":"dummy","displayName":"dummy","uniqueIdentifier":"dummy","category":"dummy","beta":false,"maxAllowedSubaccountQuota":null,"unlimited":false,"assignmentInfo":[{"entityId":"dummy","entityType":"SUBACCOUNT","amount":1.0,"requestedAmount":null,"entityState":"OK","stateMessage":"dummy","autoAssign":false,"autoDistributeAmount":null,"createdDate":1684151475697,"modifiedDate":1684151481667,"resources":[],"unlimitedAmountAssigned":false,"parentId":"dummy","parentType":"GLOBAL_ACCOUNT","parentRemainingAmount":1.0,"parentAmount":1,"autoAssigned":true,"billingObject":null,"availableBillingObjects":null,"parentAssignedBillingObject":null}]}],"iconBase64":null,"applicationCoordinates":{"iconFormat":"image/svg+xml","inventoryIds":[{"key":"dummy"}],"visibility":"PUBLIC","serviceDescription":[{"linkCategory":"dummy","title":"dummy","propagateTheme":"false","descriptionCategory":"dummy","linkURL":"dummy"}],"serviceCategories":[{"name":"dummy"}],"regionInformation":[],"CFService":{"name":"dummy","description":"dummy","metadata":{"displayName":"dummy"},"plans":[{"technicalName":"dummy","name":"dummy","description":"dummy","metadata":{"bullets":[]}}]}},"ownerType":"VENDOR"}],"fetchErrorFromExternalProviderRegistry":null,"serviceTermsOfUseStatus":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 39792627-8f6e-44c5-4efc-7433ee1d5d87
        status: 200 OK
        code: 200
        duration: 514.532209ms
[...]
