---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5515e22d-c5aa-95a0-5c49-a71d53ea88fa
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 73596f03-a6cc-4360-5f71-12af0844f6de
        status: 200 OK
        code: 200
        duration: 865.3767ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appId":"cas-ui-xsuaa-prod!t216","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 31a6b844-8aa0-70f3-ccab-a49d1f607ebb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/app?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/app?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 40e7d24b-72b3-4a1a-5ef2-5428f7b8cfac
        status: 307 Temporary Redirect
        code: 307
        duration: 116.1279ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"appId":"cas-ui-xsuaa-prod!t216","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 31a6b844-8aa0-70f3-ccab-a49d1f607ebb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/app?get
        method: POST
      response:
        body: '{"appid":"cas-ui-xsuaa-prod!t216","serviceinstanceid":"397f90fe-69b5-4334-965a-172b9cb8b28d","planId":"ThGdx5loQ6XhvcdY6dLlEXcTgQD7641pDKXJfzwYGLg=","planName":"application","orgId":null,"spaceId":null,"userName":null,"description":"Security profile of Content Agent UI","masterAppId":null,"tenantId":"3374b000-ef2f-4a11-9fb5-a1636dc1c480","xsappname":"cas-ui-xsuaa-prod","scopes":[{"description":"Basic user with minimal access","name":"cas-ui-xsuaa-prod!t216.user"},{"description":"Admin access ","name":"cas-ui-xsuaa-prod!t216.admin"},{"description":"Scope for standard plan.","name":"cas-ui-xsuaa-prod!t216.assemble"},{"description":"Scope for export scenario.","name":"cas-ui-xsuaa-prod!t216.export"},{"description":"Scope for application plan.","name":"cas-ui-xsuaa-prod!t216.import"},{"description":"Scope for get operations in Assembly.","name":"cas-ui-xsuaa-prod!t216.internal.getprocess"},{"description":"Scope for create MTAR operation in Assembly","name":"cas-ui-xsuaa-prod!t216.internal.createmtar"},{"description":"Scope for reading activities transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.activities.read"},{"description":"Scope for reading contentresources transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.contentresources.read"},{"description":"Scope for reading content types and transport modes in CAS","name":"cas-ui-xsuaa-prod!t216.read"},{"description":"Scope for reading transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.operations.read"},{"description":"Scope for downloading files from CAS","name":"cas-ui-xsuaa-prod!t216.operations.download"},{"description":"With this scope set, the callbacks for tenant onboarding, offboarding and getDependencies can be called.","name":"cas-ui-xsuaa-prod!t216.Callback","grant-as-authority-to-apps":["tenant-onboarding!t2"]}],"authorities":["cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.user","cas-ui-xsuaa-prod!t216.assemble","cas-ui-xsuaa-prod!t216.import","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.operations.download","uaa.user","cas-ui-xsuaa-prod!t216.contentresources.read"],"foreign-scope-references":[],"attributes":[],"role-templates":[{"name":"Admin","description":"Admin access for user that enables user to perform all the operations including Export and Import","scope-references":["cas-ui-xsuaa-prod!t216.operations.download","cas-ui-xsuaa-prod!t216.internal.getprocess","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.import","cas-ui-xsuaa-prod!t216.admin","cas-ui-xsuaa-prod!t216.assemble","cas-ui-xsuaa-prod!t216.internal.createmtar","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Read","description":"Enables user to read operation details and contents available in the subscribed tenant","scope-references":["cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Import","description":"Enables user to perform Import operation and read details related to the operations","scope-references":["cas-ui-xsuaa-prod!t216.operations.download","cas-ui-xsuaa-prod!t216.internal.getprocess","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.import"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Export","description":"Enables user to perform Export operation and read details related to the operations","scope-references":["cas-ui-xsuaa-prod!t216.operations.download","cas-ui-xsuaa-prod!t216.internal.getprocess","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.internal.createmtar","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Activities","description":"To read operation details performed using Content Agent UI","scope-references":["cas-ui-xsuaa-prod!t216.activities.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"}],"oauth2-configuration":{"token-validity":90000,"refresh-token-validity":0,"autoapprove":true,"grant-types":["refresh_token","urn:ietf:params:oauth:grant-type:saml2-bearer","client_credentials","password","authorization_code","user_token","urn:ietf:params:oauth:grant-type:jwt-bearer"],"system-attributes":["groups","rolecollections"],"allowedproviders":null,"redirect-uris":[]},"tenant-mode":"shared"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - db41cc90-2551-4d30-7d11-b8e0b87260dd
        status: 200 OK
        code: 200
        duration: 586.6622ms
[...]
