---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2dbb0679-5fff-c660-3a6a-74c7a781b69d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2ec781d7-f645-4593-7c49-72dc3b4bde49
        status: 200 OK
        code: 200
        duration: 777.233544ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 947fd71c-136f-15f1-f2bf-aa8c86977780
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 13adeddf-3293-07ac-f48d-c0bff6ce2fb1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?list
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - c30c472a-073f-4b58-466f-e71f0015eafd
        status: 307 Temporary Redirect
        code: 307
        duration: 225.574599ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 13adeddf-3293-07ac-f48d-c0bff6ce2fb1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?list
        method: POST
      response:
        body: '[{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"region":"cf-eu12","env_type":"sapcp","platform":"sapcp","origin":"sapcp","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","subdomain":"integration-test-services-static","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","crm_customer_id":"","instance_name":"tf-testacc-alertnotification-instance"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:22.248091Z","updated_at":"2023-11-24T10:33:22.807519Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"},{"id":"34df641a-5435-4a0e-8f1c-aaf58301163c","ready":true,"name":"tf-testacc-malware-scanner-sample","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"env_type":"sapcp","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","region":"cf-eu12","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","subdomain":"integration-test-services-static","crm_customer_id":"","platform":"sapcp","origin":"sapcp","instance_name":"tf-testacc-malware-scanner-sample"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:23.661008Z","updated_at":"2023-11-24T10:33:23.737011Z","labels":"org = testvalue; subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 46ab3130-8e16-4a48-6b44-acc3d3a6a3de
        status: 200 OK
        code: 200
        duration: 323.415871ms
[...]
