---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 14ef1538-77ea-a07d-9e9a-60b6204f4d8c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2e2b08de-78d1-4a55-661e-343f680969b0
        status: 200 OK
        code: 200
        duration: 3.915092208s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 57cf6aeb-6fbb-007b-d01f-91a1845f2672
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe+3@int.test","john.doe+4@int.test","john.doe+5@int.test","john.doe@int.test","john.doe+6@int.test","john.doe+7@int.test","john.doe+8@int.test","DL_65DDA8EBA97EAA0134EEB5DC@global.corp.sap","john.doe+9@int.test","john.doe+10@int.test","john.doe+11@int.test","jenny.doe@test.com","john.doe+12@int.test","john.doe+13@int.test","john.doe+14@int.test","john.doe+15@int.test","john.doe+16@int.test","john.doe+17@int.test","john.doe+18@int.test","john.doe+19@int.test","john.doe+20@int.test","john.doe+21@int.test","john.doe+22@int.test","john.doe+23@int.test","john.doe+24@int.test","john.doe+25@int.test","john.doe+26@int.test","john.doe+27@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 5adfea5c-945d-4814-79cf-84af1975de78
        status: 200 OK
        code: 200
        duration: 361.244583ms
[...]
