---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dae4ca80-8262-03c8-69e9-f41a37dc3814
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"b9a5c451-6b11-488d-bc5f-68d79d059670","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 17cb0e7a-8d22-409b-4c4c-5851ccd6a599
        status: 200 OK
        code: 200
        duration: 697.4146ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d46ca348-eaa8-6d80-ef54-71e8a9329165
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?list
        method: POST
      response:
        body: '[{"name":"Directory Administrator","description":"Administrative access to the directory","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"Directory_Admin","name":"Directory Admin","description":"Role for directory members with read-write authorizations for core commercialization operations, such as updating directories, setting entitlements, and creating, updating, and deleting subaccounts."},{"roleTemplateAppId":"uas!b10418","roleTemplateName":"Directory_Usage_Reporting_Viewer","name":"Directory Usage Reporting Viewer","description":"Role for directory members with read-only authorizations for core commercialization operations, such as viewing directory usage information."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_admin","name":"User and Role Administrator","description":"Manage authorizations, trusted identity providers, and users."}],"isReadOnly":true},{"name":"Directory Viewer","description":"Read-only access to the directory","roleReferences":[{"roleTemplateAppId":"uas!b10418","roleTemplateName":"Directory_Usage_Reporting_Viewer","name":"Directory Usage Reporting Viewer","description":"Role for directory members with read-only authorizations for core commercialization operations, such as viewing directory usage information."},{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"Directory_Viewer","name":"Directory Viewer","description":"Role for directory members with read-only authorizations for core commercialization operations, such as viewing directories, subaccounts, entitlements, and regions."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_auditor","name":"User and Role Auditor","description":"Read-only access for authorizations, trusted identity providers, and users."}],"isReadOnly":true}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a2c03a26-e0ce-48d1-7c84-26d610a56fbd
        status: 200 OK
        code: 200
        duration: 350.3984ms
[...]
