---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8a1f4ad1-b249-269d-3611-bafd8039a1f2
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"de8f1d1c-5461-47f0-8e1a-f3bc5edd9931","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - d6b2c964-5501-419a-40cb-6e74931f7c94
        status: 200 OK
        code: 200
        duration: 451.295ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ca68cac-7a60-6c53-23c2-ad9729d0d6ad
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role?list
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e53cbffc-6a6f-41c9-6df9-525418a1bab3
        status: 307 Temporary Redirect
        code: 307
        duration: 102.7971ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ca68cac-7a60-6c53-23c2-ad9729d0d6ad
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Cloud_Connector_Administrator","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Administrator","attributeList":[],"description":"Operate the data transmission tunnels used by the Cloud connector","scopes":[{"description":"Operate the data transmission tunnels used by the Cloud connector","name":"connectivity!b10.manageSCCTunnels"},{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateName":"Cloud_Connector_Auditor","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Auditor","attributeList":[],"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","scopes":[{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateNam[...]
[...]
