---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45f7e903-5562-3607-5de5-eecb991f4282
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"86ee9bf1-6077-4a37-9fea-b8af8264de70","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 24d50a33-0e0c-441a-6c8b-5fa17f8f32ff
        status: 200 OK
        code: 200
        duration: 417.6255ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"5357bda0-8651-4eab-a69d-12d282bc3247"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7276511e-cf8f-d44a-6aaf-9a0e0f83e439
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Directory '5357bda0-8651-4eab-a69d-12d282bc3247' lacks AUTHORIZATIONS feature and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - 8cd01c82-e765-492e-5dbd-0c54005401b8
        status: 403 Forbidden
        code: 403
        duration: 168.396ms
