---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 238e9ce5-e8d0-3a2a-0e0d-522f8cadce8b
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 7e20e08e-c6df-4548-6904-60b1e19f57a7
        status: 200 OK
        code: 200
        duration: 695.147016ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"terraformint-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 480fb870-9e8d-7bf8-35b1-4556f5cd4e9c
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/user?list
        method: POST
      response:
        body: '["john.doe@test.com"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - e20225c9-f313-40c2-4a34-f1f184eb573a
        status: 200 OK
        code: 200
        duration: 530.361017ms
[...]
