---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4a362857-ff61-690d-148d-0a32bbad51ba
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 853fbded-1d3d-4c48-4bf3-eb1c656066b2
        status: 401 Unauthorized
        code: 401
        duration: 496.274348ms
