---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4f0a7c1a-ffd0-19d5-21ce-bc50426aea30
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - e0e48e20-eb38-4b3d-404a-bfdec5c62d7f
        status: 200 OK
        code: 200
        duration: 348.2913ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"5357bda0-8651-4eab-a69d-12d282bc3247"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7d3793bc-1586-1a61-fdd4-3a0530c16a45
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Directory '5357bda0-8651-4eab-a69d-12d282bc3247' lacks AUTHORIZATIONS feature and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - 12e66bbc-3683-42a2-7acf-32d8503fab30
        status: 403 Forbidden
        code: 403
        duration: 131.3216ms
