---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a94d6efa-e2c4-a99c-2e5d-4e1eee160c1b
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b47b4347-9254-49ba-4398-e7801ca915d9
        status: 200 OK
        code: 200
        duration: 445.480234ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0554accb-578a-c64a-807f-ee4ff0b3206c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/app?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/app?list
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 13270571-63c8-4fc2-4ec1-8011cb50ac28
        status: 307 Temporary Redirect
        code: 307
        duration: 339.24114ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0554accb-578a-c64a-807f-ee4ff0b3206c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/app?list
        method: POST
      response:
        body: '[{"appid":"abap-business-service!b1312","serviceinstanceid":"42e515ba-0989-494e-a413-fdeb168df57c","planId":"HWEgt9/jJGFjzT8j+/x9pGivrAuKbUMUK8PgWEx3cLY=","planName":"broker","orgId":null,"spaceId":null,"userName":null,"description":null,"masterAppId":null,"tenantId":"af0e3cb4-0c9c-4bd7-b403-5bbcdadf5ebd","xsappname":"abap-business-service","attributes":[],"oauth2-configuration":{"token-validity":0,"refresh-token-validity":0,"autoapprove":true,"grant-types":["refresh_token","urn:ietf:params:oauth:grant-type:saml2-bearer","client_credentials","password","authorization_code","user_token","urn:ietf:params:oauth:grant-type:jwt-bearer"],"system-attributes":["groups","rolecollections"],"allowedproviders":null,"redirect-uris":[],"credential-types":["binding-secret","x509","instance-secret"]},"tenant-mode":"dedicated"},{"appid":"ans-xsuaa!b72","serviceinstanceid":"a88b09be-6412-4c52-8bd9-1acabc63e26e","planId":"HWEgt9/jJGFjzT8j+/x9pGivrAuKbUMUK8PgWEx3cLY=","planName":"broker","orgId":null,"spaceId":null,"userName":null,"description":null,"masterAppId":null,"tenantId":"685e7b2e-842d-461f-84ba-131964838468","xsappname":"ans-xsuaa","attributes":[],"oauth2-configuration":{"token-validity":0,"refresh-token-validity":0,"autoapprove":true,"grant-types":["refresh_token","urn:ietf:params:oauth:grant-type:s[...]
[...]
