---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4b04f1b4-551d-39de-6dd6-82a8c59d17b2
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a92b5dd0-1e22-40f2-406d-9c53d3b8f51b
        status: 200 OK
        code: 200
        duration: 866.422ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"fieldsFilter":"name eq 'standard'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 806a09da-7f2e-c4a9-8958-46f8227bbb5f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/plan?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/plan?list
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 442c7bc4-960d-4407-5277-37a00fc1c4d0
        status: 307 Temporary Redirect
        code: 307
        duration: 246.2034ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"fieldsFilter":"name eq 'standard'","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 806a09da-7f2e-c4a9-8958-46f8227bbb5f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"d3ec8aed-4ec5-4b91-a3ec-17cae30a1dfc","catalog_name":"standard","created_at":"2020-08-17T09:00:26.04656Z","data_center":"","description":"Feature Flags service standard plan","free":true,"id":"ea585bd1-2503-4f55-822c-501519879ab9","labels":"commercial_name = standard","metadata":{"bullets":["Enterprise-ready plan with support for different flag types, adds constraints to and keeps track on flags lifecycle."],"displayName":"standard","supportedMaxOSBVersion":2.14,"supportedMinOSBVersion":2.13,"supportedPlatforms":["cloudfoundry","kubernetes","sapcp"]},"name":"standard","ready":true,"service_offering_id":"8d5d96d0-fa2d-40c9-951f-c9ed571ba5da","service_offering_name":"feature-flags","updated_at":"2023-07-07T05:43:26.584285Z"},{"catalog_id":"760987b6-6277-4e0f-91e9-543a02d1631c","catalog_name":"standard","created_at":"2020-09-18T12:00:42.126327Z","data_center":"","description":"Allows consumption of SAP Alert Notification service events as well as posting custom events","free":false,"id":"129854b4-4928-4879-9bb1-421047d4fa69","labels":"commercial_name = standard","metadata":{"bullets":["100 registered actions","500 registered conditions","100 registered subscriptions","100 registered technical clients (service keys)","200 stored events of type ''matched events''","200 stored events of type ''undelivered events''","300 calls to Alert Notification configuration APIs per minute","200 calls to Alert Notification consumer APIs per minute","500 events ingested through Alert Notification producer APIs per minute"],"displayName":"standard","supportedMinOSBVersion":"2.11","supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"standard","ready":true,"service_offering_id":"fadc3168-639f-46b4-a71b-08e06809fb74","service_offering_name":"alert-notification","updated_at":"2023-07-07T05:43:29.176568Z"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - b37f693b-a7e0-4b9e-4122-1753580df884
        status: 200 OK
        code: 200
        duration: 223.1394ms
[...]
