---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d97e4878-a2fb-7c07-0555-4c753bd0c540
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 12d75342-2e1b-4d5a-4a0f-58866c513831
        status: 200 OK
        code: 200
        duration: 211.550958ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformint-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bdff29a8-5fc8-a5df-70b9-b8abf331221a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe+3@int.test","john.doe+4@int.test","jenny.doe@test.com","john.doe@test.com","john.doe+5@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a2d4ef6d-f7be-41b4-608e-91117f464a7d
        status: 200 OK
        code: 200
        duration: 206.366917ms
[...]
