---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 549115f9-6b7e-3b47-fe46-7260857c980a
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - f471a9c8-b186-4d86-592c-625ae77cb359
        status: 200 OK
        code: 200
        duration: 299.602955ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fc78376b-ad4a-2124-57d2-f63ff20f79c3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?list
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 13bf1f00-e77a-4d64-40c5-7f1890c71023
        status: 307 Temporary Redirect
        code: 307
        duration: 160.343232ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fc78376b-ad4a-2124-57d2-f63ff20f79c3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Cloud_Connector_Administrator","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Administrator","attributeList":[],"description":"Operate the data transmission tunnels used by the Cloud connector","scopes":[{"description":"Operate the data transmission tunnels used by the Cloud connector","name":"connectivity!b10.manageSCCTunnels"},{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateName":"Cloud_Connector_Auditor","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Auditor","attributeList":[],"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","scopes":[{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateNam[...]
[...]
