---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bf3abdf9-e910-d78b-a78c-39f7a80216da
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 2b34aa5f-9224-43d0-7489-b87d5a8b7b57
        status: 200 OK
        code: 200
        duration: 627.819952ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d7474e6-702e-4b28-04dd-79b125333aac
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/resource-provider?list
        method: POST
      response:
        body: '[{"technicalName":"tf_test_resource_provider","displayName":"Test AWS Resource Provider","description":"Description of the resource provider","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - ebe6c9d7-eaa9-4584-7fe6-2f79820a3a63
        status: 200 OK
        code: 200
        duration: 330.961247ms
[...]
