---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3219ebbb-d637-f508-77bb-72eb40a82f21
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 24c4f4f3-a81e-4615-763c-800c05cbeb9c
        status: 200 OK
        code: 200
        duration: 396.699434ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-caffee00affe"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ea07d452-04b0-a878-0dd2-6095560a0f23
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Server-Message:
                - Subaccount 'aaaaaaaa-bbbb-cccc-dddd-caffee00affe' does not exist in the current global account. Make sure to provide the ID of a subaccount of the current global account.
            X-Vcap-Request-Id:
                - 2f404398-883b-437e-7648-a1a2aa8c2f54
        status: 404 Not Found
        code: 404
        duration: 273.844655ms
