---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0f378a0c-ad7f-af3f-3b25-75f6d838d613
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - dd38ebb0-4b69-4b8c-6723-a90c38dc7207
        status: 200 OK
        code: 200
        duration: 466.86875ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"fuh"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5476867f-3bc1-60fe-159d-20084c817274
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/role-collection?get
        method: POST
      response:
        body: '{"error":"No entity found with values = [[03760ecf-9d89-4189-a92a-1c7efed09298, fuh, 03760ecf-9d89-4189-a92a-1c7efed09298]]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 501e4d65-5124-47e0-56dc-ec314e4cdde5
        status: 200 OK
        code: 200
        duration: 275.598416ms
