---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d76ea47b-12fd-02e4-f50d-8e11803e0557
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 388fece2-a2ef-4aaf-7b86-c56e077c595e
        status: 200 OK
        code: 200
        duration: 603.219367ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"sap.default"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63298e8f-bf5b-e0bf-815b-ae2499551f40
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/user?list
        method: POST
      response:
        body: '["christian.lechner@sap.com","christian.volk@sap.com","felix.schirmer@sap.com","jenny.doe@test.com","john.doe@int.test","sa.scholz@sap.com"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 58767802-eb2e-4d1b-79b2-e7714ca9cbc2
        status: 200 OK
        code: 200
        duration: 195.007665ms
[...]
