---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5cc6bf2d-3db2-c038-56f5-687e263a5f1c
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 317e3f8f-97b4-482b-509f-d4682045ccd9
        status: 401 Unauthorized
        code: 401
        duration: 343.066184ms
