---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6fc23e80-800b-e0e1-a747-aea0aecfd660
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e1c26a5b-8bae-4707-7bb4-b06d2842ebf2
        status: 200 OK
        code: 200
        duration: 2.78559525s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8e14dae3-0804-7de2-79b8-2f97a21a67d9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/resource-provider?list
        method: POST
      response:
        body: '[{"technicalName":"tf_test_resource_provider","displayName":"Test AWS Resource Provider","description":"Description of the resource provider","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS"},{"technicalName":"another_resource_provider","displayName":"Another Resource Provider","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ed2f5bbe-4a95-4a0b-571a-167da27dc6db
        status: 200 OK
        code: 200
        duration: 365.419375ms
[...]
