---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 71f2a9ae-d85c-62df-d3b2-c242299daf40
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - da9af3f6-33e6-4639-6436-cb87b81568b9
        status: 200 OK
        code: 200
        duration: 493.5688ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2c593f3a-8301-7ea2-2dc0-55749c554819
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/app?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/app?list
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 0893999f-6c56-40d0-5895-4c1014d9e1ef
        status: 307 Temporary Redirect
        code: 307
        duration: 183.0542ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2c593f3a-8301-7ea2-2dc0-55749c554819
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/app?list
        method: POST
      response:
        body: '[{"appid":"abap-business-service!b1312","serviceinstanceid":"42e515ba-0989-494e-a413-fdeb168df57c","planId":"HWEgt9/jJGFjzT8j+/x9pGivrAuKbUMUK8PgWEx3cLY=","planName":"broker","orgId":null,"spaceId":null,"userName":null,"description":null,"masterAppId":null,"tenantId":"af0e3cb4-0c9c-4bd7-b403-5bbcdadf5ebd","xsappname":"abap-business-service","attributes":[],"oauth2-configuration":{"token-validity":0,"refresh-token-validity":0,"autoapprove":true,"grant-types":["refresh_token","urn:ietf:params:oauth:grant-type:saml2-bearer","client_credentials","password","authorization_code","user_token","urn:ietf:params:oauth:grant-type:jwt-bearer"],"system-attributes":["groups","rolecollections"],"allowedproviders":null,"redirect-uris":[],"credential-types":["binding-secret","x509","instance-secret"]},"tenant-mode":"dedicated"},{"appid":"ans-business!b72","serviceinstanceid":"59da8ce2-f33d-4d12-98c4-f6f05ae1288d","planId":"HWEgt9/jJGFjzT8j+/x9pGivrAuKbUMUK8PgWEx3cLY=","planName":"broker","orgId":null,"spaceId":null,"userName":null,"description":null,"masterAppId":null,"tenantId":"685e7b2e-842d-461f-84ba-131964838468","xsappname":"ans-business","attributes":[],"oauth2-configuration":{"token-validity":0,"refresh-token-validity":0,"autoapprove":true,"grant-types":["refresh_token","urn:ietf:params:oauth:grant-[...]
[...]
