---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6fcae811-e24c-5b73-0b0b-54c60d1ce1de
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 516b97f1-9358-44a1-66c0-b94e205ee650
        status: 200 OK
        code: 200
        duration: 10.656622503s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6db00d11-28ba-e3b4-eca7-83e69660a05a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n-[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - daf8cd64-1f1f-0959-9a5b-addd7f3afc6e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/settings?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/settings?list
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 09ead627-8cb1-4207-6ab8-fcd8c814b02d
        status: 307 Temporary Redirect
        code: 307
        duration: 498.838061ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - daf8cd64-1f1f-0959-9a5b-addd7f3afc6e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"redacted","keyIds":["redacted"],"keys":{"redacted":{"created":"Fri Nov 24 10:32:37 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-static.authentication.eu12.hana.ondemand.com","activeKeyId":"redacted","keys":{"redacted":{"key":"confidential","passphrase":"","certificate":"-----BEGIN CERTIFICATE-----\redacted\n-----END CERTIFICATE-----\n"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"cc8917a8-c888-430d-87bb-08fefdb5c835","serviceInstanceId":"22cce73c-c478-4b9f-b527-a625adbd9fda","appId":"22cce73c-c478-4b9f-b527-a625adbd9fda!b284985|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"27eabbdc-c8bd-482f-9781-eea03e14baf0"},{"tenantId":"cc8917a8-c888-430d-87bb-08fefdb5c835","serviceInstanceId":"22cce73c-c478-4b9f-b527-a625adbd9fda","appId":"22cce73c-c478-4b9f-b527-a625adbd9fda!b284985|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"27eabbdc-c8bd-482f-9781-eea03e14baf0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3d98553c-7970-454f-5f07-a1f8805b578f
        status: 200 OK
        code: 200
        duration: 5.723883219s
[...]
    - id: 7
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eff81440-afb9-2ebe-4173-7c9b4ac2b922
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key-aef292504e","keyIds":["default-jwt-key-aef292504e"],"keys":{"default-jwt-key-aef292504e":{"created":"Fri Nov 24 10:32:37 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-static.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-6d0b174f2c","keys":{"default-saml-key-6d0b174f2c":{"key":"confidential","passphrase":"","certificate":"-----BEGIN CERTIFICATE-----\redacted\n-----END CERTIFICATE-----\n"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"cc8917a8-c888-430d-87bb-08fefdb5c835","serviceInstanceId":"22cce73c-c478-4b9f-b527-a625adbd9fda","appId":"22cce73c-c478-4b9f-b527-a625adbd9fda!b284985|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"27eabbdc-c8bd-482f-9781-eea03e14baf0"},{"tenantId":"cc8917a8-c888-430d-87bb-08fefdb5c835","serviceInstanceId":"22cce73c-c478-4b9f-b527-a625adbd9fda","appId":"22cce73c-c478-4b9f-b527-a625adbd9fda!b284985|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"27eabbdc-c8bd-482f-9781-eea03e14baf0"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 646daad1-3043-4b76-7367-d9af933db724
        status: 200 OK
        code: 200
        duration: 385.654496ms
[...]
