---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 961eb3c4-2036-a1e1-ad3c-42ecd251d091
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a5d97a88-17a5-4039-4e89-d925c2cb14a3
        status: 200 OK
        code: 200
        duration: 3.530137709s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 225d44b3-498d-4f82-1608-47cdaf109a7b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101014160","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Jun 25, 2024, 12:14:33 PM","children":[{"guid":"d1298936-ddaf-4a82-b1d7-3ad29a732b61","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"test-with_um","createdDate":"Jan 31, 2024, 11:54:50 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 31, 2024, 11:55:03 AM","children":[{"guid":"c22df546-159d-4215-a0dc-97570e8ce886","parentGuid":"d1298936-ddaf-4a82-b1d7-3ad29a732b61","parentGUID":"d1298936-ddaf-4a82-b1d7-3ad29a732b61","parentType":"PROJECT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"test_ua_from_paernt","createdDate":"Jan 31, 2024, 11:56:32 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jan 31, 2024, 11:56:32 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}],"entityState":"OK","stateMessage":"Directory created.","subdomain":"d1298936-ddaf-4a82-b1d7-3ad29a732b61","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"contractStatus":"ACTIVE"},{"guid":"05368777-4934-41e8-9f3c-6ec5f4d564b9","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"May 16, 2023, 8:46:24 AM","createdBy":"john.doe@int.test","modifiedDate":"Jun 1, 2023, 11:13:41 AM","entityState":"OK","stateMessage":"Updated features assigned to directory.","subdomain":"05368777-4934-41e8-9f3c-6ec5f4d564b9","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"customProperties":[{"accountGUID":"05368777-4934-41e8-9f3c-6ec5f4d564b9","key":"my-label-1","value":"Label text 1"},{"accountGUID":"05368777-4934-41e8-9f3c-6ec5f4d564b9","key":"my-label-2","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-entitlements","createdDate":"Oct 6, 2023, 9:57:23 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Oct 6, 2023, 10:00:32 AM","children":[{"guid":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentGuid":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentGUID":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentType":"GROUP","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Oct 6, 2023, 9:58:25 AM","createdBy":"john.doe+4@int.test","modifiedDate":"Oct 6, 2023, 9:58:25 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"subaccounts":[{"guid":"4e981c0f-de50-4442-a26e-54798120f141","technicalName":"4e981c0f-de50-4442-a26e-54798120f141","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked-gddtpz5i","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 14, 2023, 1:14:31 PM","createdBy":"john.doe+5@int.test","modifiedDate":"Nov 14, 2023, 1:14:54 PM"}],"contractStatus":"ACTIVE"}],"entityState":"OK","stateMessage":"Updated features assigned to directory.","directoryType":"GROUP","directoryFeatures":["ENTITLEMENTS","DEFAULT"],"contractStatus":"ACTIVE"},{"guid":"985fd366-6f3d-42eb-9752-62f142b79ef4","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f8bdc441-f6b4-e399-eaf3-bf0a8415e497
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"auditlog","displayName":"Audit Log Service","description":"Allow users to ingest compliance audit data from SAP BTP services and applications and store it for a default retention time of 90 days (with no additional costs applied). The ability to retrieve and download this data within this period is part of Auditlog Management Service. The service serves to support audit activities by prove wrongdoing and identifying malicious activities and provision of forensic evidence that can be used at Court. The scope of the service are secure and configuration change information records, data privacy specific logs, logs motivated by Multiple Regulations. The service is following each SAP Product standards and GDPR Compliance regulations.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"standard","displayName":"standard","description":"Audit Log Service for storing Audit Logs.","uniqueIdentifier":"auditlog-standard","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"SERVICE","sourceEntitlements":[{"entitlementName":"auditlog-standard-SYSTEM","productDisplayName":"Audit Log - STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","licensedQuantity":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":1.0}],"dataCenters":[{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-us31","displayName":"US (Iowa) GCP","region":"us31","environment":"cloudfoundry","iaasProvider":"GCP","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.us31.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.us31.hana.ondemand.com","domain":"us31.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":null,"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"deprecationInfoLink":null,"numberOfAssignedEntities":0,"globalAccountSourceEntitlements":[{"entitlementName":"auditlog-standard-SYSTEM","productDisplayName":"Audit Log - STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","licensedQuantity":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":1.0}],"unlimited":false}],"iconBase64":"PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzM4NjBfMTc1NzMpIj4KPHBhdGggZD0iTTYuMjExNzQgMC4wMTI5Mzk1QzUuNDA4MDIgMC4wMTI5Mzk1IDQuNzQyNzEgMC42MDU1NDYgNC42Mjg5MiAxLjM3NzY1QzQuNjE5MjcgMS40NDMxMSA0LjYxMzIxIDEuNTA5ODYgNC42MTE3NCAxLjU3NzY1SDMuODExNzJDMi41NDE0NiAxLjU3NzY1IDEuNTExNzIgMi42MDc0IDEuNTExNzIgMy44Nzc2NVYxMy42Nzc3QzEuNTExNzIgMTQuOTQ3OSAyLjU0MTQ2IDE1Ljk3NzcgMy44MTE3MiAxNS45Nzc3SDE[...]
[...]
