---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 99331c83-63f7-95b9-e819-3900fd5c177e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e15c4655-86e7-4d84-7c47-7453ed68f49c
        status: 200 OK
        code: 200
        duration: 1.335594208s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aa67e338-ae08-149f-d49e-beca6e166e0e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"auditlog","displayName":"SAP Audit Log Service","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"servicePlans":[{"name":"standard","displayName":"STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","uniqueIdentifier":"auditlog-standard","category":"SERVICE","beta":false,"maxAllowedSubaccountQuota":null,"unlimited":false,"assignmentInfo":[{"entityId":"05368777-4934-41e8-9f3c-6ec5f4d564b9","entityType":"DIRECTORY","amount":1,"requestedAmount":null,"entityState":"OK","stateMessage":"Global entitlements succeeded","autoAssign":false,"autoDistributeAmount":null,"createdDate":1685541161730,"modifiedDate":1685541161730,"resources":[],"unlimitedAmountAssigned":false,"parentId":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"GLOBAL_ACCOUNT","parentRemainingAmount":0.0,"parentAmount":1.0,"autoAssigned":false,"billingObject":null,"availableBillingObjects":null,"parentAssignedBillingObject":null}]}],"iconBase64":null,"applicationCoordinates":{"iconFormat":"image/svg+xml","inventoryIds":[{"key":"SERVICE-136"}],"serviceDescription":[{"linkCategory":"documentation","title":"Documentation","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/products/BTP/65de2977205c403bbc107264b8eccf4b/f92c86ab11f6474ea5579d839051c334.html"},{"linkCategory":"discovery_center","title":"Discovery Center","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://discovery-center.cloud.sap/#/serviceCatalog/audit-log-service"},{"title":"API Business Accelerator Hub","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://api.sap.com/package/scpauditlogging/all"}],"serviceCategories":[{"name":"Data and Analytics"}],"regionInformation":[{"key":"cf-eu10"}],"CFService":{"name":"auditlog","plans":[{"technicalName":"premium","name":"premium","description":"Allows ingestion of audit data from customer owned BTP applications and the ability to configure flexible retention period (min. is 7 days). The premium service plan is being paid based on actual consumption (volumes of audit data being ingested/stored).","metadata":{"bullets":["Write your own generated audit log records","Define your own retention period"]}}]}},"ownerType":"VENDOR"}],"fetchErrorFromExternalProviderRegistry":null,"serviceTermsOfUseStatus":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7ebd1da0-ec11-46be-509b-d14af6060f9d
        status: 200 OK
        code: 200
        duration: 1.359055708s
[...]
