---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eeadcc23-85ce-669a-c2e7-d2eacce16c1e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2ccae047-48d0-4255-7570-e4338ce419cc
        status: 200 OK
        code: 200
        duration: 1.471266s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4b4c4725-55db-1eeb-faac-351d2499636e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369"],"keys":{"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","appId":"read-only!a129991","credentialType":"binding-secret","bindingId":"0d2eca1b-f36e-435a-bd76-72311a0e9e0a"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"}],"treatUsersWithSameEmailAsSameUser":false,"useIdpUserNameInTokens":true,"customEmailDomains":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 26f911df-5e21-4f58-4d32-45462dfb7f74
        status: 200 OK
        code: 200
        duration: 218.982126ms
[...]
