---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5999f902-a185-a7b8-3594-224d50e49025
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 29e212b4-9987-4d7c-56e8-b2dec5dd51ad
        status: 401 Unauthorized
        code: 401
        duration: 439.777623ms
