---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1931be32-6cea-8a3c-40fb-8a212f8a905c
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - a24949ab-d4d9-40db-76d5-03f02021eb52
        status: 200 OK
        code: 200
        duration: 904.5543ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-caffee00affe"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4ef2e4be-d932-e14e-1197-5990c18f958b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Subaccount 'aaaaaaaa-bbbb-cccc-dddd-caffee00affe' does not exist in the current global account and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - d9e65322-fd91-4585-5465-98b7c5db2d75
        status: 403 Forbidden
        code: 403
        duration: 134.6189ms
