---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e666fc33-5fe5-553d-5ace-aac0bf2fdd05
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 9b21a562-b86b-4431-531d-59954c43dc41
        status: 200 OK
        code: 200
        duration: 347.685411ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"5357bda0-8651-4eab-a69d-12d282bc3247"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 47fd55a0-cef0-d225-8db2-4af1a03c4080
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Server-Message:
                - None of the authorization parameters represented a tenant for token exchange.
            X-Vcap-Request-Id:
                - 73e7b103-4c33-497f-69a3-f360bc172ce4
        status: 400 Bad Request
        code: 400
        duration: 159.964335ms
