---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 36816897-362e-cc2c-b9aa-9edab3fcebf1
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - adcb27ec-31f0-4f13-8aa1-efcea60cfe9f
            X-Vcap-Request-Id:
                - 67a608d6-dacd-4205-4440-acf6512d059d
        status: 200 OK
        code: 200
        duration: 1.560449833s
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-caffee00affe"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 03490e9b-8f2f-66da-83a9-905ae84a36c2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Subaccount 'aaaaaaaa-bbbb-cccc-dddd-caffee00affe' does not exist in the current global account and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - de13d0e4-88e7-4518-5fba-72a0f3da71a3
        status: 403 Forbidden
        code: 403
        duration: 188.173292ms
