---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 84fe2e8d-e695-1757-a14e-d66788b61f0d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 13700239-d44d-42fb-7852-4d822019e551
        status: 200 OK
        code: 200
        duration: 1.749029625s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0b57f324-e08a-de25-ebb1-2aa7bbcf9ba3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","cre[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 66517d1f-deec-85ea-a54c-b9b403eb05d9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?list
        method: POST
      response:
        body: '[{"id":"b1d0aca2-dbc5-48bd-8e54-f494bab2364d","ready":true,"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://my-broker-sweet-bongo-pm.cfapps.eu12.hana.ondemand.com","created_at":"2025-01-10T09:49:54.066389Z","updated_at":"2025-01-10T09:49:54.378645Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dfd85cd2-6c70-4a17-4db2-2f6bcf010853
        status: 200 OK
        code: 200
        duration: 752.24825ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"b1d0aca2-dbc5-48bd-8e54-f494bab2364d","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 19c8f0ba-52aa-4554-1a85-f90cb5535827
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?get
        method: POST
      response:
        body: '{"id":"b1d0aca2-dbc5-48bd-8e54-f494bab2364d","ready":true,"last_operation":{"id":"aa202f3a-d3e6-4164-a6f3-fb0e26f54852","ready":true,"type":"create","state":"succeeded","resource_id":"b1d0aca2-dbc5-48bd-8e54-f494bab2364d","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"1c941ae2-002e-b375-bbb3-f4a5913bb7da","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-01-10T09:49:54.066391Z","updated_at":"2025-01-10T09:49:58.788802Z"},"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"","broker_url":"https://my-broker-sweet-bongo-pm.cfapps.eu12.hana.ondemand.com","created_at":"2025-01-10T09:49:54.066389Z","updated_at":"2025-01-10T09:49:54.378645Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c798dfd1-cb66-40c3-71f0-a1a1e62ef4eb
        status: 200 OK
        code: 200
        duration: 507.886ms
[...]
