---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 11d05ccc-a5c6-2306-ba17-2915123b7e07
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - fe064a6e-44ae-469c-6c63-64ce12c70dd6
        status: 200 OK
        code: 200
        duration: 1.2037022s
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"5357bda0-8651-4eab-a69d-12d282bc3247"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f03efc1e-f0ce-3029-7c3d-47a91b3d8acf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Directory '5357bda0-8651-4eab-a69d-12d282bc3247' lacks AUTHORIZATIONS feature and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - 50d92d56-fe26-4be4-4c09-05a6265f7bba
        status: 403 Forbidden
        code: 403
        duration: 152.8658ms
