---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 535abfe1-e704-ca5a-53c7-2f576059cd5c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0b62824a-e091-4e66-535f-ca4a5212fab6
        status: 200 OK
        code: 200
        duration: 1.254859125s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cc169bc3-bba7-0209-4bf4-3e4e84676476
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","cre[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 18c6befe-4f80-2158-0ef7-16e0e5bde8ce
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Application_Destination_Administrator","roleTemplateAppId":"destination-xsappname!b9","name":"Application Destination Administrator","attributeList":[],"description":"Manage destination configurations, certificates and signing keys for SAML assertions issued by the Destination service","scopes":[{"description":"Manage subaccount trust","name":"destination-xsappname!b9.manageSubaccountTrust"},{"description":"Read subaccount trust","name":"destination-xsappname!b9.readSubaccountTrust"},{"description":"Manage certificates on subaccount level","name":"destination-xsappname!b9.subaccount.manageCertificate"},{"description":"Manage destinations on subaccount level","name":"destination-xsappname!b9.subaccount.manageDestination"},{"description":"Read certificates on subaccount level","name":"destination-xsappname!b9.subaccount.readCertificate"},{"description":"Read destinations on subaccount level","name":"destination-xsappname!b9.subaccount.readDestination"}],"isReadOnly":true,"appName":"destination-xsappname","appDescription":"Retrieve and manage destination configurations, associated certificates, and signing keys for SAML assertions issued by the Destination service."},{"roleTemplateName":"Application_Destination_Viewer","roleTemplateAppId":"destination-xsappname!b9","name":"Application Destination Viewer","attributeList":[],"description":"View destination configurations, certificates and signing keys for SAML assertions issued by the Destination service","scopes":[{"description":"Read subaccount trust","name":"des[...]
[...]
