---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 81785d9b-fff0-6ce4-33bd-81599038428d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8f06daf1-9ad0-41c1-6e64-9f4c95f3915d
        status: 200 OK
        code: 200
        duration: 249.430208ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d7cd24d8-a25a-745f-9bf3-1e53e59c2c62
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"82795e09-db5a-4b1c-8fd9-4737ae098341","technicalName":"82795e09-db5a-4b1c-8fd9-4737ae098341","displayName":"test-cls-as-1","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-cls-as-1-59zwlmth","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jun 7, 2024, 12:15:06 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jun 7, 2024, 12:15:27 PM"},{"guid":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","technicalName":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","displayName":"test-vk","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-vk-w6vh8z0b","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"May 10, 2024, 12:01:09 PM","createdBy":"john.doe+2@int.test","modifiedDate":"May 10, 2024, 12:01:24 PM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentT[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appId":"cas-ui-xsuaa-prod!t216","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7f24bed8-110e-489a-18be-d21a2097ac24
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/app?get
        method: POST
      response:
        body: '{"appid":"cas-ui-xsuaa-prod!t216","serviceinstanceid":"397f90fe-69b5-4334-965a-172b9cb8b28d","planId":"ThGdx5loQ6XhvcdY6dLlEXcTgQD7641pDKXJfzwYGLg=","planName":"application","orgId":null,"spaceId":null,"userName":null,"description":"Security profile of Content Agent UI","masterAppId":null,"tenantId":"3374b000-ef2f-4a11-9fb5-a1636dc1c480","xsappname":"cas-ui-xsuaa-prod","scopes":[{"description":"Basic user with minimal access","name":"cas-ui-xsuaa-prod!t216.user"},{"description":"Admin access ","name":"cas-ui-xsuaa-prod!t216.admin"},{"description":"Scope for standard plan.","name":"cas-ui-xsuaa-prod!t216.assemble"},{"description":"Scope for export scenario.","name":"cas-ui-xsuaa-prod!t216.export"},{"description":"Scope for application plan.","name":"cas-ui-xsuaa-prod!t216.import"},{"description":"Scope for get operations in Assembly.","name":"cas-ui-xsuaa-prod!t216.internal.getprocess"},{"description":"Scope for create MTAR operation in Assembly","name":"cas-ui-xsuaa-prod!t216.internal.createmtar"},{"description":"Scope for reading activities transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.activities.read"},{"description":"Scope for reading contentresources transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.contentresources.read"},{"description":"Scope for reading content types and transport modes in CAS","name":"cas-ui-xsuaa-prod!t216.read"},{"description":"Scope for reading transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.operations.read"},{"description":"Scope for downloading files from CAS","name":"cas-ui-xsuaa-prod!t216.operations.download"},{"description":"With this scope set, the callbacks for tenant onboarding, offboarding and getDependencies can be called.","name":"cas-ui-xsuaa-prod!t216.Callback","grant-as-authority-to-apps":["tenant-onboarding!t2"]},{"description":"Scope for CAS Security Operator.","name":"cas-ui-xsuaa-prod!t216.security.operator"},{"description":"Scope for GACD","name":"cas-ui-xsuaa-prod!t216.cas.gacd"}],"authorities":["cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.user","cas-ui-xsuaa-prod!t216.assemble","cas-ui-xsuaa-prod!t216.import","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.operations.download","uaa.user","cas-ui-xsuaa-prod!t216.contentresources.read","cas-ui-xsuaa-prod!t216.security.operator"],"foreign-scope-references":[],"attributes":[],"role-templates":[{"name":"SecurityOperator","description":"Gives user additional ability to transport role collections along with admin capabilities.","default-role-name":"Security Operator","scope-references":["cas-ui-xsuaa-prod!t216.operations.download","cas-ui-xsuaa-prod!t216.cas.gacd","cas-ui-xsuaa-prod!t216.assemble","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.security.operator","cas-ui-xsuaa-prod!t216.internal.getprocess","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.import","cas-ui-xsuaa-prod!t216.admin","cas-ui-xsuaa-prod!t216.internal.createmtar","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Read","description":"Enables user to read operation details and contents available in the subscribed tenant","scope-references":["cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Export","description":"Enables user to perform Export operation and read details related to the [...]
[...]
