---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 640a05de-25c8-b690-0c7a-581a08949842
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ab58c8d7-c731-468a-4a59-56f47d76e407
        status: 200 OK
        code: 200
        duration: 513.066083ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f7dec7da-4977-3bf0-96cd-0a140ee49b6c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Directory_Admin","roleTemplateAppId":"cis-central!b13","name":"Directory Admin","attributeList":[],"description":"Role for directory members with read-write authorizations for core commercialization operations, such as updating directories, setting entitlements, and creating, updating, and deleting subaccounts.","scopes":[{"description":"Delete a product from the products catalog for the current global account","name":"cis-central!b13.catalog.product.delete"},{"description":"Update a product in the products catalog for the current global account","name":"cis-central!b13.catalog.product.update"},{"description":"Get directory entitlements","name":"cis-central!b13.directory.entitlement.read"},{"description":"Update directory entitlements","name":"cis-central!b13.directory.entitlement.update"},{"description":"Create[...]
[...]
