---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 38bdb723-19dd-2da2-a5df-7f8b6f37f59b
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ffed38c3-bf49-4146-66e8-2ca4038e1aab
        status: 200 OK
        code: 200
        duration: 357.308084ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"5357bda0-8651-4eab-a69d-12d282bc3247"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 54f84018-5feb-9e98-21be-d42e4ddedebf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Directory '5357bda0-8651-4eab-a69d-12d282bc3247' lacks AUTHORIZATIONS feature and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - ab62ec9a-8109-43cd-6bf4-3aa09a0dc9b5
        status: 403 Forbidden
        code: 403
        duration: 128.428083ms
