---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a42758ad-c769-85a8-bbaf-70a980cdc9e7
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4958f0c2-c0cb-46bc-6ed2-89138aa3c92e
        status: 200 OK
        code: 200
        duration: 972.11254ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e232b12e-602b-b33b-a422-e2a9c3e86ba5
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?list
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d3e6520d-00b9-4773-705c-e6349e717073
        status: 307 Temporary Redirect
        code: 307
        duration: 189.204169ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e232b12e-602b-b33b-a422-e2a9c3e86ba5
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Cloud_Connector_Administrator","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Administrator","attributeList":[],"description":"Operate the data transmission tunnels used by the Cloud connector","scopes":[{"description":"Operate the data transmission tunnels used by the Cloud connector","name":"connectivity!b10.manageSCCTunnels"},{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateName":"Cloud_Connector_Auditor","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Auditor","attributeList":[],"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","scopes":[{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateNam[...]
[...]
