---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d2fbd436-0d2b-af84-d989-e86713d9c68f
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5934d2d2-a12f-4904-4b9b-83ec9063f37d
        status: 200 OK
        code: 200
        duration: 2.868992833s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 71023f42-2aaf-206f-7e35-a4ce4864f9ea
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role-collection?list
        method: POST
      response:
        body: '[{"name":"Global Account Administrator","description":"","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Admin","name":"Global Account Admin","description":"Role for global account members with read-write authorizations for core commercialization operations, such as updating global accounts, setting entitlements, and creating, updating, and deleting subaccounts."},{"roleTemplateAppId":"uas!b10418","roleTemplateName":"GlobalAccount_Usage_Reporting_Viewer","name":"Global Account Usage Reporting Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global account usage information."},{"roleTemplateAppId":"cmp!b17875","roleTemplateName":"GlobalAccount_System_Landscape_Administrator","name":"System Landscape Administrator","description":"Administrative access to systems and scenario-related resources."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_admin","name":"User and Role Administrator","description":"Manage authorizations, trusted identity providers, and users."}],"isReadOnly":true},{"name":"Global Account Viewer","description":"","roleReferences":[{"roleTemplateAppId":"uas!b10418","roleTemplateName":"GlobalAccount_Usage_Reporting_Viewer","name":"Global Account Usage Reporting Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global account usage information."},{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer","name":"Global Account Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global accounts, subaccounts, entitlements, and regions."},{"roleTemplateAppId":"cmp!b17875","roleTemplateName":"GlobalAccount_System_Landscape_Viewer","name":"System Landscape Viewer","description":"Viewer access to systems and scenario-related resources."},{"roleTemplateAppId":"xsuaa!t2","roleTemplateName":"xsuaa_auditor","name":"User and Role Auditor","description":"Read-only access for authorizations, trusted identity providers, and users."}],"isReadOnly":true}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - afa793a9-2b8d-4a61-41e7-e035fde3a0a2
        status: 200 OK
        code: 200
        duration: 169.590916ms
[...]
