---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3abb19ab-fd24-63c2-0f9e-3bea97f1dce8
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4f8f45a6-e763-4526-5ca3-0667ce5a047a
        status: 200 OK
        code: 200
        duration: 231.278258ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"test-service-binding-iban","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6d2d998-c536-61be-2f6f-5c718a69d706
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/binding?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/binding?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 71de8807-caaa-49be-6786-ec8a8a75d4ee
        status: 307 Temporary Redirect
        code: 307
        duration: 196.565511ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"name":"test-service-binding-iban","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6d2d998-c536-61be-2f6f-5c718a69d706
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/binding?get
        method: POST
      response:
        body: '{"id":"b02e4b22-906b-40c5-9c5e-dbb6a9068444","ready":true,"last_operation":{"id":"4423788d-18e2-4b47-8fb1-45610a76ee5e","ready":true,"type":"create","state":"succeeded","resource_id":"b02e4b22-906b-40c5-9c5e-dbb6a9068444","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"a97ecff6-36e3-4bcf-601a-5f5f7ccce95b","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-07-11T08:26:41.843646Z","updated_at":"2023-07-11T08:26:42.505113Z"},"name":"test-service-binding-iban","service_instance_id":"b6a7d7da-41f4-4dfc-a883-fde826c2e9f9","context":{"crm_customer_id":"","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","instance_name":"tf-testacc-iban-sample","license_type":"SAPDEV","origin":"sapcp","platform":"sapcp","region":"cf-eu12","service_instance_id":"b6a7d7da-41f4-4dfc-a883-fde826c2e9f9","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"},"credentials":{"service":{"id":"08b9ac4d-fcc7-4d5d-9ead-f769d992a5b8","planId":"960cae74-6a24-4c51-a141-0be2fdd6aaa9"},"uaa":{"apiurl":"https://api.authentication.eu12.hana.ondemand.com","clientid":"redacted","clientsecret":"redacted","credential-type":"binding-secret","identityzone":"integration-test-services-4ie3yr1a","identityzoneid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","sburl":"https://internal-xsuaa.authentication.eu12.hana.ondemand.com","subaccountid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","tenantid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","tenantmode":"dedicated","uaadomain":"authentication.eu12.hana.ondemand.com","url":"https://integration-test-services-4ie3yr1a.authentication.eu12.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwT0BKz56nPPcMA/QgznH\noG9pv5DYvEAwAU0zy0D5jH+PHjDMQ/cz0ktxTF5HdDHXBPe463C18z+1Lwlg70uC\n0snFhbN50FOtVKZAnk7alLpMhj4ArsIRjGuJG0N1zUry8HEAlwQfLFcLmc1bUxyd\n6cop4rLwNDkOf1A0VAdk/YlMiSyTgDvYW3SxAUQzgjvcUI3k4KBtceWficZfPrdl\n5uP9RDGfAJTN6miqQuTILOiFkGzWtDS3mE9W5DHiWVN2K4gZnWUp/RtvHqG9dZ9p\nr14wGZKfvUXRWvIpW91qdbxjOjvhjMifJQ0mpIuAVR3Uf0Llhs5GpHyiog/JIwMd\n0wIDAQAB\n-----END PUBLIC KEY-----","xsappname":"b6a7d7da-41f4-4dfc-a883-fde826c2e9f9!b168799|abap-business-service!b1312","zoneid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"},"url":"https://abs-proxy-canary-1.cfapps.eu12.hana.ondemand.com/api/v1/ibanservice"},"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","created_at":"2023-07-11T08:26:41.843643Z","updated_at":"2023-07-11T08:26:42.501718Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 1c35ac39-fe09-4fbe-4b68-6cdf789202c7
        status: 200 OK
        code: 200
        duration: 82.594248ms
[...]
