---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 93f5e0e5-313b-d3b9-a9d4-c62d7dfd0338
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ccba8119-9608-43d0-4b3b-3b16a83eef2f
        status: 200 OK
        code: 200
        duration: 455.305706ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformint-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0636c20-1dc6-bff9-ee19-5e90300f730f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/user?list
        method: POST
      response:
        body: '["john.doe@int.test","john.doe@test.com"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - e36fdab8-c6e4-4f10-750a-38dc86018937
        status: 200 OK
        code: 200
        duration: 355.869401ms
[...]
