---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4fb98637-769d-27aa-5302-f2603a25e658
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 2d0982ca-e6c9-451b-7f1e-3bb5e594651b
        status: 200 OK
        code: 200
        duration: 518.3102ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c5846d4e-49dc-8a08-9d39-6fbd181f9699
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role?list
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5b4429fc-a8ea-4191-6b6b-504a84252d27
        status: 307 Temporary Redirect
        code: 307
        duration: 106.655ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c5846d4e-49dc-8a08-9d39-6fbd181f9699
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Cloud_Connector_Administrator","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Administrator","attributeList":[],"description":"Operate the data transmission tunnels used by the Cloud connector","scopes":[{"description":"Operate the data transmission tunnels used by the Cloud connector","name":"connectivity!b10.manageSCCTunnels"},{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateName":"Cloud_Connector_Auditor","roleTemplateAppId":"connectivity!b10","name":"Cloud Connector Auditor","attributeList":[],"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","scopes":[{"description":"View the data transmission tunnels used by the Cloud connector to communicate with back-end systems","name":"connectivity!b10.readSCCTunnels"}],"isReadOnly":true,"appName":"connectivity"},{"roleTemplateNam[...]
[...]
