---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b8670ab3-ad90-007e-d717-14a108353c45
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"300599f3-9c7a-49c8-bea3-d3345e2346bb","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 71877d2a-96b9-42a5-6914-2b19f07b1702
        status: 200 OK
        code: 200
        duration: 560.3564ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b72a643d-bd9e-9363-a65b-a6d9c59ba9f2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/services/plan?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7a3306cb-d440-4391-5232-bd2f883bb9a6
        status: 307 Temporary Redirect
        code: 307
        duration: 98.6566ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b72a643d-bd9e-9363-a65b-a6d9c59ba9f2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?get
        method: POST
      response:
        body: '{"id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","ready":true,"name":"lite","description":"Read and manage destination configurations (including related certificates) on account and service instance levels with auto-retrieving and caching of auth tokens","catalog_id":"b3440416-15f9-11e7-bdac-02667c123456","catalog_name":"lite","free":true,"metadata":{"supportsInstanceSharing":true,"displayName":"lite","bullets":["Shared service resources for all applications","Limit of 1000 configurations (destinations + certificates)"]},"service_offering_id":"8627a19b-c397-4b1a-b297-6281bd46d8c3","created_at":"2020-08-10T14:58:38.756598Z","updated_at":"2023-08-30T08:47:52.08289Z","labels":"commercial_name = lite"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 3084e10a-8d74-4d9b-72cd-4ed72fe3d502
        status: 200 OK
        code: 200
        duration: 207.8428ms
[...]
