---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9e0d9b9f-84ab-7fae-0568-8d6bb1e06c88
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6e02eb6c-69e8-4f47-4373-9dce8f1b1cdd
        status: 200 OK
        code: 200
        duration: 531.4874ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appName":"content-agent-ui","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0128bc32-bab8-7b9e-7ffe-1f1f06949e21
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subscription?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/subscription?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 6b7d51a5-6c6f-42df-47b7-dfd15f69b374
        status: 307 Temporary Redirect
        code: 307
        duration: 204.5239ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"content-agent-ui","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0128bc32-bab8-7b9e-7ffe-1f1f06949e21
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-4ie3yr1a.content-agent.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscribedSubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionGUID":"60c44e9d-2696-4b8f-91ea-9efcd3c23ffb","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"content-agent-ui","commercialAppName":"content-agent-ui","appId":"cas-ui-xsuaa-prod!t216","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"displayName":"Content Agent","description":"Content Agent UI","category":"Integration Suite","categoryDisplayName":"Integration Suite","globalAccountId":"d39f31d1-c84d-448e-bc18-d3571e6e2d6c","tenantId":"3374b000-ef2f-4a11-9fb5-a1636dc1c480","quota":1,"labels":{"test":["label"]},"customerDeveloped":false,"applicationCoordinates":{"propagateTheme":false,"serviceCategories":[{"name":"Integration Suite"}]},"modifiedDate":"Jul 11, 2023, 5:43:09 AM","createdDate":"Jul 11, 2023, 5:43:06 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - df7700c0-1753-402b-44b9-33d2da92a567
        status: 200 OK
        code: 200
        duration: 423.1621ms
[...]
