---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dadd64eb-5d35-1110-e8e4-d2b07f6dea81
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 4bcbc901-2004-4d2f-73f6-4d41699b44cd
        status: 200 OK
        code: 200
        duration: 347.2489ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a8c504ef-9644-de49-fbf0-8a9a0c707e2d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 9fbf3cdd-6484-453f-4e74-2115d1c02de2
        status: 200 OK
        code: 200
        duration: 165.2502ms
