---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c69d63e1-0e0f-23e2-8767-a05a87dc1416
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - eb68ba46-a8b4-4a70-732c-1a60a9cddc4b
        status: 200 OK
        code: 200
        duration: 10.677331933s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0427e1a4-c252-245d-db32-21d20b1f80ee
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:59 AM"},{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:52 AM"},{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3e7a96c6-0192-4a69-664a-9b53888ab8b0
        status: 200 OK
        code: 200
        duration: 499.530549ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ff951017-d60a-dd30-1666-0f04ca6c2908
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.i[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"e497d362-bf7f-4069-bb49-449d726a08aa","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aa76ccd6-1c88-69ca-c8e3-31a219d55d07
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"502 Bad Gateway: \"{\"error\":{\"code\":20029,\"message\":\"Failed to communicate with XSUAA\",\"target\":\"/accounts/v1/directories/e497d362-bf7f-4069-bb49-449d726a08aa\",\"correlationID\":\"aa76ccd6-1c88-69ca-c8e3-31a219d55d07\"}}\" [Error: 400]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 93712c96-3e5e-4da7-610d-40b658ed46f8
        status: 200 OK
        code: 200
        duration: 841.349617ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccountFilter":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8d1577e8-19d6-4fe2-68e0-c60f400d8d21
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"rabbitmq","displayName":"RabbitMQ","description":"RabbitMQ on SAP BTP includes a message broker that implements message queues for application-to-application messaging. Supports Advanced Message Queuing Protocol (AMQP).","businessCategory":{"id":"INTEGRATION","displayName":"Integration"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"virtualhost","displayName":"virtualhost","description":"[BETA] RabbitMQ service - virtual host plan within an existing RabbitMQ service instance (for non-productive usage)","uniqueIdentifier":"rabbitmq-virtualhost","provisioningMethod":"SERVICE_BROKER","amount":2000000000,"remainingAmount":null,"providedBy":"VENDOR","beta":true,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"SERVICE","sourceEntitlements":[{"entitlementName":"BETA","productDisplayName":"BETA","licensedQuantity":1,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":2000000000}],"dataCenters":[{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":["Single Virtual Host instance"],"assignedResources":null,"assignedBillingObject":null,"billingObjects":null,"deprecationMessage":null,"deprecationInfoLink":null,"unlimited":true}],"iconBase64":"PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNlYjYwMjI7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5yYWJiaXRtcTwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDYuMDgsMTkuMkgzMC43MjNBMS45MTMsMS45MTMsMCwwLDEsMjguOCwxNy4yNzdWMS45MTNBMS45MSwxLjkxLDAsMCwwLDI2Ljg3NywwSDIxLjEyM0ExLjkwOSwxLjkwOSwwLDAsMCwxOS4yLDEuOTEzVjE3LjI3N0ExLjkxNCwxLjkxNCwwLDAsMSwxNy4yNzksMTkuMkgxMS41MjJBMS45MTQsMS45MTQsMCwwLDEsOS42LDE3LjI3N1YxLjkxM0ExLjkwNywxLjkwNywwLDAsMCw3LjY4MSwwSDEuOTIyQTEuOTA4LDEuOTA4LDAsMCwwLDAsMS45MTNWNDYuMDczQTEuOTE1LDEuOTE1LDAsMCwwLDEuOTIyLDQ4SDQ2LjA4QTEuOTE1LDEuOTE1LDAsMCwwLDQ4LDQ2LjA3M1YyMS4xMThhMS45MSwxLjkxLDAsMCwwLTEuOTItMS45Mk0zOC40LDM1LjUwOWEyLjg3NywyLjg3NywwLDAsMS0yLjg4MSwyLjg4M0gzMS42NzdBMi44NzQsMi44NzQsMCwwLDEsMjguOCwzNS41MDlWMzEuNjczYTIuODc0LDIuODc0LDAsMCwxLDIuODc2LTIuODg4aDMuODQ0QTIuODc3LDIuODc3LDAsMCwxLDM4LjQsMzEuNjczWiIvPjwvc3ZnPg==","applicationCoordinates":{"iconFormat":"image/svg+xml","inventoryIds":[{"key":"SERVICE-90"}],"visibility":"PUBLIC","marketingLinkPublic":{"infoText":"Learn more about this service and how to purchase it. RabbitMQ 3.6 plans are reaching end of life soon. Support to upgrade the existing RabbitMQ 3.6 instances to the new 3.7 plans would be provided soon.","urlLabel":"Further information","url":"https://cloudplatform.sap.com/capabilities/integration/rabbitmq.html"},"serviceDescription":[{"linkCategory":"documentation","title":"Documentation","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/product/RabbitMQ/Cloud/en-US"},{"title":"Tutorial","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/bf757994794445ed904b97bf1907812a.html"},{"linkCategory":"support","title":"Support","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/5dd739823b824b539eee47b7860a00be.html"}],"serviceCategories":[{"name":"Integration"}],"regionInformation":[{"key":"cf-eu10"},{"key":"cf-eu1"},{"key":"cf-us10"},{"key":"cf-eu20"},{"key":"cf-us20"},{"key":"cf-br10"},{"key":"cf-jp10"},{"key":"cf-ap10"},{"key":"cf-ap11"},{"key":"cf-ca10"},{"key":"cf-us30"}],"CFService":{"id":"d035f948-5d3a-43d7-9aec-954e234c3e9d","description":"RabbitMQ messaging","name":"rabbitmq","tags":["rabbitmq","mbus","pubsub","amqp"],"metadata":{"displayName":"RabbitMQ"},"bindable":true,"plan_updateable":true,"plans":[{"id":"e396dbdf-2d5d-4710-87e1-81f100fcf795","description":"RabbitMQ service - dev plan (for non-productive usage)","free":"true","name":"dev","technicalName":"dev","metadata":{"displayName":"dev","bullets":["Single Node Instance","256 MB Memory","500 MB Disk"]}},{"id":"4a8e635b-6957-4013-9eb4-5d29547a9423","description":"RabbitMQ service - multi-node x-small plan without load balancing","free":"false","name":"xsmall","technicalName":"xsmall","metadata":{"displayName":"xsmall","bullets":["3 Node Cluster","1 GB Memory","10 GB Disk"]}},{"id":"608da532-3280-4edd-bbd3-e52d331d1933","description":"RabbitMQ service - multi-node small plan with load balancing","free":"false","name":"small","technicalName"[...]
[...]
