---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f375d121-336f-41b3-43e4-611dc4edb2e1
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a92ba265-aa96-4e0e-7d66-f0dfb3c4a0b6
        status: 200 OK
        code: 200
        duration: 280.96807ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-caffee00affe"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fa4ac6a7-3f40-5090-1cc2-26fb2f4e97f7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Server-Message:
                - Subaccount 'aaaaaaaa-bbbb-cccc-dddd-caffee00affe' does not exist in the current global account. Make sure to provide the ID of a subaccount of the current global account.
            X-Vcap-Request-Id:
                - 2cb11402-2799-4871-52a6-c6932ce01670
        status: 404 Not Found
        code: 404
        duration: 197.135397ms
