---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 16986ec9-db50-3e9f-2941-cbc7263830fa
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 42c07313-7ccf-4000-72f6-4f93d4715818
        status: 200 OK
        code: 200
        duration: 483.025042ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appId":"cas-ui-xsuaa-prod!t216","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9e499daa-8af2-ee72-bcd5-b27fef6a02d9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/app?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/app?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7b93ce4e-2a17-4fe0-4fd0-0f6b8f065b4a
        status: 307 Temporary Redirect
        code: 307
        duration: 243.287625ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"appId":"cas-ui-xsuaa-prod!t216","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9e499daa-8af2-ee72-bcd5-b27fef6a02d9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/app?get
        method: POST
      response:
        body: '{"appid":"cas-ui-xsuaa-prod!t216","serviceinstanceid":"397f90fe-69b5-4334-965a-172b9cb8b28d","planId":"ThGdx5loQ6XhvcdY6dLlEXcTgQD7641pDKXJfzwYGLg=","planName":"application","orgId":null,"spaceId":null,"userName":null,"description":"Security profile of Content Agent UI","masterAppId":null,"tenantId":"3374b000-ef2f-4a11-9fb5-a1636dc1c480","xsappname":"cas-ui-xsuaa-prod","scopes":[{"description":"Basic user with minimal access","name":"cas-ui-xsuaa-prod!t216.user"},{"description":"Admin access ","name":"cas-ui-xsuaa-prod!t216.admin"},{"description":"Scope for standard plan.","name":"cas-ui-xsuaa-prod!t216.assemble"},{"description":"Scope for export scenario.","name":"cas-ui-xsuaa-prod!t216.export"},{"description":"Scope for application plan.","name":"cas-ui-xsuaa-prod!t216.import"},{"description":"Scope for get operations in Assembly.","name":"cas-ui-xsuaa-prod!t216.internal.getprocess"},{"description":"Scope for create MTAR operation in Assembly","name":"cas-ui-xsuaa-prod!t216.internal.createmtar"},{"description":"Scope for reading activities transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.activities.read"},{"description":"Scope for reading contentresources transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.contentresources.read"},{"description":"Scope for reading content types and transport modes in CAS","name":"cas-ui-xsuaa-prod!t216.read"},{"description":"Scope for reading transactional data of CAS","name":"cas-ui-xsuaa-prod!t216.operations.read"},{"description":"Scope for downloading files from CAS","name":"cas-ui-xsuaa-prod!t216.operations.download"},{"description":"With this scope set, the callbacks for tenant onboarding, offboarding and getDependencies can be called.","name":"cas-ui-xsuaa-prod!t216.Callback","grant-as-authority-to-apps":["tenant-onboarding!t2"]},{"description":"Scope for GACD","name":"cas-ui-xsuaa-prod!t216.cas.gacd"}],"authorities":["cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.user","cas-ui-xsuaa-prod!t216.assemble","cas-ui-xsuaa-prod!t216.import","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.operations.download","uaa.user","cas-ui-xsuaa-prod!t216.contentresources.read"],"foreign-scope-references":[],"attributes":[],"role-templates":[{"name":"Read","description":"Enables user to read operation details and contents available in the subscribed tenant","scope-references":["cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.read","cas-ui-xsuaa-prod!t216.activities.read","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"Export","description":"Enables user to perform Export operation and read details related to the operations","scope-references":["cas-ui-xsuaa-prod!t216.operations.download","cas-ui-xsuaa-prod!t216.internal.getprocess","cas-ui-xsuaa-prod!t216.operations.read","cas-ui-xsuaa-prod!t216.internal.createmtar","cas-ui-xsuaa-prod!t216.export","cas-ui-xsuaa-prod!t216.contentresources.read"],"attribute-references":[],"appId":"cas-ui-xsuaa-prod!t216"},{"name":"A[...]
[...]
