---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 638a3718-1ba3-e47f-6e4f-209ea16aee22
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 589ba7af-a2c3-49bb-6480-eefab665a9cd
        status: 200 OK
        code: 200
        duration: 607.298625ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.default","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 398ebf7a-62c4-491c-52b9-d43a7b43ad85
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/user?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/user?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - b2d9a702-ea6c-48c5-6b97-44f2897343b6
        status: 307 Temporary Redirect
        code: 307
        duration: 237.440416ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"sap.default","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 398ebf7a-62c4-491c-52b9-d43a7b43ad85
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/user?get
        method: POST
      response:
        body: '{"id":"0ae20b4c-b46a-4ee7-9e3f-42c0e9a78534","username":"jenny.doe@test.com","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","origin":"sap.default","zoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":56,"active":true,"roleCollections":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 449d2230-929e-43b6-5c3d-3efc6f87e7bd
        status: 200 OK
        code: 200
        duration: 409.004583ms
[...]
