---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b2d59946-c8ef-0697-3d32-f7f4675eec5b
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - e2235b99-827c-4dfa-4aa5-a4870aef3ff9
        status: 200 OK
        code: 200
        duration: 1.160024816s
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 43b4a303-cbe1-54e5-ac6d-9dbfcb929ea1
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 8d41408a-d0c1-4e49-6547-f692cf85b0a2
        status: 200 OK
        code: 200
        duration: 533.29861ms
