---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7507549e-3aea-290a-9223-e86c93ddc003
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - c56557cb-e174-4508-5a76-ac92d1dfcc6f
        status: 200 OK
        code: 200
        duration: 475.327672ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7cf0e7fd-cece-9d19-7b01-0b062b1f50ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?list
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - dacaffd5-d7b7-40ec-7c21-429138b2bd97
        status: 307 Temporary Redirect
        code: 307
        duration: 228.256251ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7cf0e7fd-cece-9d19-7b01-0b062b1f50ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?list
        method: POST
      response:
        body: '[{"name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud connector"}],"isReadOnly":true},{"name":"Connectivity and Destination Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector and manage the destination configurations, certificates and subaccount trust.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud connector"},{"roleTemplateAppId":"destination-xsappname!b9","r[...]
[...]
