---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 48c68c99-a24a-fbb4-d7f4-7ae1c2b02101
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 7225a3ee-7bcf-4fc2-4040-f4b40d955f73
        status: 200 OK
        code: 200
        duration: 534.66262ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appId":"cis-central!b13","directory":"5357bda0-8651-4eab-a69d-12d282bc3247","roleName":"Directory Viewer","roleTemplateName":"Directory_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a45f097d-70ce-70b2-501c-27e3b29cbd08
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?get
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Server-Message:
                - None of the authorization parameters represented a tenant for token exchange.
            X-Vcap-Request-Id:
                - da1f5aad-eaa7-444f-5117-ecdca9366205
        status: 400 Bad Request
        code: 400
        duration: 213.841637ms
