---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a3ba0bd9-dc93-fb23-1366-25d4c432bdf7
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b0c87a3a-eb5c-4b4e-4dda-4054f0c8d00f
        status: 200 OK
        code: 200
        duration: 1.49533625s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 92d21234-8f21-d2c9-f008-f7363f28dea8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Apr 8, 2024, 5:31:47 AM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a9[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c0b0f68b-a9a4-be0b-b345-3a65b3880050
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role?list
        method: POST
      response:
        body: '[{"roleTemplateName":"Application_Destination_Administrator","roleTemplateAppId":"destination-xsappname!b9","name":"Application Destination Administrator","attributeList":[],"description":"Manage destination configurations, certificates and signing keys for SAML assertions issued by the Destination service","scopes":[{"description":"Manage subaccount trust","name":"destination-xsappname!b9.manageSubaccountTrust"},{"description":"Read subaccount trust","name":"destination-xsappname!b9.readSubaccountTrust"},{"description":"Manage certificates on subaccount level","name":"destination-xsappname!b9.subaccount.manageCertificate"},{"description":"Manage destinations on subaccount level","name":"destination-xsappname!b9.subaccount.manageDestination"},{"description":"Read certificates on subaccount level","name":"destination-xsappname!b9.subaccount.readCertificate"},{"description":"Read destinations on subaccount level","name":"destination-xsappname!b9.subaccount.readDestination"}],"isReadOnly":true,"appName":"destination-xsappname","appDescription":"Retrieve and manage destination configurations, associated certificates, and signing keys for SAML assertions issued by the Destination service."},{"roleTemplateName":"Application_Destination_Viewer","roleTemplateAppId":"destination-xsappname!b9","name":"Application Destination Viewer","attributeList":[],"description":"View destination configurations, certificates and signing keys for SAML assertions issued by the Destination service","scopes":[{"description":"Read subaccount trust","name":"des[...]
[...]
