---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ec630645-4b1e-b0d4-3cf5-7548d09c7820
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 7a31b6d8-3b9b-4c8f-4b15-a04d75818051
        status: 200 OK
        code: 200
        duration: 424.8586ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"aaaaaaaa-bbbb-cccc-dddd-caffee00affe"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4cf4bb25-8c09-363d-f142-bff017c97f90
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?list
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Subaccount 'aaaaaaaa-bbbb-cccc-dddd-caffee00affe' does not exist in the current global account and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - 225d0354-d0f9-41c0-7eb5-1d193c1d892e
        status: 403 Forbidden
        code: 403
        duration: 149.9736ms
