---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fecc0bd9-384c-f7c2-6c08-57c1abc91f3c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 34a863ad-ab3b-4cfa-7e57-cdbcefe849dd
        status: 200 OK
        code: 200
        duration: 187.532ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","provider":"AWS","technicalName":"tf_test_resource_provider"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ce18a85-4ad9-4501-4651-34311ac0ebf0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/resource-provider?get
        method: POST
      response:
        body: '{"technicalName":"tf_test_resource_provider","displayName":"Test AWS Resource Provider","description":"Description of the resource provider","resourceType":"IAAS_ACCOUNT","resourceProvider":"AWS","additionalInfo":{"access_key_id":"AWSACCESSKEY","secret_access_key":"AWSSECRETKEY","vpc_id":"vpc-test","region":"eu-central-1"}}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e7fa7b39-8161-457c-4df8-39541d31ca6f
        status: 200 OK
        code: 200
        duration: 212.222833ms
[...]
