---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd1d54db-39d5-f410-b4b0-c0615f3b7cb8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 618235d5-14bb-4100-4c24-b9d7d09ffe51
        status: 200 OK
        code: 200
        duration: 298.570852ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0b4cbe4-6de7-c3ac-5e23-1a24becb3d2c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n-[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"test-service-binding-malware-scanner","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a1890e2b-eca6-3c74-e29a-62e030029d8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/binding?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?get
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 41641db6-71a0-4f97-7287-651dae4a3693
        status: 307 Temporary Redirect
        code: 307
        duration: 138.397402ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"name":"test-service-binding-malware-scanner","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a1890e2b-eca6-3c74-e29a-62e030029d8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?get
        method: POST
      response:
        body: '{"id":"0bfd7f5b-2a86-4d27-8142-f24d82c6ddfe","ready":true,"last_operation":{"id":"75c84fb6-c4f0-4207-8f80-4bffa7c04cba","ready":true,"type":"create","state":"succeeded","resource_id":"0bfd7f5b-2a86-4d27-8142-f24d82c6ddfe","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"524f0d4e-9086-b3ad-9d3d-ecd6427cf7db","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-11-24T10:33:31.44344Z","updated_at":"2023-11-24T10:33:31.538649Z"},"name":"test-service-binding-malware-scanner","service_instance_id":"34df641a-5435-4a0e-8f1c-aaf58301163c","context":{"crm_customer_id":"","env_type":"sapcp","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","instance_name":"tf-testacc-malware-scanner-sample","license_type":"SAPDEV","origin":"sapcp","platform":"sapcp","region":"cf-eu12","service_instance_id":"34df641a-5435-4a0e-8f1c-aaf58301163c","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","subdomain":"integration-test-services-static","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835"},"credentials":{"async_scan_url":"","password":"redacted","sync_scan_url":"https://malware-scanner.cf.eu12.hana.ondemand.com","uri":"malware-scanner.cf.eu12.hana.ondemand.com","url":"https://malware-scanner.cf.eu12.hana.ondemand.com","username":"redacted"},"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","created_at":"2023-11-24T10:33:31.443436Z","updated_at":"2023-11-24T10:33:31.533918Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 90781b46-adb8-4466-5552-e20a3f18e217
        status: 200 OK
        code: 200
        duration: 259.249824ms
[...]
