---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd00966f-dbc3-2c42-f237-467374f6b4e4
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"12edbec7-4ac2-4cd2-a6d5-5955aa8c2923","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - a0055a9b-d109-44a7-53c6-7d13d432ab54
        status: 200 OK
        code: 200
        duration: 454.0482ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ae1e3c8d-b9d5-41ce-f7da-8d86dba2a65f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","technicalName":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label2","value":""},{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label1","value":"label value 1"}],"labels":{"label1":["label value 1"],"label2":[]},"createdDate":"May 15, 2023, 11:50:47 AM","createdBy":"john.doe+1@int.test","modifiedDate":"May 15, 2023, 11:51:15 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0c8453e0-437c-46d8-7829-76cf1a9174cc
        status: 200 OK
        code: 200
        duration: 203.5767ms
[...]
