---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a59c2fae-9d01-1798-1cae-9c34a2ce1bff
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d0437763-e601-44f0-7bd8-5485ac21cc11
        status: 200 OK
        code: 200
        duration: 318.340306ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"fuh","subaccount":"00000000-0000-0000-0000-000000000000"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3322aa7b-382b-c898-2917-1c6c448037b8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Subaccount '00000000-0000-0000-0000-000000000000' does not exist in the current global account and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - bef50cbf-ac1b-40ad-5f31-dee2c30508e0
        status: 403 Forbidden
        code: 403
        duration: 180.541086ms
