---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 51fa0976-2998-4f72-9d55-e19e89c48261
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 17319e6b-247d-4f1c-52f0-3822796eeb46
        status: 200 OK
        code: 200
        duration: 963.7695ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 47deb2da-f3cb-2274-650e-6c40275c2c27
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369"],"keys":{"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","appId":"read-only!a129991","credentialType":"binding-secret","bindingId":"0d2eca1b-f36e-435a-bd76-72311a0e9e0a"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"}],"treatUsersWithSameEmailAsSameUser":false,"useIdpUserNameInTokens":true,"customEmailDomains":[]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 373e2057-b5bb-4aaf-4d7f-2f32a8c86dee
        status: 200 OK
        code: 200
        duration: 247.994751ms
[...]
