---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2b52c6d8-9460-04b5-81ce-c3289f9a5b33
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"95b3ec2c-d6fd-4fe4-b4f4-9705455e7f71","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 106ffc17-c1b3-46f4-58f5-81b8d8be80e2
        status: 200 OK
        code: 200
        duration: 419.0772ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 44323fdd-54cf-e41d-1d52-227701f56eca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?list
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - fd6d1dcb-89e7-4b1d-7c83-f3843da4235b
        status: 307 Temporary Redirect
        code: 307
        duration: 114.2332ms
    - id: 2
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 44323fdd-54cf-e41d-1d52-227701f56eca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?list
        method: POST
      response:
        body: '[{"name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud connector"}],"isReadOnly":true},{"name":"Connectivity and Destination Administrator","description":"Operate the data transmission tunnels used by the Cloud Connector and manage the destination configurations, certificates and subaccount trust.","roleReferences":[{"roleTemplateAppId":"connectivity!b10","roleTemplateName":"Cloud_Connector_Administrator","name":"Cloud Connector Administrator","description":"Operate the data transmission tunnels used by the Cloud connector"},{"roleTemplateAppId":"destination-xsappname!b9","r[...]
[...]
