---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 847e22a3-0632-d875-3ad5-825f46477e16
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 75b3906a-6017-4964-6c75-3f0c271248a3
        status: 200 OK
        code: 200
        duration: 1.160942625s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2acb7d47-6e8d-62eb-6ab7-5ffb72af9489
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 15, 2024, 3:55:46 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 15, 2024, 3:56:07 PM"},{"guid":"b75a605d-151c-4485-83f4-64604378e4ec","technicalName":"b75a605d-151c-4485-83f4-64604378e4ec","displayName":"test_ias","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-ias-uedsoe81","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 12, 2024, 6:09:59 AM","createdB[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 95771292-746f-68aa-5bb6-a687a9c91ffe
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key-849316750","keyIds":["default-jwt-key-849316750"],"keys":{"default-jwt-key-849316750":{"created":"Mon Jul 03 11:34:43 UTC 2023","lastModifiedAt":"Tue Jun 25 12:14:21 UTC 2024","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-4ie3yr1a.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-1430075255","keys":{"default-saml-key-1430075255":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"}],"useIdpUserNameInTokens":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 935cabb1-52ae-476a-63ba-a14a64a9d77a
        status: 200 OK
        code: 200
        duration: 428.340917ms
[...]
