---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3f8e5f17-c410-9587-2f86-9ec4561263f6
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 33a8af3c-af40-4ee7-64cc-1a341ea8eed4
        status: 200 OK
        code: 200
        duration: 197.636833ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 10d7b560-4f3b-2fb1-db59-d27fff5e2bbc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"82795e09-db5a-4b1c-8fd9-4737ae098341","technicalName":"82795e09-db5a-4b1c-8fd9-4737ae098341","displayName":"test-cls-as-1","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-cls-as-1-59zwlmth","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jun 7, 2024, 12:15:06 PM","createdBy":"john.doe+1@int.test","modifiedDate":"Jun 7, 2024, 12:15:27 PM"},{"guid":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","technicalName":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","displayName":"test-vk","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-vk-w6vh8z0b","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"May 10, 2024, 12:01:09 PM","createdBy":"john.doe+2@int.test","modifiedDate":"May 10, 2024, 12:01:24 PM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+3@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentT[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0bcc7c00-b97e-87a6-574a-03b730c7fe1a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/settings?list
        method: POST
      response:
        body: '{"iframeDomains":"","tokenPolicySettings":{"accessTokenValidity":-1,"refreshTokenValidity":-1,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key-849316750","keyIds":["default-jwt-key-849316750"],"keys":{"default-jwt-key-849316750":{"created":"Mon Jul 03 11:34:43 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://integration-test-services-4ie3yr1a.authentication.eu12.hana.ondemand.com","activeKeyId":"default-saml-key-1430075255","keys":{"default-saml-key-1430075255":{"key":"confidential","passphrase":"","certificate":"-----BEGIN CERTIFICATE-----\nMIIDSDCCAjCgAwIBAgIGElXjqKNAMA0GCSqGSIb3DQEBCwUAMFsxWTBXBgNVBAMM\nUGh0dHBzOi8vaW50ZWdyYXRpb24tdGVzdC1zZXJ2aWNlcy00aWUzeXIxYS5hdXRo\nZW50aWNhdGlvbi5ldTEyLmhhbmEub25kZW1hbmQuY29tMCAXDTE2MDEwMTAwMDAw\nMFoYDzIwNTAwMTAxMDAwMDAwWjBbMVkwVwYDVQQDDFBodHRwczovL2ludGVncmF0\naW9uLXRlc3Qtc2VydmljZXMtNGllM3lyMWEuYXV0aGVudGljYXRpb24uZXUxMi5o\nYW5hLm9uZGVtYW5kLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB\nALZXCDCuHjEl7YMQyCPLEYUoU05gn4sEx0ezOGnDbaOemSoaejZQzFqZckqeVKqJ\nXIBHIYriWTXNDAQL29RBdE0+e2BJVTPQHYdGQt+FaEFVdcX4qfQQInEEyue/sBUy\nIJtGh3AIWgbntdVZk6mKjCgmZwIAbafnbGbt6c5hMIQ+EerT1apH6DOOePd2yedH\nnkLcXkb2mN5CtAtPxP4hoYJkOz+siUFghNhGLcyQCae0whBKuj/bvU6aTdvQ9lGa\nq2A0TaZmdloJb+7kD/MBIQV8HA194pqR8V6V4tNX052lYok/g1IojWwWPrECubY3\nyddnBR+wAc3w1WJhXM++CC8CAwEAAaMQMA4wDAYDVR0TAQH/BAIwADANBgkqhkiG\n9w0BAQsFAAOCAQEAE7l7hMDcBrNme2eFlVP73560f3S8fUAH4Khw/UQS41blb3Pm\nBaeqzF1WBkq4Mo4x0nUsK7x/YlXKKCA2ao83q1Vu0lKdqI2bCNsqPD/jLsWdTMUb\nee5jVC8aFFORfDXDvcW4SqlEFh3+dKo6DzpVx2/Iz8+UGzmB2CvHgrpm/AW9ZXt9\nJNPnFkaZYKKipckKDR/DXb+wbEl7aGevL2o7sFuNDJfO2Ut+ENqBHLdvu8YnaTYa\njx+wqyt7tOcZgEijPligtvs3BqM0uHRWuTcIt+Sufea1gBd9Dnj36bT63nYBzwVP\nBBYLvy5/iyWAskjL2xMc3JiDLQtmuxdZLUnbAQ==\n-----END CERTIFICATE-----\n"}}},"links":{},"defaultIdp":"sap.default","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"b6a7d7da-41f4-4dfc-a883-fde826c2e9f9","appId":"b6a7d7da-41f4-4dfc-a883-fde826c2e9f9!b168799|abap-business-service!b1312","credentialType":"binding-secret","bindingId":"b02e4b22-906b-40c5-9c5e-dbb6a9068444"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"},{"tenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","serviceInstanceId":"df532d07-57a7-415e-a261-23a398ef068a","appId":"df532d07-57a7-415e-a261-23a398ef068a!b168799|ans-xsuaa!b72","credentialType":"binding-secret","bindingId":"9d6439fa-7c3b-4f24-ba31-8f1be0771653"}],"useIdpUserNameInTokens":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8b01134c-a570-454e-742f-a20fbba2db29
        status: 200 OK
        code: 200
        duration: 366.006042ms
[...]
