---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0320e557-9815-f6bf-0e8e-dd0fcf04d5f6
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"c7b666a8-c5a0-4c2c-b3c8-c771c878504f","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 0a74633d-dc61-46af-620b-60360bc690bc
        status: 200 OK
        code: 200
        duration: 428.3095ms
    - id: 1
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 064fe384-b034-df6e-0767-72e1d5315d0a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe@int.test","john.doe+3@int.test","john.doe+4@int.test","john.doe+5@int.test","john.doe+6@int.test","jenny.doe@test.com","john.doe+7@int.test","john.doe+8@int.test","john.doe+9@int.test","john.doe+10@int.test","john.doe+11@int.test","john.doe+12@int.test","john.doe+13@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 62439fb7-4c32-447f-46a1-b58ea129233f
        status: 200 OK
        code: 200
        duration: 162.7132ms
[...]
