---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5772f9c2-9e5d-2891-df2e-4bd32df13dbd
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 8d4ec9f6-9537-4c03-7bd6-678e9f56e94b
        status: 200 OK
        code: 200
        duration: 318.381916ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6dc84355-7598-b78b-9255-67e41f41ec81
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/user?list
        method: POST
      response:
        body: '["john.doe+1@int.test","john.doe+2@int.test","john.doe+3@int.test","john.doe+4@int.test","john.doe@int.test","john.doe+5@int.test","john.doe+6@int.test","jenny.doe@test.com","john.doe+7@int.test","john.doe+8@int.test","john.doe+9@int.test","john.doe+10@int.test","john.doe+11@int.test","john.doe+12@int.test","john.doe+13@int.test"]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - fd39b069-d78d-4b4c-7186-857f39a2f600
        status: 200 OK
        code: 200
        duration: 151.1575ms
[...]
