---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 307d31b7-b1c5-0196-3aa1-d4da47edd58e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 960e6c0e-d833-42fb-7a7e-0caaa34c4cd7
        status: 200 OK
        code: 200
        duration: 2.5742004s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b4f3ebce-ad16-9683-3501-02583d08d3cc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"eab44d45-7f99-4733-bf03-379f8cc6a268","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Feb 13, 2024, 7:22:57 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 13, 2024, 7:22:57 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - aef8d8eb-5d92-4f22-4125-5d38701d3bee
        status: 200 OK
        code: 200
        duration: 720.0635ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"eab44d45-7f99-4733-bf03-379f8cc6a268","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d41918a-d16c-8c08-0621-a827e1a0865a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","directoryID":"eab44d45-7f99-4733-bf03-379f8cc6a268","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e64c5d80-29e8-0137-9921-ec8b53006a0a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?enable
        method: POST
      response:
        body: '{"guid":"eab44d45-7f99-4733-bf03-379f8cc6a268","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Feb 13, 2024, 7:22:57 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 13, 2024, 7:23:13 AM","entityState":"UPDATING","subdomain":"eab44d45-7f99-4733-bf03-379f8cc6a268","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE","jobId":"4204687"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d77bd88b-b43c-42c3-701a-ae3a1251535a
        status: 200 OK
        code: 200
        duration: 568.3901ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is an updated directory","directoryID":"eab44d45-7f99-4733-bf03-379f8cc6a268","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4973e381-bec1-0829-6f32-67585c65b87d
            X-Cpcli-Customid[...]
[...]
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"eab44d45-7f99-4733-bf03-379f8cc6a268","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1df65b41-9f90-e60f-c63e-eb2f7347ebd9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 24
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"eab44d45-7f99-4733-bf03-379f8cc6a268","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a6c523f1-a869-1ddc-6df9-e935f568da6f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find eab44d45-7f99-4733-bf03-379f8cc6a268 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 5cb89f24-ff91-4962-4fa4-83a82992ea1a
        status: 200 OK
        code: 200
        duration: 467.269ms
