---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 14e11e87-17fd-9263-8c68-7e21e99f7718
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e29ab5aa-6835-4092-49de-2a416c429748
        status: 200 OK
        code: 200
        duration: 305.194959ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory with features","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bcf59194-0e30-8816-b6ad-32c4690893c8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 17, 2023, 8:51:43 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 17, 2023, 8:51:43 PM","entityState":"STARTED","subdomain":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"contractStatus":"ACTIVE","jobId":"3471016"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e54fb3e8-1e3a-478c-6572-2df8def7894d
        status: 200 OK
        code: 200
        duration: 448.576ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9ec41a84-afd4-caed-3505-bdbc4512f426
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 17, 2023, 8:51:43 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 17, 2023, 8:51:44 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b0ed011d-024d-4667-5588-974ebb8c2208
        status: 200 OK
        code: 200
        duration: 160.186125ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory with features","directoryID":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","displayName":"my-updated-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 73b63568-be0e-00f6-abb0-dfdbd040f319
            [...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dfb4511f-8944-1652-7903-9875e98cee0c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sa[...]
[...]
    - id: 29
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"72b4e5e6-e7e3-489a-a2c2-53121a14d973","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c265f61e-3f48-fa51-22ee-280a1ed5bfb3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 72b4e5e6-e7e3-489a-a2c2-53121a14d973 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 6db8129a-3cc1-4289-6d4b-93d01ec48e4d
        status: 200 OK
        code: 200
        duration: 143.996667ms
