---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3f1983ed-ca38-e290-6a86-99eb836eecdd
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 736c6777-b71a-4ab5-72d5-db3ae1cd572c
        status: 200 OK
        code: 200
        duration: 735.1267ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","globalAccount":"terraformintcanary","origin":"ldap","roleCollectionName":"Global Account Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7cca0382-134b-a0fb-96b9-1b70e4f39fb0
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"86535387-54aa-4282-af13-67dd50cdd13c","username":"jenny.doe@test.com","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","origin":"sap.default","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":47,"active":true,"roleCollections":["Global Account Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - c5ca8577-d4f1-4456-710f-94d8dd446221
        status: 200 OK
        code: 200
        duration: 362.5093ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"ldap","roleCollectionName":"Global Account Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b9087edb-92c7-85c6-68e5-f2e077a4df27
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-F[...]
