---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 425c6205-9eba-29ad-2f47-f4e68200cc43
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 0c7ec28d-3dd2-4055-5e8e-f2923f9f6f0a
        status: 200 OK
        code: 200
        duration: 1.8097738s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","createUserIfMissing":"true","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"terraformint-platform","roleCollectionName":"Directory Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9acbcf0a-5f6c-db42-3cf6-85d22f4c636a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0e21eb81-fc03-476a-6277-03ec8c859a25
        status: 200 OK
        code: 200
        duration: 401.5757ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"terraformint-platform","roleCollectionName":"Directory Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3c3990b9-40f1-768e-4866-86e0bcbd3f1c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?unassign
        method: POST
      response:
        body: '{"roleCollectionName":"Directory Viewer","roleCollectionIdentityZone":"05368777-4934-41e8-9f3c-6ec5f4d564b9","samlAttrName":"tf_attr_name_test","samlAttrValue":"tf_attr_val_test","comparisonOperator":"equals","samlEntityId":"https://terraformint.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3ef9c682-e9be-4db4-6d3e-ae3822c86b89
        status: 200 OK
        code: 200
        duration: 365.3491ms
