---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 91b5e40b-29ce-0a51-af31-5e522ebbe7d8
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 30d3bcb3-5f03-4c6a-65b1-d0c0aa8a1e35
        status: 200 OK
        code: 200
        duration: 529.3528ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"df532d07-57a7-415e-a261-23a398ef068a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 645fff97-7938-631f-ed2b-4cf601e0c14e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/binding?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 8bcf906a-442d-43d8-4f27-4fda0cb8f9dc
        status: 307 Temporary Redirect
        code: 307
        duration: 132.3143ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"df532d07-57a7-415e-a261-23a398ef068a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 645fff97-7938-631f-ed2b-4cf601e0c14e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?create
        method: POST
      response:
        body: '{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","ready":true,"last_operation":{"id":"44ea621d-a8d3-4f3c-aa08-b3bbfbac0995","ready":true,"type":"create","state":"succeeded","resource_id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"645fff97-7938-631f-ed2b-4cf601e0c14e","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-12-13T16:07:11.930264Z","updated_at":"2023-12-13T16:07:12.517986Z"},"name":"tfint-test-alert-sb","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a","context":{"crm_customer_id":"","env_type":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","instance_name":"tf-testacc-alertnotification-instance","license_type":"SAPDEV","origin":"sapcp","platform":"sapcp","region":"cf-eu12","service_instance_id":"df532d07-57a7-415e-a261-23a398ef068a","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"},"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","created_at":"2023-12-13T16:07:11.930261Z","updated_at":"2023-12-13T16:07:12.514348889Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b3a43b3e-5ce0-4398-6eed-17905bd9d42d
        status: 200 OK
        code: 200
        duration: 860.8961ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0b03967f-8fbf-0af1-8ca4-c31d89b82b63
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/binding?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 2c851c8a-bc87-4162-7118-2b12944f8390
        status: 307 Temporary Redirect
        code: 307
        duration: 145.1341ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0b03967f-8fbf-0af1-8ca4-c31d89b82b63
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcl[...]
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45574398-b0ba-3068-2a57-9db9aadd14ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/binding?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - b9b61260-604c-4e35-6dc8-2009e5bf87ee
        status: 307 Temporary Redirect
        code: 307
        duration: 132.8229ms
    - id: 13
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45574398-b0ba-3068-2a57-9db9aadd14ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b47fed82-d0e3-4ed2-6e28-3abc0d1f7443
        status: 200 OK
        code: 200
        duration: 540.5342ms
[...]
    - id: 15
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4aa4e7fd-c20c-4b65-8024-43565729b0e1","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8633fa32-5ed6-879c-3b07-fdd69828a943
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/binding?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_bindings"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 25c1e426-fd1a-4186-4cef-dd8270fa3f9f
        status: 200 OK
        code: 200
        duration: 129.8765ms
