---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a9133ee0-3f16-0452-3447-029e047db8b3
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6b7447b4-5405-45d1-485f-b9f4453d88fa
        status: 200 OK
        code: 200
        duration: 558.2497ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","region":"eu12","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0ce4bce8-393c-3381-ca6a-2289a009349a
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"9b29595d-2091-4c20-b606-5a752e107883","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Jul 21, 2023, 10:38:56 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 21, 2023, 10:38:56 AM","jobId":"2892573"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 65f2b127-db18-4866-52d3-4ebbc73a72f6
        status: 200 OK
        code: 200
        duration: 540.6674ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"9b29595d-2091-4c20-b606-5a752e107883"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f8867258-7ecc-ffcb-9892-821769ac3418
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"9b29595d-2091-4c20-b606-5a752e107883","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Jul 21, 2023, 10:38:56 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 21, 2023, 10:38:57 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 31602b82-69da-4c0b-4765-df13121ed8eb
        status: 200 OK
        code: 200
        duration: 250.2289ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","subaccount":"9b29595d-2091-4c20-b606-5a752e107883"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 68622061-b941-4fc2-76dc-7d875cedb9e1
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
             [...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"9b29595d-2091-4c20-b606-5a752e107883"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ad3a831-4c3c-5af0-481e-90af0d265b46
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.c[...]
[...]
    - id: 29
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"9b29595d-2091-4c20-b606-5a752e107883"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 896b06ac-ff9f-a958-6abc-85b76e441aa2
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 7ce931e5-ba3d-4392-7952-f8504790be84
        status: 200 OK
        code: 200
        duration: 206.7254ms
