---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 44fe6ec1-36e2-0260-c26b-7e7c2757aa5e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 126bb8f1-fe2a-4c77-50b3-d1818a4bda78
        status: 200 OK
        code: 200
        duration: 3.0401735s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7c5e67ba-1dd0-d8f5-8ef8-a4c6f463c97d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101014160","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Nov 18, 2024, 12:37:54 PM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 18, 2024, 7:49:40 AM","entityState":"OK","sta[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8a9e665f-951a-f2d7-afb8-6d2882a06109
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","credential-type":"secret","clientid":"redacted","tokenurl":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"full-access!a182400","clientsecret":"redacted","serviceInstanceId":"0c9dcf9f-2efc-441c-8b26-c15c19c81670","url":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","identityzoneid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","tenantid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-with-secret","zoneid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - eff519e3-49fb-47e0-4353-5b57b6039bdd
        status: 200 OK
        code: 200
        duration: 1.008213042s
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d27e471-13ef-99ff-7d83-9dc0cd337f93
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a182400","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"directory-api-credential-with-secret","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c2fb31e1-8e69-443a-5cf4-aec436d38b4d
        status: 200 OK
        code: 200
        duration: 614.263042ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bbdb6678-1d9b-c3b6-cce5-2366189db8cc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4d063d17-c201-4159-660c-f417fe51c718
        status: 200 OK
        code: 200
        duration: 681.436ms
