---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fe23ffd0-33a5-8ef1-1405-66faeb110e15
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"6e24257c-cf4e-4c75-9b51-4cc4a6441f44","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 6f9e85a4-fdc7-41bb-47ff-b390f2f47d82
        status: 200 OK
        code: 200
        duration: 376.4396ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionParams":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 64f95df4-d05f-3153-59bb-4887d3d860ef
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?subscribe
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subaccount?subscribe
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cee0ddce-5abc-42cf-7cf7-19f2f1dcff04
        status: 307 Temporary Redirect
        code: 307
        duration: 146.5212ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionParams":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 64f95df4-d05f-3153-59bb-4887d3d860ef
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subaccount?subscribe
        method: POST
      response:
        body: '{"jobId":"13298849"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 9fd1794d-2868-467b-5a1a-76dec01aa804
        status: 200 OK
        code: 200
        duration: 493.9943ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 96a1ca61-a451-2cbd-7bf1-ba322e8ec090
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subscription?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subscription?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 67c61d25-3e90-4e60-6dc5-7eec13e01004
        status: 307 Temporary Redirect
        code: 307
        duration: 154.499ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 96a1ca61-a451-2cbd-7bf1-ba322e8ec090
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-4ie3yr1a.auditlog-viewer.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscribedSubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionGUID":"3dcdd5c8-b3a7-4922-ba89-aee9e2d9935d","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"auditlog-viewer","commercialAppName":"auditlog-viewer","appId":"auditlog-viewer!t49","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"planDescription":"free plan","additionalPlanFeatures":[],"displayName":"Audit Log Viewer Service","description":"SAP Audit Log Viewer service for SAP BTP helps to view and manage audit logs.","shortDescription":"View and manage audit logs.","iconBase64":"PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNy44NDk5IDEyLjkyNjhIMTUuNDQ5OEMxMy45NTg2IDEyLjkyNjggMTIuNzQ5OCAxNC4xMzU3IDEyLjc0OTggMTUuNjI2OFY0NS4wMjY4QzEyLjc0OTggNDYuNTE4IDEzLjk1ODYgNDcuNzI2OCAxNS40NDk4IDQ3LjcyNjhIMzQuOTI2MUMzNi4wODU5IDQ3LjcyNjggMzcuMDI2MSA0OC42NjcgMzcuMDI2MSA0OS44MjY4QzM3LjAyNjEgNTAuOTg2NiAzNi4wODU5IDUxLjkyNjggMzQuOTI2MSA1MS45MjY[...]
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cfdbef84-203c-60af-669d-2e602536f67d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subaccount?unsubscribe
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 70f6c33d-ee53-44e2-700f-be49d5a86e8b
        status: 307 Temporary Redirect
        code: 307
        duration: 145.0684ms
    - id: 16
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cfdbef84-203c-60af-669d-2e602536f67d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: '{"jobId":"13298854"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 6118591d-53e8-4fad-749c-49bf49071a09
        status: 200 OK
        code: 200
        duration: 353.1107ms
[...]
