---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b047d597-dbd7-8bf7-b62f-f4efc1ecf4cf
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9603eafa-722d-4081-5955-49125ae59619
        status: 200 OK
        code: 200
        duration: 331.839833ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"createUserIfMissing":"true","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"ldap","roleCollectionName":"Directory Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9059be49-e3aa-205e-4a04-e403b8185272
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"40c72ef9-b901-4b89-91fb-3d283231f7b4","username":"jenny.doe@test.com","email":"jenny.doe@test.com","origin":"sap.default","zoneId":"05368777-4934-41e8-9f3c-6ec5f4d564b9","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":104,"active":true,"roleCollections":["Directory Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 37d3576d-5422-403d-49be-39a8d3306596
        status: 200 OK
        code: 200
        duration: 258.671583ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"ldap","roleCollectionName":"Directory Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0d550dbd-1d23-a437-5c67-2d97d5b5f3c1
            X-Cpcli-Customidp:
                - identityProvider
      [...]
