---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 3a8ab9fe-d529-9cda-983f-0fdd81d26f8c
=======
                - 2395a3be-a3a0-667a-3012-3768cf86ec30
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:02:05 GMT
=======
                - Thu, 21 Dec 2023 13:20:06 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Sessionid:
                - redacted
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - c01502d0-f1d0-44ac-6f6b-97957fcf0838
=======
                - 1bc7e87c-d09a-47b1-6b93-348776d3003e
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 301.766026ms
=======
        duration: 299.156466ms
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
    - id: 1
      request:
<<<<<<< HEAD
=======
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 558bf5c5-0450-f169-faad-77d78b306963
=======
                - 176583ac-adf8-5960-ff8c-55c506354cae
            X-Cpcli-Customidp:
                - identityProvider
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/global-account?get
        method: POST
      response:
<<<<<<< HEAD
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
=======
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"000000000","useFor":"Testing","origin":"OPERATOR","guid":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"terraform-integration-canary","description":"Unimportant account to create Terraform definitions.","createdDate":"Nov 9, 2023, 2:30:54 PM","modifiedDate":"Dec 19, 2023, 8:10:48 AM","children":[{"guid":"c009e317-aa79-40d0-9da8-c9399f066dc1","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"c009e317-aa79-40d0-9da8-c9399f066dc1","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"customProperties":[{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-1","value":"Label text 1"},{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-2","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:55 AM","children":[{"guid":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentGuid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGUID":"092e83c9-b218-4903-b692-ce26cf3eb907","parentType":"PROJECT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Nov 24, 2023, 10:33:10 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:10 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"subaccounts":[{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}],"contractStatus":"ACTIVE"}],"entityState":"OK","stateMessage":"Directory created.","subdomain":"092e83c9-b218-4903-b692-ce26cf3eb907","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"contractStatus":"ACTIVE"},{"guid":"c9f5697b-1025-45ce-bb02-ba87c836efde","parentGuid":"e497d362-bf7f-4069-bb49-449[...]
[...]
    - id: 3
      request:
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"1","autoAssign":"false","autoDistributeAmount":"0","directory":"c009e317-aa79-40d0-9da8-c9399f066dc1","distribute":"false","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 8b33ca5d-6e9c-8570-84b2-321e7a691593
=======
                - 50d620fd-5508-89b6-026f-5a6b11cc35ba
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:02:06 GMT
=======
                - Thu, 21 Dec 2023 13:20:08 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - 19c5e9f9-fcff-4e17-50a8-6c84da4282b4
=======
                - 18d2cca0-f034-4cfd-453f-242ffe251b9a
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 851.818562ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a40ce2dc-64df-7dbf-9d25-36e76af2ee48
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"alert-notification","displayName":"Alert Notification","description":"SAP Cloud Platform Alert Notification offers a common API for providers to publish alerts and for consumers to subscribe to these alerts. It is designed to send automatically real-time notifications and alerts about SAP Cloud events that may be of interest to the business and operations.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"lite","displayName":"lite","description":"Allows production & consumption of custom events","uniqueIdentifier":"alert-notification-lite","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"ELASTIC_SERVICE","sourceEntitlements":[{"entitlementName":"alert-notification-lite-SYSTEM","productDisplayName":"Alert Notification - Alert Notification","licensedQuantity":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":1.0}],"dataCenters":[{"name":"cf-us31","displayName":"US (Iowa) GCP","region":"us31","environment":"cloudfoundry","iaasProvider":"GCP","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.us31.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.us31.hana.ondemand.com","domain":"us31.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":null,"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"deprecationInfoLink":null,"numberOfAssignedEntities":0,"unlimited":false}],"iconBase64":"PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0OSA0OSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzI2MjJfMjkxMykiPjxnIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1wYXRoPSJ1cmwoI2NsaXAxXzI2MjJfMjkxMykiIGNsaXAtcnVsZT0iZXZlbm9kZCI+PHBhdGggZmlsbD0idXJsKCNwYWludDBfcmFkaWFsXzI2MjJfMjkxMykiIGQ9Ik0xOS41OTkgNDcuODFhNS4xMzYgNS4xMzYgMCAwIDEtMS42Ny0uOTA5Yy0uODc1LS42ODctMS40MDYtMS41OTQtMS41OTMtMi43MTlsLS42NTctMy4wOTMtNC4wMy0yLjQzOC0yLjgxMyAxLjIxOWE2LjIwMiA2LjIwMiAwIDAgMS0xLjc4Mi4yODEgNS4[...]
[...]
    - id: 13
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 5d2ca543-cdd7-e78d-ed2d-e6bd42a5bf45
            X-Cpcli-Customidp:
                - identityProvider
=======
                - 1c542847-569f-c315-3737-12e9708c33de
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
<<<<<<< HEAD
=======
            Content-Length:
                - "167"
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Content-Security-Policy:
                - default-src 'self'
            Content-Type:
                - application/json
            Date:
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:02:16 GMT
=======
                - Thu, 21 Dec 2023 13:20:17 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Sessionid:
                - redacted
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - 5b27de2d-cef5-4352-6fdf-d9c3139b9f30
=======
                - 71ca1fc5-6c33-4ec1-6b40-497309190b2f
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 1.286542929s
[...]
