---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8b802591-b787-b2c1-a4b5-07499323f319
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 419a2965-0810-423f-5bea-41e5f7253c77
        status: 200 OK
        code: 200
        duration: 1.3172305s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"amount":"2","autoAssign":"false","autoDistributeAmount":"0","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","distribute":"false","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 955a3fa4-e51a-d3c5-78d4-3e659a942365
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8439b172-7161-4a19-5148-a0feecadf7bc
        status: 200 OK
        code: 200
        duration: 1.059741334s
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a2f262af-13fb-9df9-4461-fff29dbf2055
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"alert-notification","displayName":"Alert Notification","description":"SAP Cloud Platform Alert Notification offers a common API for providers to publish alerts and for consumers to subscribe to these alerts. It is designed to send automatically real-time notifications and alerts about SAP Cloud events that may be of interest to the business and operations.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"lite","displayName":"lite","description":"Allows production & consumption of custom events","uniqueIdentifier":"alert-notification-lite","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"ELASTIC_SERVICE","sourceEntitlements":[{"entitlementName":"alert-notification-lite-SYSTEM","productDisplayName":"Alert Notification - Alert Notification","amount":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false}],"dataCenters":[{"name":"cf-us31","displayName":"US (Iowa) GCP","region":"us31","environment":"cloudfoundry","iaasProvider":"GCP","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.us31.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.us31.hana.ondemand.com","domain":"us31.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":null,"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"unlimited":false}],"iconBase64":null,"applicationCoordinates":{"iconFormat":"image/svg+xml","providerAccountNames":["CLM SL Alert Notification Service"],"visibility":"PUBLIC","serviceDescription":[{"linkCategory":"documentation","title":"SAP Cloud Platform Alert Notification @SAP Help Portal","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/p/ALERT_NOTIFICATION"},{"title":"Buy Now (CPEA)","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://controlcenter.ondemand.com/index.html"},{"title":"Buy Now (Subscription-based)","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://www.sapstore.com/solutions/47001/SAP-Alert-Notification-service-for-SAP-BTP"},{"title":"SAP Cloud Platform Alert Notification @SAP Community","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://blogs.sap.com/tags/73555000100800001401/"},{"title":"SAP Cloud Platform Alert Notification @SAP API Business Hub","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://api.sap.com/package/AlertNotification?section=Artifacts"},{"title":"SAP Cloud Platform Alert Notification @SAP Media Share","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://video.sap.com/embedplaylist/secure/embed/playlistId/1_qo955uqi/v2/0/uiConfId/29075341"},{"title":"Business Technology Platform Supplemental Terms and Conditions","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://www.sap.com/about/trust-center/agreements/cloud/cloud-services.html?tag=language:english&search=Supplement%20Business%20Technology%20Platform&sort=latest_desc"}],"serviceCategories":[{"name":"Foundation / Cross Services"}],"regionInformation":[{"key":"neo-eu1-trial"},{"key":"neo-eu1-staging"},{"key":"neo-eu1-canary"},{"key":"neo-eu2-canary"},{"key":"neo-eu1"},{"key":"neo-eu2"},{"key":"neo-eu3"},{"key":"neo-us1"},{"key":"neo-us2"},{"key":"neo-us3"},{"key":"neo-us4"},{"key":"neo-jp1"},{"key":"neo-ca1"},{"key":"neo-ca2"},{"key":"neo-ap1"},{"key":"neo-ap2"},{"key":"neo-sa1"},{"key":"neo-ae1"},{"key":"neo-br1"},{"key":"neo-cn1"},{"key":"neo-ru1"},{"key":"cf-eu10-canary"},{"key":"cf-eu10"},{"key":"cf-eu20"},{"key":"cf-us10"},{"key":"cf-jp10"},{"key":"cf-ap11"},{"key":"cf-ap10"},{"key":"cf-ca10"},{"key":"cf-br10"},{"key":"cf-us20"},{"key":"cf-us21"},{"key":"cf-ap21"},{"key":"cf-jp20"},{"key":"cf-eu12"},{"key":"cf-ap20"},{"key":"cf-eu30"},{"key":"cf-ch20"},{"key":"cf-eu21"},{"key":"cf-in30"},{"key":"cf-us31"}],"CFService":{"id":"66c46141-e003-474e-8c3e-9f98fa43e418","description":"Create and receive real-time alerts about your services","name":"alert-notification","metadata":{"displayName":"Alert Notification"},"bindable":true,"plan_updateable":false,"plans":[{"technicalName":"standard","description":"Allows production & consumption of custom events","name":"standard","metadata":{"bullets":["500 Producer API calls per minute","360 Consumer API calls per minute","100 registered actions","500 registered conditions","100 registered subscriptions"]}},{"technicalName":"free","name":"free","description":"Free plan. Please note, only community support is available for free service plans and these are not subject to SLAs. Use of free tier service plans are subject to additional terms and conditions as provided in the Business Technology Platform Supplemental Terms and Conditions linked in[...]
[...]
