---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 519c64b0-d829-da14-d68b-6c3d473b767a
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 19a32189-b40d-419a-710c-f0a52fe7ca5c
        status: 200 OK
        code: 200
        duration: 224.833191ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my new role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3ccdf78a-7bd1-b1e8-ec0e-897d9cee2e6e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 7a6118a7-1498-498c-4782-43cd35a3e196
        status: 200 OK
        code: 200
        duration: 173.276161ms
[...]
    - id: 6
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8677b022-5c41-5612-df73-a7be31632c5d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - ecf92823-0a6f-4403-6d74-3e72a6bb6b39
        status: 200 OK
        code: 200
        duration: 385.59618ms
[...]
    - id: 11
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e163929e-a9f6-5a76-89b9-2a4c0f5b8cdf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 7ce88c01-9240-432d-43bf-a99cfadc9b18
        status: 200 OK
        code: 200
        duration: 166.393704ms
