---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ea9ea5a3-298c-7949-4176-7cb90a4f2cdd
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1acc9626-b455-434c-5831-2dd4980e199d
        status: 200 OK
        code: 200
        duration: 675.8763ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tf-test-destination","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9d701442-f68a-81d6-2462-3d02b8595099
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 4db7a6af-e428-442e-441f-9d94510c0ff8
        status: 307 Temporary Redirect
        code: 307
        duration: 157.5574ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tf-test-destination","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9d701442-f68a-81d6-2462-3d02b8595099
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","ready":true,"last_operation":{"id":"720f855c-f662-4737-a053-eddfe4d67f04","ready":true,"type":"create","state":"succeeded","resource_id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"9d701442-f68a-81d6-2462-3d02b8595099","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-10-25T05:52:11.484383Z","updated_at":"2023-10-25T05:52:11.932342Z"},"name":"tf-test-destination","service_plan_id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","platform_id":"service-manager","context":{"subdomain":"integration-test-services-4ie3yr1a","platform":"sapcp","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","region":"cf-eu12","env_type":"sapcp","crm_customer_id":"","instance_name":"tf-test-destination"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-10-25T05:52:11.484379Z","updated_at":"2023-10-25T05:52:11.926504581Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2ebf42fa-fe55-4933-718f-64ab9c7ea305
        status: 200 OK
        code: 200
        duration: 1.0265411s
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0ba4ac16-7fca-107f-0acd-f29dac32c14f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d9259d42-d70a-4262-5de0-aa71fdca999a
        status: 307 Temporary Redirect
        code: 307
        duration: 165.9916ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0ba4ac16-7fca-107f-0acd-f29dac32c14f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 17
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","newName":"TF-TEST-DESTINATION","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e3f51a62-d7ff-fbf8-18cf-04ed51bd58c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 01f9f604-9607-4c29-69da-bca8238258c0
        status: 307 Temporary Redirect
        code: 307
        duration: 120.8182ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","newName":"TF-TEST-DESTINATION","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e3f51a62-d7ff-fbf8-18cf-04ed51bd58c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: '{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","command":"btp get services/instance 1d92c7c3-312a-4298-b6af-caf4dac21e24 --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1dfa9132-6d96-482e-6381-5d91a6cd9689
        status: 200 OK
        code: 200
        duration: 187.0905ms
[...]
    - id: 33
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ddbb294-cefa-5335-2a2e-5cd17296f1c3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 0b104379-6842-4e85-7a05-f2defb23bac5
        status: 307 Temporary Redirect
        code: 307
        duration: 162.9745ms
    - id: 34
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ddbb294-cefa-5335-2a2e-5cd17296f1c3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0767353a-7e2b-4f23-5a2f-c814e986b943
        status: 200 OK
        code: 200
        duration: 729.0972ms
[...]
    - id: 36
      request:
        host: ""
        body: |
            {"paramValues":{"id":"1d92c7c3-312a-4298-b6af-caf4dac21e24","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7a2dde3a-f035-d52e-63e9-1cf176a1860e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - af2a9c43-7c10-4640-7ba9-73998850b011
        status: 200 OK
        code: 200
        duration: 128.2285ms
