---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c9427eb-769e-19a3-5eb5-b5619f0f31f1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 263245bd-63f0-4435-4396-07a08904d219
        status: 200 OK
        code: 200
        duration: 1.181225601s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e092f464-ce7e-b74e-22df-326b3d0a54db
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"03760ecf-9d89-4189-a92a-1c7efed09298","credential-type":"secret","clientid":"redacted","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"full-access!a129991","clientsecret":"redacted","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","url":"https://terraformintcanary.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"terraformintcanary","identityzoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","tenantid":"03760ecf-9d89-4189-a92a-1c7efed09298","name":"globalaccount-api-credential-with-secret","zoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c33503a8-19b2-46d4-6c42-7417fcf31945
        status: 200 OK
        code: 200
        duration: 736.165849ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 71b6669d-3138-b75e-15da-015e88f85ba7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a129991","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"globalaccount-api-credential-with-secret","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ee72133d-bc3d-4ca6-7577-fab1e2cf8e3a
        status: 200 OK
        code: 200
        duration: 423.18389ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0e6b54eb-f65b-e7dd-1a91-d9b666c4f169
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 56614412-abf3-477a-6fd4-15b352f87b5d
        status: 200 OK
        code: 200
        duration: 481.541979ms
