---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 53e56a33-d254-4d1e-651e-831b01f530b1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4c75335a-a0b5-4e5b-7401-38ab57b3ac29
        status: 200 OK
        code: 200
        duration: 348.462292ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2dee3b3e-f3d9-9ddf-932a-e5e4f654711a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe@int.test","modi[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-read-only","readOnly":"true","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c853861e-a479-0158-e95a-ce7a4fbb954b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","credential-type":"secret","clientid":"redacted","tokenurl":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com/oauth/token","xsappname":"read-only!a549338","clientsecret":"redacted","serviceInstanceId":"e6763dad-87a7-4dc8-9a3e-49aacd1f8ed0","url":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com","uaadomain":"authentication.eu12.hana.ondemand.com","apiurl":"https://api.authentication.eu12.hana.ondemand.com","identityzone":"integration-test-security-settings-8ptbr820","identityzoneid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","tenantid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","name":"subaccount-api-credential-read-only","zoneid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e974e941-7229-4e6f-7234-11ce42fbfe86
        status: 200 OK
        code: 200
        duration: 739.383398ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-read-only","readOnly":"false","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 32792b4f-0445-ad64-948d-ee82e8fa4954
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com/oauth/token","clientId":"sb-read-only!a549338","apiurl":"https://api.authentication.eu12.hana.ondemand.com","name":"subaccount-api-credential-read-only","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f12dbb84-68bc-46d1-5c0b-29d3316b7102
        status: 200 OK
        code: 200
        duration: 517.892745ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-read-only","readOnly":"false","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e8687458-fd1a-a91c-06a0-81db88e3a744
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 33c45313-9068-440a-7d6c-ed4d1ebaa8f5
        status: 200 OK
        code: 200
        duration: 433.048733ms
