---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dfa71719-39a0-06d0-71b5-b9311198dc1b
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c03c4c17-362e-4f64-6279-d162f61aad77
        status: 200 OK
        code: 200
        duration: 4.393917s
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"this.is.not.a.valid.idp.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6b5e7d46-2705-c639-932a-9140cab7cefb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: https://this.is.not.a.valid.idp.accounts400.ondemand.com is not a valid URL
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 29133096-82aa-4f7e-537a-2871d140aaf0
        status: 200 OK
        code: 200
        duration: 306.452ms
