---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6d6a0b26-72a8-4a1f-6821-24b19e0abafa
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - bec5dd51-0be8-4738-7387-f3c27f0956f6
        status: 200 OK
        code: 200
        duration: 1.109216s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cd8f2ea5-3b7a-71f7-df67-cb94463e02b0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 285465fe-99bb-4edc-7d99-f6673c1e1c5d
        status: 307 Temporary Redirect
        code: 307
        duration: 144.4973ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cd8f2ea5-3b7a-71f7-df67-cb94463e02b0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","ready":true,"last_operation":{"id":"51f126af-bdb7-4684-9a79-b498c80ec4da","ready":true,"type":"create","state":"succeeded","resource_id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"cd8f2ea5-3b7a-71f7-df67-cb94463e02b0","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-12-13T16:09:59.65218Z","updated_at":"2023-12-13T16:10:00.634527Z"},"name":"tf-test-destination","service_plan_id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","platform_id":"service-manager","context":{"zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","crm_customer_id":"","origin":"sapcp","subdomain":"integration-test-services-4ie3yr1a","region":"cf-eu12","platform":"sapcp","instance_name":"tf-test-destination"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-12-13T16:09:59.652178Z","updated_at":"2023-12-13T16:10:00.628903973Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3034ab92-273f-440f-7d2e-435e694f8745
        status: 200 OK
        code: 200
        duration: 1.4621675s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 01a961e1-9207-8fe3-0a74-beb47ae8551a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e17d60fb-9345-47e8-5ea6-2cb45b38084a
        status: 307 Temporary Redirect
        code: 307
        duration: 137.0829ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 01a961e1-9207-8fe3-0a74-beb47ae8551a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c15a92e9-8a92-96b1-a0eb-0dd7e05eba79
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 12dc4c8c-bbb6-497a-589f-d8fa4add0b33
        status: 307 Temporary Redirect
        code: 307
        duration: 182.299ms
    - id: 13
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c15a92e9-8a92-96b1-a0eb-0dd7e05eba79
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5e6e1a79-c4e1-4c01-6614-9cfde6772727
        status: 200 OK
        code: 200
        duration: 1.140859s
[...]
    - id: 15
      request:
        host: ""
        body: |
            {"paramValues":{"id":"1f770a23-7579-46f7-8fcd-5bb9171cbec4","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a108805c-d464-83ae-c07f-c23c256b8042
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 936a1e95-de28-44fe-46e7-759df2c199fc
        status: 200 OK
        code: 200
        duration: 147.5286ms
