---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - beaa87a3-899f-d465-0a57-cf2f0e127fbc
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - 77a29fac-4b08-460b-862b-faf818222004
            X-Vcap-Request-Id:
                - e044a354-91cd-448f-7974-bc678b8c09c5
        status: 200 OK
        code: 200
        duration: 4.4009454s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description for terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","globalAccount":"terraformintcanary","iasTenantUrl":"terraformtest.accounts400.ondemand.com","name":"Custom platform IAS tenant","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cabd4a29-77fe-dd93-694e-6d64cd90bdfb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"terraformtest-platform","iasTenantUrl":"https://terraformtest.accounts400.ondemand.com","iasAppId":null,"iasAdminUrl":null,"active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"terraformtest-platform","version":0,"iasWellKnownMetadata":null,"neoAuthnWithOidc":false,"domain":"terraformtest.accounts400.ondemand.com","iasTenantUrlWithoutProtocol":"terraformtest.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a498316b-0d73-48d5-759d-6538f350a6eb
        status: 200 OK
        code: 200
        duration: 609.5774ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d089420-5ee4-c8ea-53f2-63cafb8e5e53
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f50c4498-b9c6-49a0-7741-590e287fc760
        status: 200 OK
        code: 200
        duration: 147.9562ms
[...]
    - id: 17
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 445c7cd8-a990-3ab6-87f1-007831266e44
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1b048215-511e-449f-4914-2331eb0877fc
        status: 200 OK
        code: 200
        duration: 139.8161ms
[...]
    - id: 20
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 790e478a-c7e7-1b49-2149-e37a4c296fa1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintca[...]
