---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cf8b48ff-09fd-5087-3d4b-d7c7d16e5900
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f0aa17e2-dea7-4cc3-75a6-678ed64946c1
        status: 200 OK
        code: 200
        duration: 3.461844833s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","name":"my-broker","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my.broker.test","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 71944d64-a577-b815-9d27-7f79a893039f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?register
        method: POST
      response:
        body: '{"id":"68747360-749c-4e14-afe0-341fe39ec1e8","ready":true,"last_operation":{"id":"a3752500-0940-4df1-b3c6-81041115d938","ready":true,"type":"create","state":"succeeded","resource_id":"68747360-749c-4e14-afe0-341fe39ec1e8","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"71944d64-a577-b815-9d27-7f79a893039f","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-07-18T14:23:36.079998Z","updated_at":"2024-07-18T14:23:36.704087Z"},"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my.broker.test","created_at":"2024-07-18T14:23:36.079997Z","updated_at":"2024-07-18T14:23:36.576430508Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - e4482598-a990-4235-4e10-34cea00e2231
        status: 200 OK
        code: 200
        duration: 1.221428417s
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"68747360-749c-4e14-afe0-341fe39ec1e8","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c04c69f3-653e-bd4f-4386-f70bda065488
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"68747360-749c-4e14-afe0-341fe39ec1e8","newName":"my-broker-with-a-new-name","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my.broker.test","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9baee2bd-f8da-b4de-b2be-d3ab4b86326d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
           [...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"68747360-749c-4e14-afe0-341fe39ec1e8","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 29b33048-6197-aec0-777c-f014d5e5e570
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ddd492dd-635c-4531-77d7-a8a8636c4346
        status: 200 OK
        code: 200
        duration: 537.822666ms
