---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 19291575-879f-ceaa-ba08-d4dcf73abda2
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 146bfdaf-d220-4d30-6148-8e82e58c9e37
        status: 200 OK
        code: 200
        duration: 701.764917ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1cc62331-90fa-2263-0a54-af7ffc2fccbc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"a","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"b","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"82795e09-db5a-4b1c-8fd9-4737ae098341","technicalName":"82795e09-db5a-4b1c-8fd9-4737ae098341","displayName":"test-cls-as-1","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-cls-as-1-59zwlmth","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jun 7, 2024, 12:15:06 PM",[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","iasTenantUrl":"btpterraform.accounts400.ondemand.com","name":"Custom IAS tenant for apps","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c3b81254-066a-928f-99ec-52449b9e5cfc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":{"domain":"btpterraform.accounts400.ondemand.com"},"providerDescription":"Description for btpterraform.accounts400.ondemand.com","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"logoutUrl":null,"tokenKey":null,"linkText":"btpterraform.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"20cbe457-303a-49bd-8127-b53c4bc3bd8d","scopes":["openid","email"],"issuer":"https://btpterraform.accounts400.ondemand.com","responseType":"code","discoveryUrl":"https://btpterraform.accounts400.ondemand.com/.well-known/openid-configuration","userInfoUrl":null,"passwordGrantEnabled":true,"setForwardHeader":true,"platformIdp":false,"applicationIdp":true,"iasTenant":{"host":"btpterraform.accounts400.ondemand.com","adminUrl":"https://btpterraform.accounts400.ondemand.com/admin/#/applications/679209a3-68fa-4206-afe3-960f841ee473"},"neoAuthnWithOidc":false},"id":"96875e0b-5ba7-41d3-a889-033200f75d1f","originKey":"sap.custom","name":"Custom IAS tenant for apps","version":0,"created":1721059123053,"last_modified":1721059123053,"active":true,"identityZoneId":"31db5972-22fd-45b7-b923-6a91926cc598"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - dc7b01e8-9333-4f26-71cb-885cfb3d56ba
        status: 200 OK
        code: 200
        duration: 2.779917458s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"domain":"btpterraform.accounts400.ondemand.com","iasTenantUrl":"btpterraform.accounts400.ondemand.com","linkText":"custom link text","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"false","status":"inactive","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b4923114-62c2-da24-0c1d-c6769e60773c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant for apps","originKey":"sap.custom","typeOfTrust":"Application","status":"inactive","description":"Description for btpterraform.accounts400.ondemand.com","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"custom link text","availableForUserLogon":"false","createShadowUsersDuringLogon":"false","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1a78a305-7396-481e-5448-7d63d0262b8b
        status: 200 OK
        code: 200
        duration: 742.900042ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f1dd75c5-2f92-6a0a-bc36-da186fe5c4c7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?get
        method: POST
      response:
        body: '{"name":"Custom IAS tenant for apps","originKey":"sap.custom","typeOfTrust":"Application","status":"inactive","description":"Description for btpterraform.accounts400.ondemand.com","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":"custom link text","availableForUserLogon":"false","createShadowUsersDuringLogon":"false","sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b8feb2f9-bef9-4143-5d24-65dc4e3ed37e
        status: 200 OK
        code: 200
        duration: 389.387166ms
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"31db5972-22fd-45b7-b923-6a91926cc598"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8241c359-e5f7-c780-f3eb-65ab456b21db
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformin[...]
