---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 196ad244-2ba2-057f-314b-8b8703378a97
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7f9ea4f8-c178-423d-698a-1fa85dc965a7
        status: 200 OK
        code: 200
        duration: 2.460344625s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ccc66252-eece-b8f6-bf7a-9e56f7cfa1f1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101014160","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Nov 18, 2024, 12:37:54 PM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 18, 2024, 7:49:40 AM","entityState":"OK","sta[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-read-only","readOnly":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3d2b0467-6a77-97f0-7d29-6645980d717b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","credential-type":"secret","clientid":"redacted","tokenurl":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"read-only!a182400","clientsecret":"redacted","serviceInstanceId":"149bf654-cc70-431e-80e0-aaf3b166e787","url":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","identityzoneid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","tenantid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-read-only","zoneid":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b0eb0887-8150-495f-5e79-13e9c417871c
        status: 200 OK
        code: 200
        duration: 864.455333ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c82d64dd-fc05-7cbc-a434-a560e08c0023
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://e2af7883-3dcf-4f22-8ce5-8df81e10e62f.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-read-only!a182400","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"directory-api-credential-read-only","read-only":true}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 415ef8d5-ce42-4648-4710-5858262ca326
        status: 200 OK
        code: 200
        duration: 481.374917ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"e2af7883-3dcf-4f22-8ce5-8df81e10e62f","name":"directory-api-credential-read-only","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fa551e3d-c3ef-38f2-e70d-80fde6eeb872
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7ca3295e-0022-48de-47cd-3d320fe20c33
        status: 200 OK
        code: 200
        duration: 691.286166ms
