---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2ff3d124-4586-f111-47f3-27bd48ab07a6
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 99f8db4d-9cc3-49af-4ea3-0e49d81885e4
        status: 200 OK
        code: 200
        duration: 380.7514ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my new role collection","roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e9612ccd-0ffd-c1b7-2f1d-20f4fe38a49d
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?create
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d5aa5f2e-5156-4f14-6435-368d6acb0bcb
        status: 307 Temporary Redirect
        code: 307
        duration: 187.2088ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"description":"Description of my new role collection","roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e9612ccd-0ffd-c1b7-2f1d-20f4fe38a49d
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 5d8d6e2b-8e6c-49e8-6d54-c1d7258db4db
        status: 200 OK
        code: 200
        duration: 136.4399ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e9b842ab-042a-b6fd-cb31-2175a27d23ac
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?add
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - f0f0c6ce-a033-4eb2-7917-4d91946c5565
        status: 307 Temporary Redirect
        code: 307
        duration: 228.8484ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e9b842ab-042a-b6fd-cb31-2175a27d23ac
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 23b07b6b-bca8-48f8-6071-5c304cafa886
        status: 200 OK
        code: 200
        duration: 140.915ms
[...]
    - id: 11
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 27e0a9d3-662b-4f5d-2959-ad21f659aff7
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d63dc900-efc8-418e-4cb7-ebe6ad9904e8
        status: 307 Temporary Redirect
        code: 307
        duration: 165.7352ms
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 27e0a9d3-662b-4f5d-2959-ad21f659aff7
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","roleReferences":[{"roleTemplateAppId":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","name":"Destination Viewer","description":"View destination configurations, certificates and signing keys for SAML assertions issued by the Destination service"},{"roleTemplateAppId":"cis-local!b2","roleTemplateName":"Subaccount_Viewer","name":"Subaccount Viewer","description":"Role for subaccount members with read-only authorizations for core commercialization operations, such as viewing subaccount entitlements, details of environment instances, and job results."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 90c0e27b-63d2-4cfb-47ec-33ed36fa984f
        status: 200 OK
        code: 200
        duration: 90.541ms
[...]
    - id: 17
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 13327f36-56cf-ac05-3e6e-c3de6bdcf9ba
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?delete
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 0c711343-ac62-4ba2-49c9-231448f27948
        status: 307 Temporary Redirect
        code: 307
        duration: 194.0285ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 13327f36-56cf-ac05-3e6e-c3de6bdcf9ba
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 7f53ca37-2206-4574-5c84-ae7776a762b9
        status: 200 OK
        code: 200
        duration: 149.8458ms
