---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c5751616-bded-d06b-115d-fbb19c11b83f
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 0d5cf5ae-4091-4fe2-6b72-b91a12887a0f
        status: 200 OK
        code: 200
        duration: 2.0097849s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","createUserIfMissing":"true","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b174d8d7-3578-1ac1-8724-1ade1406e976
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e5c8fab6-62ed-4f15-6f9e-cb40b5683afb
        status: 307 Temporary Redirect
        code: 307
        duration: 135.508ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","createUserIfMissing":"true","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b174d8d7-3578-1ac1-8724-1ade1406e976
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 0200a56e-eb35-4b07-78b2-a2abd2572e05
        status: 200 OK
        code: 200
        duration: 270.1175ms
[...]
    - id: 10
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7fe03287-2b7d-3a1d-f5ae-20aab3c57b46
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?unassign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?unassign
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 182c5e0b-058b-4db1-67a1-35bd3e6c65db
        status: 307 Temporary Redirect
        code: 307
        duration: 138.4239ms
    - id: 11
      request:
        host: ""
        body: |
            {"paramValues":{"attribute":"tf_attr_name_test","attributeValue":"tf_attr_val_test","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7fe03287-2b7d-3a1d-f5ae-20aab3c57b46
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/role-collection?unassign
        method: POST
      response:
        body: '{"roleCollectionName":"Destination Administrator","roleCollectionIdentityZone":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","samlAttrName":"tf_attr_name_test","samlAttrValue":"tf_attr_val_test","comparisonOperator":"equals","samlEntityId":"https://terraformint.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 587b7c17-12c0-4f6f-576c-a0797507ae0d
        status: 200 OK
        code: 200
        duration: 301.964ms
