---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d5c5a0e-c519-a2d1-3f45-3364d9dd7687
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 7cf55769-aab0-4611-7c88-4e2a44ed70ac
        status: 200 OK
        code: 200
        duration: 340.121086ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"terraformint-platform","roleCollectionName":"Directory Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e220318e-ebd5-0f32-1bbb-94e6d80a41d4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"7409b6ba-5340-4867-9221-225d07ceefb2","username":"john.doe@test.com","email":"john.doe@test.com","origin":"terraformint-platform","zoneId":"05368777-4934-41e8-9f3c-6ec5f4d564b9","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":1,"active":true,"roleCollections":["Directory Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 2438cfe6-3950-435e-5d41-3a16662f1d50
        status: 200 OK
        code: 200
        duration: 334.305921ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"terraformint-platform","roleCollectionName":"Directory Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f43fd39d-257e-b100-45c3-efa6b24a780b
            X-Cpcli-Customidp:
                -[...]
