---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - dd528d72-626c-3f09-fa88-b8a6ba0f66d7
=======
                - bb33c37b-db76-e02e-6351-b31c6f9fd498
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:02:33 GMT
=======
                - Thu, 21 Dec 2023 13:20:32 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Sessionid:
                - redacted
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - e05b8cbc-5c35-4a04-6bcc-23b41114a950
=======
                - dc0a34ce-9c7f-4f72-5b30-b240254d491e
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 474.157848ms
=======
        duration: 279.564956ms
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
    - id: 1
      request:
<<<<<<< HEAD
=======
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 41695648-5383-7448-7adc-f6ec5016c2a6
=======
                - b147a142-31ce-bfc6-2894-01d45f443b51
            X-Cpcli-Customidp:
                - identityProvider
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/global-account?get
        method: POST
      response:
<<<<<<< HEAD
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
=======
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"000000000","useFor":"Testing","origin":"OPERATOR","guid":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"terraform-integration-canary","description":"Unimportant account to create Terraform definitions.","createdDate":"Nov 9, 2023, 2:30:54 PM","modifiedDate":"Dec 19, 2023, 8:10:48 AM","children":[{"guid":"c009e317-aa79-40d0-9da8-c9399f066dc1","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"c009e317-aa79-40d0-9da8-c9399f066dc1","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-1","value":"Label text 1"},{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-2","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:55 AM","children":[{"guid":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentGuid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGUID":"092e83c9-b218-4903-b692-ce26cf3eb907","parentType":"PROJECT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Nov 24, 2023, 10:33:10 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:10 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"subaccounts":[{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}],"contractStatus":"ACTIVE"}],"entityState":"OK","stateMessage":"Directory created.","subdomain":"092e83c9-b218-4903-b692-ce26cf3eb907","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"contractStatus":"ACTIVE"},{"guid":"c9f5697b-1025-45ce-bb02-ba87c836efde","parentGuid":"e497d362-bf7f-4069-bb49-449[...]
[...]
    - id: 3
      request:
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"2","autoAssign":"false","autoDistributeAmount":"0","directory":"c009e317-aa79-40d0-9da8-c9399f066dc1","distribute":"false","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - cbb80d4a-9fea-95e1-4f94-e5b7ee013d32
=======
                - 9287d9c1-15f0-f234-e73e-69d87723193c
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:02:34 GMT
=======
                - Thu, 21 Dec 2023 13:20:33 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - 6bed237d-97bf-4e12-5797-dc33ba47a891
=======
                - 2777b7ae-8a59-4c2c-78cf-1a94fc05ba8f
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 1.175637377s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f456604-34b1-bc98-054d-362263f2cb02
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"data-privacy-integration-service","displayName":"Data Privacy Integration","description":"SAP Data Privacy Integration service supports applications realize their data privacy functions i.e Business Purpose Management ( Ensure Data is processed in a compliant manner based on valid Business Purpose ), Data Deletion and Retrieval of personal data. Applications that are part of an end to end business process can integrate with DPI to provide a centralized management of data privacy.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"standard","displayName":"standard","description":"Standard Plan","uniqueIdentifier":"data-privacy-integration-service-standard","provisioningMethod":"SERVICE_BROKER","amount":2.0,"remainingAmount":2.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":0,"maxAllowedSubaccountQuota":null,"category":"SERVICE","sourceEntitlements":[{"entitlementName":"data-privacy-integration-service-standard-SYSTEM","productDisplayName":"Data Privacy Integration Service - Provides Access to APIs for managing Information, Consent and Deletion capabilities","licensedQuantity":2.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":2.0}],"dataCenters":[{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":[],"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"deprecationInfoLink":null,"numberOfAssignedEntities":0,"unlimited":false}],"iconBase64":"PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0OSA0OSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzI2MjJfMzI0MykiPjxwYXRoIGZpbGw9InVybCgjcGFpbnQwX3JhZGlhbF8yNjIyXzMyNDMpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNS4xNS4xMjhMNDEuNzMgNC45MWgtLjAwNWMxLjE3NC4zMTQgMS43NiAxLjA5NCAxLjc2IDIuMzQ0djE2Ljc3OWMwIDIuNjI1LS40MyA1LjAzMi0xLjI5NiA3LjIxOS0uODY2IDIuMTg3LTEuOTQ2IDQuMTU3LTMuMjQyIDUuOTA1LTEuMjk2IDEuNzUtMi43MDEgMy4yODItNC4yMTQgNC41OTQtMS41MTMgMS4zMTQtMi45NDkgMi40MDYtNC4zMDYgMy4[...]
[...]
