---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7261001c-54c3-47e2-3ed0-9d792d84de5c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7a7d86a6-ef8f-4367-5ff6-14181696a7a3
        status: 200 OK
        code: 200
        duration: 388.537708ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","name":"my-broker","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my.broker.test","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e4dcd9e2-a938-6cfc-5b58-f4399620a19e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?register
        method: POST
      response:
        body: '{"id":"526e49d3-7ab5-4b8c-9290-64fb93b5c3d6","ready":true,"last_operation":{"id":"41f3e342-ed13-4608-ac95-8891b18f69dd","ready":true,"type":"create","state":"succeeded","resource_id":"526e49d3-7ab5-4b8c-9290-64fb93b5c3d6","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"e4dcd9e2-a938-6cfc-5b58-f4399620a19e","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-07-19T08:59:46.621762Z","updated_at":"2024-07-19T08:59:47.279153Z"},"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my.broker.test","created_at":"2024-07-19T08:59:46.62176Z","updated_at":"2024-07-19T08:59:47.151733917Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - 7d55101b-f77b-46b0-7829-b836d3b078fb
        status: 200 OK
        code: 200
        duration: 1.325481666s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"526e49d3-7ab5-4b8c-9290-64fb93b5c3d6","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e35c28d7-48f8-d828-7560-3b165b2a408a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"526e49d3-7ab5-4b8c-9290-64fb93b5c3d6","newName":"my-broker-with-a-new-name","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my.broker.test","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8dd8336e-b309-1d1d-bd6a-839e0b6baa9c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
           [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"526e49d3-7ab5-4b8c-9290-64fb93b5c3d6","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d5053e17-fc8b-578a-715a-2e57a3f94b27
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bb45e1ef-cff7-4702-5fb9-c630a5aa6497
        status: 200 OK
        code: 200
        duration: 512.764833ms
