---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 016c23cd-72ed-16ce-49ab-7d11a34a1920
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d61b98c2-ac0f-4f7b-6e84-ac097ba45794
        status: 200 OK
        code: 200
        duration: 10.625847069s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ed6c3486-6709-f6ec-ed8b-c8c35d323803
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:59 AM"},{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:52 AM"},{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - de36d4e6-204d-43a9-6f2a-ac85b3fa32fc
        status: 200 OK
        code: 200
        duration: 207.709118ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835","subscriptionParams":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f152905-6fd6-ff4d-3cdc-d90e1b3279c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?subscribe
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subaccount?subscribe
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 9274aafc-598f-460c-56bd-94962b59bf8d
        status: 307 Temporary Redirect
        code: 307
        duration: 265.88526ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835","subscriptionParams":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f152905-6fd6-ff4d-3cdc-d90e1b3279c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subaccount?subscribe
        method: POST
      response:
        body: '{"jobId":"19011041"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 35d48b35-77b2-4e33-5640-0e9bf17256ad
        status: 200 OK
        code: 200
        duration: 5.881080543s
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 212fc4b8-b6b0-9940-bc7b-f48041080af9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subscription?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subscription?get
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 51c844d4-d7e2-44ac-6206-a97ba64738a3
        status: 307 Temporary Redirect
        code: 307
        duration: 162.231002ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 212fc4b8-b6b0-9940-bc7b-f48041080af9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-static.auditlog-viewer.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"cc8917a8-c888-430d-87bb-08fefdb5c835","subscribedSubaccountId":"cc8917a8-c888-430d-87bb-08fefdb5c835","subscriptionGUID":"a4693a9b-8605-4f92-89b3-087d3dafb85f","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"auditlog-viewer","commercialAppName":"auditlog-viewer","appId":"auditlog-viewer!t49","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"planDescription":"SAP UI5 application that is showing the audit data in an application view, making it available to customers.","additionalPlanFeatures":[],"displayName":"Audit Log Viewer Service","description":"SAP Audit Log Viewer service for SAP BTP helps to view and manage audit logs.","shortDescription":"View and manage audit logs.","iconBase64":"PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0OSA0OSI+PHBhdGggZmlsbD0idXJsKCNwYWludDBfcmFkaWFsXzI2MjJfMzE5NSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE0LjM1IDguOTYyaC0yLjRhMi43IDIuNyAwIDAgMC0yLjcgMi43djI5LjRhMi43IDIuNyAwIDAgMCAyLjcgMi43aDE5LjQ3NmEyLjEgMi4xIDAgMSAxIDAgNC4ySDExLjk1YTYuOSA2LjkgMCAwIDEtNi45LTYuOXYtMjkuNGE2LjkgNi45IDAgMCAxIDYuOS02LjloMi40MDFBNC44IDQuOCAwIDAgMSAxOS4xNS4wNjhoMTAuMmE0LjggNC44IDAgMCAxIDQuNzk5IDQuNjk0aDIuNGE2LjkgNi45IDAgMCAxIDYuOSA2Ljl[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ba8f4bc-fafe-bc12-5815-ef86f24c0f60
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subaccount?unsubscribe
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 2ae656f6-b381-4e08-7c6b-dbb7b1c89994
        status: 307 Temporary Redirect
        code: 307
        duration: 176.012664ms
    - id: 20
      request:
        host: ""
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ba8f4bc-fafe-bc12-5815-ef86f24c0f60
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: '{"jobId":"19011049"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0225b914-68cb-4f7c-6a8b-47eb4015ac4b
        status: 200 OK
        code: 200
        duration: 409.554193ms
[...]
