---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 17f98bea-f26e-a499-2e8c-3b7ecd888482
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a6012a7e-eea9-46ad-7dda-b3bfd5360898
        status: 200 OK
        code: 200
        duration: 1.563529493s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ac34f67-ba3b-56dc-4110-ac8bac685bcf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Apr 8, 2024, 5:31:47 AM"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings-8ptbr820","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created."[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c90a2229-a936-dda4-364a-58f66df8b645
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/plan?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/plan?list
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - ad0dea85-e164-4641-6daa-3017edb8ec5d
        status: 307 Temporary Redirect
        code: 307
        duration: 154.895677ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c90a2229-a936-dda4-364a-58f66df8b645
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.839945Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.851526Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.866764Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-05-16T12:57:14.543069Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31c098","labels":"commercial_name = service","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"service","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-05-16T12:57:14.614415Z"},{"bindable":true,"catalog_id":"saasApplication","catalog_name":"application","created_at":"2020-08-10T07:35:37.447784Z","data_center":"","description":"Service plan for SaaS application owners to manage the lifecycle of SaaS applications with SAP SaaS Provisioning APIs.","free":true,"id":"c5d7a86e-176b-4ee8-8286-7910970f7dc3","labels":"commercial_name = application","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":true},"name":"application","ready":true,"serv[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"malware-scanner","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 444d1359-9e13-a931-78c3-702a8d416081
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/offering?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/offering?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cd3d9e36-5693-4246-7a37-73d1ea36b133
        status: 307 Temporary Redirect
        code: 307
        duration: 165.902979ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"name":"malware-scanner","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 444d1359-9e13-a931-78c3-702a8d416081
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/offering?get
        method: POST
      response:
        body: '{"id":"f474342c-31c4-461a-93d9-55d557674d79","ready":true,"name":"malware-scanner","description":"Scan single files for threats, via HTTP","bindable":true,"instances_retrievable":false,"bindings_retrievable":false,"plan_updateable":false,"allow_context_updates":false,"metadata":{"displayName":"Malware Scanning","longDescription":"Scan Business documents for viruses.","documentationUrl":"https://github.wdf.sap.corp/MalwareScanning/sap-cp-malware-scanner","serviceInventoryId":"SERVICE-290","sap":{"tenant_aware":false,"instance_isolation":true}},"broker_id":"99fd8fca-b758-48f6-a39d-2a7f1f7a554b","catalog_id":"82ed8b19-b3ae-4398-82e7-f3c50db6f503","catalog_name":"malware-scanner","created_at":"2020-08-12T13:20:09.218291Z","updated_at":"2024-05-16T12:55:50.899912Z"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d640b3ed-8115-42d4-4142-8e18ac04f15a
        status: 200 OK
        code: 200
        duration: 227.559413ms
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tf-test-malware-scanner","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 79799f38-4888-726a-9a02-198973f85d6d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 63468189-7ccc-487b-779c-e2f5be8d01b5
        status: 307 Temporary Redirect
        code: 307
        duration: 142.878407ms
    - id: 8
      request:
        host: ""
        body: |
            {"paramValues":{"labels":"{\"foo\":[\"bar\"]}","name":"tf-test-malware-scanner","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 79799f38-4888-726a-9a02-198973f85d6d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?create
        method: POST
      response:
        body: '{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","ready":true,"last_operation":{"id":"8eb2432e-97a3-421e-9532-be1b7dd351d7","ready":true,"type":"create","state":"succeeded","resource_id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"79799f38-4888-726a-9a02-198973f85d6d","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-05-17T06:24:19.381406Z","updated_at":"2024-05-17T06:24:19.526997Z"},"name":"tf-test-malware-scanner","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","env_type":"sapcp","crm_customer_id":"","region":"cf-eu12","platform":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","instance_name":"tf-test-malware-scanner"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2024-05-17T06:24:19.381404Z","updated_at":"2024-05-17T06:24:19.520830909Z","labels":"foo = bar; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 6ad74e55-5e54-4a44-6bd2-84297bcca13d
        status: 200 OK
        code: 200
        duration: 390.002761ms
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2cea1f0a-d8c6-1df8-04f9-df041a092c0c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cb881e72-c8cc-4a94-6a93-2eacd5f0f3a2
        status: 307 Temporary Redirect
        code: 307
        duration: 120.744689ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2cea1f0a-d8c6-1df8-04f9-df041a092c0c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - j[...]
[...]
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 224605ba-0ce1-04c3-3355-cda485aea098
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"BadRequest","description":"this operation is not supported."}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5a356106-f90a-40f0-58c9-14f826d74c7f
        status: 200 OK
        code: 200
        duration: 139.744811ms
[...]
    - id: 46
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","newName":"TF-TEST-MALWARE-SCANNER","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 05145067-fc5b-7bbb-ea4d-f0757fa7b63c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?update
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - ca395f76-3101-4d79-5720-5c315316ac53
        status: 307 Temporary Redirect
        code: 307
        duration: 130.469271ms
    - id: 47
      request:
        host: ""
        body: |
            {"paramValues":{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","newName":"TF-TEST-MALWARE-SCANNER","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 05145067-fc5b-7bbb-ea4d-f0757fa7b63c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?update
        method: POST
      response:
        body: '{"id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","command":"btp get services/instance 93ecb973-e0e0-4215-b9cf-c2021d483e74 --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - eaa08cf2-0171-42c3-7f42-54fbbe62ebf9
        status: 200 OK
        code: 200
        duration: 246.701622ms
[...]
    - id: 92
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e1112656-7be5-1e4f-06e1-11137e19e525
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 0bb30000-e5b8-44c4-7a2e-94c9bfeb2e7a
        status: 307 Temporary Redirect
        code: 307
        duration: 134.312717ms
    - id: 93
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"93ecb973-e0e0-4215-b9cf-c2021d483e74","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e1112656-7be5-1e4f-06e1-11137e19e525
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b1e98baf-b1de-4b09-4693-fd73c65d9ce3
        status: 200 OK
        code: 200
        duration: 236.688399ms
[...]
