---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 82a71efa-f35f-3d90-cbe1-2ddc8c2afb58
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c9316762-3689-48d0-4705-f852782925ae
        status: 200 OK
        code: 200
        duration: 669.866083ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","name":"my-broker","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my.broker.test","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 24dc651e-1c6c-33c8-2db5-e31538274b94
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?register
        method: POST
      response:
        body: '{"id":"eca003f6-711d-4424-9d5c-3e1d80160568","ready":true,"last_operation":{"id":"5a85aac5-3e87-49c9-8564-d8f6c55c39da","ready":true,"type":"create","state":"succeeded","resource_id":"eca003f6-711d-4424-9d5c-3e1d80160568","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"24dc651e-1c6c-33c8-2db5-e31538274b94","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-07-18T13:40:21.43754Z","updated_at":"2024-07-18T13:40:22.583499Z"},"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my.broker.test","created_at":"2024-07-18T13:40:21.437538Z","updated_at":"2024-07-18T13:40:22.394951558Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - e5e4882b-01ee-4bae-404b-541a116c8115
        status: 200 OK
        code: 200
        duration: 1.981504917s
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"eca003f6-711d-4424-9d5c-3e1d80160568","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c3dcca69-9d0f-6f09-4328-830f154f44cc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"eca003f6-711d-4424-9d5c-3e1d80160568","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 15d0ed81-d2aa-d39b-2846-6fef8777ef60
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3770b412-54b0-4882-4655-ee986628bf09
        status: 200 OK
        code: 200
        duration: 693.686583ms
