---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 37aaa17b-fe6e-205a-7138-f038b22b6e32
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - c7c3b055-15ff-4507-6185-6f113a188377
        status: 200 OK
        code: 200
        duration: 1.051924127s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn-2","region":"eu12","subdomain":"integration-test-acc-dyn-2","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e20d1560-df86-f1c5-8d0a-d04e9905bb73
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"67d351f5-2800-4074-ba52-e0646c905570","technicalName":"N\/A","displayName":"integration-test-acc-dyn-2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn-2","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"STARTED","createdDate":"Jul 3, 2023, 3:45:29 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 3, 2023, 3:45:29 PM","jobId":"2770628"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 9ca8ea55-c303-4857-6f11-3455958ebeb4
        status: 200 OK
        code: 200
        duration: 633.053499ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"67d351f5-2800-4074-ba52-e0646c905570"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f22f2cc0-fcd1-af5a-16e8-78a9f6984edb
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"67d351f5-2800-4074-ba52-e0646c905570","technicalName":"N/A","displayName":"integration-test-acc-dyn-2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn-2","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Jul 3, 2023, 3:45:29 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 3, 2023, 3:45:30 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 1c8292fc-d0a1-4a27-513b-d65db4ba0a11
        status: 200 OK
        code: 200
        duration: 353.860619ms
[...]
    - id: 8
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"67d351f5-2800-4074-ba52-e0646c905570"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d78dc64f-70f4-8eab-7b6a-86b8ff85ebd2
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.c[...]
[...]
    - id: 12
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"67d351f5-2800-4074-ba52-e0646c905570"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 95cfdce5-9fb3-3bca-a433-be468436a0cd
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 1cc1f822-7fe3-4f40-5487-2ba31872d889
        status: 200 OK
        code: 200
        duration: 293.724931ms
