---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 47fd34d6-2801-9aa7-0496-d74e38f72ec1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 434422dd-31e9-400e-608e-be8a3facce44
        status: 200 OK
        code: 200
        duration: 2.672709209s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"btpterraform.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 81b069cf-e125-5a29-ae6c-fe2668346fd4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/trust?create
        method: POST
      response:
        body: '{"originKey":"btpterraform-platform","iasTenantUrl":"https://btpterraform.accounts400.ondemand.com","iasAppId":null,"iasAdminUrl":null,"active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"btpterraform-platform","version":0,"iasWellKnownMetadata":null,"ipsIntegrationSetupStatus":null,"neoAuthnWithOidc":false,"domain":"btpterraform.accounts400.ondemand.com","name":null,"aliasZid":null,"iasTenantUrlWithoutProtocol":"btpterraform.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2b4b7f82-f037-4179-4bee-14384a514ae4
        status: 200 OK
        code: 200
        duration: 679.893375ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 78b43ada-956f-f8d2-1bbb-ded4f1632884
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/trust?get
        method: POST
      response:
        body: '{"name":"btpterraform-platform","originKey":"btpterraform-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"btpterraform","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8a35d09f-cb1e-442a-4305-613f61eedb9e
        status: 200 OK
        code: 200
        duration: 310.572958ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","globalAccount":"terraformintcanary","name":"Custom platform IAS tenant","originKey":"btpterraform-platform","refreshTrust":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5b2478b4-1d81-fbf3-495d-575f67fea689
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"btpterraform-platform","typeOfTrust":"Platform","status":"active","description":"Description for btpterraform.accounts400.ondemand.com","identityProvider":"https://btpterraform.accounts400.ondemand.com","domain":"btpterraform.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6cb373b0-dfdd-4cc6-5b30-b52a6416e630
        status: 200 OK
        code: 200
        duration: 944.361875ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"btpterraform-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5f61f5ad-4511-b360-dc78-d4952723e84e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcan[...]
