---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d1488a69-5cd4-e68a-b179-9bdd4fd89d4d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 96ebd094-b0b8-4c40-55cf-3300b4858710
        status: 200 OK
        code: 200
        duration: 2.372358125s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","displayName":"my-new-directory-features","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7bc10957-c974-221f-af15-d51f4c833253
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-features","description":"This is a new directory","createdDate":"Jan 27, 2025, 7:09:27 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 27, 2025, 7:09:27 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 31a716b6-b4ae-471b-6222-7c188b233ce6
        status: 200 OK
        code: 200
        duration: 408.4555ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 29e48cff-230b-2925-ec62-4a18c7ee12a1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","directoryID":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4be88f6f-8c26-7aed-8ab8-05679598dca7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?enable
        method: POST
      response:
        body: '{"guid":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-features","description":"This is a new directory","createdDate":"Jan 27, 2025, 7:09:27 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 27, 2025, 7:09:39 AM","entityState":"UPDATING","subdomain":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE","jobId":"8773386"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c355b1ae-a68d-4f0b-6469-47fb94b2e64b
        status: 200 OK
        code: 200
        duration: 426.865792ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is an updated directory","directoryID":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","displayName":"my-updated-directory-features","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d126dcd-38e7-9646-2070-13a98317557c
            X-C[...]
[...]
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 95e114c6-c37f-0350-7fe6-025d085cc36e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"b3e3f12d-8bee-42d7-86e3-7116fd5b6449","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ad66fe4f-4359-eabf-e8ac-acbbb7987b0e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find b3e3f12d-8bee-42d7-86e3-7116fd5b6449 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 49b6669d-93cf-4126-6c82-a57e5300354a
        status: 200 OK
        code: 200
        duration: 425.782208ms
