---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2dfa5887-4059-5755-667c-92a445eb5b9b
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 00ef7f65-184d-46a4-4ddf-85a2f0c9e921
        status: 200 OK
        code: 200
        duration: 481.624ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description for terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","name":"Custom IAS tenant for apps","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b4e2df47-837f-4f98-23d9-7843d3cc9bb0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 1488d1f5-60b6-4f83-77d9-43b5044db713
        status: 307 Temporary Redirect
        code: 307
        duration: 124.012709ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"description":"Description for terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","name":"Custom IAS tenant for apps","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b4e2df47-837f-4f98-23d9-7843d3cc9bb0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":{"domain":"terraformint.accounts400.ondemand.com"},"providerDescription":"Description for terraformint.accounts400.ondemand.com","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"logoutUrl":null,"tokenKey":null,"linkText":"terraformint.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"d63ac224-d62d-4345-b29e-6cfb2aee7334","scopes":["openid","email"],"issuer":"https://terraformint.accounts400.ondemand.com","responseType":"code","discoveryUrl":"https://terraformint.accounts400.ondemand.com/.well-known/openid-configuration","userInfoUrl":null,"passwordGrantEnabled":true,"setForwardHeader":true,"platformIdp":false,"applicationIdp":true,"iasTenant":{"host":"terraformint.accounts400.ondemand.com","adminUrl":"https://terraformint.accounts400.ondemand.com/admin/#/applications/652fefd308e2620956d212c5"},"neoAuthnWithOidc":false},"id":"9aa09b45-ce8a-4dbc-a82a-15f2d90fa286","originKey":"sap.custom","name":"Custom IAS tenant for apps","version":0,"created":1697640404593,"last_modified":1697640404593,"active":true,"identityZoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 534e39f6-3468-4cb8-5baf-4e1b2db79152
        status: 200 OK
        code: 200
        duration: 1.400728875s
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","linkText":"custom link text","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"false","status":"inactive","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3672de1f-bab3-0ee3-cf42-a7ff0776e10f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 717ddbf2-86f7-469e-4566-a4243897daff
        status: 307 Temporary Redirect
        code: 307
        duration: 142.601208ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","linkText":"custom link text","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"false","status":"inactive","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3672de1f-bab3-0ee3-cf42-a7ff0776e10f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant for apps","originKey":"sap.custom","typeOfTrust":"Application","status":"inactive","description":"Description for terraformint.accounts400.ondemand.com","identityProvider":"terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","linkTextForUserLogon":"custom link text","availableForUserLogon":"false","createShadowUsersDuringLogon":"false","sapBtpCli":"terraformint","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e7d6bbba-4800-4898-7b60-d422f5913620
        status: 200 OK
        code: 200
        duration: 555.638917ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4cd6620f-d891-28db-f6c9-88a7212a311c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 939c04de-5c41-4b02-5f5f-75fa2d7aae5b
        status: 307 Temporary Redirect
        code: 307
        duration: 127.032459ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4cd6620f-d891-28db-f6c9-88a7212a311c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
        [...]
[...]
    - id: 26
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6427681-725f-df51-0c8f-22f506efac5c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 9aeedb4c-27c9-4e8a-6242-e89db6a4038a
        status: 307 Temporary Redirect
        code: 307
        duration: 129.6895ms
    - id: 27
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6427681-725f-df51-0c8f-22f506efac5c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli[...]
