---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ecb9e8f7-f00b-1891-a1ce-18e011eb65a0
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 80fed920-6a3b-4a00-48ed-d8e065dc6d6f
        status: 200 OK
        code: 200
        duration: 477.0592ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45c0accd-0cb4-c44d-3908-137418044e27
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Feb 6, 2024, 10:15:21 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 6, 2024, 10:15:21 AM","entityState":"STARTED","subdomain":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE","jobId":"4159034"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c08bff5c-a1c3-49c0-543b-660606b763ec
        status: 200 OK
        code: 200
        duration: 414.3878ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20bb420d-377e-eddc-bd7e-d6b627c393fd
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Feb 6, 2024, 10:15:21 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 6, 2024, 10:15:22 AM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3e739b00-be4e-4b79-7a28-51339c249860
        status: 200 OK
        code: 200
        duration: 135.1666ms
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - de1fd101-0d10-8832-ab91-ce5cdeb5f080
            X-Cpcli-Customidp[...]
[...]
    - id: 21
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dba45a31-3724-81e0-d999-274b29d7c48b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"27238978-f4af-4b9a-a0a4-e1d9f24fd527","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2312dd09-47e9-b71a-8150-2bb18f8e7849
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 27238978-f4af-4b9a-a0a4-e1d9f24fd527 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - f491e9ce-41aa-49fc-6783-4d5298100478
        status: 200 OK
        code: 200
        duration: 243.3381ms
