---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 001687c0-b3fe-fa28-be62-1babb6b6b41c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 867e9e3e-4841-4c9c-4055-f504f1622a4f
        status: 200 OK
        code: 200
        duration: 291.7585ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d2553bfd-214b-f46d-a886-c303a01d67f2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Oct 20, 2023, 12:31:56 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:31:56 PM","entityState":"STARTED","subdomain":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","ENTITLEMENTS","DEFAULT"],"customProperties":[{"accountGUID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE","jobId":"3493859"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7363dd95-8312-4232-440f-23b482818735
        status: 200 OK
        code: 200
        duration: 338.4672ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3e62afb2-a34b-2063-4a4e-0fb8b8ae0c4f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Oct 20, 2023, 12:31:56 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:31:57 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"customProperties":[{"accountGUID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 5311bf4e-cd9e-42b0-66e3-606896ffdfac
        status: 200 OK
        code: 200
        duration: 129.8386ms
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 71f221c1-6d75-2611-a02d-2a1a11f85909
            X-Cpcli-Customidp[...]
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dc9d1e99-21ec-ba0a-7787-cb7df522865b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 29
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"4d77d0bb-ef78-49d2-bb67-4a1750de8742","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2367c87d-67e0-49a0-056f-98c55ec43df9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 4d77d0bb-ef78-49d2-bb67-4a1750de8742 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 0ed279eb-674a-4adf-7b8e-730be8495e55
        status: 200 OK
        code: 200
        duration: 146.9732ms
