---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e344d94d-7cdd-48c9-4fe4-6ab1b776de11
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cf8c70dd-98cf-4c2a-7fe7-300298c055be
        status: 200 OK
        code: 200
        duration: 1.320807066s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"terraformtest.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8054c83f-8e5f-6ab2-66e7-92a3cbe6e20f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"terraformtest-platform","iasTenantUrl":"https://terraformtest.accounts400.ondemand.com","iasAppId":"65cdef1a3ccd5363e16bb8fe","iasAdminUrl":"https://terraformtest.accounts400.ondemand.com/admin/#/applications/65cdef1a3ccd5363e16bb8fe","active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"terraformtest-platform","version":0,"iasWellKnownMetadata":null,"neoAuthnWithOidc":false,"domain":"terraformtest.accounts400.ondemand.com","name":null,"iasTenantUrlWithoutProtocol":"terraformtest.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 54cc726c-21b3-4eeb-696d-b008976373e8
        status: 200 OK
        code: 200
        duration: 712.800289ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 27d539a6-8df3-fd23-f078-b90949cdce8a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?get
        method: POST
      response:
        body: '{"name":"terraformtest-platform","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6c22f314-d344-4f3a-4430-478caa727a3e
        status: 200 OK
        code: 200
        duration: 350.847065ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","globalAccount":"terraformintcanary","name":"Custom platform IAS tenant","originKey":"terraformtest-platform","refreshTrust":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a11706a2-3237-393d-d618-e24b6bf126e5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"https://terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 940294d8-7af4-4f23-615e-68ef46c5ce2b
        status: 200 OK
        code: 200
        duration: 814.367909ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cfe04fdd-aad4-99d5-d065-ae4902dbba6a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintca[...]
