---
version: 2
interactions:
  - id: 0
    request:
      host: canary.cli.btp.int.sap
      body: |
        {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - 1ab9cfc4-2912-2779-3c00-5338902122cd
        X-Cpcli-Format:
          - json
      url: https://canary.cli.btp.int.sap/login/v2.49.0
      method: POST
    response:
      body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
      headers:
        Content-Type:
          - application/json
        X-Cpcli-Sessionid:
          - redacted
        X-Vcap-Request-Id:
          - 3af374d9-661d-4dc4-4f97-a7e8997c34d8
      status: 200 OK
      code: 200
      duration: 322.4923ms
[...]
  - id: 3
    request:
      host: canary.cli.btp.int.sap
      body: |
        {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - 7297516a-91ab-afbc-584e-0bfae41fd1a1
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - terraformintcanary
      url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?create
      method: POST
    response:
      body: ""
      headers:
        Location:
          - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
        X-Vcap-Request-Id:
          - ecd6bad4-3485-4e3c-4dd9-cbf0c98e47ea
      status: 307 Temporary Redirect
      code: 307
      duration: 129.918ms
  - id: 4
    request:
      host: ""
      body: |
        {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - 7297516a-91ab-afbc-584e-0bfae41fd1a1
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
      url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
      method: POST
    response:
      body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":null,"providerDescription":"IAS tenant terraformint.accounts400.ondemand.com (OpenID Connect)","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"logoutUrl":null,"tokenKey":null,"linkText":"terraformint.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"c03c5ec7-fca7-45ee-9a4f-d00ad2fdd0a8","scopes":["openid","email"],"issuer":"https://terraformint.accounts400.ondemand.com","responseType":"code","discoveryUrl":"https://terraformint.accounts400.ondemand.com/.well-known/openid-configuration","userInfoUrl":null,"passwordGrantEnabled":true,"setForwardHeader":true,"platformIdp":false,"applicationIdp":true,"iasTenant":{"host":"terraformint.accounts400.ondemand.com","adminUrl":"https://terraformint.accounts400.ondemand.com/admin/#/applications/653217e106c21011242f7443"},"neoAuthnWithOidc":false},"id":"447b1079-bcf5-4f19-8a34-7f548a113608","originKey":"sap.custom","name":"Custom IAS tenant","version":0,"created":1697781729834,"last_modified":1697781729834,"active":true,"identityZoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}'
      headers:
        Content-Type:
          - application/json
        X-Cpcli-Backend-Mediatype:
          - application/json
        X-Cpcli-Backend-Status:
          - "201"
        X-Cpcli-Sessionid:
          - redacted
        X-Vcap-Request-Id:
          - db2ebfa9-543f-4665-67cb-6c83e82ed278
      status: 200 OK
      code: 200
      duration: 876.0339ms
  - id: 5
    request:
      host: canary.cli.btp.int.sap
      body: |
        {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"true","status":"active","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - c2b18146-40f0-8be8-f99b-2225eace75f2
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - terraformintcanary
      url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?update
      method: POST
    response:
      body: ""
      headers:
        Location:
          - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
        X-Vcap-Request-Id:
          - 5496eaf9-1f3e-47c1-58b4-60ff9d8e4610
      status: 307 Temporary Redirect
      code: 307
      duration: 145.3411ms
  - id: 6
    request:
      host: ""
      body: |
        {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"true","status":"active","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - c2b18146-40f0-8be8-f99b-2225eace75f2
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
      url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
      method: POST
    response:
      body: '{"name":"Custom IAS tenant","originKey":"sap.custom","typeOfTrust":"Application","status":"active","description":"IAS tenant terraformint.accounts400.ondemand.com (OpenID Connect)","identityProvider":"terraformint.accounts400.ondemand.com","domain":null,"linkTextForUserLogon":"terraformint.accounts400.ondemand.com","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":"terraformint","protocol":"OpenID Connect","readOnly":false}'
      headers:
        Content-Type:
          - application/json
        X-Cpcli-Backend-Mediatype:
          - application/json
        X-Cpcli-Backend-Status:
          - "200"
        X-Cpcli-Sessionid:
          - redacted
        X-Vcap-Request-Id:
          - d81c4773-ca53-4f77-5dd0-a91d467d4bb8
      status: 200 OK
      code: 200
      duration: 256.6515ms
[...]
  - id: 9
    request:
      host: canary.cli.btp.int.sap
      body: |
        {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - e5313546-9473-6832-1b95-96de07a417a8
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - terraformintcanary
      url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?get
      method: POST
    response:
      body: ""
      headers:
        Location:
          - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?get
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
        X-Vcap-Request-Id:
          - 7a043900-bfa1-4c5a-4c0c-98eb714454c7
      status: 307 Temporary Redirect
      code: 307
      duration: 108.5759ms
  - id: 10
    request:
      host: ""
      body: |
        {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - e5313546-9473-6832-1b95-96de07a417a8
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - integrat[...]
[...]
  - id: 14
    request:
      host: ""
      body: |
        {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Correlationid:
          - f62903b5-5af2-efa0-cd9e-3b4b8b8802ce
        X-Cpcli-Customidp:
          - identityProvider
        X-Cpcli-Format:
          - json
        X-Cpcli-Sessionid:
          - redacted
        X-Cpcli-Subdomain:
          - integration-test-acc-static-b8xxozer
        X-Id-Token:
          - redacted
      url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?get
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"error":"No entity found with values = [[03760ecf-9d89-4189-a92a-1c7efed09298, fuh, 03760ecf-9d89-4189-a92a-1c7efed09298]]"}'
      headers:
        Content-Type:
          - application/json
        X-Cpcli-Backend-Mediatype:
          - application/json
        X-Cpcli-Backend-Status:
          - "404"
        X-Vcap-Request-Id:
          - 46c7c47a-9be7-420a-78f4-bcade4cddfd4
      status: 200 OK
      code: 200
      duration: 125.002166ms
[...]
