---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 7b8eeffd-a51b-a4e5-d581-2d32e87637d2
=======
                - fd56607c-0911-e391-0c1c-f52ae1e69243
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:01:47 GMT
=======
                - Thu, 21 Dec 2023 13:19:48 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Sessionid:
                - redacted
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - de289fe7-8b3b-4277-7cec-249dcb9f9776
=======
                - 147c6725-2d4c-4f3d-5e88-aee014bb4a16
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 282.682762ms
=======
        duration: 294.744535ms
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
    - id: 1
      request:
<<<<<<< HEAD
=======
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 61b3b2aa-ebd2-d73a-34cd-e781fffba034
=======
                - a2f7eb1a-af83-8cb0-9bd8-4a8ab7adfe27
            X-Cpcli-Customidp:
                - identityProvider
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/global-account?get
        method: POST
      response:
<<<<<<< HEAD
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
=======
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"000000000","useFor":"Testing","origin":"OPERATOR","guid":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"terraform-integration-canary","description":"Unimportant account to create Terraform definitions.","createdDate":"Nov 9, 2023, 2:30:54 PM","modifiedDate":"Dec 19, 2023, 8:10:48 AM","children":[{"guid":"c009e317-aa79-40d0-9da8-c9399f066dc1","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"c009e317-aa79-40d0-9da8-c9399f066dc1","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-1","value":"Label text 1"},{"accountGUID":"c009e317-aa79-40d0-9da8-c9399f066dc1","key":"my-label-2","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGuid":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:55 AM","children":[{"guid":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentGuid":"092e83c9-b218-4903-b692-ce26cf3eb907","parentGUID":"092e83c9-b218-4903-b692-ce26cf3eb907","parentType":"PROJECT","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Nov 24, 2023, 10:33:10 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:10 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"subaccounts":[{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}],"contractStatus":"ACTIVE"}],"entityState":"OK","stateMessage":"Directory created.","subdomain":"092e83c9-b218-4903-b692-ce26cf3eb907","directoryType":"PROJECT","directoryFeatures":["DEFAULT","ENTITLEMENTS","AUTHORIZATIONS"],"contractStatus":"ACTIVE"},{"guid":"c9f5697b-1025-45ce-bb02-ba87c836efde","parentGuid":"e497d362-bf7f-4069-bb49-449[...]
[...]
    - id: 3
      request:
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"3","autoAssign":"false","autoDistributeAmount":"0","directory":"c009e317-aa79-40d0-9da8-c9399f066dc1","distribute":"false","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
<<<<<<< HEAD
                - 9855a58c-71e6-adce-4795-e952950b2724
=======
                - 8df91f55-3d27-45d3-2e4d-9f4714281536
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
                - Wed, 20 Dec 2023 13:01:48 GMT
=======
                - Thu, 21 Dec 2023 13:19:50 GMT
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            Expires:
                - "0"
            Pragma:
                - no-cache
            Referrer-Policy:
                - no-referrer
            Strict-Transport-Security:
                - max-age=31536000; includeSubDomains; preload;
            X-Content-Type-Options:
                - nosniff
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Frame-Options:
                - DENY
            X-Vcap-Request-Id:
<<<<<<< HEAD
                - f29ad5fc-05a2-40cd-4977-0aeb6fa64cef
=======
                - abfeb2cb-a165-4e9d-6aba-9fc6713ecdb2
>>>>>>> 007bb21 (test: Removes IDs From Resource Directory Entitlement Tests)
            X-Xss-Protection:
                - "1"
        status: 200 OK
        code: 200
<<<<<<< HEAD
        duration: 865.391963ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7b221e17-1c8a-eff9-6fd1-03c87cbc3902
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"auditlog","displayName":"Audit Log Service","description":"Allow users to ingest compliance audit data from SAP BTP services and applications and store it for a default retention time of 90 days (with no additional costs applied). The ability to retrieve and download this data within this period is part of Auditlog Management Service. The service serves to support audit activities by prove wrongdoing and identifying malicious activities and provision of forensic evidence that can be used at Court. The scope of the service are secure and configuration change information records, data privacy specific logs, logs motivated by Multiple Regulations. The service is following each SAP Product standards and GDPR Compliance regulations.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"standard","displayName":"STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","description":"STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","uniqueIdentifier":"auditlog-standard","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"SERVICE","sourceEntitlements":[{"entitlementName":"auditlog-standard-SYSTEM","productDisplayName":"Audit Log - STANDARD plan for the audit log service usage. Basic authentication is used for creating audit logs.","licensedQuantity":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false,"amount":1.0}],"dataCenters":[{"name":"cf-us31","displayName":"US (Iowa) GCP","region":"us31","environment":"cloudfoundry","iaasProvider":"GCP","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.us31.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.us31.hana.ondemand.com","domain":"us31.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":null,"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"deprecationInfoLink":null,"numberOfAssignedEntities":0,"unlimited":false}],"iconBase64":"PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0OSA0OSI+PHBhdGggZmlsbD0idXJsKCNwYWludDBfcmFkaWFsXzI2MjJfMzE5NSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE0LjM1IDguOTYyaC0yLjRhMi43IDIuNyAwIDAgMC0yLjcgMi43djI5LjRhMi43IDIuNyAwIDAgMCAyLjcgMi43aDE5LjQ3NmEyLjEgMi4xIDAgMSAxIDAgNC4ySDExLjk1YTYuOSA2LjkgMCAwIDEtNi45LTYuOXYtMjkuNGE2LjkgNi45IDAgMCAxIDYuOS02LjloMi40MDFBNC44IDQuOCAwIDAgMSAxOS4xNS4wNjhoMTAuMmE0LjggNC44IDAgMCAxIDQuNzk5IDQuNjk0aDIuNGE2LjkgNi45IDAgMCAxIDYuOSA2Ljl[...]
[...]
