---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f2f6432e-ec02-2e85-8905-b8b5ebe535bb
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c1e0161e-4069-419b-5c85-b74423984e45
        status: 200 OK
        code: 200
        duration: 379.926792ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","region":"eu12","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c04dc0ab-aec9-f7cb-22cd-90dcab85ff9e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"b1cd8113-dee9-4880-a17c-5d69cb854942","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Oct 18, 2023, 2:52:18 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:52:18 PM","jobId":"3478275"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1eb566f1-8063-4ddb-58dc-48c92f95b532
        status: 200 OK
        code: 200
        duration: 499.288083ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"b1cd8113-dee9-4880-a17c-5d69cb854942"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2736aa47-d8df-b415-bc0e-2a2a56221288
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"b1cd8113-dee9-4880-a17c-5d69cb854942","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Oct 18, 2023, 2:52:18 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:52:19 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b53f72ce-ebe4-4a3d-620b-1734fb632eb8
        status: 200 OK
        code: 200
        duration: 140.42425ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","subaccount":"b1cd8113-dee9-4880-a17c-5d69cb854942","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dd6e1682-4859-e410-714a-c330b2b568ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
      [...]
[...]
    - id: 23
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"b1cd8113-dee9-4880-a17c-5d69cb854942"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6c46efce-152a-138d-8a18-3ca476c99f8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: http[...]
[...]
    - id: 27
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"b1cd8113-dee9-4880-a17c-5d69cb854942"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bfedae2d-9a7f-09b1-bbf9-e75d021e8558
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - ac308743-10d3-4657-549b-8381ddd3fba9
        status: 200 OK
        code: 200
        duration: 193.652709ms
