---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 658239d8-1faa-e133-1543-66de9173430d
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - de854341-ec5b-4615-51ba-76b3949c8ca0
        status: 200 OK
        code: 200
        duration: 769.4028ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","origin":"ldap","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd082fe2-8f89-9c68-50ff-d8947fe96422
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 1967cbdb-70d9-4460-66f4-3ef0f7a94317
        status: 307 Temporary Redirect
        code: 307
        duration: 196.4016ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"createUserIfMissing":"true","origin":"ldap","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd082fe2-8f89-9c68-50ff-d8947fe96422
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"0ae20b4c-b46a-4ee7-9e3f-42c0e9a78534","username":"jenny.doe@test.com","email":"jenny.doe@test.com","givenName":"unknown","familyName":"unknown","origin":"sap.default","zoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":3,"active":true,"roleCollections":["Destination Administrator"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - fb34f74a-aded-4057-477e-4e36c14a961a
        status: 200 OK
        code: 200
        duration: 511.9154ms
[...]
    - id: 11
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"origin":"ldap","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a8442ca9-cc9c-a060-6e94-9979f58d939c
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?unassign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?unassign
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - eaf68347-5381-4d76-6f39-f6bfec2b118f
        status: 307 Temporary Redirect
        code: 307
        duration: 172.5328ms
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"ldap","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a8442ca9-cc9c-a060-6e94-9979f58d939c
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
 [...]
