---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7411ba73-9272-ba81-2933-ac0c07dec513
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7e77c1a8-c3ef-4465-7f91-4140e51969bb
        status: 200 OK
        code: 200
        duration: 2.95034525s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory-full-config","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9bf71ec1-ce2b-798a-eb58-be78c6757704
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-full-config","description":"This is a new directory","createdDate":"Jan 27, 2025, 7:08:14 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 27, 2025, 7:08:14 AM","entityState":"STARTED","subdomain":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","key":"redacted","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE","jobId":"8773377"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bda4030d-b3ea-422d-6e0f-8d4415169be2
        status: 200 OK
        code: 200
        duration: 533.785875ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a7a8c74-59f2-14d9-74d7-188771f8787f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-full-config","description":"This is a new directory","createdDate":"Jan 27, 2025, 7:08:14 AM","createdBy":"john.doe@int.test","modifiedDate":"Jan 27, 2025, 7:08:15 AM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","directoryType":"PROJECT","directoryFeatures":["DEFAULT","AUTHORIZATIONS","ENTITLEMENTS"],"customProperties":[{"accountGUID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","key":"redacted","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8fd77fe8-c531-4b75-712f-6eb566d75c1c
        status: 200 OK
        code: 200
        duration: 408.794167ms
[...]
    - id: 11
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","displayName":"my-updated-directory-full-config","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 04ca3240-118d-3ffb-b0b7-2d8e82ce668f
            X[...]
[...]
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5d0c6145-35da-a723-53b1-776dc61cea81
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.[...]
[...]
    - id: 24
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"d6d3a0a5-3012-4cac-975d-bf5123bfdc48","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4b00ecf4-4926-dc06-8e02-f84f401a0c30
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find d6d3a0a5-3012-4cac-975d-bf5123bfdc48 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 9bba760e-297d-4e10-4ace-e1df7adf57e9
        status: 200 OK
        code: 200
        duration: 386.07325ms
