---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6759d715-ccc5-50b4-2319-444f28e9d7eb
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"79f34ac7-fc6a-465a-8a66-dc63ec549e65","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 2bd03cde-5610-4d1d-6255-b61425aa3b50
        status: 200 OK
        code: 200
        duration: 751.5507ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 61c08079-7222-34e4-52b3-ab739aafd030
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 008e602b-7892-4abc-78da-dfb9decb7fb4
        status: 307 Temporary Redirect
        code: 307
        duration: 140.6813ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 61c08079-7222-34e4-52b3-ab739aafd030
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: '{"id":"110fc306-da28-47f9-8395-6077af374c74","ready":true,"last_operation":{"id":"b6ec8f69-70d7-46d8-8468-b535aa65b0ce","ready":true,"type":"create","state":"succeeded","resource_id":"110fc306-da28-47f9-8395-6077af374c74","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"61c08079-7222-34e4-52b3-ab739aafd030","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-08-24T08:33:07.289725Z","updated_at":"2023-08-24T08:33:08.003513Z"},"name":"tf-test-destination","service_plan_id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","platform_id":"service-manager","context":{"global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","crm_customer_id":"","platform":"sapcp","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","region":"cf-eu12","instance_name":"tf-test-destination"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-08-24T08:33:07.289722Z","updated_at":"2023-08-24T08:33:07.998299428Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 410b6eba-0cf3-4f53-6c1f-61381b15621b
        status: 200 OK
        code: 200
        duration: 1.031615s
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"110fc306-da28-47f9-8395-6077af374c74","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7af66b31-360e-2e63-fccd-40fcd478a9ed
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 2e4ea935-cfd5-4f8d-6ca6-a9275cdf9584
        status: 307 Temporary Redirect
        code: 307
        duration: 165.6228ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"110fc306-da28-47f9-8395-6077af374c74","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7af66b31-360e-2e63-fccd-40fcd478a9ed
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","id":"110fc306-da28-47f9-8395-6077af374c74","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4ff462b0-a356-edbd-aa85-5bcef4af7aed
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7d608d53-190c-4104-4240-5fce01ad31ae
        status: 307 Temporary Redirect
        code: 307
        duration: 149.7362ms
    - id: 15
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"110fc306-da28-47f9-8395-6077af374c74","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4ff462b0-a356-edbd-aa85-5bcef4af7aed
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 3e27be81-a084-4d68-56d4-f616e10507af
        status: 200 OK
        code: 200
        duration: 800.292ms
[...]
    - id: 17
      request:
        host: ""
        body: |
            {"paramValues":{"id":"110fc306-da28-47f9-8395-6077af374c74","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cab84b0d-4079-9078-f6ec-5ac861223405
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - ab8a51e2-7747-46a4-4cc7-e7b499be7ca3
        status: 200 OK
        code: 200
        duration: 136.1656ms
