---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e69c0269-8fe4-5088-fe47-ffcef0035001
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2d9cde66-325a-475f-7160-3614846f926e
        status: 200 OK
        code: 200
        duration: 1.583736459s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"terraformtest.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d00e350f-6843-f667-5311-98e3e5573f2f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"terraformtest-platform","iasTenantUrl":"https://terraformtest.accounts400.ondemand.com","iasAppId":"65cdef1a3ccd5363e16bb8fe","iasAdminUrl":"https://terraformtest.accounts400.ondemand.com/admin/#/applications/65cdef1a3ccd5363e16bb8fe","active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"terraformtest-platform","version":0,"iasWellKnownMetadata":null,"neoAuthnWithOidc":false,"domain":"terraformtest.accounts400.ondemand.com","name":null,"aliasZid":null,"iasTenantUrlWithoutProtocol":"terraformtest.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 26f7dfb8-02fe-4751-61a2-b057a63fcff2
        status: 200 OK
        code: 200
        duration: 5.570327667s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 180dffc0-2633-0349-f9dc-d859afb4505e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?get
        method: POST
      response:
        body: '{"name":"terraformtest-platform","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 208499cd-cc70-4188-58c3-5de27776e3dc
        status: 200 OK
        code: 200
        duration: 277.161125ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","globalAccount":"terraformintcanary","name":"Custom platform IAS tenant","originKey":"terraformtest-platform","refreshTrust":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d4c42f98-01f2-4e43-c002-2a4852b81fe6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"https://terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 352007bb-36e3-4903-7968-28c7d1e134e9
        status: 200 OK
        code: 200
        duration: 7.153388125s
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3772ab0f-0358-d3dd-6658-e539d25bdd8d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintca[...]
