---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 285ddd77-b7a6-66a4-a4f3-f08f4241370b
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d3bccd6f-6956-4aa2-6cce-b0eb77c957a9
        status: 200 OK
        code: 200
        duration: 449.570875ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"enable":"true","serviceName":"hana-cloud","servicePlanName":"hana","subaccount":"47a7c342-1a90-4ed7-a218-cb0b1cadb062"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2ce91d6a-2672-bef3-8e2c-5ed2cf0b3735
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: '{"jobId":"5935488"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 01c57a40-2636-4f14-7d4e-00ccd71570c8
        status: 200 OK
        code: 200
        duration: 931.635708ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"47a7c342-1a90-4ed7-a218-cb0b1cadb062"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ffe2c79d-1310-729c-a55e-113a3b7a3be4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"47a7c342-1a90-4ed7-a218-cb0b1cadb062","technicalName":"47a7c342-1a90-4ed7-a218-cb0b1cadb062","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked-gddtpz5i","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Oct 6, 2023, 9:58:56 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 6, 2023, 9:59:16 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 84a00b5f-5b22-424d-5ff5-d8be55f71514
        status: 200 OK
        code: 200
        duration: 138.718459ms
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7294ecc7-f31a-49cd-a5cc-16cfe1d258bc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentGuid":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentGUID":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentType":"GROUP","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Oct 6, 2023, 9:58:25 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 6, 2023, 9:58:25 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"subaccounts":[{"guid":"47a7c342-1a90-4ed7-a218-cb0b1cadb062","technicalName":"47a7c342-1a90-4ed7-a218-cb0b1cadb062","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked-gddtpz5i","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Oct 6, 2023, 9:58:56 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Oct 6, 2023, 9:59:16 AM"}],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dcc4e86a-f685-48a9-6d86-ccbbc3749d1b
        status: 200 OK
        code: 200
        duration: 147.426125ms
    - id: 6
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 82c57627-95f6-331c-6358-5cf9f866a7a7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-entitlements","createdDate":"Oct 6, 2023, 9:57:23 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Oct 6, 2023, 10:00:32 AM","children":[{"guid":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentGuid":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentGUID":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","parentType":"GROUP","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-entitlements-stacked","createdDate":"Oct 6, 2023, 9:58:25 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Oct 6, 2023, 9:58:25 AM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatu[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"0f7a9b71-0b19-4b6c-b20b-ab2e5445bdc2","subaccountFilter":"47a7c342-1a90-4ed7-a218-cb0b1cadb062"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8b55a5d4-35a0-00eb-0321-eaff3ba93601
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"saas-registry","displayName":"SaaS Provisioning Service","description":null,"businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"application","displayName":"application","description":null,"uniqueIdentifier":"saas-registry-application","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"ELASTIC_SERVICE","sourceEntitlements":[{"entitlementName":"saas-registry-application-SYSTEM","productDisplayName":"SaaS Registry - Application","amount":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":null},"autoAssign":false}],"dataCenters":[],"resources":null,"dependsOn":null,"additionalPlanFeatures":[],"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"unlimited":false}],"iconBase64":null,"applicationCoordinates":{"iconFormat":"image/svg+xml","inventoryIds":[{"key":"SERVICE-380"}],"serviceDescription":[{"linkCategory":"documentation","title":"Documentation","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/5e8a2b74e4f2442b8257c850ed912f48.html"},{"linkCategory":"discovery_center","title":"Discovery Center","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://discovery-center.cloud.sap/#/serviceCatalog/saas-provisioning-service?service_plan=application&region=all"}],"serviceCategories":[{"name":"Foundation / Cross Services"}],"regionInformation":[{"key":"cf-eu10-canary"},{"key":"cf-eu12"}],"CFService":{"name":"saas-registry","description":null,"metadata":{"displayName":"SaaS Provisioning Service"},"plans":[{"technicalName":"application","name":"application","description":null,"metadata":{"bullets":[]}}]}}},{"name":"connectivity","displayName":"Connectivity Service","description":null,"businessCategory":{"id":"INTEGRATION","displayName":"Integration"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"lite","displayName":"lite","description":null,"uniqueIdentifier":"connectivity-lite","provisioningMethod":"SERVICE_BROKER","amount":1.0,"remainingAmount":1.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":null,"maxAllowedSubaccountQuota":null,"category":"ELASTIC_SERVICE","sourceEntitlements":[{"entitlementName":"connectivity-lite-SYSTEM","productDisplayName":"Connectivity - Lite","amount":1.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":null},"autoAssign":false}],"dataCenters":[],"resources":null,"dependsOn":null,"additionalPlanFeatures":["Connectivity established via shared service resources for all applications"],"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"unlimited":false}],"iconBase64":null,"applicationCoordinates":{"iconFormat":"image/svg+xml","visibility":"PUBLIC","marketingLinkPublic":{"infoText":"Learn more about this service and how to purchase it.","urlLabel":"Further information","url":"https://cloudplatform.sap.com/capabilities/integration/cloud-connector.html"},"inventoryIds":[{"key":"SERVICE-37"},{"key":"SERVICE-50"},{"key":"SERVICE-169"}],"serviceConfiguration":[{"title":"Go to Destinations","type":"ext","propagateTheme":"false","ext":{"externalLinkURL":"/cockpit#/acc/${consumerAccountName}/destinations"}},{"title":"Go to Cloud Connectors","type":"ext","propagateTheme":"false","ext":{"externalLinkURL":"/cockpit#/acc/${consumerAccountName}/connectivity"}}],"serviceDescription":[{"linkCategory":"documentation","title":"Documentation","propagateTheme":"false","descriptionCategory":"documentation","linkURL":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/e54cc8fbbb571014beb5caaf6aa31280.html"},{"title":"Documentation - Clo[...]
[...]
