---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 22bfa84b-8c4f-0a7e-cd79-a1490ab3e70e
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0b300ee2-e34a-449c-7a28-549bacb6bc95
        status: 200 OK
        code: 200
        duration: 441.162292ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 093ff5b4-841b-af5f-6070-a8f619a39fb3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 3613f6f6-9286-4372-70fa-8a2fcb4886b3
        status: 307 Temporary Redirect
        code: 307
        duration: 159.925375ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 093ff5b4-841b-af5f-6070-a8f619a39fb3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?create
        method: POST
      response:
        body: '{"id":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","name":"cloudFoundry-from-terraform","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","tenantId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","labels":"{\"API Endpoint\":\"https:\/\/api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"05ced7a2-5a35-4e3a-8dca-59ecd4c0654c\"}","customLabels":{},"type":"Provision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","createdDate":"Oct 18, 2023, 3:18:43 PM","modifiedDate":"Oct 18, 2023, 3:18:43 PM","state":"CREATING","stateMessage":"Creating environment instance.","serviceName":"cloudfoundry","planName":"standard","jobId":"4021939"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 05fec788-2756-43b7-78bf-c4a18c24463d
        status: 200 OK
        code: 200
        duration: 473.776416ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4e64feb4-ba11-38a6-de88-f2ccc95ce891
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - c83451de-883c-4c11-4e36-55ab7ffb03ee
        status: 307 Temporary Redirect
        code: 307
        duration: 151.773084ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4e64feb4-ba11-38a6-de88-f2ccc95ce891
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
       [...]
[...]
    - id: 17
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"jane.doe@int.test\",\"email\":\"jane.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 25c8cc1c-e5b9-113a-af9f-107109ba59d0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5b9a07d7-a7f0-4e9c-558f-c1d35501e452
        status: 307 Temporary Redirect
        code: 307
        duration: 182.501667ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"jane.doe@int.test\",\"email\":\"jane.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 25c8cc1c-e5b9-113a-af9f-107109ba59d0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?update
        method: POST
      response:
        body: '{"jobId":"4021941"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9347d8ca-37f6-411c-5112-fde66f45d26b
        status: 200 OK
        code: 200
        duration: 131.961584ms
[...]
    - id: 42
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 42c91f1a-7f69-8af0-3bad-5dfeb55b8de6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 714bb253-20d9-4f70-45a1-f8b035e4c874
        status: 307 Temporary Redirect
        code: 307
        duration: 137.420542ms
    - id: 43
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 42c91f1a-7f69-8af0-3bad-5dfeb55b8de6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
            [...]
[...]
    - id: 45
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 971f5d35-b455-f2bc-e05a-b9ae2533f57a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
        method: POST
      response:
        body: '{"id":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","name":"cloudFoundry-from-terraform","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","tenantId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"deprovision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"status\":\"ACTIVE\",\"purge\":false}","labels":"{\"API Endpoint\":\"https://api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"05ced7a2-5a35-4e3a-8dca-59ecd4c0654c\",\"Org Memory Limit\":\"204,800MB\"}","customLabels":{},"type":"Deprovision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","platformId":"05ced7a2-5a35-4e3a-8dca-59ecd4c0654c","createdDate":"Oct 18, 2023, 3:18:43 PM","modifiedDate":"Oct 18, 2023, 3:19:14 PM","state":"DELETING","stateMessage":"Deleting org ID:[05ced7a2-5a35-4e3a-8dca-59ecd4c0654c]. Instance ID:[EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B].","serviceName":"cloudfoundry","planName":"standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a5c171ac-6af7-47f7-421b-64e3530cc404
        status: 200 OK
        code: 200
        duration: 150.084375ms
[...]
    - id: 71
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"EC36D80A-E4DC-49BE-AE0E-DEDE5C3A9E1B","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 52e09442-f4eb-8e28-de54-a302439db7d7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
        method: POST
      response:
        body: '{"error":"Environment instance not found [Error: 41000/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9e729014-dcd4-4465-6ee7-e3dd434a011b
        status: 200 OK
        code: 200
        duration: 179.445083ms
