---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2aab093f-7ff8-bc43-4f02-7a821933fa23
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1511d7f6-f2f3-4eee-6970-88f435eb5208
        status: 200 OK
        code: 200
        duration: 283.463916ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","roleCollectionName":"My special role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 30eea0d1-7ddd-8ab3-b8b6-9c1b2f873c2e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My special role collection","description":"","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 67f1917f-dac9-4189-4a8d-a34e01268538
        status: 200 OK
        code: 200
        duration: 339.783583ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","roleCollectionName":"My special role collection","roleName":"Directory Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"Directory_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 86a0bf1d-43b8-3c47-cce6-412f85dc293c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0e2f0a7f-d720-4f69-407f-f41dc0a94c24
        status: 200 OK
        code: 200
        duration: 218.304ms
[...]
    - id: 7
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","roleCollectionName":"My special role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d5d941fd-bd00-b9e2-533e-efbb8571f067
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My special role collection","description":"","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"Directory_Viewer","name":"Directory Viewer","description":"Role for directory members with read-only authorizations for core commercialization operations, such as viewing directories, subaccounts, entitlements, and regions."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8c30c83c-3312-4d92-7bfe-7657d3401a4b
        status: 200 OK
        code: 200
        duration: 348.238375ms
[...]
    - id: 12
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","roleCollectionName":"My special role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 658ee461-87d8-a709-cd6f-a3e48a945123
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0a6c0bdd-73a3-4177-47ee-091ea6f93ae5
        status: 200 OK
        code: 200
        duration: 247.659792ms
