---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - af992991-8eec-f4d2-ccd8-d95ef32c8f16
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 42279fc7-1706-44cf-7719-b727f5abc189
        status: 200 OK
        code: 200
        duration: 1.169639s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my new role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c60d3f41-a0a0-f941-b26b-7ae47120210e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dee3363f-c8fc-4a2b-6dcd-b7de38e95c48
        status: 200 OK
        code: 200
        duration: 155.7881ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection","roleName":"Global Account Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f081d9c-1711-cfc4-eaef-c7c81d50fd1d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 621ea019-8c98-4846-794d-f5a4bdf8352b
        status: 200 OK
        code: 200
        duration: 126.8714ms
[...]
    - id: 7
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b89978bd-8110-b9cf-dbf2-fa90f055ef6d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer","name":"Global Account Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global accounts, subaccounts, entitlements, and regions."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - af7e07e1-3409-4a07-53ab-1eaec90b5c11
        status: 200 OK
        code: 200
        duration: 167.0956ms
[...]
    - id: 13
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my updated role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fb55a421-591b-7d76-3dc7-011e81375892
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?update
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 38ff9e19-25c4-4350-4665-dffae7daa2f7
        status: 200 OK
        code: 200
        duration: 160.5905ms
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection","roleName":"Global Account Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0fd1c88e-bd49-30dd-3894-fc0f37d65a6f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role?remove
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e53db927-5b8e-4ce3-5c32-c5e49046e2a4
        status: 200 OK
        code: 200
        duration: 156.9854ms
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fa0cc248-d561-000a-d78e-841ec0ef8a6f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 00803c67-de5d-441f-54a6-b94d1e1b5e7e
        status: 200 OK
        code: 200
        duration: 137.7862ms
