---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 66dba7f8-abd3-14e9-d4cd-60d834b9096e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 140a91a1-31cf-46a2-4556-7598c1179e06
        status: 200 OK
        code: 200
        duration: 1.4226367s
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c3524eb0-41fc-9026-5679-0f9a0368a409
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/plan?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 533c6a9b-58d1-4a10-4cfc-bb2c3e66d48b
        status: 307 Temporary Redirect
        code: 307
        duration: 141.4267ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c3524eb0-41fc-9026-5679-0f9a0368a409
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_plans"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 7cdbc21e-41b4-4997-58c7-d32328c4ef94
        status: 200 OK
        code: 200
        duration: 136.7694ms
