---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3748b19e-b7a6-e4b2-cf19-eac2d651b814
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 739ded0b-8834-4a79-70d2-3fa57281ec21
        status: 200 OK
        code: 200
        duration: 521.407834ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3369d9a0-297b-24c2-3cde-8d870c0540bf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"267515a8-46a0-4083-8525-295385b6f2d4","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Jul 15, 2024, 3:23:08 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 3:23:08 PM","jobId":"5541616"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c4feeccb-0a74-47a4-7150-19932244c61a
        status: 200 OK
        code: 200
        duration: 397.496042ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"267515a8-46a0-4083-8525-295385b6f2d4"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2c0b011d-6573-9c59-468e-eeb7b9b9efd7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"267515a8-46a0-4083-8525-295385b6f2d4","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Jul 15, 2024, 3:23:08 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 3:23:09 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 75dff37e-c76f-4895-7fca-b0c2e0dcbf05
        status: 200 OK
        code: 200
        duration: 284.554292ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"267515a8-46a0-4083-8525-295385b6f2d4"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9c033cb4-8311-6d19-3273-fddea1f1369e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli[...]
[...]
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 41adc179-3fde-8669-caef-a83c46bb427b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 03760ecf-9d89-4189-a92a-1c7efed09298 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - a705af14-a7a2-47f6-718c-9d90f268d908
        status: 200 OK
        code: 200
        duration: 1.342737625s
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"267515a8-46a0-4083-8525-295385b6f2d4"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 510c41f3-aad1-f09f-2055-d1026ac64ee3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                -[...]
[...]
