---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a190fd5c-3904-2f4d-be6c-a8acda17c437
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 01a40aff-1dde-4795-76e7-a0aefb6c560c
        status: 200 OK
        code: 200
        duration: 3.00519875s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"a description","name":"my-broker","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-broker-bogus-ratel-yb.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - aade5dff-ab52-2ecf-2014-e7f91bea9b83
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?register
        method: POST
      response:
        body: '{"id":"07ae6ef8-cb64-4fde-bbed-aad6c6cf7ed5","ready":true,"last_operation":{"id":"2b6c35fa-1e60-4755-a13d-66c0c40ae7eb","ready":true,"type":"create","state":"succeeded","resource_id":"07ae6ef8-cb64-4fde-bbed-aad6c6cf7ed5","resource_type":"/v1/service_brokers","platform_id":"service-manager","correlation_id":"aade5dff-ab52-2ecf-2014-e7f91bea9b83","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2025-01-28T10:03:11.092195Z","updated_at":"2025-01-28T10:03:16.014656Z"},"name":"my-broker-59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"a description","broker_url":"https://my-broker-bogus-ratel-yb.cfapps.eu12.hana.ondemand.com","created_at":"2025-01-28T10:03:11.092193Z","updated_at":"2025-01-28T10:03:11.527040535Z","labels":"cred_revision = 0; subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Vcap-Request-Id:
                - cf5459b4-ba12-45ad-799a-0f69996a2ec4
        status: 200 OK
        code: 200
        duration: 5.501665208s
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"07ae6ef8-cb64-4fde-bbed-aad6c6cf7ed5","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b091c1d1-cfe5-1ff5-d1a5-d8bb6779fa5a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - jso[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"another description","id":"07ae6ef8-cb64-4fde-bbed-aad6c6cf7ed5","newName":"my-broker-with-a-new-name","password":"a-secure-password","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","url":"https://my-broker-bogus-ratel-yb.cfapps.eu12.hana.ondemand.com","user":"platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 28f7e85b-acc3-000d-7c66-405cbe14a6af
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
  [...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"07ae6ef8-cb64-4fde-bbed-aad6c6cf7ed5","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 31072b97-c350-4d25-00eb-f93c1eaf0e62
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/services/broker?unregister
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ab943b1d-a1cc-412a-453e-359650600115
        status: 200 OK
        code: 200
        duration: 4.718743958s
