---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ade20dc6-ddeb-5c1d-353c-619364068bda
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5a0f4455-541d-4f23-4460-232ec318c5c6
        status: 200 OK
        code: 200
        duration: 638.7497ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e4371f24-265e-2c87-d5e7-fabdf8300c35
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings-8ptbr820","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 14, 2023, 3:04:48 PM","createdBy":"john.doe@int.test","modifiedDate":"Nov 14, 2023, 3:05:04 PM"},{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","technicalName":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label2","value":""},{"accountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","key":"label1","value":"label value 1"}],"labels":{"label1":["label value 1"],"label2":[]},"createdDate":"May 15, 2023, 11:50:47 AM","createdBy":"john.doe+1@int.test","modifiedDate":"May 15, 2023, 11:51:15 AM"},{"guid":"4e981c0f-de50-4442-a26e-54798120f141","technicalName":"4e981c0f-de50-4442-a26e-54798120f141","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"ccaf9acf-219d-47b5-bb3f-adae6871cdb2","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked-gddtpz5i","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 14, 2023, 1:14:31 PM","createdBy":"john.doe+2@int.test","modifiedDate":"Nov 14, 2023, 1:14:54 PM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6bfcf56f-66b3-4a86-58bc-953ef167dacd
        status: 200 OK
        code: 200
        duration: 137.8175ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 86638194-4bc7-00c9-f926-72d98b3d3b15
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/plan?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?list
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d65440c3-5d18-49ed-6d40-5d6b14c8c086
        status: 307 Temporary Redirect
        code: 307
        duration: 154.5672ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 86638194-4bc7-00c9-f926-72d98b3d3b15
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-01-26T10:27:47.129518Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-01-26T10:27:47.134455Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-01-26T10:27:47.142268Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-01-26T10:28:37.187024Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31c098","labels":"commercial_name = service","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"service","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-01-26T10:28:37.199167Z"},{"bindable":true,"catalog_id":"saasApplication","catalog_name":"application","created_at":"2020-08-10T07:35:37.447784Z","data_center":"","description":"Service plan for SaaS application owners to manage the lifecycle of SaaS applications with SAP SaaS Provisioning APIs.","free":true,"id":"c5d7a86e-176b-4ee8-8286-7910970f7dc3","labels":"commercial_name = application","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":true},"name":"application","ready":true,"serv[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"auditlog-management","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f15378ea-ea3c-76df-bfec-023c3c8f4835
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/offering?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/offering?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 3f8f62fd-ef39-408e-404f-7478baa5585d
        status: 307 Temporary Redirect
        code: 307
        duration: 133.1974ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"name":"auditlog-management","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f15378ea-ea3c-76df-bfec-023c3c8f4835
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/offering?get
        method: POST
      response:
        body: '{"id":"0091024c-1648-4716-bd17-604eabd7f480","ready":true,"name":"auditlog-management","description":"Retrieve logs and change retention","bindable":true,"instances_retrievable":false,"bindings_retrievable":false,"plan_updateable":false,"allow_context_updates":false,"metadata":{"displayName":"Auditlog Management","imageUrl":"data:image/svg+xml;base64,PHN2ZyBpZD0iYXVkaXRsb2ctbWFuYWdlbWVudCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTYgNTYiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojNWE3YTk0O30uY2xzLTJ7ZmlsbDojMDA5MmQxO308L3N0eWxlPjwvZGVmcz48dGl0bGU+YXVkaXRsb2ctbWFuYWdlbWVudDwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDAuNjA4LDEwLjg0M0EyLjk3LDIuOTcsMCwwLDAsMzguNSwxMEgzMi4yMThhNS4yNzYsNS4yNzYsMCwwLDAtMS4zNTktMS45MjEsNC4xLDQuMSwwLDAsMC0yLjItLjk4NSw1Ljg1Miw1Ljg1MiwwLDAsMC0yLjEwOS0yLjI0OUE1LjY2MSw1LjY2MSwwL[...]
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 03ca8fd0-5de3-bc82-5cfe-711d25b823b5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d0c25778-719d-4a6c-4972-8e9f67943b8f
        status: 307 Temporary Redirect
        code: 307
        duration: 139.7035ms
    - id: 8
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 03ca8fd0-5de3-bc82-5cfe-711d25b823b5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","ready":true,"last_operation":{"id":"ba816d32-76ad-43ef-8088-9d510ee04e4e","ready":true,"type":"create","state":"succeeded","resource_id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"03ca8fd0-5de3-bc82-5cfe-711d25b823b5","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-01-26T11:08:19.654853Z","updated_at":"2024-01-26T11:08:20.035248Z"},"name":"tf-test-audit-log","service_plan_id":"02fed361-89c1-4560-82c3-0deaf93ac75b","platform_id":"service-manager","context":{"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","region":"cf-eu12","platform":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","env_type":"sapcp","crm_customer_id":"","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","instance_name":"tf-test-audit-log"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2024-01-26T11:08:19.65485Z","updated_at":"2024-01-26T11:08:20.028566548Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 589d461c-778b-4f5b-5e6f-6b776a672332
        status: 200 OK
        code: 200
        duration: 562.2717ms
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20c24277-c01b-ab8b-4ba0-8e4be568a4bb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e8cc3d67-f1b7-442b-753b-e834fa1c6566
        status: 307 Temporary Redirect
        code: 307
        duration: 145.5693ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20c24277-c01b-ab8b-4ba0-8e4be568a4bb
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - j[...]
[...]
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ba640369-0a6b-733e-0e08-7e4dcb6964ae
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"BadRequest","description":"this operation is not supported."}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 33b6b083-d4a9-4821-58cc-37efcff91748
        status: 200 OK
        code: 200
        duration: 142.9293ms
[...]
    - id: 46
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a6814f69-5c96-a23d-c85a-3b05e00bd786
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 3b5b4074-26ce-4be2-51e6-e399f7c1a66e
        status: 307 Temporary Redirect
        code: 307
        duration: 142.9565ms
    - id: 47
      request:
        host: ""
        body: |
            {"paramValues":{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a6814f69-5c96-a23d-c85a-3b05e00bd786
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: '{"id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","command":"btp get services/instance 4327ddea-8da5-4151-b483-423b4f7f4dc4 --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e1c3d821-c002-4a2d-6776-a1ac71c78890
        status: 200 OK
        code: 200
        duration: 210.754ms
[...]
    - id: 92
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 834f3e0a-ff6f-bc62-2069-5ce4fa74ed7f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d532bae8-fa22-4ebf-68b4-e3d9a17fbb02
        status: 307 Temporary Redirect
        code: 307
        duration: 129.3216ms
    - id: 93
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"4327ddea-8da5-4151-b483-423b4f7f4dc4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 834f3e0a-ff6f-bc62-2069-5ce4fa74ed7f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 28ed4e08-11cc-40ad-6608-af07a212dfd6
        status: 200 OK
        code: 200
        duration: 447.2862ms
[...]
