---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 201ca5c0-c6ca-4dc3-fe5c-04d4fd683a04
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 6d6f7a3e-141c-4fc6-60e0-63f901928435
        status: 200 OK
        code: 200
        duration: 222.036708ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description for terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","globalAccount":"terraformintcanary","iasTenantUrl":"terraformtest.accounts400.ondemand.com","name":"Custom platform IAS tenant","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7abe3e2a-a58f-5a87-def6-2b49b746df5d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"terraformtest-platform","iasTenantUrl":"https://terraformtest.accounts400.ondemand.com","iasAppId":null,"iasAdminUrl":null,"active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"terraformtest-platform","version":0,"iasWellKnownMetadata":null,"neoAuthnWithOidc":false,"domain":"terraformtest.accounts400.ondemand.com","iasTenantUrlWithoutProtocol":"terraformtest.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 53c3f90a-888c-4b1f-74e4-907d64f99b24
        status: 200 OK
        code: 200
        duration: 639.819583ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 36130fa6-fdd8-1777-8690-f9327d3fe31e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 04b05df8-889b-4471-7b6f-5eccb13a409f
        status: 200 OK
        code: 200
        duration: 203.207458ms
[...]
    - id: 18
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d6a8dd8a-c76a-06fa-02cb-1ad507b29220
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintca[...]
