---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 33bd29af-147e-6319-67e4-4b53e1a3b4ef
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ee27754a-864a-4c38-51e3-7a5d36437e2f
        status: 200 OK
        code: 200
        duration: 453.737915ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - af1e37ee-3e77-271f-1eac-94b0d7fb628f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:59 AM"},{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:52 AM"},{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3653a7fa-8b7b-481f-71c7-bc8ad026ca9f
        status: 200 OK
        code: 200
        duration: 222.304073ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description of my new role collection","roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0164289-2249-054d-dcff-2bf6f9cc7812
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role-collection?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - d76ce892-b3f0-4238-686b-d86ba9b7b2bc
        status: 307 Temporary Redirect
        code: 307
        duration: 315.187555ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"description":"Description of my new role collection","roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f0164289-2249-054d-dcff-2bf6f9cc7812
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c1815949-d506-4e25-50ec-6aad4a5f765f
        status: 200 OK
        code: 200
        duration: 170.741958ms
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dd4068b3-9868-c4bb-de68-d6ec954d5bef
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role?add
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 75033cb7-ed2d-49c9-731b-8720513631ae
        status: 307 Temporary Redirect
        code: 307
        duration: 179.389867ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dd4068b3-9868-c4bb-de68-d6ec954d5bef
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f7a1fb1e-a1b8-4768-652a-673041895e75
        status: 200 OK
        code: 200
        duration: 157.187816ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fa508a60-4c86-6f16-143b-8b8402c13108
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role-collection?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 246baf71-3718-4704-797d-33c232546b62
        status: 307 Temporary Redirect
        code: 307
        duration: 132.393539ms
    - id: 14
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fa508a60-4c86-6f16-143b-8b8402c13108
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","roleReferences":[{"roleTemplateAppId":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","name":"Destination Viewer","description":"View destination configurations, certificates and signing keys for SAML assertions issued by the Destination service"},{"roleTemplateAppId":"cis-local!b2","roleTemplateName":"Subaccount_Viewer","name":"Subaccount Viewer","description":"Role for subaccount members with read-only authorizations for core commercialization operations, such as viewing subaccount entitlements, details of environment instances, and job results."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ecd021d7-25e2-4554-7f58-24f52516f0c6
        status: 200 OK
        code: 200
        duration: 152.723626ms
[...]
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Updated description of my new role collection","roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ee9d1372-1763-02b6-9543-fb1c5db8b781
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role-collection?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - ebaa8dcc-5bc1-4d58-54b3-41c4d8af9b8b
        status: 307 Temporary Redirect
        code: 307
        duration: 208.592168ms
    - id: 21
      request:
        host: ""
        body: |
            {"paramValues":{"description":"Updated description of my new role collection","roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ee9d1372-1763-02b6-9543-fb1c5db8b781
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?update
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 5f2a772e-9b2e-462c-607b-be47cca05831
        status: 200 OK
        code: 200
        duration: 134.644879ms
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 379ba140-913e-7a92-428a-8aa446346a7f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role?remove
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role?remove
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - c6cba8db-1337-4144-42a8-3db8b8c4e2fa
        status: 307 Temporary Redirect
        code: 307
        duration: 151.522034ms
    - id: 23
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","roleName":"Destination Viewer","roleTemplateAppID":"destination-xsappname!b9","roleTemplateName":"Destination_Viewer","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 379ba140-913e-7a92-428a-8aa446346a7f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role?remove
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 501f898d-6268-4298-620a-bd305ab85060
        status: 200 OK
        code: 200
        duration: 146.004004ms
[...]
    - id: 42
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 550f1a0b-71f5-608e-250d-33c5b902d531
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e5b55c78-8da2-4892-68c8-5f98b76e58ac
        status: 307 Temporary Redirect
        code: 307
        duration: 184.492079ms
    - id: 43
      request:
        host: ""
        body: |
            {"paramValues":{"roleCollectionName":"My new role collection","subaccount":"34564cea-ee6a-4cf2-9f32-71fedefa7126"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 550f1a0b-71f5-608e-250d-33c5b902d531
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 652db02f-e047-4f33-654a-e33859afb908
        status: 200 OK
        code: 200
        duration: 126.422434ms
