---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e84a860-4f2a-5c13-1a9c-e3b6f6755ec0
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 54999259-ecda-40c2-55b3-09d52412c3ff
        status: 200 OK
        code: 200
        duration: 621.8383ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"tf-test-alert-notification","plan":"4bf8a2c4-6277-4bb1-b80d-2e46e87bd1a5","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 795055ed-3b28-3ced-bf26-4d1b71d555a2
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - dd5ea747-935e-437b-5ff9-46564790ab1d
        status: 307 Temporary Redirect
        code: 307
        duration: 259.0223ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-alert-notification","plan":"4bf8a2c4-6277-4bb1-b80d-2e46e87bd1a5","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 795055ed-3b28-3ced-bf26-4d1b71d555a2
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: '{"id":"5927bbbd-7000-495d-84ad-3d49b9100e44","ready":true,"last_operation":{"id":"02e5baa2-da87-420c-bfc5-dc459dfc7f84","ready":true,"type":"create","state":"succeeded","resource_id":"5927bbbd-7000-495d-84ad-3d49b9100e44","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"795055ed-3b28-3ced-bf26-4d1b71d555a2","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-07-04T09:28:29.803435Z","updated_at":"2023-07-04T09:28:30.455799Z"},"name":"tf-test-alert-notification","service_plan_id":"4bf8a2c4-6277-4bb1-b80d-2e46e87bd1a5","platform_id":"service-manager","context":{"origin":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","region":"cf-eu12","crm_customer_id":"","platform":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","instance_name":"tf-test-alert-notification"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","created_at":"2023-07-04T09:28:29.803432Z","updated_at":"2023-07-04T09:28:30.452175171Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - bc43a2c5-5719-444e-51d5-5039c022fbab
        status: 200 OK
        code: 200
        duration: 973.7721ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"5927bbbd-7000-495d-84ad-3d49b9100e44","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7f5d516b-918f-7456-1de0-9eedd264106f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5f1f76c9-82ba-4d0f-544b-09663ce8732e
        status: 307 Temporary Redirect
        code: 307
        duration: 164.7066ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"5927bbbd-7000-495d-84ad-3d49b9100e44","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7f5d516b-918f-7456-1de0-9eedd264106f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
           [...]
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","id":"5927bbbd-7000-495d-84ad-3d49b9100e44","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9a650b4f-e08e-7606-3e9c-d2c342b6f408
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 6db11283-2cea-4d5a-5ea8-c458c69d6d56
        status: 307 Temporary Redirect
        code: 307
        duration: 174.4775ms
    - id: 16
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"5927bbbd-7000-495d-84ad-3d49b9100e44","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9a650b4f-e08e-7606-3e9c-d2c342b6f408
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - d948af57-c8fd-4450-5085-b5ddcb1dd159
        status: 200 OK
        code: 200
        duration: 608.3798ms
