---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e883cab5-a7da-16f2-8301-fa4ea6d2536d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 50ae193b-36a6-49cc-4979-7c8edcff5ec9
        status: 200 OK
        code: 200
        duration: 815.2515ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2a020f86-9af4-f46d-bce8-6aceecad4ab8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 89691124-26e9-4e91-4efb-19ddab838e16
        status: 307 Temporary Redirect
        code: 307
        duration: 198.066709ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2a020f86-9af4-f46d-bce8-6aceecad4ab8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","ready":true,"last_operation":{"id":"7b5ff2cc-184a-40b0-95f3-89214a4a9382","ready":true,"type":"create","state":"succeeded","resource_id":"f510fefb-0361-46dd-ad38-14b92d782adc","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"2a020f86-9af4-f46d-bce8-6aceecad4ab8","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-10-17T22:24:00.037553Z","updated_at":"2023-10-17T22:24:00.441634Z"},"name":"tf-test-audit-log","service_plan_id":"02fed361-89c1-4560-82c3-0deaf93ac75b","platform_id":"service-manager","context":{"region":"cf-eu12","env_type":"sapcp","crm_customer_id":"","platform":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","origin":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","subdomain":"integration-test-services-4ie3yr1a","instance_name":"tf-test-audit-log"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-10-17T22:24:00.03755Z","updated_at":"2023-10-17T22:24:00.437525429Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2ce89f5d-8c06-4ce2-76c2-cdffe7f2c0ac
        status: 200 OK
        code: 200
        duration: 841.796708ms
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1bc4de5a-1593-17a4-a7ef-45aa459f3074
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 4592b3ba-60d6-4e18-7b35-3635a4489296
        status: 307 Temporary Redirect
        code: 307
        duration: 322.214541ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1bc4de5a-1593-17a4-a7ef-45aa459f3074
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 17
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","name":"tf-test-audit-log","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63f3c6ae-2715-7163-4f75-545c936a3485
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - a732ae4d-4975-4932-77bd-6fb3b4b44a60
        status: 307 Temporary Redirect
        code: 307
        duration: 107.75025ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","name":"tf-test-audit-log","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63f3c6ae-2715-7163-4f75-545c936a3485
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?update
        method: POST
      response:
        body: '{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","command":"btp get services/instance f510fefb-0361-46dd-ad38-14b92d782adc --subaccount 59cd458e-e66e-4b60-b6d8-8f219379f9a5","description":"Use the command above with the provided values (instance ID and subaccount ID respectively) to check the status of the update instance operation you initiated."}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "202"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ce7af6c4-94b3-4403-4bff-cb74555f3e17
        status: 200 OK
        code: 200
        duration: 292.65525ms
[...]
    - id: 33
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"f510fefb-0361-46dd-ad38-14b92d782adc","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7171e1c4-5c4b-1360-c5f4-7ac7f4d6dc11
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 80274ca1-1333-4dc9-49f7-8f057fd52dc4
        status: 307 Temporary Redirect
        code: 307
        duration: 150.801709ms
    - id: 34
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"f510fefb-0361-46dd-ad38-14b92d782adc","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7171e1c4-5c4b-1360-c5f4-7ac7f4d6dc11
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 446c0231-e406-4c61-4505-b549582f319f
        status: 200 OK
        code: 200
        duration: 349.724458ms
[...]
    - id: 36
      request:
        host: ""
        body: |
            {"paramValues":{"id":"f510fefb-0361-46dd-ad38-14b92d782adc","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 695a31d7-349a-0351-6078-3ebbaad77a11
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 2f46a611-abd0-4917-6b73-04c402563691
        status: 200 OK
        code: 200
        duration: 179.862292ms
