---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - da7d2e66-7600-e7ff-d78b-dbcced9c4bf1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 59b151ff-37a6-4875-70a1-9c78da73ec70
        status: 200 OK
        code: 200
        duration: 2.269548799s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - abb0fe07-3936-4a52-0d81-b91ea3ffc20f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"1"},{"accountGUID":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","key":"redacted","value":"4"}],"labels":{"a":["1","2","3"],"b":["4","5","6"]},"createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe@int.test","modi[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-with-secret","readOnly":"false","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e057bfeb-dd03-a54e-d17c-b253e5fe6191
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","credential-type":"secret","clientid":"redacted","tokenurl":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com/oauth/token","xsappname":"full-access!a549338","clientsecret":"redacted","serviceInstanceId":"930dd55c-d3e5-40f6-b65b-266d2b05d622","url":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com","uaadomain":"authentication.eu12.hana.ondemand.com","apiurl":"https://api.authentication.eu12.hana.ondemand.com","identityzone":"integration-test-security-settings-8ptbr820","identityzoneid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","tenantid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","name":"subaccount-api-credential-with-secret","zoneid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 008d0139-a699-4e2f-4c0c-838cb8afc002
        status: 200 OK
        code: 200
        duration: 932.767545ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-with-secret","readOnly":"false","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2d023436-3b13-362d-60f7-20b4bb70a9f3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://integration-test-security-settings-8ptbr820.authentication.eu12.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a549338","apiurl":"https://api.authentication.eu12.hana.ondemand.com","name":"subaccount-api-credential-with-secret","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - bc13ec39-2100-4e37-5885-6be4b8fd1058
        status: 200 OK
        code: 200
        duration: 677.908495ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-with-secret","readOnly":"false","subaccount":"fc26cc61-ac5e-4c7d-9747-725f32a8994e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b22b9b50-aa0f-aa24-b19f-75e7778db595
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b8330975-42af-4ebe-5f9c-8cc4bdc58929
        status: 200 OK
        code: 200
        duration: 734.005349ms
