---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eda3b825-8729-445b-2c8f-649a38832c2c
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"1fc81166-fd1d-4375-9874-55b497b88952","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - f1622d8c-c767-42d5-487c-db6777434b6d
        status: 200 OK
        code: 200
        duration: 829.2873ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory with features","directoryFeatures":"DEFAULT,ENTITLEMENTS,AUTHORIZATIONS","displayName":"my-new-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c433f358-1fb5-3bec-3f12-de41594cc1b5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"a7d3a312-da31-4132-9836-5b703cdb84b4","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Aug 28, 2023, 2:47:13 PM","createdBy":"john.doe@int.test","modifiedDate":"Aug 28, 2023, 2:47:13 PM","entityState":"STARTED","subdomain":"a7d3a312-da31-4132-9836-5b703cdb84b4","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","ENTITLEMENTS","DEFAULT"],"contractStatus":"ACTIVE","jobId":"3128129"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9bd04b0e-0d24-44c5-68b8-d443ce16c52f
        status: 200 OK
        code: 200
        duration: 425.6762ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"a7d3a312-da31-4132-9836-5b703cdb84b4","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f30f8c73-3748-0f9c-8729-b336cbe2be79
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"a7d3a312-da31-4132-9836-5b703cdb84b4","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Aug 28, 2023, 2:47:13 PM","createdBy":"john.doe@int.test","modifiedDate":"Aug 28, 2023, 2:47:14 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"a7d3a312-da31-4132-9836-5b703cdb84b4","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","ENTITLEMENTS","DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 73bc5828-9b4d-4773-4ded-eb96df21be78
        status: 200 OK
        code: 200
        duration: 264.6147ms
[...]
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory with features","directoryID":"a7d3a312-da31-4132-9836-5b703cdb84b4","displayName":"my-updated-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8f91903f-d317-ad38-f83b-89a2dea675a8
            [...]
[...]
    - id: 24
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"a7d3a312-da31-4132-9836-5b703cdb84b4","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b5cb3b35-52f5-9675-9b92-eb102381707d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf[...]
[...]
    - id: 27
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"a7d3a312-da31-4132-9836-5b703cdb84b4","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e1f209bc-8720-bd4b-8af9-1d4dcb649c0e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find a7d3a312-da31-4132-9836-5b703cdb84b4 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - fb3bfca8-132a-465f-5388-b3ba3d8fbacf
        status: 200 OK
        code: 200
        duration: 234.6276ms
