---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 461260ce-deb0-8f0e-fb0f-05bb586ef849
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - 6f5921eb-1b11-44ee-b50b-491d0f41e0cd
            X-Vcap-Request-Id:
                - b8ce0928-18bb-4d9b-70a9-2ce4f1687fe3
        status: 200 OK
        code: 200
        duration: 2.8856196s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 22345869-dd51-43df-401d-f03b1691b8d8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 128b6a61-fda8-4ad6-4a2b-813702bf77dc
        status: 307 Temporary Redirect
        code: 307
        duration: 123.601ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 22345869-dd51-43df-401d-f03b1691b8d8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":null,"providerDescription":"IAS tenant terraformint.accounts400.ondemand.com (OpenID Connect)","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"logoutUrl":null,"tokenKey":null,"linkText":"terraformint.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"fbcd9805-2237-4d30-9fec-c9f94cade62f","scopes":["openid","email"],"issuer":"https://terraformint.accounts400.ondemand.com","responseType":"code","discoveryUrl":"https://terraformint.accounts400.ondemand.com/.well-known/openid-configuration","userInfoUrl":null,"passwordGrantEnabled":true,"setForwardHeader":true,"platformIdp":false,"applicationIdp":true,"iasTenant":{"host":"terraformint.accounts400.ondemand.com","adminUrl":"https://terraformint.accounts400.ondemand.com/admin/#/applications/65311f7a4b088930c6e114c9"},"neoAuthnWithOidc":false},"id":"abbdb0ca-b221-4de5-802d-7aeb1beffe03","originKey":"sap.custom","name":"Custom IAS tenant","version":0,"created":1697718139155,"last_modified":1697718139155,"active":true,"identityZoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - ""
            X-Vcap-Request-Id:
                - 1cadcef0-8005-4f76-6dc5-15c395fccb3a
        status: 200 OK
        code: 200
        duration: 1.0080718s
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"true","status":"active","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3aaff7a9-403b-73e7-0c5c-47bb362976ac
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - a07d20fa-d4b0-459f-41a0-961437f006e7
        status: 307 Temporary Redirect
        code: 307
        duration: 135.9644ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"iasTenantUrl":"terraformint.accounts400.ondemand.com","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"true","status":"active","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3aaff7a9-403b-73e7-0c5c-47bb362976ac
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant","originKey":"sap.custom","typeOfTrust":"Application","status":"active","description":"IAS tenant terraformint.accounts400.ondemand.com (OpenID Connect)","identityProvider":"terraformint.accounts400.ondemand.com","domain":null,"linkTextForUserLogon":"terraformint.accounts400.ondemand.com","availableForUserLogon":"true","createShadowUsersDuringLogon":"true","sapBtpCli":"terraformint","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - ""
            X-Vcap-Request-Id:
                - b963defb-75e5-480f-614f-9f844a898268
        status: 200 OK
        code: 200
        duration: 359.5595ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 93563199-d39f-7ac9-75b5-9a1f9c9f01c1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 8ca62904-994a-432a-4cad-ec1232564b52
        status: 307 Temporary Redirect
        code: 307
        duration: 138.489ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 93563199-d39f-7ac9-75b5-9a1f9c9f01c1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
     [...]
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1ea2abf2-5cfe-6346-5817-c21a2cff36e9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/trust?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 2e08486d-ead5-461b-4598-8e1e0573826a
        status: 307 Temporary Redirect
        code: 307
        duration: 138.6442ms
    - id: 16
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1ea2abf2-5cfe-6346-5817-c21a2cff36e9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli[...]
