---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b8824ed3-ceaa-1a03-61d7-8aeb4101b4d1
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4d2da4e3-c5e4-4d36-5cbc-9dff4aaa5007
        status: 200 OK
        code: 200
        duration: 1.148695549s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"ldap","roleCollectionName":"Directory Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 64e31358-d281-0523-010d-7643f22e4662
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"40c72ef9-b901-4b89-91fb-3d283231f7b4","username":"jenny.doe@test.com","email":"jenny.doe@test.com","origin":"sap.default","zoneId":"05368777-4934-41e8-9f3c-6ec5f4d564b9","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":10,"active":true,"roleCollections":["Directory Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 0e4322d5-57df-4cd4-6a06-4d0cbfe331e4
        status: 200 OK
        code: 200
        duration: 854.369564ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","origin":"ldap","roleCollectionName":"Directory Viewer","userName":"jenny.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1b6d5d6f-01dd-eb09-d669-356d7b98d1f2
            X-Cpcli-Customidp:
                - ""
            [...]
