---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 12a7914a-d48e-078e-3960-1348c01ddf8c
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 789d19f3-79ed-4aa6-6964-90891b0001ba
        status: 200 OK
        code: 200
        duration: 880.970061ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e1d1ad6a-6d0e-4188-6aa5-357a92a1fd0b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"8f475f6a-ec9d-41ff-9eb3-db0605025173","technicalName":"8f475f6a-ec9d-41ff-9eb3-db0605025173","displayName":"dcmcanary_20240702011939","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"btp-gp557e17d0-e88b-7b3d-cc47-6baf457b01b3","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 2, 2024, 1:19:42 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 2, 2024, 1:20:00 AM"},{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe@int.test","modifiedDate":"Apr 8, 2024, 5:31:47 AM"},{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"82795e09-db5a-4b1c-8fd9-4737ae098341","technicalName":"82795e09-db5a-4b1c-8fd9-4737ae098341","displayName":"test-cls-as-1","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"certificate":"redacted","name":"subaccount-api-credential-with-certificate","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 05097ca1-dbf2-e2f3-20ad-6a3e34d47178
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","clientid":"redacted","credential-type":"client certificate","tokenurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com/oauth/token","clientx509enabled":false,"xsappname":"full-access!a490877","certificate":"redacted","serviceInstanceId":"6227dd00-5240-4404-8084-14c88eb5207b","url":"https://integration-test-acc-static-b8xxozer.authentication.eu12.hana.ondemand.com","uaadomain":"authentication.eu12.hana.ondemand.com","apiurl":"https://api.authentication.eu12.hana.ondemand.com","certurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com","identityzone":"integration-test-acc-static-b8xxozer","identityzoneid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","tenantid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","name":"subaccount-api-credential-with-certificate","zoneid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","certificate-pinning":false,"read-only":false,"key":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3dd39b15-b7cc-4a6d-54f4-cb0805b42b4a
        status: 200 OK
        code: 200
        duration: 1.123456665s
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-with-certificate","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 741dddc9-331b-f9bc-35f6-703e30d5ad8d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"client certificate","tokenurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a490877","apiurl":"https://api.authentication.eu12.hana.ondemand.com","certificate":"redacted","name":"subaccount-api-credential-with-certificate","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 76a8c8bd-df50-4a55-79e5-2d58023b8ac9
        status: 200 OK
        code: 200
        duration: 661.000604ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential-with-certificate","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f370656e-ed18-4aae-7cf2-d1fd668f3b80
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6db973d4-bf3f-46f4-4f9e-8ce71f0da734
        status: 200 OK
        code: 200
        duration: 901.626172ms
