---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 09a751f1-43fa-dac1-c065-0193c1f98531
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1b53f7ae-0c17-40ed-751b-f0b221b89003
        status: 200 OK
        code: 200
        duration: 905.312709ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"accessTokenValidity":"4500","customEmailDomains":"[\"domain1.test\",\"domain2.test\"]","defaultIdp":"terraformint-platform","globalAccount":"terraformintcanary","iFrameDomain":"https://iframedomain.test","refreshTokenValidity":"4500","treatUsersWithSameEmailAsSameUser":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1b918757-fdf7-1cc7-366d-9d5b91d2d10c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/settings?update
        method: POST
      response:
        body: '{"iframeDomains":"https://iframedomain.test","tokenPolicySettings":{"accessTokenValidity":4500,"refreshTokenValidity":4500,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369"],"keys":{"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"terraformint-platform","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","appId":"read-only!a129991","credentialType":"binding-secret","bindingId":"0d2eca1b-f36e-435a-bd76-72311a0e9e0a"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"}],"treatUsersWithSameEmailAsSameUser":true,"useIdpUserNameInTokens":true,"customEmailDomains":["domain1.test","domain2.test"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 687b4f89-0d2a-46d7-638e-8a9c77afe4ac
        status: 200 OK
        code: 200
        duration: 322.888834ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b6c7cde6-7362-2561-a58f-07d4be4cded7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted[...]
[...]
