---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e5c462bb-aaca-a272-40a3-94502383ad8f
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b40d49aa-07a0-4cd4-57b3-851219450408
        status: 200 OK
        code: 200
        duration: 498.231291ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1bc99e2e-8a1f-5f77-8b2a-25c87ecf047a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/environment-instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - ce114e4f-b924-48d9-7804-07837b88caa4
        status: 307 Temporary Redirect
        code: 307
        duration: 115.147084ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1bc99e2e-8a1f-5f77-8b2a-25c87ecf047a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?create
        method: POST
      response:
        body: '{"id":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","name":"cloudFoundry-from-terraform","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","tenantId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","labels":"{\"API Endpoint\":\"https:\/\/api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"f8532ee3-55b1-48fe-9586-cf9625b46716\"}","customLabels":{},"type":"Provision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","createdDate":"Oct 19, 2023, 2:03:59 PM","modifiedDate":"Oct 19, 2023, 2:03:59 PM","state":"CREATING","stateMessage":"Creating environment instance.","serviceName":"cloudfoundry","planName":"standard","jobId":"4034588"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0b764635-afd6-444e-7d0f-893e0ff22135
        status: 200 OK
        code: 200
        duration: 619.906042ms
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c805512a-04ee-2f6a-182c-d656f60ff3ca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/environment-instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 73ffadcf-68a0-4b92-6716-98cc26b1eb51
        status: 307 Temporary Redirect
        code: 307
        duration: 122.991042ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c805512a-04ee-2f6a-182c-d656f60ff3ca
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
       [...]
[...]
    - id: 17
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","parameters":"{\"instance_name\":\"cf-terraform-org-updated\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 49033cb6-6725-165d-fcc0-6e07686047a6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/environment-instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - f648b345-737d-4fbe-7562-1c98321cd7ae
        status: 307 Temporary Redirect
        code: 307
        duration: 110.495375ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","parameters":"{\"instance_name\":\"cf-terraform-org-updated\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 49033cb6-6725-165d-fcc0-6e07686047a6
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?update
        method: POST
      response:
        body: '{"jobId":"4034594"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 590c89e6-455c-4268-6d34-21bbc295e8cd
        status: 200 OK
        code: 200
        duration: 215.571375ms
[...]
    - id: 28
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9044932c-0527-e7bb-b43d-a9908d691c8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/environment-instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cf3a32c9-8487-429f-5635-ff1a93afc6e9
        status: 307 Temporary Redirect
        code: 307
        duration: 160.189709ms
    - id: 29
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9044932c-0527-e7bb-b43d-a9908d691c8e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
            [...]
[...]
    - id: 31
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"DC0E0429-FF08-4A9E-9E0A-1061B0A32118","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8fd32cf5-4927-1f7a-d3f0-a9a8cd587148
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/accounts/environment-instance?get
        method: POST
      response:
        body: '{"error":"Environment instance not found [Error: 41000/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 1d9f4b9c-5f22-4baf-60d0-f7d3324e484c
        status: 200 OK
        code: 200
        duration: 224.296917ms
