---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bdae71d4-f265-48fc-6e8f-3541cf13b8ff
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4f4b27f6-3e79-461b-4999-df47ece66a9f
        status: 200 OK
        code: 200
        duration: 321.5394ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1ff04b26-7dad-cb58-e17b-250b1ff2a31e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"2638efec-a874-492b-b3e0-be678c6884f8","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"STARTED","customProperties":[{"accountGUID":"2638efec-a874-492b-b3e0-be678c6884f8","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 20, 2023, 12:27:58 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:27:58 PM","jobId":"3493835"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 450c2ad8-1b42-4c2f-5adf-1c2d6e43cd99
        status: 200 OK
        code: 200
        duration: 341.6018ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"2638efec-a874-492b-b3e0-be678c6884f8"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 414e29e4-642d-a3e2-25de-14d80b7c14c5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"2638efec-a874-492b-b3e0-be678c6884f8","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"CREATING","stateMessage":"Creating subaccount tenant.","customProperties":[{"accountGUID":"2638efec-a874-492b-b3e0-be678c6884f8","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 20, 2023, 12:27:58 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:27:59 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c21a4235-2543-4477-7e23-2beec37a334c
        status: 200 OK
        code: 200
        duration: 151.5999ms
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"2638efec-a874-492b-b3e0-be678c6884f8","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e6f1446e-fe5e-636e-2c88-8f4af859183c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
              [...]
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"2638efec-a874-492b-b3e0-be678c6884f8"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 010a4de4-e450-148f-c6b1-f955621f0fd5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: http[...]
[...]
    - id: 30
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"2638efec-a874-492b-b3e0-be678c6884f8"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 36ced97e-e788-2518-52f6-d461e19f5114
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 37146064-8b15-49d3-67b1-e03ba2a04333
        status: 200 OK
        code: 200
        duration: 177.0899ms
