---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5db08fe3-70e9-6d2b-d78c-00912366d2bf
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 114680f5-4884-433b-7924-7005a88f660d
        status: 200 OK
        code: 200
        duration: 1.201921541s
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","name":"Custom IAS tenant for apps","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b6e269b7-7c6a-0d2c-742b-1bb4548dcc47
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 9d59e9e3-d394-49b6-70ee-99f5cb831a41
        status: 307 Temporary Redirect
        code: 307
        duration: 262.780833ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"description":"Description for terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","name":"Custom IAS tenant for apps","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b6e269b7-7c6a-0d2c-742b-1bb4548dcc47
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"type":"oidc1.0","config":{"emailDomain":null,"additionalConfiguration":{"domain":"terraformint.accounts400.ondemand.com"},"providerDescription":"Description for terraformint.accounts400.ondemand.com","externalGroupsWhitelist":[],"attributeMappings":{"user.attribute.groups":"groups","user.attribute.remoteEntityId":"iss","user_uuid":"user_uuid"},"addShadowUserOnLogin":true,"storeCustomAttributes":true,"authUrl":null,"tokenUrl":null,"tokenKeyUrl":null,"logoutUrl":null,"tokenKey":null,"linkText":"terraformint.accounts400.ondemand.com","showLinkText":true,"clientAuthInBody":false,"skipSslValidation":false,"relyingPartyId":"fb1cb55a-34a9-4993-88ec-8fdad1201171","scopes":["openid","email"],"issuer":"https://terraformint.accounts400.ondemand.com","responseType":"code","discoveryUrl":"https://terraformint.accounts400.ondemand.com/.well-known/openid-configuration","userInfoUrl":null,"passwordGrantEnabled":true,"setForwardHeader":true,"platformIdp":false,"applicationIdp":true,"iasTenant":{"host":"terraformint.accounts400.ondemand.com","adminUrl":"https://terraformint.accounts400.ondemand.com/admin/#/applications/655220e99944a9073b357baf"},"neoAuthnWithOidc":false},"id":"692acdda-c09d-491f-a85f-e8269a7ad779","originKey":"sap.custom","name":"Custom IAS tenant for apps","version":0,"created":1699881193819,"last_modified":1699881193819,"active":true,"identityZoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 858ffa0f-1043-4973-4a17-df8e481d930f
        status: 200 OK
        code: 200
        duration: 1.016630917s
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","linkText":"custom link text","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"false","status":"inactive","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e1692e7-4f8e-ca36-106d-d704609c8a6c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - e9b2997c-35e4-46c1-53dd-03d1de16e2ae
        status: 307 Temporary Redirect
        code: 307
        duration: 348.82725ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"domain":"terraformint.accounts400.ondemand.com","iasTenantUrl":"terraformint.accounts400.ondemand.com","linkText":"custom link text","originKey":"sap.custom","refreshTrust":"true","shadowUsers":"false","status":"inactive","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userLogon":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7e1692e7-4f8e-ca36-106d-d704609c8a6c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom IAS tenant for apps","originKey":"sap.custom","typeOfTrust":"Application","status":"inactive","description":"Description for terraformint.accounts400.ondemand.com","identityProvider":"terraformint.accounts400.ondemand.com","domain":"terraformint.accounts400.ondemand.com","linkTextForUserLogon":"custom link text","availableForUserLogon":"false","createShadowUsersDuringLogon":"false","sapBtpCli":"terraformint","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 57e74574-880a-4c8c-71ae-a6f11f63ebf4
        status: 200 OK
        code: 200
        duration: 717.756042ms
[...]
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 97d626ff-a5fe-16f8-3762-9113dcb4d629
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?get
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 0044209e-8be4-44ec-5763-49f28c3c4483
        status: 307 Temporary Redirect
        code: 307
        duration: 222.782375ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 97d626ff-a5fe-16f8-3762-9113dcb4d629
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
        [...]
[...]
    - id: 29
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d3d9e249-4923-b00d-f3a7-6c0f12d64c08
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/security/trust?delete
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7a21c1b7-93e5-42e3-710d-71ac9bb14eb2
        status: 307 Temporary Redirect
        code: 307
        duration: 209.55275ms
    - id: 30
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","originKey":"sap.custom","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d3d9e249-4923-b00d-f3a7-6c0f12d64c08
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli[...]
