---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f3933fa4-1992-4d95-a42b-16593a099aa2
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 68d75d6e-033a-4a55-753b-ae754f575bba
        status: 200 OK
        code: 200
        duration: 593.862721ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 742caaeb-cc5e-eda7-c644-d5a1525d006d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - fee50fe4-e56b-4e91-530a-13075267a8e2
        status: 307 Temporary Redirect
        code: 307
        duration: 367.113778ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 742caaeb-cc5e-eda7-c644-d5a1525d006d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: '{"id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","ready":true,"last_operation":{"id":"131457c3-91a2-4092-a4d2-36f7371709d3","ready":true,"type":"create","state":"succeeded","resource_id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"742caaeb-cc5e-eda7-c644-d5a1525d006d","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-08-01T14:13:35.051548Z","updated_at":"2023-08-01T14:13:35.693155Z"},"name":"tf-test-destination","service_plan_id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","platform_id":"service-manager","context":{"platform":"sapcp","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","crm_customer_id":"","license_type":"SAPDEV","subdomain":"integration-test-services-4ie3yr1a","region":"cf-eu12","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","instance_name":"tf-test-destination"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-08-01T14:13:35.051545Z","updated_at":"2023-08-01T14:13:35.690383907Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 44930828-e8dd-457a-6335-9e70fd25b788
        status: 200 OK
        code: 200
        duration: 1.119130586s
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f6d4fd89-4050-0088-bc3a-7baecc4ffe44
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7b919957-ef7e-47ea-4023-c3f236961497
        status: 307 Temporary Redirect
        code: 307
        duration: 261.090078ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f6d4fd89-4050-0088-bc3a-7baecc4ffe44
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9ffff886-e85e-b17c-c0bb-da48a62d524b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cb84e0ac-a854-477b-5f6e-dd5d00239500
        status: 307 Temporary Redirect
        code: 307
        duration: 186.059809ms
    - id: 15
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9ffff886-e85e-b17c-c0bb-da48a62d524b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - ce643682-79e6-4ee5-47e5-27d46a167db3
        status: 200 OK
        code: 200
        duration: 740.779742ms
[...]
    - id: 17
      request:
        host: ""
        body: |
            {"paramValues":{"id":"ca0d95e2-49b5-412a-a6c7-060bee0aab65","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 40708e58-2d16-2276-c7c7-baf82e2485bd
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 673d371e-9b3b-42f0-4848-231e9116a32e
        status: 200 OK
        code: 200
        duration: 140.659294ms
