---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 50c6b1e9-64af-7bcc-3dc6-4b8b22181e1d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e3fc252d-f558-41a5-6961-f656bfe110c6
        status: 200 OK
        code: 200
        duration: 1.725572042s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1f28a72d-e689-9f46-132e-d35f83980ea3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Apr 8, 2024, 5:31:47 AM"},{"guid":"b0797898-c867-4eb4-a228-d88a15218208","technicalName":"b0797898-c867-4eb4-a228-d88a15218208","displayName":"B2C | dept-XYZ: CF - DEV","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"b2c-dept-xyz-dev","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jun 13, 2024, 4:57:36 AM","createdBy":"[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionParams":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5e1c703c-d098-1dd0-b211-90795e93df9d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?subscribe
        method: POST
      response:
        body: '{"jobId":"30969652"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ada60019-3165-49ad-763e-f10f84458a73
        status: 200 OK
        code: 200
        duration: 1.136535625s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 63f023ac-0ec1-4129-67d4-6fe73712dadd
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-4ie3yr1a.auditlog-viewer.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscribedSubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionGUID":"107a5605-f411-48ef-afb1-2dba0ebb98c9","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"auditlog-viewer","commercialAppName":"auditlog-viewer","appId":"auditlog-viewer!t49","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"planDescription":"SAP UI5 application that is showing the audit data in an application view, making it available to customers.","additionalPlanFeatures":[],"displayName":"Audit Log Viewer Service","description":"SAP Audit Log Viewer service for SAP BTP helps to view and manage audit logs.","shortDescription":"View and manage audit logs.","iconBase64":"PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzM4NjBfMTc1NzMpIj4KPHBhdGggZD0iTTYuMjExNzQgMC4wMTI5Mzk1QzUuNDA4MDIgMC4wMTI5Mzk1IDQuNzQyNzEgMC42MDU1NDYgNC42Mjg5MiAxLjM3NzY1QzQuNjE5MjcgMS40NDMxMSA0LjYxMzIxIDEuNTA5ODYgNC42MTE3NCAxLjU3NzY1SDMuODExNzJDMi41NDE0NiAxLjU3NzY1IDEuNTExNzIgMi42MDc0IDEuNTExNzIgMy44Nzc2NVYxMy42Nzc3QzEuNTExNzIgMTQuOTQ3OSAyLjU0MTQ2IDE1Ljk3NzcgMy44MTE3MiAxNS45Nzc3SDE[...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cfece16d-fc27-d7b8-125f-66b49dccd546
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: '{"jobId":"30969681"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4ad2a1ae-3e7c-4bb9-6093-6bd1aa764671
        status: 200 OK
        code: 200
        duration: 774.272083ms
[...]
