---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 39701f1d-c8ab-20e4-5759-ae45b4c597b8
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 95cadf75-7ff7-4956-4de9-54e92cfa697d
        status: 200 OK
        code: 200
        duration: 907.65178ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"displayName":"integration-test-acc-dyn","region":"eu12","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 18f6e386-2925-6999-9b61-126ab269ab94
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Jun 5, 2023, 9:54:49 AM","createdBy":"john.doe@int.test","modifiedDate":"Jun 5, 2023, 9:54:49 AM","jobId":"2592415"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 58c3fff4-23b9-4edc-6aab-1509a4cde212
        status: 200 OK
        code: 200
        duration: 512.351544ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6d9e664e-2b5f-67aa-f5ca-969c9bb87ab2
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Jun 5, 2023, 9:54:49 AM","createdBy":"john.doe@int.test","modifiedDate":"Jun 5, 2023, 9:54:50 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 788555c2-5226-4be6-5731-469db4ae2e85
        status: 200 OK
        code: 200
        duration: 419.503739ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"displayName":"Integration Test Acc Dyn","subaccount":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f7de3bbe-2570-3962-2ee2-f7b9fb03703f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
      [...]
[...]
    - id: 24
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5afa3173-3278-7a85-4586-9cc00356fd4c
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.c[...]
[...]
    - id: 28
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"65c75876-b6d4-40d6-af9a-a260b0ca6ad3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ef9cd8ba-9e72-b90b-034d-b40200e9b4f8
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 4030237f-680a-4d21-4cd4-72ed1a40383f
        status: 200 OK
        code: 200
        duration: 366.056606ms
