---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ccc14533-d49f-a182-000a-f487ebc97a49
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 10133dd4-179c-49fc-6b96-aacad1f146fd
        status: 200 OK
        code: 200
        duration: 411.208498ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4b4a8142-64c9-e6f9-2d32-086888f511d0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"cc8917a8-c888-430d-87bb-08fefdb5c835","technicalName":"cc8917a8-c888-430d-87bb-08fefdb5c835","displayName":"integration-test-services-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Subaccount to test:\n- Service Instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:35 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:52 AM"},{"guid":"34564cea-ee6a-4cf2-9f32-71fedefa7126","technicalName":"34564cea-ee6a-4cf2-9f32-71fedefa7126","displayName":"integration-test-acc-static","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static","betaEnabled":false,"usedForProduction":"UNSET","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","customProperties":[{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label2","value":""},{"accountGUID":"34564cea-ee6a-4cf2-9f32-71fedefa7126","key":"label1","value":"label text 1"}],"labels":{"label1":["label text 1"],"label2":[]},"createdDate":"Nov 24, 2023, 10:32:40 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:04 AM"},{"guid":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","technicalName":"dd7a94c7-dd92-4697-87ee-9c78e650e7e5","displayName":"integration-test-security-settings","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:32:39 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:32:59 AM"},{"guid":"e305b127-c328-4abb-b9fa-b1364daa0efb","technicalName":"e305b127-c328-4abb-b9fa-b1364daa0efb","displayName":"integration-test-acc-entitlements-stacked","globalAccountGUID":"e497d362-bf7f-4069-bb49-449d726a08aa","parentGUID":"f3bd4f06-0528-4851-a53d-6fcb341c00bc","parentType":"FOLDER","parentFeatures":["DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-entitlements-stacked","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 24, 2023, 10:33:16 AM","createdBy":"john.doe@int.test","modifiedDate":"Nov 24, 2023, 10:33:37 AM"}]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 98eeeeba-4b63-44a3-6dd5-cc2bcd1d6507
        status: 200 OK
        code: 200
        duration: 179.415777ms
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c36e2184-0b3e-5d40-1ba7-8d058cd8ac45
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?list
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 34341614-682e-47b8-7299-770c3682fd49
        status: 307 Temporary Redirect
        code: 307
        duration: 138.910445ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c36e2184-0b3e-5d40-1ba7-8d058cd8ac45
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?list
        method: POST
      response:
        body: '[{"id":"22cce73c-c478-4b9f-b527-a625adbd9fda","ready":true,"name":"tf-testacc-alertnotification-instance","service_plan_id":"f0aac855-474d-4016-9529-61c062efbc7c","platform_id":"service-manager","context":{"region":"cf-eu12","env_type":"sapcp","platform":"sapcp","origin":"sapcp","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","subdomain":"integration-test-services-static","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","crm_customer_id":"","instance_name":"tf-testacc-alertnotification-instance"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:22.248091Z","updated_at":"2023-11-24T10:33:22.807519Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"},{"id":"34df641a-5435-4a0e-8f1c-aaf58301163c","ready":true,"name":"tf-testacc-malware-scanner-sample","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"env_type":"sapcp","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","region":"cf-eu12","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","license_type":"SAPDEV","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","subdomain":"integration-test-services-static","crm_customer_id":"","platform":"sapcp","origin":"sapcp","instance_name":"tf-testacc-malware-scanner-sample"},"usable":true,"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","protected":null,"created_at":"2023-11-24T10:33:23.661008Z","updated_at":"2023-11-24T10:33:23.737011Z","labels":"org = testvalue; subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835"}]'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ed63725a-4548-4abb-606b-ccada7eb50b2
        status: 200 OK
        code: 200
        duration: 115.439584ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"22cce73c-c478-4b9f-b527-a625adbd9fda","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 61c97e54-a5b3-7108-bbb1-f83fe093aa7a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/binding?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?create
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - f9c0b43b-e195-4e91-65c8-cc668d266a79
        status: 307 Temporary Redirect
        code: 307
        duration: 150.182142ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tfint-test-alert-sb","parameters":"{}","serviceInstanceID":"22cce73c-c478-4b9f-b527-a625adbd9fda","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 61c97e54-a5b3-7108-bbb1-f83fe093aa7a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?create
        method: POST
      response:
        body: '{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","ready":true,"last_operation":{"id":"8ef9a0f7-cc0b-4565-9ef3-cf05bac34a60","ready":true,"type":"create","state":"succeeded","resource_id":"b7daeb28-0b7e-41c0-961b-87acba438582","resource_type":"/v1/service_bindings","platform_id":"service-manager","correlation_id":"61c97e54-a5b3-7108-bbb1-f83fe093aa7a","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-12-18T12:44:42.485042Z","updated_at":"2023-12-18T12:44:43.131437Z"},"name":"tfint-test-alert-sb","service_instance_id":"22cce73c-c478-4b9f-b527-a625adbd9fda","context":{"crm_customer_id":"","env_type":"sapcp","global_account_id":"e497d362-bf7f-4069-bb49-449d726a08aa","instance_name":"tf-testacc-alertnotification-instance","license_type":"SAPDEV","origin":"sapcp","platform":"sapcp","region":"cf-eu12","service_instance_id":"22cce73c-c478-4b9f-b527-a625adbd9fda","subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","subdomain":"integration-test-services-static","zone_id":"cc8917a8-c888-430d-87bb-08fefdb5c835"},"subaccount_id":"cc8917a8-c888-430d-87bb-08fefdb5c835","created_at":"2023-12-18T12:44:42.48504Z","updated_at":"2023-12-18T12:44:43.126203197Z","labels":"subaccount_id = cc8917a8-c888-430d-87bb-08fefdb5c835","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3d6a1942-164c-42d3-7f6f-1de2d524f9a1
        status: 200 OK
        code: 200
        duration: 864.67963ms
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 860542e0-e915-d07c-eb38-332e6e5c6854
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/binding?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?get
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 43109c52-e842-45d3-5dc3-b34dcdadd169
        status: 307 Temporary Redirect
        code: 307
        duration: 145.980801ms
    - id: 8
      request:
        host: ""
        body: |
            {"paramValues":{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 860542e0-e915-d07c-eb38-332e6e5c6854
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcl[...]
[...]
    - id: 25
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 817c8635-ba9c-ba21-e845-a6153c26849f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/binding?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?delete
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5f19374b-4208-41d0-5c3d-95cd868597e7
        status: 307 Temporary Redirect
        code: 307
        duration: 134.564317ms
    - id: 26
      request:
        host: ""
        body: |
            {"paramValues":{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 817c8635-ba9c-ba21-e845-a6153c26849f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - d741f9bc-0f5a-4480-7e13-2a1eef5748a4
        status: 200 OK
        code: 200
        duration: 551.13926ms
[...]
    - id: 28
      request:
        host: ""
        body: |
            {"paramValues":{"id":"b7daeb28-0b7e-41c0-961b-87acba438582","subaccount":"cc8917a8-c888-430d-87bb-08fefdb5c835"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b6e55146-3152-6584-2e08-08c1ce75a972
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-static
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/binding?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_bindings"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 514dd183-d0fe-411d-6f00-67d90e620679
        status: 200 OK
        code: 200
        duration: 183.414381ms
