---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 24cec25e-c487-bbf8-fd40-b4c3b5600d52
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - 0812f2e3-478a-4c03-83d7-7186bdb2173a
            X-Vcap-Request-Id:
                - c379dcd5-2fe8-40ec-7693-8ae62d1c2e08
        status: 200 OK
        code: 200
        duration: 3.7420298s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d83c6fa5-62b8-c7dc-0999-5227982a456d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"eb73686f-eae8-45dd-97a9-6d0e87ead744","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"STARTED","customProperties":[{"accountGUID":"eb73686f-eae8-45dd-97a9-6d0e87ead744","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 11, 2023, 2:23:49 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 2:23:49 PM","jobId":"3421512"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 2d3323a1-4dfc-4849-7cf2-c95996f862a9
        status: 200 OK
        code: 200
        duration: 878.6051ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"eb73686f-eae8-45dd-97a9-6d0e87ead744"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0e30114c-2fff-39fd-948b-41017f0362fa
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"eb73686f-eae8-45dd-97a9-6d0e87ead744","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"CREATING","stateMessage":"Creating subaccount tenant.","customProperties":[{"accountGUID":"eb73686f-eae8-45dd-97a9-6d0e87ead744","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 11, 2023, 2:23:49 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 2:23:50 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c05cf634-d2d3-42d1-5b07-520ed05bca57
        status: 200 OK
        code: 200
        duration: 298.0037ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","subaccount":"eb73686f-eae8-45dd-97a9-6d0e87ead744","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b52b49c1-4f1a-bba0-9afe-abd4973eb4c7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Forma[...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"eb73686f-eae8-45dd-97a9-6d0e87ead744"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 137ebd42-aafe-6b16-8072-ce30c8874d3f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: h[...]
[...]
    - id: 29
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"eb73686f-eae8-45dd-97a9-6d0e87ead744"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3abdf92c-90da-9f49-ac2b-0963e7d9bfae
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - d4f3955d-4bb6-4a7a-75d9-9c93a3a61b52
        status: 200 OK
        code: 200
        duration: 230.1478ms
