---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a5c416ac-eb44-a54b-f5a9-b6bd17e68c81
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 76be3c29-ab9a-4208-7764-fafd7b506d37
        status: 200 OK
        code: 200
        duration: 4.140233292s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a new directory","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 00351a42-60b4-5dcc-29c8-505cbad1f3c7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Jul 15, 2024, 2:52:58 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 2:52:58 PM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - fff1d38a-2646-46d5-52fc-556f6eb36a28
        status: 200 OK
        code: 200
        duration: 397.050958ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9e8c532f-da0a-eb12-c8f4-60e9334bdf58
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
[...]
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","displayName":"my-updated-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a54ded1e-26b4-e0c1-50be-7b2f3cb0db0e
            X-Cpcli-Custo[...]
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 05b65a9a-5712-ffe9-ec9e-f45ffd1fa878
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?delete
        method: POST
      response:
        body: '{"guid":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-updated-directory","description":"This is a updated directory","createdDate":"Jul 15, 2024, 2:52:58 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 2:53:23 PM","entityState":"DELETING","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE","jobId":"5541432"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 504cbf45-d851-49db-6637-c566a611faff
        status: 200 OK
        code: 200
        duration: 241.868666ms
    - id: 20
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"ce4495cc-90c0-4f3c-a233-534e37b6ac61","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - be803d0b-ec1a-b33c-7356-01af1299bef0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find ce4495cc-90c0-4f3c-a233-534e37b6ac61 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 74435dd0-ccbb-4107-4b3b-3343bef42904
        status: 200 OK
        code: 200
        duration: 327.654625ms
