---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 288fc94e-f164-a83f-caa4-1b02a4c6f053
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 893d4f9c-44e9-4f41-6cb8-f80e4c02883e
        status: 200 OK
        code: 200
        duration: 2.487283168s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","showHierarchy":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 99af808a-d798-d972-86fe-68840b6762ab
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/global-account?get
        method: POST
      response:
        body: '{"commercialModel":"Subscription","consumptionBased":false,"licenseType":"SAPDEV","geoAccess":"STANDARD","costCenter":"101014160","useFor":"Testing","origin":"OPERATOR","guid":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"terraform-integration-canary","description":"Global Account for Integration tests for the Terraform provider for SAP BTP on Canary Landscape\nSee https://github.com/SAP/terraform-provider-btp ","createdDate":"May 11, 2023, 8:59:23 AM","modifiedDate":"Apr 14, 2025, 9:47:22 AM","children":[{"guid":"14870944-4832-4e76-83f7-d2913661cf6d","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-se-static","description":"Please don\u0027t modify. This is used for integration tests.","createdDate":"Jan 23, 2025, 5:52:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jan 23, 2025, 6:03:51 AM","entityState":"OK","stateMessage":"Directory created.","subdomain":"14870944-4832-4e76-83f7-d2913661cf6d","directoryType":"PROJECT","directoryFeatures":["AUTHORIZATIONS","DEFAULT","ENTITLEMENTS"],"customProperties":[{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":"Label text 1"},{"accountGUID":"14870944-4832-4e76-83f7-d2913661cf6d","key":"redacted","value":""}],"labels":{"my-label-2":[],"my-label-1":["Label text 1"]},"contractStatus":"ACTIVE"},{"guid":"79a7e7e7-fbf2-4b18-95b3-856fcc935b54","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"integration-test-dir-roles","description":"PLEASE DO NOT DELETE!! This dir is used for integration test","createdDate":"Jul 18, 2024, 6:49:00 AM","createdBy":"john.doe+2@int.test","modifiedDate":"Jul 18, 2024, 7:49:40 AM","entityState":"OK","sta[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"adminDirectory":"a9546df7-214e-4414-9191-3d6adfc9cb53","betaEnabled":"false","directoryID":"a9546df7-214e-4414-9191-3d6adfc9cb53","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fda54648-0dc9-72cb-ca2e-535104a001cf
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"352e90ac-9e3b-4ac6-8511-ee5669b4bbe9","technicalName":"N\/A","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"a9546df7-214e-4414-9191-3d6adfc9cb53","parentType":"PROJECT","parentFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"STARTED","createdDate":"May 30, 2025, 2:36:00 PM","createdBy":"john.doe@int.test","modifiedDate":"May 30, 2025, 2:36:00 PM","jobId":"12766416"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a4243949-1a9b-4cfc-5ce8-c0c7680118a2
        status: 200 OK
        code: 200
        duration: 604.097875ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"352e90ac-9e3b-4ac6-8511-ee5669b4bbe9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ab196872-991a-f4cc-be24-585d746a1f1e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"352e90ac-9e3b-4ac6-8511-ee5669b4bbe9","technicalName":"N/A","displayName":"Integration Test Acc Dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"a9546df7-214e-4414-9191-3d6adfc9cb53","parentType":"PROJECT","closestEntitlementManagedParentGUID":"a9546df7-214e-4414-9191-3d6adfc9cb53","parentFeatures":["AUTHORIZATIONS","DEFAULT","ENTITLEMENTS"],"region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"May 30, 2025, 2:36:00 PM","createdBy":"john.doe@int.test","modifiedDate":"May 30, 2025, 2:36:01 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 939c22b0-e215-4e7b-795b-0e7b943dafbc
        status: 200 OK
        code: 200
        duration: 152.82225ms
[...]
    - id: 16
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","directoryID":"a9546df7-214e-4414-9191-3d6adfc9cb53","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"352e90ac-9e3b-4ac6-8511-ee5669b4bbe9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ebe6d138-d6d8-6170-57b2-d7dc220ae23a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?delete
        method: POST
      response:
        body: '{"error":"Subaccount is marked as used for production and cannot be deleted with forceDelete=true [Error: 12003/400]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Vcap-Request-Id:
                - 189c81a5-715a-45d7-7610-c929b930ac2d
        status: 200 OK
        code: 200
        duration: 429.777ms
[...]
