---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 949440c2-9ac2-2653-7f81-3e97530a799e
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - e2b0bd5f-5a3e-4b1f-5559-8967121d4e46
        status: 200 OK
        code: 200
        duration: 922.295901ms
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d51b3eac-6a9e-3af8-b275-943afdba3ef3
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"03760ecf-9d89-4189-a92a-1c7efed09298","credential-type":"secret","clientid":"redacted","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","xsappname":"full-access!a129991","clientsecret":"redacted","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","url":"https://terraformintcanary.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"terraformintcanary","identityzoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","tenantid":"03760ecf-9d89-4189-a92a-1c7efed09298","name":"globalaccount-api-credential-with-secret","zoneid":"03760ecf-9d89-4189-a92a-1c7efed09298","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ebbaa6eb-dd99-46b3-43e3-3d5d562466c8
        status: 200 OK
        code: 200
        duration: 630.131399ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 82855c4b-7cc3-a599-b6f4-216f0e63369f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"secret","tokenurl":"https://terraformintcanary.authentication.sap.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a129991","apiurl":"https://api.authentication.sap.hana.ondemand.com","name":"globalaccount-api-credential-with-secret","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e4c4d0af-fbfe-4691-51f9-c9b191fbcedb
        status: 200 OK
        code: 200
        duration: 497.064751ms
[...]
    - id: 10
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","name":"globalaccount-api-credential-with-secret","readOnly":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 384b2fd5-c641-7565-e8b6-f6fb1050a116
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8ad3e2c2-be44-4fc2-56de-4c87d770c701
        status: 200 OK
        code: 200
        duration: 365.822354ms
