---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fb3e734a-0f2f-9b8d-4cac-149b389e6b49
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 54716cac-55e0-4107-5403-a002d93fd5bd
        status: 200 OK
        code: 200
        duration: 480.464658ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4005338a-c282-6de2-677c-194533c88002
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 1d626ce2-6e0b-42ff-72d9-53b894103a1c
        status: 307 Temporary Redirect
        code: 307
        duration: 217.917631ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4005338a-c282-6de2-677c-194533c88002
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?create
        method: POST
      response:
        body: '{"id":"073615a0-bd4e-455e-b6fb-43577274b245","ready":true,"last_operation":{"id":"594a732b-56dd-4178-9ed4-4d76a92ff6ed","ready":true,"type":"create","state":"succeeded","resource_id":"073615a0-bd4e-455e-b6fb-43577274b245","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"4005338a-c282-6de2-677c-194533c88002","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-08-01T14:11:59.296784Z","updated_at":"2023-08-01T14:11:59.575939Z"},"name":"tf-test-audit-log","service_plan_id":"02fed361-89c1-4560-82c3-0deaf93ac75b","platform_id":"service-manager","context":{"platform":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","region":"cf-eu12","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","crm_customer_id":"","instance_name":"tf-test-audit-log"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-08-01T14:11:59.296781Z","updated_at":"2023-08-01T14:11:59.572959899Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 63fa9a2f-42cb-42b1-499f-a3ceab7b2c5a
        status: 200 OK
        code: 200
        duration: 582.486584ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"073615a0-bd4e-455e-b6fb-43577274b245","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2edf7fe2-3056-5ffd-023e-8ed558b4ddf9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - f6570a76-8d8b-4da8-6a6d-8fb4c476f665
        status: 307 Temporary Redirect
        code: 307
        duration: 394.399555ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"073615a0-bd4e-455e-b6fb-43577274b245","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2edf7fe2-3056-5ffd-023e-8ed558b4ddf9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 17
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"073615a0-bd4e-455e-b6fb-43577274b245","name":"tf-test-audit-log","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45ac2e2a-0ac4-eb1f-875d-197a638e8585
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?update
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?update
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 3ca025bd-6e29-40d4-6ef8-74ef99a36521
        status: 307 Temporary Redirect
        code: 307
        duration: 190.593444ms
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"id":"073615a0-bd4e-455e-b6fb-43577274b245","name":"tf-test-audit-log","newName":"TF-TEST-AUDIT-LOG","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 45ac2e2a-0ac4-eb1f-875d-197a638e8585
            X-Cpcli-Customidp:
[...]
[...]
    - id: 33
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","id":"073615a0-bd4e-455e-b6fb-43577274b245","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8fcb5105-4e9f-3e92-2736-cf9cff3e18dc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - cd86abe4-ef4c-41d5-435c-c8adad8cffc3
        status: 307 Temporary Redirect
        code: 307
        duration: 174.591685ms
    - id: 34
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"073615a0-bd4e-455e-b6fb-43577274b245","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8fcb5105-4e9f-3e92-2736-cf9cff3e18dc
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - a09f6f2c-b828-4f0a-6611-38c3d04c98d3
        status: 200 OK
        code: 200
        duration: 347.672205ms
[...]
    - id: 36
      request:
        host: ""
        body: |
            {"paramValues":{"id":"073615a0-bd4e-455e-b6fb-43577274b245","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1c5e299f-d547-23c8-a969-9af88a7f1d77
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 26efd110-15e4-4666-42ad-8619f810e1d0
        status: 200 OK
        code: 200
        duration: 105.087675ms
