---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6ce2b451-846b-ebdd-c4b7-110a3084062d
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 606ae40c-60b7-4968-7e91-6be59775ad33
        status: 200 OK
        code: 200
        duration: 1.174834951s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - abc39406-335d-488b-9d7f-163783cf7136
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?create
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - ba8c01cc-3c0a-4f1b-4ffd-70c04796321f
        status: 307 Temporary Redirect
        code: 307
        duration: 303.047458ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"displayName":"cloudFoundry-from-terraform","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","plan":"standard","service":"cloudfoundry","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - abc39406-335d-488b-9d7f-163783cf7136
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?create
        method: POST
      response:
        body: '{"id":"F0E2EC88-28F8-493B-9011-1111EFFA2664","name":"cloudFoundry-from-terraform","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","tenantId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"provision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"john.doe@int.test\",\"email\":\"john.doe@int.test\"}]}","labels":"{\"API Endpoint\":\"https:\/\/api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"5e3b6d13-9fd1-46b3-b6b1-bedf7f2dada7\"}","customLabels":{},"type":"Provision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","createdDate":"Aug 2, 2023, 9:27:04 AM","modifiedDate":"Aug 2, 2023, 9:27:04 AM","state":"CREATING","stateMessage":"Creating environment instance.","serviceName":"cloudfoundry","planName":"standard","jobId":"3222092"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - dd780961-5fb9-4010-5b32-6d8073ee7920
        status: 200 OK
        code: 200
        duration: 1.888244292s
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 882e28b4-551a-db14-b707-afa9e94e4b88
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?get
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 2acd523a-8432-414c-5449-4b8463ddc5a9
        status: 307 Temporary Redirect
        code: 307
        duration: 413.025172ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 882e28b4-551a-db14-b707-afa9e94e4b88
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
       [...]
[...]
    - id: 17
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"jane.doe@int.test\",\"email\":\"jane.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
 [...]
    - id: 18
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","parameters":"{\"instance_name\":\"cf-terraform-org\",\"users\":[{\"id\":\"jane.doe@int.test\",\"email\":\"jane.doe@int.test\"}]}","plan":"standard","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5bb5bd49-24[...]
[...]
    - id: 46
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3b5f26cb-9695-0897-dab5-b400c7cb04da
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?delete
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 8f44b165-3310-43ed-4db0-9232bc4ca3f6
        status: 307 Temporary Redirect
        code: 307
        duration: 177.772167ms
    - id: 47
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3b5f26cb-9695-0897-dab5-b400c7cb04da
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
            [...]
[...]
    - id: 49
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6173ec17-96bd-825f-2093-6076175f3d82
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?get
        method: POST
      response:
        body: '{"id":"F0E2EC88-28F8-493B-9011-1111EFFA2664","name":"cloudFoundry-from-terraform","brokerId":"1101E504-06B5-49B3-88E9-A21F1FEE35A2","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccountGUID":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","tenantId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","serviceId":"fa31b750-375f-4268-bee1-604811a89fd9","planId":"fc5abe63-2a7d-4848-babf-f63a5d316df1","operation":"deprovision","parameters":"{\"instance_name\":\"cf-terraform-org\",\"status\":\"ACTIVE\",\"purge\":false}","labels":"{\"API Endpoint\":\"https://api.cf.eu12.hana.ondemand.com\",\"Org Name\":\"cf-terraform-org\",\"Org ID\":\"5e3b6d13-9fd1-46b3-b6b1-bedf7f2dada7\"}","customLabels":{},"type":"Deprovision","status":"Processing","environmentType":"cloudfoundry","landscapeLabel":"cf-eu12","platformId":"5e3b6d13-9fd1-46b3-b6b1-bedf7f2dada7","createdDate":"Aug 2, 2023, 9:27:04 AM","modifiedDate":"Aug 2, 2023, 9:27:49 AM","state":"DELETING","stateMessage":"Deleting org ID:[5e3b6d13-9fd1-46b3-b6b1-bedf7f2dada7]. Instance ID:[F0E2EC88-28F8-493B-9011-1111EFFA2664].","serviceName":"cloudfoundry","planName":"standard"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - f07111c6-1870-4706-64a7-5c144cf7887f
        status: 200 OK
        code: 200
        duration: 330.711ms
[...]
    - id: 73
      request:
        host: ""
        body: |
            {"paramValues":{"environmentID":"F0E2EC88-28F8-493B-9011-1111EFFA2664","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3c7a9bbd-4ad7-b07a-e327-a211de3c7281
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/accounts/environment-instance?get
        method: POST
      response:
        body: '{"error":"Environment instance not found [Error: 41000/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - f8d99d0a-e9d4-4109-47dd-74c44ac16094
        status: 200 OK
        code: 200
        duration: 1.223786792s
