---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3268b877-b004-36af-0afd-9c2643921c0a
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - 927b7071-97a9-41f7-9c63-54b640aae6d8
            X-Vcap-Request-Id:
                - 307a8741-670d-4691-5bc2-c216576fd253
        status: 200 OK
        code: 200
        duration: 465.7289ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory with features","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7cf74909-c399-0e2e-f9aa-e9ab8a814ede
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 11, 2023, 3:07:27 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 3:07:27 PM","entityState":"STARTED","subdomain":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"contractStatus":"ACTIVE","jobId":"3421963"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 0c4cd115-b394-4493-7192-ef0d51d41c9d
        status: 200 OK
        code: 200
        duration: 602.9945ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 558ce797-13d2-2ec9-a84d-49f21bf6c30f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Oct 11, 2023, 3:07:27 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 3:07:28 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9c883c2f-9551-4913-6c0f-329e9027b581
        status: 200 OK
        code: 200
        duration: 143.0356ms
[...]
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory with features","directoryID":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","displayName":"my-updated-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dc52d20d-9c20-0582-4502-560f9e96be39
            [...]
[...]
    - id: 24
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0278d2d2-8a71-6083-fc9e-d74c2c8b71c2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf[...]
[...]
    - id: 27
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"9fc0eb57-ee85-420d-b1d1-a3142add6dfa","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 15019920-d61f-ea55-be06-009d245378f7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 9fc0eb57-ee85-420d-b1d1-a3142add6dfa [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 51b784db-41c8-4247-6854-f08944336054
        status: 200 OK
        code: 200
        duration: 168.9903ms
