---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6dd4d0c8-d075-67ad-3c37-8a9a9959041b
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 07bbb42b-645f-46c4-7008-8e0aaa7132c1
        status: 200 OK
        code: 200
        duration: 304.300511ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my new role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eb3ef8c2-4028-7d60-ca11-3eb1c8717245
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?create
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - bcfcd622-9f46-4e35-44af-23120fbd3c60
        status: 200 OK
        code: 200
        duration: 175.296195ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection","roleName":"Global Account Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f9a89965-fb2a-8ae4-e26f-83f472cc731e
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?add
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 8996756e-bbb0-45a1-4b3a-507acad69e23
        status: 200 OK
        code: 200
        duration: 167.138541ms
[...]
    - id: 7
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - eaad3c0c-79a5-2347-6e54-d83bc8de825a
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?get
        method: POST
      response:
        body: '{"name":"My new role collection","description":"Description of my new role collection","roleReferences":[{"roleTemplateAppId":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer","name":"Global Account Viewer","description":"Role for global account members with read-only authorizations for core commercialization operations, such as viewing global accounts, subaccounts, entitlements, and regions."}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 3a291877-809a-485c-5662-b1c912c81c35
        status: 200 OK
        code: 200
        duration: 160.400266ms
[...]
    - id: 13
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"Description of my updated role collection","globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 56d7e5fb-0c0d-2c4a-f4a4-bd3c334c203c
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?update
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 4ff2c8d0-7ed2-4816-57ee-ead47ff107eb
        status: 200 OK
        code: 200
        duration: 206.054584ms
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection","roleName":"Global Account Viewer","roleTemplateAppID":"cis-central!b13","roleTemplateName":"GlobalAccount_Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c574a565-4cc1-84ac-bd84-b25fc3cf7b03
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role?remove
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - f0593404-31d1-4686-523b-8aa8f45e5dec
        status: 200 OK
        code: 200
        duration: 158.508366ms
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","roleCollectionName":"My new role collection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c5a218ae-ba5f-786b-ec30-3a94be6e1e0f
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 4a9eb174-466f-4439-5baa-7e719f4858fe
        status: 200 OK
        code: 200
        duration: 164.696251ms
