---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3334752d-3aff-3d68-b014-9d2223127b55
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 0cb50d14-baef-48ce-6a62-78c5fbe03a77
        status: 200 OK
        code: 200
        duration: 3.015758042s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 146933b3-bcfb-6fd5-fca0-e5d5b54336ea
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"81fd0636-4119-4bb8-b53a-81d04a49c33d","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"STARTED","customProperties":[{"accountGUID":"81fd0636-4119-4bb8-b53a-81d04a49c33d","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Jul 15, 2024, 3:27:39 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 3:27:39 PM","jobId":"5541643"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 6ac70f67-bb65-44b1-5c04-81ce14cfa005
        status: 200 OK
        code: 200
        duration: 462.228333ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"81fd0636-4119-4bb8-b53a-81d04a49c33d"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 79b2a3ab-75ba-ea64-2a40-40d5314ed138
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"81fd0636-4119-4bb8-b53a-81d04a49c33d","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"CREATING","stateMessage":"Creating subaccount tenant.","customProperties":[{"accountGUID":"81fd0636-4119-4bb8-b53a-81d04a49c33d","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Jul 15, 2024, 3:27:39 PM","createdBy":"john.doe@int.test","modifiedDate":"Jul 15, 2024, 3:27:41 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 5991df44-e384-428a-40fe-971ddf13bbc1
        status: 200 OK
        code: 200
        duration: 189.401708ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"81fd0636-4119-4bb8-b53a-81d04a49c33d","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2510e9de-3d12-d91c-7898-167993cf0763
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
              [...]
[...]
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9783205f-1ea0-6925-863e-eb5c13214ec4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 03760ecf-9d89-4189-a92a-1c7efed09298 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - f8316b2d-94f5-4b49-54eb-b8dd31e447f0
        status: 200 OK
        code: 200
        duration: 1.048763s
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"81fd0636-4119-4bb8-b53a-81d04a49c33d"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 51b74c92-bcc0-8d05-c123-c62aee41db57
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                -[...]
[...]
