---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8b1af421-d842-0f0e-f2ca-360d601fea2d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b94cd86d-b480-4fce-5418-9b70144b8dd3
        status: 200 OK
        code: 200
        duration: 322.969333ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"amount":"3","autoAssign":"false","autoDistributeAmount":"0","directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9","distribute":"false","serviceName":"data-privacy-integration-service","servicePlanName":"standard"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d666816e-8d9c-ea70-bce5-c72f165ea6d1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?assign
        method: POST
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 75635341-e679-4b89-6dfc-c7b0062e92bd
        status: 200 OK
        code: 200
        duration: 1.017048334s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directory":"05368777-4934-41e8-9f3c-6ec5f4d564b9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8d0f9434-9e92-e129-1772-50c9708f8c52
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/entitlement?list
        method: POST
      response:
        body: '{"entitledServices":[{"name":"data-privacy-integration-service","displayName":"Data Privacy Integration","description":"SAP Data Privacy Integration service supports applications realize their data privacy functions i.e Business Purpose Management ( Ensure Data is processed in a compliant manner based on valid Business Purpose ), Data Deletion and Retrieval of personal data. Applications that are part of an end to end business process can integrate with DPI to provide a centralized management of data privacy.","businessCategory":{"id":"FOUNDATION_CROSS_SERVICES","displayName":"Foundation / Cross Services"},"ownerType":"VENDOR","termsOfUseUrl":"N/A","servicePlans":[{"name":"standard","displayName":"standard","description":"Standard Plan","uniqueIdentifier":"data-privacy-integration-service-standard","provisioningMethod":"SERVICE_BROKER","amount":3.0,"remainingAmount":3.0,"providedBy":"VENDOR","beta":false,"availableForInternal":false,"internalQuotaLimit":null,"autoAssign":false,"autoDistributeAmount":0,"maxAllowedSubaccountQuota":null,"category":"SERVICE","sourceEntitlements":[{"entitlementName":"data-privacy-integration-service-standard-SYSTEM","productDisplayName":"Data Privacy Integration Service - Provides Access to APIs for managing Information, Consent and Deletion capabilities","amount":3.0,"productId":null,"restricted":false,"allowedSubaccounts":null,"commercialModel":{"name":"Subscription","displayName":"Subscription","consumptionBased":false,"description":"Subscription-based commercial model"},"autoAssign":false}],"dataCenters":[{"name":"cf-eu21","displayName":"Europe (Netherlands) Azure Multi-AZ Test internal","region":"eu21","environment":"cloudfoundry","iaasProvider":"AZURE","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu21.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu21.hana.ondemand.com","domain":"eu21.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"STANDARD"},{"name":"cf-eu12","displayName":"cf-eu12","region":"eu12","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":false,"provisioningServiceUrl":"https://provisioning-service.cfapps.eu12.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.eu12.hana.ondemand.com","domain":"eu12.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"},{"name":"cf-eu10-canary","displayName":"Europe (Frankfurt) - Canary","region":"eu10-canary","environment":"cloudfoundry","iaasProvider":"AWS","supportsTrial":true,"provisioningServiceUrl":"https://provisioning-service.cfapps.sap.hana.ondemand.com","saasRegistryServiceUrl":"https://saas-manager.cfapps.sap.hana.ondemand.com","domain":"sap.hana.ondemand.com","isMainDataCenter":true,"geoAccess":"BACKWARD_COMPLIANT_EU_ACCESS"}],"resources":null,"dependsOn":null,"additionalPlanFeatures":[],"assignedResources":null,"assignedBillingObject":{"id":"default","name":"Default","inherited":false},"billingObjects":null,"deprecationMessage":null,"unlimited":false}],"iconBase64":"PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA0OSA0OSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzI2MjJfMzI0MykiPjxwYXRoIGZpbGw9InVybCgjcGFpbnQwX3JhZGlhbF8yNjIyXzMyNDMpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yNS4xNS4xMjhMNDEuNzMgNC45MWgtLjAwNWMxLjE3NC4zMTQgMS43NiAxLjA5NCAxLjc2IDIuMzQ0djE2Ljc3OWMwIDIuNjI1LS40MyA1LjAzMi0xLjI5NiA3LjIxOS0uODY2IDIuMTg3LTEuOTQ2IDQuMTU3LTMuMjQyIDUuOTA1LTEuMjk2IDEuNzUtMi43MDEgMy4yODItNC4yMTQgNC41OTQtMS41MTMgMS4zMTQtMi45NDkgMi40MDYtNC4zMDYgMy4[...]
[...]
