---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ae963b0c-6201-1a49-e92d-4bb84f568003
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f68f43ba-aa1c-4192-5b5a-16e76e5017d6
        status: 200 OK
        code: 200
        duration: 837.33475ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 103be20e-6144-420f-d942-6c293f962e84
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"49e59eaa-65e4-4ffb-8186-74979e1f47c4","technicalName":"49e59eaa-65e4-4ffb-8186-74979e1f47c4","displayName":"dcmcanary_20241108084819","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"btp-gp43a2b332-be5b-e3f8-50fb-77c947700e54","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Nov 8, 2024, 8:48:21 AM","createdBy":"DL_65DDA8EBA97EAA0134EEB5DC@global.corp.sap","modifiedDate":"Nov 8, 2024, 8:48:43 AM"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","crea[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appId":"eu12-appfront!b390135","attributeList":"[{\"attributeName\":\"namespace\",\"attributeValueOrigin\":\"saml\",\"attributeValues\":[\"custom\"],\"valueRequired\":false}]","description":"","roleName":"Custom Role with Attributes","roleTemplateName":"Application_Frontend_Developer","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bdbb75b5-2de9-9fd3-39f0-7e90d91294e5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/role?create
        method: POST
      response:
        body: '{"roleTemplateName":"Application_Frontend_Developer","roleTemplateAppId":"eu12-appfront!b390135","name":"Custom Role with Attributes","attributeList":[{"attributeName":"namespace","attributeValueOrigin":"saml","attributeValues":["custom"],"valueRequired":false}],"description":"","scopes":[{"description":"Application Frontend Read","name":"eu12-appfront!b390135.app-front.read"},{"description":"Application Frontend Write","name":"eu12-appfront!b390135.app-front.write"}],"isReadOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3a15560e-9f44-47fa-6e01-fd33e06cfc23
        status: 200 OK
        code: 200
        duration: 397.377375ms
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appId":"eu12-appfront!b390135","roleName":"Custom Role with Attributes","roleTemplateName":"Application_Frontend_Developer","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8631a335-9901-e8a0-4a98-b3879f06464f
            X-Cpcli-Customidp:
   [...]
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appId":"eu12-appfront!b390135","roleName":"Custom Role with Attributes","roleTemplateName":"Application_Frontend_Developer","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a471b74-d26c-6cd8-2e82-58a33be0311a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/security/role?delete
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ff847d74-f160-4831-7594-3b76ae177cce
        status: 200 OK
        code: 200
        duration: 269.393625ms
