---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e6ba70a8-44db-cfaa-02fd-6435a09fd55f
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 6b72f047-41ab-4ede-5ff8-6055cf149db2
        status: 200 OK
        code: 200
        duration: 2.311601221s
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ab42146-844d-576a-b0fc-222f29f46757
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"8f475f6a-ec9d-41ff-9eb3-db0605025173","technicalName":"8f475f6a-ec9d-41ff-9eb3-db0605025173","displayName":"dcmcanary_20240702011939","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"btp-gp557e17d0-e88b-7b3d-cc47-6baf457b01b3","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 2, 2024, 1:19:42 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 2, 2024, 1:20:00 AM"},{"guid":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","technicalName":"ac6e4d99-2fd5-429e-b85a-da3555f8f9b3","displayName":"test-vk","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"test-vk-w6vh8z0b","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"May 10, 2024, 12:01:09 PM","createdBy"[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"certificate":"redacted","name":"subaccount-api-credential","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 27c9196f-8d78-aa98-1291-1a0e0ed689fa
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?create
        method: POST
      response:
        body: '{"tenantmode":"dedicated","subaccountid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","clientid":"redacted","credential-type":"client certificate","tokenurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com/oauth/token","clientx509enabled":false,"xsappname":"full-access!a490877","certificate":"redacted","serviceInstanceId":"46772402-429a-4a2b-9b4a-2670da59d8d9","url":"https://integration-test-acc-static-b8xxozer.authentication.eu12.hana.ondemand.com","uaadomain":"authentication.eu12.hana.ondemand.com","apiurl":"https://api.authentication.eu12.hana.ondemand.com","certurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com","identityzone":"integration-test-acc-static-b8xxozer","identityzoneid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","tenantid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","name":"subaccount-api-credential","zoneid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","certificate-pinning":false,"read-only":false,"key":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - f75ad67a-d3b4-4c53-7301-183a36d11f0c
        status: 200 OK
        code: 200
        duration: 1.403170621s
[...]
    - id: 8
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7a076cc3-0619-da8e-23e3-12ecb02d0119
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?get
        method: POST
      response:
        body: '{"credential-type":"client certificate","tokenurl":"https://integration-test-acc-static-b8xxozer.authentication.cert.eu12.hana.ondemand.com/oauth/token","clientId":"sb-full-access!a490877","apiurl":"https://api.authentication.eu12.hana.ondemand.com","certificate":"redacted","name":"subaccount-api-credential","read-only":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 4935ff7f-c5c1-47e9-56ca-c234a4449ad2
        status: 200 OK
        code: 200
        duration: 402.763703ms
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"subaccount-api-credential","readOnly":"false","subaccount":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6e09acaf-c9b1-aedf-5f2e-17782eb1fa39
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/api-credential?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 01089cf2-1753-45f8-7a19-7cfc81b6dfcc
        status: 200 OK
        code: 200
        duration: 559.545665ms
