---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 67a91f69-d756-9550-987a-d1fd856c7ba1
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 96eb1b6f-bb36-4d79-7642-69e57f2085a3
        status: 200 OK
        code: 200
        duration: 525.814749ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 848fe072-d8cb-b0ad-ef34-37cfca894109
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","technicalName":"77395f6a-a601-4c9e-8cd0-c1fcefc7f60f","displayName":"integration-test-acc-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-static-b8xxozer","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Please don\u0027t modify. This is used for integration tests.","state":"OK","stateMessage":"Subaccount created.","createdDate":"Mar 5, 2024, 6:55:18 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Mar 5, 2024, 6:55:37 AM"},{"guid":"81d12805-d622-440f-b0b4-6a308fd254d1","technicalName":"81d12805-d622-440f-b0b4-6a308fd254d1","displayName":"btpmysubaccount","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"btp-my-test989fbd17-02c0-dc33-7605-10f628c0513e","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Feb 29, 2024, 12:[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 39d64932-9583-d0c9-e30f-e365babd5495
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/plan?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?list
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 41ca546d-811a-481e-58b4-dc3188fd0cda
        status: 307 Temporary Redirect
        code: 307
        duration: 219.943876ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 39d64932-9583-d0c9-e30f-e365babd5495
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-04-18T14:10:54.555617Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-04-18T14:10:54.559816Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-04-18T14:10:54.568222Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-04-18T14:11:20.283693Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31c098","labels":"commercial_name = service","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"service","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-04-18T14:11:20.297843Z"},{"bindable":true,"catalog_id":"saasApplication","catalog_name":"application","created_at":"2020-08-10T07:35:37.447784Z","data_center":"","description":"Service plan for SaaS application owners to manage the lifecycle of SaaS applications with SAP SaaS Provisioning APIs.","free":true,"id":"c5d7a86e-176b-4ee8-8286-7910970f7dc3","labels":"commercial_name = application","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":true},"name":"application","ready":true,"serv[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"malware-scanner","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 25b29581-fd52-5904-5a09-d49198a4a48c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/offering?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/offering?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 4ac97b34-5155-4a8b-4f7d-f8cc2fdcfc13
        status: 307 Temporary Redirect
        code: 307
        duration: 230.081494ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"name":"malware-scanner","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 25b29581-fd52-5904-5a09-d49198a4a48c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/offering?get
        method: POST
      response:
        body: '{"id":"f474342c-31c4-461a-93d9-55d557674d79","ready":true,"name":"malware-scanner","description":"Scan single files for threats, via HTTP","bindable":true,"instances_retrievable":false,"bindings_retrievable":false,"plan_updateable":false,"allow_context_updates":false,"metadata":{"displayName":"Malware Scanning","longDescription":"Scan Business documents for viruses.","documentationUrl":"https://github.wdf.sap.corp/MalwareScanning/sap-cp-malware-scanner","serviceInventoryId":"SERVICE-290","sap":{"tenant_aware":false,"instance_isolation":true}},"broker_id":"99fd8fca-b758-48f6-a39d-2a7f1f7a554b","catalog_id":"82ed8b19-b3ae-4398-82e7-f3c50db6f503","catalog_name":"malware-scanner","created_at":"2020-08-12T13:20:09.218291Z","updated_at":"2024-04-18T14:12:22.249062Z"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - efb90424-8cdc-4c5d-5e05-22f171e18df7
        status: 200 OK
        code: 200
        duration: 333.499662ms
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"TF-TEST-MALWARE-SCANNER","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 744ac1b4-cd59-db33-de72-083f6c1fd45d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - a2dec6e9-ca9d-4ff8-57a8-746a5811c455
        status: 307 Temporary Redirect
        code: 307
        duration: 150.852758ms
    - id: 8
      request:
        host: ""
        body: |
            {"paramValues":{"name":"TF-TEST-MALWARE-SCANNER","plan":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 744ac1b4-cd59-db33-de72-083f6c1fd45d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","ready":true,"last_operation":{"id":"456819b0-dd0a-454c-aa73-d22797285d30","ready":true,"type":"create","state":"succeeded","resource_id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"744ac1b4-cd59-db33-de72-083f6c1fd45d","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-04-19T08:06:35.665388Z","updated_at":"2024-04-19T08:06:35.755904Z"},"name":"TF-TEST-MALWARE-SCANNER","service_plan_id":"481723ca-8c97-4e81-aa7e-b7abc48fcad4","platform_id":"service-manager","context":{"platform":"sapcp","origin":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","license_type":"SAPDEV","subdomain":"integration-test-services-4ie3yr1a","region":"cf-eu12","env_type":"sapcp","crm_customer_id":"","instance_name":"TF-TEST-MALWARE-SCANNER"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2024-04-19T08:06:35.665385Z","updated_at":"2024-04-19T08:06:35.750989663Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cedead8c-6872-40cb-5a8f-8b11d1229062
        status: 200 OK
        code: 200
        duration: 282.960141ms
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 093663e8-a837-544f-402c-9f4ee6586e94
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 7e8e203e-7d27-4ce3-7672-1f7e0ca5ec02
        status: 307 Temporary Redirect
        code: 307
        duration: 132.044868ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 093663e8-a837-544f-402c-9f4ee6586e94
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - j[...]
[...]
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2df34d20-2c71-a9a5-0478-40834a464438
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"BadRequest","description":"this operation is not supported."}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c2e5ed62-5be7-4772-7046-0d7cb12b7b8e
        status: 200 OK
        code: 200
        duration: 133.432329ms
[...]
    - id: 41
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4adc75a2-c45f-77ed-2918-75782bde11a0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 88ff7567-8a02-4681-571f-09fc9205a2c6
        status: 307 Temporary Redirect
        code: 307
        duration: 193.79446ms
    - id: 42
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"0b4a2bde-f89d-45f5-8f1a-d56dee08887a","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4adc75a2-c45f-77ed-2918-75782bde11a0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a4e5cb8b-c693-4386-59f8-b2ab7563be9e
        status: 200 OK
        code: 200
        duration: 205.652806ms
[...]
