---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20282b93-ab1e-b9dd-4a8a-e15d25b57a76
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - c661d23b-8918-43c5-6d6f-836565493ed1
        status: 200 OK
        code: 200
        duration: 3.6563856s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 907df054-c496-6c09-bd38-b0bda8fa8015
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"c08ac920-a072-415a-a743-29fc610a50d2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Oct 20, 2023, 12:30:07 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:30:07 PM","entityState":"OK","stateMessage":"Directory created.","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a56aabac-5f83-4b28-51b9-25b513f9dbff
        status: 200 OK
        code: 200
        duration: 297.4263ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"c08ac920-a072-415a-a743-29fc610a50d2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e8605adf-e152-550b-7564-0234a59dadb5
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
[...]
[...]
    - id: 13
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"c08ac920-a072-415a-a743-29fc610a50d2","displayName":"my-updated-directory","globalAccount":"terraformintcanary","labels":"{}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 22982d10-422e-70b6-2e18-ce01a37721ae
            X-Cpc[...]
[...]
    - id: 23
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"c08ac920-a072-415a-a743-29fc610a50d2","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ce7d2190-3c88-687e-bc4f-dd09ac7dba23
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?delete
        method: POST
      response:
        body: '{"guid":"c08ac920-a072-415a-a743-29fc610a50d2","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-updated-directory","description":"This is a updated directory","createdDate":"Oct 20, 2023, 12:30:07 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 20, 2023, 12:30:37 PM","entityState":"DELETING","directoryType":"FOLDER","directoryFeatures":["DEFAULT"],"contractStatus":"ACTIVE","jobId":"3493849"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - aa18028e-195b-4052-7581-a608bdf760ac
        status: 200 OK
        code: 200
        duration: 195.3305ms
    - id: 24
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"c08ac920-a072-415a-a743-29fc610a50d2","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a3bf0dd1-5d8e-92c1-6ed2-39a1d544c1f4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find c08ac920-a072-415a-a743-29fc610a50d2 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - f1eeb7e4-62ee-4233-517f-029784ccd5c4
        status: 200 OK
        code: 200
        duration: 226.6152ms
