---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - cd0690d5-8eb6-c638-c4fb-6706aa0a86bb
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 3e09eb93-a8cd-4b2a-61e8-fd4df936a2e0
        status: 200 OK
        code: 200
        duration: 401.061375ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9a101cd9-b317-213a-cca5-1d259b7e31a0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"31db5972-22fd-45b7-b923-6a91926cc598","technicalName":"31db5972-22fd-45b7-b923-6a91926cc598","displayName":"integration-test-trust-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-trust-settings-20is1p4j","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","cre[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e964813e-a394-5df4-0fa0-8ac21311cb8d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?subscribe
        method: POST
      response:
        body: '{"jobId":"64042968"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 1df32743-7dc7-454f-662d-788ad5340e14
        status: 200 OK
        code: 200
        duration: 1.468199959s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 510506fd-d16a-85c9-fae8-29b8ff7c6fd7
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-4ie3yr1a.auditlog-viewer.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscribedSubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionGUID":"a8ac3411-1328-4599-a076-8496d415d8e2","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"auditlog-viewer","commercialAppName":"auditlog-viewer","appId":"auditlog-viewer!t49","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"supportsGetParameters":false,"planDescription":"SAP UI5 application that is showing the audit data in an application view, making it available to customers.","additionalPlanFeatures":[],"displayName":"Audit Log Viewer Service","description":"SAP Audit Log Viewer service for SAP BTP helps to view and manage audit logs.","shortDescription":"View and manage audit logs.","iconBase64":"PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzM4NjBfMTc1NzMpIj4KPHBhdGggZD0iTTYuMjExNzQgMC4wMTI5Mzk1QzUuNDA4MDIgMC4wMTI5Mzk1IDQuNzQyNzEgMC42MDU1NDYgNC42Mjg5MiAxLjM3NzY1QzQuNjE5MjcgMS40NDMxMSA0LjYxMzIxIDEuNTA5ODYgNC42MTE3NCAxLjU3NzY1SDMuODExNzJDMi41NDE0NiAxLjU3NzY1IDEuNTExNzIgMi42MDc0IDEuNTExNzIgMy44Nzc2NVYxMy42Nzc3QzEuNTExNzIgMTQuOTQ3OSAyLjU0MTQ2IDE1Ljk3NzcgMy44MTE3MiAxNS45Nzc3SDE[...]
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 92034971-f61f-b1cc-10bd-b522deacf7d8
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: '{"jobId":"64043044"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 7917ef93-e19e-4d13-52b5-22077e550077
        status: 200 OK
        code: 200
        duration: 943.102043ms
[...]
