---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 640c8194-9ba5-665c-31c5-d542fcf6f852
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 29f415f0-fd3c-4120-5949-c4c6df6b99a5
        status: 200 OK
        code: 200
        duration: 1.070649203s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0a4fc22e-5898-674f-1705-27d18481eb54
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"45fee162-f658-467c-ab77-f183575e0eb7","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"STARTED","createdDate":"Feb 7, 2024, 9:36:05 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 7, 2024, 9:36:05 AM","jobId":"4167047"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 045cf8a6-b2d9-4e51-75e2-5f5a3a54023b
        status: 200 OK
        code: 200
        duration: 525.672271ms
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","subaccount":"45fee162-f658-467c-ab77-f183575e0eb7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dff251fc-1f4d-45dc-4b01-8e0ed6d42a45
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"45fee162-f658-467c-ab77-f183575e0eb7","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Feb 7, 2024, 9:36:05 AM","createdBy":"john.doe@int.test","modifiedDate":"Feb 7, 2024, 9:36:06 AM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - a5d18cc8-7282-423b-4451-c2badc5aade8
        status: 200 OK
        code: 200
        duration: 303.984257ms
[...]
    - id: 12
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{}","subaccount":"45fee162-f658-467c-ab77-f183575e0eb7","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f1dfc114-a56f-dec7-70c2-87d0d7bb9460
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
               [...]
[...]
    - id: 21
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e2de52d8-5fbe-5438-bf9a-b2f65fbf7179
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 03760ecf-9d89-4189-a92a-1c7efed09298 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - f16efe3a-745f-414c-6315-19c87473dc26
        status: 200 OK
        code: 200
        duration: 1.795697239s
    - id: 22
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","globalAccount":"terraformintcanary","subaccount":"45fee162-f658-467c-ab77-f183575e0eb7"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 598e16f7-0dff-b64f-95b5-d29428eda6f9
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                -[...]
[...]
