---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - ad3c674c-c709-0ea2-6341-25e5bbf70cab
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - a0fafc72-a609-43ea-7f93-3279c0040cf5
        status: 200 OK
        code: 200
        duration: 1.9446394s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","directory":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","group":"tf-test-group","origin":"terraformint-platform","roleCollectionName":"Directory Viewer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8a319785-26f8-79ca-1114-ffda57f90d4c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            X-Cpcli-Server-Message:
                - Directory 'ef23ace8-6ade-4d78-9c1f-8df729548bbf' does not exist and thus did not entitle you to execute the command.
            X-Vcap-Request-Id:
                - 254192e9-9555-4548-740f-7ae9bbc2f0b8
        status: 403 Forbidden
        code: 403
        duration: 150.9468ms
