---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0500c5e9-ef45-1e55-8720-bdf81ad4d4f6
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 03890817-d7a5-4c7b-45dd-b1fb76ed9b11
        status: 200 OK
        code: 200
        duration: 284.178542ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - e10dd23e-3acb-14d8-072a-313b6fe90f1e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"STARTED","customProperties":[{"accountGUID":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 18, 2023, 2:53:23 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:53:23 PM","jobId":"3478280"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 14866ea3-5d5d-4791-6ebd-0c02de4b78d4
        status: 200 OK
        code: 200
        duration: 399.538708ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3102df20-4c1e-3be2-63fa-ff634d63639a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"My subaccount description","state":"CREATING","stateMessage":"Creating subaccount tenant.","customProperties":[{"accountGUID":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"createdDate":"Oct 18, 2023, 2:53:23 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:53:24 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dc8c6c57-c278-4583-7e54-eaa95aff8505
        status: 200 OK
        code: 200
        duration: 154.747667ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"true","description":"My subaccount description","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}","subaccount":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79","usedForProduction":"false"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8a01c74a-cb09-5566-cfb4-d6ebe69932db
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Forma[...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fd49439e-bff4-c9e0-226e-c385cdf5b4e0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: http[...]
[...]
    - id: 30
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"a62dd2d5-33cf-47cc-9d90-d5822cff9f79"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a4d0e689-8466-bf93-fcf2-cd6168947b8a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - cc9a6f0b-e423-440d-6ed2-ef3c6c1baead
        status: 200 OK
        code: 200
        duration: 159.297417ms
