---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 665a66a4-267a-64d5-41ad-6916d77336c9
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 9f43359f-f1e3-4c45-7ca1-31e415cefeab
        status: 200 OK
        code: 200
        duration: 295.491542ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7d60786a-ce90-bbfd-4afd-4d418bcb6505
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"b975acff-0834-4237-bc40-835ed3048c7f","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Oct 17, 2023, 8:52:46 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 17, 2023, 8:52:46 PM","entityState":"STARTED","subdomain":"b975acff-0834-4237-bc40-835ed3048c7f","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","DEFAULT","AUTHORIZATIONS"],"customProperties":[{"accountGUID":"b975acff-0834-4237-bc40-835ed3048c7f","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE","jobId":"3471023"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8060270c-382d-4617-48dc-bb48f135c37b
        status: 200 OK
        code: 200
        duration: 381.238375ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"b975acff-0834-4237-bc40-835ed3048c7f","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c834567-f522-22c7-5d0c-b54d9b8cb15f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"b975acff-0834-4237-bc40-835ed3048c7f","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory","description":"This is a new directory","createdDate":"Oct 17, 2023, 8:52:46 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 17, 2023, 8:52:47 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"b975acff-0834-4237-bc40-835ed3048c7f","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"customProperties":[{"accountGUID":"b975acff-0834-4237-bc40-835ed3048c7f","key":"foo","value":"bar"}],"labels":{"foo":["bar"]},"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ca0ae673-d144-4e8c-7df2-54240ca0c372
        status: 200 OK
        code: 200
        duration: 121.730917ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory","directoryID":"b975acff-0834-4237-bc40-835ed3048c7f","displayName":"my-new-directory","globalAccount":"terraformintcanary","labels":"{\"foo\":[\"bar\"]}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4919cb21-de66-f0c0-fd69-963ab7766d7d
    [...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"b975acff-0834-4237-bc40-835ed3048c7f","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2b15c9b3-d98d-c37d-c987-4cadec14af7b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sa[...]
[...]
    - id: 30
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"b975acff-0834-4237-bc40-835ed3048c7f","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3ec38ca0-53b0-7384-6fd2-150a40c3e7ff
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find b975acff-0834-4237-bc40-835ed3048c7f [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - a4f2a97d-0ce2-475f-60a7-6b6b687d6b5b
        status: 200 OK
        code: 200
        duration: 162.881083ms
