---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 1dbdb166-883b-3d06-6a39-b36bb969d030
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 4abfc77e-031c-438d-5c19-f78c9dd89795
        status: 200 OK
        code: 200
        duration: 1.175577168s
[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"accessTokenValidity":"4500","customEmailDomains":"[\"domain1.test\",\"domain2.test\"]","defaultIdp":"terraformint-platform","globalAccount":"terraformintcanary","iFrameDomain":"https://iframedomain.test","refreshTokenValidity":"4500","treatUsersWithSameEmailAsSameUser":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 73bacde7-ff1b-1363-1b21-a7aef3a8c639
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/security/settings?update
        method: POST
      response:
        body: '{"iframeDomains":"https://iframedomain.test","tokenPolicySettings":{"accessTokenValidity":4500,"refreshTokenValidity":4500,"refreshTokenUnique":false,"activeKeyId":"default-jwt-key--487487369","keyIds":["default-jwt-key--487487369"],"keys":{"default-jwt-key--487487369":{"created":"Thu May 11 08:59:25 UTC 2023","fipsCompliant":true}}},"samlConfigSettings":{"disableInResponseToCheck":false,"entityID":"https://terraformintcanary.authentication.sap.hana.ondemand.com","activeKeyId":"default-saml-key-51688972","keys":{"default-saml-key-51688972":{"key":"redacted","passphrase":"","certificate":"redacted"}}},"links":{},"defaultIdp":"terraformint-platform","corsDefaultOrigins":[".*"],"corsXhrOrigins":[".*"],"credentialTypeInfos":[{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"ac84dca7-7e93-44b4-8789-6cd2a6755371","appId":"read-only!a129991","credentialType":"binding-secret","bindingId":"0d2eca1b-f36e-435a-bd76-72311a0e9e0a"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"},{"tenantId":"03760ecf-9d89-4189-a92a-1c7efed09298","serviceInstanceId":"2d0d224a-3208-4541-96a4-7714501e361d","appId":"full-access!a129991","credentialType":"x509","bindingId":"b7e02faa-2ca4-4344-8546-bab38ad3232f"}],"treatUsersWithSameEmailAsSameUser":true,"useIdpUserNameInTokens":true,"customEmailDomains":["domain1.test","domain2.test"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - dd347fbf-8cf9-49fc-4c4d-a963e1f6484b
        status: 200 OK
        code: 200
        duration: 349.346708ms
[...]
    - id: 5
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - bfecc619-bbf0-cde3-54eb-92751598efb0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted[...]
[...]
