---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 09beb4da-5128-5c49-bc53-e7f055ff4eb5
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 681778a1-3242-4df0-6b1e-9901c650150a
        status: 200 OK
        code: 200
        duration: 318.689375ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","region":"eu12","subdomain":"integration-test-acc-dyn","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 66445d5c-b8c2-d9e6-ae73-7eccb3c4dc07
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"b541773d-8aca-4219-8b1b-77ef63174d17","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"STARTED","createdDate":"Oct 18, 2023, 2:51:03 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:51:03 PM","jobId":"3478268"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 8968d261-ed35-403f-7361-7a739a73d972
        status: 200 OK
        code: 200
        duration: 431.475167ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"b541773d-8aca-4219-8b1b-77ef63174d17"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 72426f53-9f2a-c759-a99a-0fccd91aec5a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"b541773d-8aca-4219-8b1b-77ef63174d17","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"USED_FOR_PRODUCTION","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Oct 18, 2023, 2:51:03 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 18, 2023, 2:51:04 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e3a1f009-9d6f-49a5-4015-81e5cdb963f5
        status: 200 OK
        code: 200
        duration: 153.145542ms
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","subaccount":"b541773d-8aca-4219-8b1b-77ef63174d17","usedForProduction":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 494302b2-7bc0-5b0b-2a86-e0642673ab94
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
      [...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"b541773d-8aca-4219-8b1b-77ef63174d17"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - dec79182-64ce-b7d4-ca7f-1455c57b0f86
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: http[...]
[...]
    - id: 30
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"b541773d-8aca-4219-8b1b-77ef63174d17"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d9d87e45-8406-867e-c3ef-ce80bb34e78f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 49f57fcb-c49d-4d5c-70af-2b80c14b04fa
        status: 200 OK
        code: 200
        duration: 218.730125ms
