---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5c243f84-08f1-62a2-7e48-20e89dee2265
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"f1811c2e-1480-4b07-ba83-539b780bafad","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 73303ede-cb13-453f-51b4-8456d0e5b23d
        status: 200 OK
        code: 200
        duration: 411.9675ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2921a23a-0f74-ca0d-2c57-3a3690ab0186
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5a287865-6dae-4c75-43cc-37c549de2265
        status: 307 Temporary Redirect
        code: 307
        duration: 133.8057ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-destination","parameters":"{\"HTML5Runtime_enable\":\"true\",\"init_data\":{\"subaccount\":{\"existing_destinations_policy\":\"fail\",\"destinations\":[{\"Name\":\"Task_Center_global_settings\",\"Type\":\"HTTP\",\"URL\":\"http://sap.com\",\"Authentication\":\"NoAuthentication\",\"ProxyType\":\"Internet\",\"Description\":\"SAP Task Center Global Settings\"}]}}}","plan":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2921a23a-0f74-ca0d-2c57-3a3690ab0186
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?create
        method: POST
      response:
        body: '{"id":"da926124-e5c2-450d-a35c-01e75d53ae9e","ready":true,"last_operation":{"id":"69fc1105-3e13-4188-97a6-ccd8bdcb23ba","ready":true,"type":"create","state":"succeeded","resource_id":"da926124-e5c2-450d-a35c-01e75d53ae9e","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"2921a23a-0f74-ca0d-2c57-3a3690ab0186","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2023-08-30T12:32:52.520444Z","updated_at":"2023-08-30T12:32:53.037629Z"},"name":"tf-test-destination","service_plan_id":"cdf9c103-ef56-43e5-ac1d-4f1c5b15e05c","platform_id":"service-manager","context":{"platform":"sapcp","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","region":"cf-eu12","env_type":"sapcp","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","crm_customer_id":"","instance_name":"tf-test-destination"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2023-08-30T12:32:52.520442Z","updated_at":"2023-08-30T12:32:53.033200732Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"","password":""}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - f0cfa9d6-0e89-42b1-4560-f255e4ff7310
        status: 200 OK
        code: 200
        duration: 682.1725ms
    - id: 5
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"id":"da926124-e5c2-450d-a35c-01e75d53ae9e","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 869fb641-65c0-7378-b4d9-92e08a62d613
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - dbffb696-9fc5-4e13-5e8b-8ad068e18d0b
        status: 307 Temporary Redirect
        code: 307
        duration: 129.9752ms
    - id: 6
      request:
        host: ""
        body: |
            {"paramValues":{"id":"da926124-e5c2-450d-a35c-01e75d53ae9e","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 869fb641-65c0-7378-b4d9-92e08a62d613
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - js[...]
[...]
    - id: 14
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","id":"da926124-e5c2-450d-a35c-01e75d53ae9e","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a9f5b3d-3553-5616-e182-ca271869314b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - bb4732a8-9749-4f0e-678b-87cbcca495df
        status: 307 Temporary Redirect
        code: 307
        duration: 162.7919ms
    - id: 15
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"da926124-e5c2-450d-a35c-01e75d53ae9e","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5a9f5b3d-3553-5616-e182-ca271869314b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - ae4769b3-a8cf-43af-68d9-dba9517a6e47
        status: 200 OK
        code: 200
        duration: 655.1937ms
[...]
    - id: 17
      request:
        host: ""
        body: |
            {"paramValues":{"id":"da926124-e5c2-450d-a35c-01e75d53ae9e","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2dc6ce57-4b97-1d97-e2ce-9edb255011fe
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.49.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"NotFound","description":"could not find such /v1/service_instances"}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 1a37a7e3-36a1-4361-4092-44fae081ee9a
        status: 200 OK
        code: 200
        duration: 114.8232ms
