---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d06fedf8-c1d5-088c-0035-2e024fed9d2d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - a07bdbbc-c597-4f92-6c6c-9690f14cd7e6
        status: 200 OK
        code: 200
        duration: 495.5853ms
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","iasTenantUrl":"terraformtest.accounts400.ondemand.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20800bc0-0f2b-8e50-7af6-7c514065fb29
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?create
        method: POST
      response:
        body: '{"originKey":"terraformtest-platform","iasTenantUrl":"https://terraformtest.accounts400.ondemand.com","iasAppId":null,"iasAdminUrl":null,"active":true,"createdByUsername":null,"createdByOriginKey":null,"createdAt":null,"modifiedByUsername":null,"modifiedByOriginKey":null,"modifiedAt":null,"deleted":false,"distribution":null,"registration":null,"result":0,"relyingPartyId":"ebdce9be-df9e-40a1-ac84-afdbe69c3448","relyingPartySecret":null,"originXsuaa":"terraformtest-platform","version":0,"iasWellKnownMetadata":null,"neoAuthnWithOidc":false,"domain":"terraformtest.accounts400.ondemand.com","iasTenantUrlWithoutProtocol":"terraformtest.accounts400.ondemand.com"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - da5bd272-8214-4429-6eca-ac0960532265
        status: 200 OK
        code: 200
        duration: 479.7183ms
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 72b90e87-9f2a-c320-66a5-3baba61e5473
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?get
        method: POST
      response:
        body: '{"name":"terraformtest-platform","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Custom Platform Identity Provider","identityProvider":"terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":"terraformtest","protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - c86dbe43-f8df-4432-6c81-865ca44cf1ab
        status: 200 OK
        code: 200
        duration: 194.5135ms
[...]
    - id: 13
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"description":"Description for terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","globalAccount":"terraformintcanary","name":"Custom platform IAS tenant","originKey":"terraformtest-platform","refreshTrust":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6c59c9d7-0d3a-7bda-c622-943882bc721f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.49.0/security/trust?update
        method: POST
      response:
        body: '{"name":"Custom platform IAS tenant","originKey":"terraformtest-platform","typeOfTrust":"Platform","status":"active","description":"Description for terraformtest.accounts400.ondemand.com","identityProvider":"https://terraformtest.accounts400.ondemand.com","domain":"terraformtest.accounts400.ondemand.com","linkTextForUserLogon":null,"availableForUserLogon":null,"createShadowUsersDuringLogon":null,"sapBtpCli":null,"protocol":"OpenID Connect","readOnly":false}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - b02524c4-07d2-4f74-7d44-e4fea3a361e9
        status: 200 OK
        code: 200
        duration: 570.39ms
[...]
    - id: 23
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","globalAccount":"terraformintcanary","originKey":"terraformtest-platform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 4eae998c-595c-4297-44f4-f1cf751bef44
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintca[...]
