---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - fab4c707-3347-c45a-7ce7-e3810440f93d
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - 272c4d39-4b9b-4eae-83e2-65f2c7b2d0a4
            X-Vcap-Request-Id:
                - 3395d121-5183-40dd-4565-82c188d18e9a
        status: 200 OK
        code: 200
        duration: 2.0534047s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","displayName":"integration-test-acc-dyn","globalAccount":"terraformintcanary","region":"eu12","subdomain":"integration-test-acc-dyn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6927c864-e717-bde8-67bd-7e2ba9be5891
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?create
        method: POST
      response:
        body: '{"guid":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f","technicalName":"N\/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"STARTED","createdDate":"Oct 11, 2023, 2:32:42 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 2:32:42 PM","jobId":"3421640"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - d4164097-d0a6-4e2b-4989-3f9b3608b817
        status: 200 OK
        code: 200
        duration: 592.3096ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ce7e1e0-785e-2c66-ab3d-1eea66b52477
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"guid":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f","technicalName":"N/A","displayName":"integration-test-acc-dyn","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-acc-dyn","betaEnabled":false,"usedForProduction":"UNSET","state":"CREATING","stateMessage":"Creating subaccount tenant.","createdDate":"Oct 11, 2023, 2:32:42 PM","createdBy":"john.doe@int.test","modifiedDate":"Oct 11, 2023, 2:32:43 PM"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 3796b7cb-788f-4c05-7424-e45c9aca49b8
        status: 200 OK
        code: 200
        duration: 165.7061ms
[...]
    - id: 16
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"betaEnabled":"false","directoryID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"Integration Test Acc Dyn","globalAccount":"terraformintcanary","subaccount":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d1a7642b-e9b5-50c7-3f37-dd6bb0918494
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:[...]
[...]
    - id: 26
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","forceDelete":"true","subaccount":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - a3326c63-d64e-a13e-f747-5e5d103d7dd2
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: h[...]
[...]
    - id: 31
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"subaccount":"60f7b27c-7669-40af-8a0c-d2ec1ae64d4f"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - adfefa93-94df-9d68-c5e4-e6474bf794c0
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/accounts/subaccount?get
        method: POST
      response:
        body: '{"error":"404 Not Found: [no body] [Error: 404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 8c3d0912-2ee6-4f9c-449a-d990dfe819a6
        status: 200 OK
        code: 200
        duration: 179.5921ms
