---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3b7ecd1d-e287-2408-17b5-fe73a57a410d
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.77.1
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - b684ada4-568b-4df4-4c8d-bfcc1966ed5c
        status: 200 OK
        code: 200
        duration: 367.141666ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 6a133635-a2de-b8da-55c8-f4fee828898d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","technicalName":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","displayName":"integration-test-services-static","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-services-4ie3yr1a","betaEnabled":true,"usedForProduction":"NOT_USED_FOR_PRODUCTION","description":"Subaccount to test: \n- Service instances\n- Service Bindings\n- App Subscriptions","state":"OK","stateMessage":"Subaccount created.","createdDate":"Jul 3, 2023, 11:34:41 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Jul 7, 2023, 11:48:00 AM"},{"guid":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","technicalName":"fc26cc61-ac5e-4c7d-9747-725f32a8994e","displayName":"integration-test-security-settings","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"integration-test-security-settings-8ptbr820","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.[...]
[...]
    - id: 3
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5f0f0cd1-62cc-7cdc-12a9-c041113d0721
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?subscribe
        method: POST
      response:
        body: '{"jobId":"64043064"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - e46c51fb-95ae-4e22-677b-8de26b70c3eb
        status: 200 OK
        code: 200
        duration: 1.213652084s
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","planName":"free","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f428d3ba-bf51-9895-36da-f370bbf70b4e
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subscription?get
        method: POST
      response:
        body: '{"subscriptionUrl":"https://integration-test-services-4ie3yr1a.auditlog-viewer.cfapps.eu12.hana.ondemand.com","subscribedTenantId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscribedSubaccountId":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subscriptionGUID":"685a6afa-4ab0-47eb-9fbd-5c667fdff150","state":"SUBSCRIBED","authenticationProvider":"XSUAA","appName":"auditlog-viewer","commercialAppName":"auditlog-viewer","appId":"auditlog-viewer!t49","planName":"free","supportsPlanUpdates":false,"supportsParametersUpdates":false,"supportsGetParameters":false,"planDescription":"SAP UI5 application that is showing the audit data in an application view, making it available to customers.","additionalPlanFeatures":[],"displayName":"Audit Log Viewer Service","description":"SAP Audit Log Viewer service for SAP BTP helps to view and manage audit logs.","shortDescription":"View and manage audit logs.","iconBase64":"PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzM4NjBfMTc1NzMpIj4KPHBhdGggZD0iTTYuMjExNzQgMC4wMTI5Mzk1QzUuNDA4MDIgMC4wMTI5Mzk1IDQuNzQyNzEgMC42MDU1NDYgNC42Mjg5MiAxLjM3NzY1QzQuNjE5MjcgMS40NDMxMSA0LjYxMzIxIDEuNTA5ODYgNC42MTE3NCAxLjU3NzY1SDMuODExNzJDMi41NDE0NiAxLjU3NzY1IDEuNTExNzIgMi42MDc0IDEuNTExNzIgMy44Nzc2NVYxMy42Nzc3QzEuNTExNzIgMTQuOTQ3OSAyLjU0MTQ2IDE1Ljk3NzcgMy44MTE3MiAxNS45Nzc3SDE[...]
[...]
    - id: 14
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"appName":"auditlog-viewer","confirm":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 20901ff3-1965-d892-8cdb-cd4abdb7d44b
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.77.1/accounts/subaccount?unsubscribe
        method: POST
      response:
        body: '{"jobId":"64043097"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - ec838962-4607-47ef-5b39-4641066a4f7b
        status: 200 OK
        code: 200
        duration: 911.762917ms
[...]
