---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7917d9ff-3bec-8233-5adc-47e5abf310c7
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"d6cfb9dc-01db-4f3b-ade6-008cb15c09ab","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 3d95bfcf-8a1d-4721-47b6-9c098c001989
        status: 200 OK
        code: 200
        duration: 1.398258s
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a new directory with features","directoryFeatures":"DEFAULT,AUTHORIZATIONS,ENTITLEMENTS","displayName":"my-new-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 35729e19-0c7d-21ff-2dba-bae15d284be4
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?create
        method: POST
      response:
        body: '{"guid":"6791a794-3e98-4b06-83e0-ca78f80b36a5","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Sep 4, 2023, 1:28:42 PM","createdBy":"john.doe@int.test","modifiedDate":"Sep 4, 2023, 1:28:42 PM","entityState":"STARTED","subdomain":"6791a794-3e98-4b06-83e0-ca78f80b36a5","directoryType":"PROJECT","directoryFeatures":["DEFAULT","AUTHORIZATIONS","ENTITLEMENTS"],"contractStatus":"ACTIVE","jobId":"3175196"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 658f47fb-4eeb-4602-630e-5e2424494161
        status: 200 OK
        code: 200
        duration: 891.8917ms
    - id: 4
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"6791a794-3e98-4b06-83e0-ca78f80b36a5","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 84eab563-5a1a-b950-a859-e757ca68808f
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?get
        method: POST
      response:
        body: '{"guid":"6791a794-3e98-4b06-83e0-ca78f80b36a5","parentGuid":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","displayName":"my-new-directory-feat","description":"This is a new directory with features","createdDate":"Sep 4, 2023, 1:28:42 PM","createdBy":"john.doe@int.test","modifiedDate":"Sep 4, 2023, 1:28:43 PM","entityState":"CREATING","stateMessage":"Creating tenant for directory","subdomain":"6791a794-3e98-4b06-83e0-ca78f80b36a5","directoryType":"PROJECT","directoryFeatures":["ENTITLEMENTS","AUTHORIZATIONS","DEFAULT"],"contractStatus":"ACTIVE"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=UTF-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - cf509c5a-096f-4a24-4afc-46f404233ed5
        status: 200 OK
        code: 200
        duration: 1.3433018s
[...]
    - id: 15
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"description":"This is a updated directory with features","directoryID":"6791a794-3e98-4b06-83e0-ca78f80b36a5","displayName":"my-updated-directory-feat","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 0c58a4ae-f96c-4ce1-1019-9930890cf1a9
            [...]
[...]
    - id: 25
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"confirm":"true","directoryID":"6791a794-3e98-4b06-83e0-ca78f80b36a5","forceDelete":"true","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 316a9a54-0288-1d5e-5b9c-5a0c37d8015a
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf[...]
[...]
    - id: 29
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"directoryID":"6791a794-3e98-4b06-83e0-ca78f80b36a5","globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - d495e58f-6894-3898-8b36-53f5b5c7af8d
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/accounts/directory?get
        method: POST
      response:
        body: '{"error":"Could not find 6791a794-3e98-4b06-83e0-ca78f80b36a5 [Error: 20002/404]"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "404"
            X-Vcap-Request-Id:
                - 858fe657-5f75-441c-472a-9b099360d247
        status: 200 OK
        code: 200
        duration: 312.5818ms
