---
version: 2
interactions:
    - id: 0
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5ccce377-3fb7-4c1c-9fb8-6593b1a85964
            X-Cpcli-Format:
                - json
        url: https://canary.cli.btp.int.sap/login/v2.64.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - bb5cfccc-40b9-44e0-5033-f08045fc1e9d
        status: 200 OK
        code: 200
        duration: 660.85478ms
    - id: 1
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 26277d3e-1bf9-e31c-7677-252168699382
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/accounts/subaccount?list
        method: POST
      response:
        body: '{"value":[{"guid":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","technicalName":"2881f27f-75fc-408e-a1cc-be9b4717f4d0","displayName":"test_diya","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"testDiya","betaEnabled":false,"usedForProduction":"UNSET","state":"OK","stateMessage":"Subaccount created.","createdDate":"Apr 8, 2024, 5:31:33 AM","createdBy":"john.doe+1@int.test","modifiedDate":"Apr 8, 2024, 5:31:47 AM"},{"guid":"35eb7dc1-d77b-4d63-a493-2e42b3923901","technicalName":"35eb7dc1-d77b-4d63-a493-2e42b3923901","displayName":"no-prajeen-access","globalAccountGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentGUID":"03760ecf-9d89-4189-a92a-1c7efed09298","parentType":"ROOT","region":"eu12","subdomain":"no-prajeen-access-7thu7vbt","betaEnabled":false,"usedForProduction":"NOT_USED_FOR_PRODUCTION","state":"OK","stateMessage":"Subaccount created.","createdDate":"Mar 20, 2024, 7:09[...]
    - id: 2
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1fa98e5-fded-d4db-236d-1e969a2db37c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/plan?list
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/plan?list
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - a2213c93-60de-405b-6ac1-77a3446512d7
        status: 307 Temporary Redirect
        code: 307
        duration: 202.72664ms
    - id: 3
      request:
        host: ""
        body: |
            {"paramValues":{"subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - b1fa98e5-fded-d4db-236d-1e969a2db37c
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/plan?list
        method: POST
      response:
        body: '[{"catalog_id":"f7909c1d-deb9-4adc-b285-c5bb192e8fdb","catalog_name":"subaccount-admin","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of resources in the subaccount in which the service instance of this plan was created. This includes managing service instances, bindings and subaccount-scoped platforms.","free":true,"id":"4a690390-0319-47fe-ab0b-cdda57ca743f","labels":"commercial_name = subaccount-admin","name":"subaccount-admin","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.839945Z"},{"catalog_id":"209d9bed-8c96-4dbc-a9c2-fb340d40a859","catalog_name":"subaccount-audit","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows read-only access to the resources in the subaccount in which the service instance was created. This includes reading service instances, bindings and subaccount-scoped platforms.","free":true,"id":"7370df1d-75a1-48a7-9883-ac53b5279fc4","labels":"commercial_name = subaccount-audit","name":"subaccount-audit","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.851526Z"},{"catalog_id":"242d6244-2bc9-4913-933f-f563266c3fa2","catalog_name":"container","created_at":"2020-08-09T11:31:20.082571Z","data_center":"","description":"Allows management of service instances and bindings in a reduced scope. Instances created in a container are not visible when using credentials of other container instances.","free":true,"id":"e38a6661-3b04-4de8-ae7a-56861c53f2d0","labels":"commercial_name = container","metadata":{"supportsInstanceSharing":true},"name":"container","ready":true,"service_offering_id":"7dc306e2-c1b5-46b3-8237-bcfbda56ba66","service_offering_name":"service-manager","updated_at":"2024-05-16T12:54:14.866764Z"},{"catalog_id":"g82c70b5-ba96-44db-a4e6-2b608d3b6794","catalog_name":"resources","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will be used by brokers for retrieving resources from resource providers.","free":true,"id":"8a21a612-459b-461d-ba90-c7e1c75f64f3","labels":"commercial_name = resources","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"resources","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-05-16T12:57:14.543069Z"},{"catalog_id":"e7227f10-be41-436b-935a-e58da4122567","catalog_name":"service","created_at":"2020-08-10T07:34:28.809068Z","data_center":"","description":"This plan binding will register application as LPS client for consuming lps apis","free":true,"id":"e8988e63-adf6-4708-8780-f0637e31c098","labels":"commercial_name = service","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"]},"name":"service","ready":true,"service_offering_id":"b3f88a98-4076-4d8b-b519-1c5222c9b178","service_offering_name":"lps-service","updated_at":"2024-05-16T12:57:14.614415Z"},{"bindable":true,"catalog_id":"saasApplication","catalog_name":"application","created_at":"2020-08-10T07:35:37.447784Z","data_center":"","description":"Service plan for SaaS application owners to manage the lifecycle of SaaS applications with SAP SaaS Provisioning APIs.","free":true,"id":"c5d7a86e-176b-4ee8-8286-7910970f7dc3","labels":"commercial_name = application","metadata":{"supportedPlatforms":["cloudfoundry","kubernetes","sapbtp"],"supportsInstanceSharing":true},"name":"application","ready":true,"serv[...]
    - id: 4
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"auditlog-management","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3191ffd8-58bf-42a2-d2f7-2f1b86db19ba
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/offering?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/offering?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 8ffc4d99-75f3-4363-7c90-7e147d5c42d3
        status: 307 Temporary Redirect
        code: 307
        duration: 170.500841ms
    - id: 5
      request:
        host: ""
        body: |
            {"paramValues":{"name":"auditlog-management","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 3191ffd8-58bf-42a2-d2f7-2f1b86db19ba
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/offering?get
        method: POST
      response:
        body: '{"id":"0091024c-1648-4716-bd17-604eabd7f480","ready":true,"name":"auditlog-management","description":"Retrieve logs and change retention","bindable":true,"instances_retrievable":false,"bindings_retrievable":false,"plan_updateable":false,"allow_context_updates":false,"metadata":{"displayName":"Auditlog Management","imageUrl":"data:image/svg+xml;base64,PHN2ZyBpZD0iYXVkaXRsb2ctbWFuYWdlbWVudCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTYgNTYiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojNWE3YTk0O30uY2xzLTJ7ZmlsbDojMDA5MmQxO308L3N0eWxlPjwvZGVmcz48dGl0bGU+YXVkaXRsb2ctbWFuYWdlbWVudDwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDAuNjA4LDEwLjg0M0EyLjk3LDIuOTcsMCwwLDAsMzguNSwxMEgzMi4yMThhNS4yNzYsNS4yNzYsMCwwLDAtMS4zNTktMS45MjEsNC4xLDQuMSwwLDAsMC0yLjItLjk4NSw1Ljg1Miw1Ljg1MiwwLDAsMC0yLjEwOS0yLjI0OUE1LjY2MSw1LjY2MSwwL[...]
[...]
    - id: 7
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7d2af415-f0da-b71e-efe7-20b4426c4f17
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?create
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?create
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - c54f8424-cb7e-4ac9-43ac-a6d4041e7d1f
        status: 307 Temporary Redirect
        code: 307
        duration: 133.486865ms
    - id: 8
      request:
        host: ""
        body: |
            {"paramValues":{"name":"tf-test-audit-log","plan":"02fed361-89c1-4560-82c3-0deaf93ac75b","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7d2af415-f0da-b71e-efe7-20b4426c4f17
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?create
        method: POST
      response:
        body: '{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","ready":true,"last_operation":{"id":"44a5df4e-3da8-4078-9174-f23b9134f829","ready":true,"type":"create","state":"succeeded","resource_id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","resource_type":"/v1/service_instances","platform_id":"service-manager","correlation_id":"7d2af415-f0da-b71e-efe7-20b4426c4f17","reschedule":false,"reschedule_timestamp":"0001-01-01T00:00:00Z","deletion_scheduled":"0001-01-01T00:00:00Z","created_at":"2024-05-17T06:35:18.725587Z","updated_at":"2024-05-17T06:35:19.13062Z"},"name":"tf-test-audit-log","service_plan_id":"02fed361-89c1-4560-82c3-0deaf93ac75b","platform_id":"service-manager","context":{"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","subdomain":"integration-test-services-4ie3yr1a","env_type":"sapcp","region":"cf-eu12","crm_customer_id":"","platform":"sapcp","origin":"sapcp","zone_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","global_account_id":"03760ecf-9d89-4189-a92a-1c7efed09298","license_type":"SAPDEV","instance_name":"tf-test-audit-log"},"usable":true,"subaccount_id":"59cd458e-e66e-4b60-b6d8-8f219379f9a5","protected":null,"created_at":"2024-05-17T06:35:18.725584Z","updated_at":"2024-05-17T06:35:19.124157292Z","labels":"subaccount_id = 59cd458e-e66e-4b60-b6d8-8f219379f9a5","username":"redacted","password":"redacted"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "201"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - ec55ef7a-ae61-4f2b-4892-a79f89800ed4
        status: 200 OK
        code: 200
        duration: 625.332659ms
    - id: 9
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f46329e9-da53-d5bd-79e0-ecc950f82967
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?get
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?get
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 8709e906-754c-4a5b-6a76-8e894e693200
        status: 307 Temporary Redirect
        code: 307
        duration: 125.890611ms
    - id: 10
      request:
        host: ""
        body: |
            {"paramValues":{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","parameters":"false","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - f46329e9-da53-d5bd-79e0-ecc950f82967
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - j[...]
[...]
    - id: 12
      request:
        host: ""
        body: |
            {"paramValues":{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","parameters":"true","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 91e92240-cff5-0ade-0ca8-480ecb2ba9f1
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?get
        method: POST
      response:
        body: |
            {"error":"BadRequest","description":"this operation is not supported."}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - cb94a891-f820-445d-6e38-47c849fb8c70
        status: 200 OK
        code: 200
        duration: 158.020312ms
[...]
    - id: 15
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","name":"tf-test-audit-log","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8e51e27f-6369-d0d4-8df2-1bbf265e0f86
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?share
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?share
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 3e2e8aef-d0ab-4f1f-7ede-d544b020563d
        status: 307 Temporary Redirect
        code: 307
        duration: 136.03509ms
    - id: 16
      request:
        host: ""
        body: |
            {"paramValues":{"id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","name":"tf-test-audit-log","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 8e51e27f-6369-d0d4-8df2-1bbf265e0f86
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?share
        method: POST
      response:
        body: |
            {"error":"BadRequest","description":"Failed to share the instance. The plan 02fed361-89c1-4560-82c3-0deaf93ac75b does not support instance sharing."}
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "400"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - f71ce970-bb6b-42f5-5b9c-beb851b31c6d
        status: 200 OK
        code: 200
        duration: 145.37524ms
[...]
    - id: 19
      request:
        host: canary.cli.btp.int.sap
        body: |
            {"paramValues":{"confirm":"true","id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c842a40b-591b-67fa-bd6b-e63d032cb8ad
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://canary.cli.btp.int.sap/command/v2.64.0/services/instance?delete
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?delete
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 37b2f1b7-240d-48bd-51e1-3da95721e233
        status: 307 Temporary Redirect
        code: 307
        duration: 197.133076ms
    - id: 20
      request:
        host: ""
        body: |
            {"paramValues":{"confirm":"true","id":"25ee35ec-c9b5-4bd5-b04c-1e0eda916f20","subaccount":"59cd458e-e66e-4b60-b6d8-8f219379f9a5"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c842a40b-591b-67fa-bd6b-e63d032cb8ad
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Sessionid:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-services-4ie3yr1a
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.64.0/services/instance?delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Sessionid:
                - redacted
            X-Vcap-Request-Id:
                - 03479d4d-ae95-4352-5e92-a8a7eb671d8d
        status: 200 OK
        code: 200
        duration: 506.777463ms
[...]
