---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"identityProvider","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"testUserPassword"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 5b082bd6-7c37-f058-7197-a501ecf1c713
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.49.0
        method: POST
      response:
        body: '{"issuer":"identity.provider.test","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - 622434f0-2a67-42d2-4183-58dfb3a6324e
        status: 200 OK
        code: 200
        duration: 310.7014ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 2f2810d8-dbe3-2edb-594f-034542525035
            X-Cpcli-Customidp:
                - identityProvider
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.49.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"2bba6cb1-53f9-4528-b319-0cf80eb90e7c","username":"john.doe@test.com","email":"john.doe@test.com","origin":"terraformint-platform","zoneId":"03760ecf-9d89-4189-a92a-1c7efed09298","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":5,"active":true,"roleCollections":["Global Account Viewer"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Vcap-Request-Id:
                - 9fde9ed3-4115-4656-624a-df665986062f
        status: 200 OK
        code: 200
        duration: 203.4972ms
[...]
    - id: 9
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"globalAccount":"terraformintcanary","origin":"terraformint-platform","roleCollectionName":"Global Account Viewer","userName":"john.doe@test.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 7ac0d3a7-a80d-10e5-1546-594e34a2f6bc
            X-Cpcli-Customidp:
                - identity[...]
