---
version: 2
interactions:
    - id: 0
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"customIdp":"","subdomain":"terraformintcanary","userName":"john.doe@int.test","password":"redacted"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - c1003e0e-f4c9-2e27-29db-ec5d4c1f479c
            X-Cpcli-Format:
                - json
        url: https://cpcli.cf.sap.hana.ondemand.com/login/v2.38.0
        method: POST
      response:
        body: '{"issuer":"accounts.sap.com","refreshToken":"redacted","user":"john.doe@int.test","mail":"john.doe@int.test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 36e89aa7-5ac5-4b0a-424c-b5260327a00e
        status: 200 OK
        code: 200
        duration: 381.1736ms
[...]
    - id: 3
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"createUserIfMissing":"true","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"john.doe@int.test"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9c7b8aae-11e4-1ed7-c084-49e3ac1fd482
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 63182c4b-8f9b-47f9-761f-7596314dc31e
        status: 307 Temporary Redirect
        code: 307
        duration: 202.804ms
    - id: 4
      request:
        host: ""
        body: |
            {"paramValues":{"createUserIfMissing":"true","origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"john.doe@int.test"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - 9c7b8aae-11e4-1ed7-c084-49e3ac1fd482
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
        url: https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?assign
        method: POST
      response:
        body: '{"id":"66b6d609-4f41-44c3-b999-3c46590b7724","username":"john.doe@int.test","email":"john.doe@int.test","origin":"terraformint-platform","zoneId":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","verified":false,"legacyVerificationBehavior":false,"passwordChangeRequired":false,"version":1,"active":true,"roleCollections":["Destination Administrator"]}'
        headers:
            Content-Type:
                - application/json
            X-Cpcli-Backend-Mediatype:
                - application/json;charset=utf-8
            X-Cpcli-Backend-Status:
                - "200"
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Vcap-Request-Id:
                - cccdae68-0d91-4cd9-5c1d-c3c423fc617e
        status: 200 OK
        code: 200
        duration: 295.9118ms
[...]
    - id: 10
      request:
        host: cpcli.cf.sap.hana.ondemand.com
        body: |
            {"paramValues":{"origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"john.doe@int.test"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - adb934ad-d9f5-8ba1-8caf-6e1a56d91e9e
            X-Cpcli-Customidp:
                - ""
            X-Cpcli-Format:
                - json
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - terraformintcanary
        url: https://cpcli.cf.sap.hana.ondemand.com/command/v2.38.0/security/role-collection?unassign
        method: POST
      response:
        body: ""
        headers:
            Location:
                - https://cpcli.cf.eu12.hana.ondemand.com/command/v2.38.0/security/role-collection?unassign
            X-Cpcli-Refreshtoken:
                - redacted
            X-Cpcli-Replacementrefreshtoken:
                - redacted
            X-Cpcli-Subdomain:
                - integration-test-acc-static-b8xxozer
            X-Id-Token:
                - redacted
            X-Vcap-Request-Id:
                - 5c1c1491-5c05-4af2-7b3f-8413d03592c6
        status: 307 Temporary Redirect
        code: 307
        duration: 217.6561ms
    - id: 11
      request:
        host: ""
        body: |
            {"paramValues":{"origin":"terraformint-platform","roleCollectionName":"Destination Administrator","subaccount":"ef23ace8-6ade-4d78-9c1f-8df729548bbf","userName":"john.doe@int.test"}}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Correlationid:
                - adb934ad-d9f5-8ba1-8caf-6e1a56d91e9e
            X-Cpcli-Customidp:
                - ""
            X[...]
