---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile}}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{tffile .ImportFile}}
{{- end }}

## Recommended Naming Convention for Subdomain

We recommend that the subdomain should only contain letters (a-z), digits (0-9), and hyphens (not at the start or end). The provider does not prevent using other naming patterns, but it will raise a warning if the subdomain does not follow this convention.

## Pending Deletion

When a subaccount is deleted, the Terraform provider will try to execute a delete of the subaccount. If this delete fails, we will retry with force-delete enabled if the error message indicates that active resources are present. This will delete all data contained within the subaccount. The deletion is not executed immediately when the force delete is triggered. Instead, a pending deletion period of several days starts. After this period, the subaccount is permanently and irreversibly deleted. Be aware that during this period costs for usage and allocated resources may still apply and are billed. During this pending deletion period, you can restore the subaccount via the SAP BTP cokpit, via the btp CLI.

Force deletion is not possible if the subaccount 'usedForProduction' field is not set to 'USED_FOR_PRODUCTION' and the 'Enable subaccount force deletion' option is enabled in the global account settings. For information about how to change global account settings, see https://help.sap.com/docs/btp/sap-business-technology-platform/managing-global-accounts-using-cockpit

Be aware, that the subaccount is removed from the Terraform state file when the subaccount is in the state of a pending deletion. This means that the subaccount will not be tracked by Terraform anymore. If you want to track the subaccount again, you can import the subaccount again after it has been restored.

## Restriction

### Move of Subaccounts

The resource does not support the move of the subaccount to a new parent account (directory or global account). An update of the `parent_id` attribute will cause a deletion and recreation of the resource including the resources that depend on it.

For further details please refer to [Limitation - Move of Subaccounts](https://github.com/SAP/terraform-provider-btp/blob/main/guides/MOVESUBACCOUNT.md).

### Import of Subaccounts

In general, the resource supports import of existing subaccounts. However, there is one restriction that applies to the import of a subaccount i.e., the attribute `skip_auto_entitlement`. This attribute cannot be imported as this information is not available on the subaccount. Hence, every import will set this attribute to `null`. There is also no option to update the attribute as the API does not support an update of the attribute.
