---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile}}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{tffile .ImportFile}}
{{- end }}


## Restriction

### Change of Destination Name

The destination name cannot be changed via the API after creation. Hence, a change of the attribute `name` will trigger a replacement (i.e., deletion and recreation) of the resource in Terraform.

### Import of Destinations

In general, the resource supports import of existing destinations. However, there are two points that need to be considered when importing this resource:

- The Terraform feature of [configuration generation](https://developer.hashicorp.com/terraform/language/import/generating-configuration) as this does not support the import of attributes marked as sensitive. Due to the design of the resource this results in an incomplete configuration as the attribute `additional_configuration` is marked as sensitive to prevent the exposure of credentials. Hence, the generated configuration will not include this attribute and you need to manually add it to your configuration.
- The import of configurations that contain credentials or passwords inside of the attribute `additional_configuration` will always result in an *import* and *change* of the resource as the underlying API does not return any credentials or password data for security reasons.
