# Linter to enforce semantic pull request titles (see https://www.conventionalcommits.org/en/v1.0.0/)
name: "Semantic PR Check"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

permissions:
  pull-requests: read

jobs:
  main:
    if: github.event.pull_request.draft == false
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
